@include respond-to('medium-ipad') {
    .pt_product-search-result .full-width {
        padding: 40px 0px 0px;
    }
    .pt_login_page {
        .setnewpassword {
            padding: 70px 0;
            h2.title-device-mobile {
                display: block;
            }
        }
    }
    .mycompact-page {
        .category-slot {
            .cat-banner {
                .cat-banner-description {
                    position: relative;
                    transform: inherit;
                    margin-top: 50px;
                    margin-bottom: 90px;
                    left: auto;
                    padding-bottom: 60px;
                    text-align: center;
                    top: 50%;
                    h2 {
                        font-size: 52px;
                    }
                    &:before {
                        background: $darker-gray;
                        height: 10px;
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 100%;
                        border-top: 1px solid $gainsboro;
                    }
                }
            }
        }
    }
    .title-device-mobile {
        position: fixed;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        z-index: 70;
        left: 50%;
        top: 5px;
        font-size: 22px;
        line-height: 100%;
        margin: 0;
        border: none;
        white-space: nowrap; 
        width: 12em; 
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis; 
    }
    .pt_product-search-result .title-device-mobile {
        border: none;
        width: auto;
        .refinement-header {
                font-size: 13px;
                line-height: inherit;
                padding: 0;
                font-family: "Roboto Bold";
                letter-spacing: inherit;
        }
    }
    .wish-list-page h1.title-device-mobile, .pt_account .myaccount.account-information .title-device-mobile,
    .pt_cart .primary-content .title-device-mobile.title {
        font-size: 22px;
        top: 5px;
    }
    .pt_account #main #account-orverview > h3 {
        font-size: 22px;
        top: 5px;
        border: none;
    }
    .pt_account .addresses .title-device-mobile {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .col-1 {
        border-right: 1px solid $gainsboro;
    }
    .popup-login .login-oauth .login-content .btn-close.btn-icon {
        font-size: 0;
    }
    .popup-login .login-oauth .login-content .wrap-btn-icon {
        display: inline-block;
    }
}
@include respond-to('small') {
    .pt_account {
        .title-device-mobile  {
            border: none;
            font-size: 0.9em;
            margin-top: 8px;
        }
        #main {
            .orders-table.search-result-items {
                .orders-header.item-row {
                    display: none;
                }
                .item-row {
                    align-items: center;
                    border-bottom: 1px solid $border-gray-first;
                    display: flex;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    .item-col {
                        border-bottom: none;
                        padding: 20px 30px;
                        width: 40%;
                    }
                    .item-col-options {
                        text-align: right;
                        width: 53%;
                        position: relative;
                        a {
                            background: rgba(0, 0, 0, 0) url("../images/icon/row-right.png") no-repeat scroll right center;
                            display: block;
                            font-size: 0;
                            height: 19px;
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 11px;
                        }
                    }
                }
                .item-col-wrap.item-col {
                    display: table-cell;
                    width: 100%;
                    .item-col.item-col-number {
                        padding: 0;
                        padding-bottom: 6px;
                        text-decoration: underline;
                    }
                    .item-col-total-paid {
                        font-family: $Roboto-Bold;
                    }
                    .item-col-number,
                    .item-col-total-paid,
                    .item-col-status {
                        border-bottom: medium none;
                        display: block;
                        padding: 0;
                        width: 60%;
                        text-align: left;
                    }
                    .item-col-total-paid,
                    .item-col-status {
                        padding-bottom: 20px;
                    }
                }
            }
        }
        .primary-content {
            float: none;
            margin: 0;
        }
        .customersheader_desktop {
            display: none;
        }
        h2.customersheader_mobile {
            display: block;
            position: fixed;
            top: 10px;
            left: 50%;
            text-align: center;
            font-size: 22px;
            line-height: 100%;
            margin: 0;
            z-index: 70;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        }
        .login-show {
            padding: 0;
            .col-1,
            .col-2 {
                width: auto;
                padding: 0 30px;
            }
            .col-1 {
                margin-bottom: 10px;
                padding-bottom: 40px;
                box-shadow: 0px 1px 1px $darker-gray-shadow;
                -webkit-box-shadow: 0px 1px 1px $darker-gray-shadow;
                -moz-box-shadow: 0px 1px 1px $darker-gray-shadow;
            }
            .container {
                margin-top: 105px;
                background: $darker-gray;
                padding: 0;
            }
            .login-create-account .create_account_caption {
                margin-top: 0;
                border-top: 0;
            }
        }
        .creat-account-page {
            .myaccount {
                padding: 0 30px;
                h1 {
                    font-size: 32px;
                    line-height: 30px;
                }
                .description {
                    font-size: 16px;
                    vertical-align: middle;
                    line-height: 24px;
                    margin: 0 0 20px;
                    .required-indicator {
                        font-size: 24px;
                        margin: 0 3px;
                    }
                }
                label {
                    font-weight: normal;
                }
                .required-indicator {
                    font-size: 24px;
                }
            }
        }
    }
    .popup-login {
        .login-oauth {
            display: block;
            overflow-y: scroll;
            .login-content {
                .wrap-social {
                    .wrap-form-social {
                        input {
                            width: 100%;
                        }
                    }
                }
                .wrap-btn-icon {
                    border-top: 1px solid $dark-gray;
                    bottom: 60px;
                    position: absolute;
                    right: 0;
                    width: 100%;
                    .btn-close.btn-icon {
                        left: 50%;
                        line-height: 18px;
                        padding-left: 70px;
                        position: absolute;
                        right: 0;
                        text-align: center;
                        text-decoration: none;
                        text-transform: uppercase;
                        transform: translateX(-57%);
                        width: 100%;
                        background-size: 3%;
                        color: $nero;
                        font-size: 16px;
                        font-family: "Roboto Bold";
                    }
                }
            }
        }
    }
}
@include respond-to('xsmall-mobile') {
    .pt_account {
        .login-show {
            .login-account {
                .form-row-button {
                    button {
                        height: 40px;
                        line-height: 40px;
                        font-size: 13px;
                    }
                    .password-reset {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
                .or-login p {
                    font-size: 13px;
                    margin: 15px 0;
                }
                .social-login li a {
                    height: 40px;
                    line-height: 45px;
                }
            }
            .login_password_description {
                margin-bottom: 25px;
            }
            .container {
                margin-top: 55px;
                .login-box-content {
                    .password,
                    .username {
                        label {
                            margin-bottom: 0;
                        }
                        input {
                            height: 40px;
                        }
                    }
                }
            }
            .col-1,
            .col-2 {
                padding: 0 15px 20px;
            }
            .login-rememberme {
                .select-type {
                    .checkbox-group {
                        label.checkbox {
                            &:before {
                                width: 15px;
                                height: 15px;
                            }
                            span {
                                font-size: 12px;
                                line-height: 18px;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
            .login-create-account {
                .create_account_caption {
                    font-size: 20px;
                    padding-bottom: 12px;
                }
                .btn-type.dark {
                    height: 40px;
                    line-height: 40px;
                    font-size: 13px;
                }
            }
        }
        .creat-account-page {
            .myaccount {
                padding: 0 15px;
                h1 {
                    font-size: 22px;
                    line-height: 22px;
                    padding-top: 20px;
                }
            }
        }
        footer {
            margin-top: 20px;
        }
    }
    .title-device-mobile.title {
    	max-width: 150px;
    }
}
@include respond-to('xsmall-iphone') {
    .pt_account {
        .title-device-mobile  {
            font-size: 0.8em;
            margin-top: 10px;
        }
        #main {
            .form-row-button {
                .password-reset {
                    margin-top: 3px;
                }
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .reset-password {
        .dialog-content {
            h1 {
                font-size: 20px;
            }
        }
    }
    .pt_account #main .orders-table.search-result-items .item-row .item-col-options {
        padding: 0;
    }
    .pt_account #main .account-order-history .wrap-most-all .title-account {
        font-size: 16px;
    }
    .popup-login {
        .login-oauth {
            .login-content {
                width: 100%;
                padding: 20px 20px 80px;
                .login-box-content {
                    a.btn-close {
                        float: left;
                        min-width: auto;
                        width: 49%;
                    }
                    .oAuthIcon {
                        float: left;
                        min-width: auto;
                        width: 49%;
                        margin-left: 2%;
                    }
                }
                .socials-login {
                    .wrap-social {
                        a.btn-close {
                            min-width: auto;
                            width: 49%;
                            min-width: auto;
                            float: left;
                        }
                    }
                    .wrap-form-social {
                        float: left;
                        width: 49%;
                        margin-left: 2%;
                        .oAuthIcon {
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('xsmall-iphone') {
    .pt_account {
        #main {
            .account-point-history {
                .point-history-table {
                    .item-col {
                        padding: 10px 0px;
                        width: 22%;
                    }
                }
            }
        }
    }
}
