#PasswordResetForm {
    fieldset {
        position: relative;
    }
    button {
        width: 100%;
    }
}
h1 .account-logout {
    font-size: 0.6em;
    float: none;
}
.registration-selection {
    input, label {
        display: inline;
        float: none;
    }
}
.address-list,
.payment-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
        padding: 1em;
        width: 90%;
        @media screen and (min-width: 768px) {
            width: 25%;
        }
        &.default {
            background-color: $white-smoke;
            border: 1px solid $very-light-gray;
            border-radius: 5px;
            margin-top: 1em;
            width: 85%;
        }
        address {
            color: $dim-gray;
            font-style: normal;
        }
        a,
        .button-text {
            line-height: 2rem;
            padding-right: .2rem;
        }
    }
    .mini-address-title {
        font-style: italic;
        line-height: 2rem;
    }
    .cc-owner {
        font-weight: 700;
    }
}
.pt_account {
    #main {
        margin-top: 50px;
        .account-nav {
            .title {
                color: $nero;
                font-size: 26px;
                font-family: $Roboto-Bold;
                text-transform: uppercase;
                margin-bottom: 30px;
                word-wrap: break-word;
                width: 6em;
            }
            ul li {
                margin-bottom: 10px;
                a {
                    font-family: $Roboto-Bold;
                    font-size: 16px;
                    color: $nero;
                    text-decoration: none;
                }
                a.active {
                    color: $green;
                    font-size: 16px;
                    font-family: $Roboto-Bold;
                    text-decoration: underline;
                }
            }
        }
        #account-orverview {
            margin-bottom: 40px;
            > h3 {
                font-size: 32px;
                font-family: $Roboto-Bold;
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid $nero;
                text-transform: uppercase;
            }
            .item {
                .title-account {
                    border: none;
                    padding-bottom: 0;
                    margin-bottom: 26px;
                }
            }
            .content-statistical {
                background: url(../images/tmp/bgaccount.jpg) no-repeat;
                padding: 20px;
                background-size: cover;
                border-radius: 2px;
                margin-bottom: 54px;
                .wrap-item {
                    background: $white;
                    padding: 46px 0;
                    .item {
						float: left;
						width: 49%;
						margin-left: 2%;
						text-align: center;
						position: relative;
						&:first-child {
							margin-left: 0;
						}
                        h1 {
                            font-size: 40px;
                            color: $green;
                            text-transform: uppercase;
                            margin-bottom: 14px;
                            font-family: $Roboto-Bold;
                            span {
                                font-size: 16px;
                                color: $nobel;
                                font-family: $Roboto-Regular;
                                text-transform: initial;
                                padding-left: 10px;
                            }
                        }
                        p {
                            color: $nero;
                            font-size: 14px;
							line-height: 20px;
							font-weight: 600;
                            .available {
                                color: $green;
                                font-family: $Roboto-Bold;
                            }
                            span {
								color: $nero;
								font-size: 14px;
                                display: inline-block;
                                font-family: $Roboto-Bold;
                            }
                        }
						&.level {
						    &:before {
						        width: 1px;
						        background: $gainsboro;
						        position: absolute;
						        right: -2%;
						        height: 236px;
						        content: "";
						        top: 50%;
						        transform: translateY(-50%);
						        -webkit-transform: translateY(-50%);
						    }
						    .level-required {
						        color: $nobel;
						        font-size: 14px;
						        margin-bottom: 10px;
						        p {
						            color: $nobel;
						            font-size: 14px;
						            font-family: $Roboto-Regular;
						        }
						    }
						}
                    }
                    .points {
                        &:before {
                            background: none;
                        }
                        a:hover {
                            text-decoration: none;
                        }
						.item-points-des {
						    padding: 60px 0;
						    a {
						        color: $green;
						        font-size: 42px;
						        font-family: $Roboto-Bold;
						        span {
						            color: #999;
						            font-size: 16px;
						            font-family: $Roboto-Regular;
						            margin-left: 10px;
						        }
						    }
						}
                    }
                }
            }
        }
        #account-favorites {
            clear: both;
            .fevorites_slider {
                .slick-next {
                    right: 0;
                }
                .slick-prev {
                    left: 0;
                }
                .slick-arrow {
                    top: 34%;
                    z-index: 30;
                }
            }
            .title {
                text-align: right;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid $nero;
                .title-account {
                    padding: 0;
                    margin: 0;
                    border: none;
                    display: inline-block;
                    float: left;
                }
                a {
                    text-transform: uppercase;
                    color: 14px;
                    font-size: 14px;
                    text-decoration: underline;
                    line-height: 34px;
                }
            }
        }
        #account-infomation {
            margin-left: 0;
            .account_information {
                .content {
                    padding-left: 20px;
                }
            }
        }
        .account-social {
            overflow: hidden;
            margin-bottom: 70px;
            .connected_with {
                .content {
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    ul li.active.facebook .bg-social {
                        background: $blue-dark;
                    }
                    ul li:hover {
                        .face.bg-social {
                            background: $blue-dark;
                        }
                    }
                    ul li {
                        &.active .bg-social,
                        &:hover .bg-social {
                            background: $red-social;
                            color: $white;
                            &::before {
                                display: block;
                            }
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                        float: left;
                        width: 47%;
                        margin-left: 6%;
                        font-size: 14px;
                        color: $nobel;
                        .bg-social {
                            .fa {
                                font-size: 20px;
                            }
                            &::before {
                                background: url(../images/icon/link.png) no-repeat;
                                height: 20px;
                                width: 20px;
                                content: "";
                                display: inline-block;
                                position: absolute;
                                top: -6px;
                                right: 0px;
                                display: none;
                            }
                            display: inline-block;
                            width: 3rem;
                            height: 3rem;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 3rem;
                            background: $border-gray-first;
                            margin-right: 20px;
                            position: relative;
                        }
                    }
                }
            }
            .payment_infomation {
                .center {
                    text-align: center;
                }
                .content {
                    border: 1px solid $light-gray;
                    margin: 20px 50px 0px 20px;
                    padding: 10px 34px 18px;
                    ul li {
                        color: $dim-gray;
                        font-size: 14px;
                        &:first-child {
                            font-size: 14px;
                            color: $nero;
                            font-family: $Roboto-Bold;
                            text-transform: uppercase;
                        }
                    }
                    p {
                        font-size: 14px;
                        font-family: $Roboto-Bold;
                        span.images {
                            background: url(../images/icon/card01.gif) no-repeat left center;
                            height: 54px;
                            display: inline-block;
                            padding-left: 10px;
                            padding-left: 70px;
                            vertical-align: middle;
                        }
                    }
                }
            }
            .address_book {
                .status {
                    color: $green;
                    font-size: 14px;
                }
                .content {
                    text-align: left;
                    padding-left: 20px;
                    .center {
                        text-align: center;
                    }
                }
            }
            .item {
                float: left;
                width: 46%;
                margin-left: 8%;
                &:first-child {
                    margin-left: 0;
                    clear: both;
                }
            }
            .title {
                padding-bottom: 14px;
                margin-bottom: 20px;
                border-bottom: 1px solid $nero;
                .title-account {
                    padding: 0;
                    margin: 0;
                    border: none;
                    display: inline-block;
                }
                a {
                    float: right;
                    text-transform: uppercase;
                    font-size: 14px;
                    text-decoration: underline;
                    line-height: 34px;
                }
            }
        }
        .account-order-history {
            margin-bottom: 70px;
            .orders-table {
                clear: both;
                width: 100%;
                .orders-header {
                    display: table;
                    width: 100%;
                    .item-col {
                        color: $nero;
                        font-size: 14px;
                        font-family: "Roboto Bold";
                        text-transform: capitalize;
                        padding-bottom: 10px;
                    }
                }
                .item-col-wrap.item-col {
                    border-bottom: 1px solid $border-gray-first;
                    padding: 0;
                    width: 100%;
                    .item-col {
                        border-bottom: none;
                    }
                    .item-col.item-col-number {
                        text-decoration: underline;
                    }
                    .item-three {
                        display: table;
                        width: 100%;
                    }
                    .item-col-status {
                        color: $green;
                        text-transform: capitalize;
                    }
                }
                .item-col {
                    padding: 0px 14px;
                    display: table-cell;
                    width: 20%;
                    text-align: center;
                    border-bottom: 1px solid $border-gray-first;
                    font-size: 14px;
                    font-family: $Roboto-Regular;
                }
                .item-col.item-col-options {
                    text-align: center;
                    padding: 12px;
                    text-decoration: underline;
                }
            }
            .wrap-most-all {
                margin-bottom: 14px;
                padding-bottom: 14px;
                border-bottom: 1px solid $nero;
                text-transform: uppercase;
                overflow: hidden;
                .title-account {
                    float: left;
                    margin: 0;
                    border: none;
                    padding: 0;
                }
                a {
                    float: right;
                    text-decoration: underline;
                }
            }
        }
        .membership-points {
	        margin-top: 80px;
	        padding-top: 50px;
	        border-top: 1px solid $gainsboro;
            hr.membership-desc {
                position: relative;
                top: 5px;
            }
	        .membership-points-des {
	            color: $default-color;
	            font-size: 16px;
	        }
	        .membership-points-des {
	            color: $default-color;
	            font-size: 16px;
	        }
	        .point-history-button {
	        	float: right;
	        	@include respond-to('xsmall-iphone') {
	        		max-width: 50px;
	        		height: 30px;
	        		line-height: 30px;
	        	};
	        	@include respond-to('small') {
	        		max-width: 50px;
	        		height: 30px;
	        		line-height: 30px;
	        	}
	        }
	        .title-account {
	        	border-bottom: 0;
	        	margin-bottom: 0;
	        }
	        .point-history-wrapper {
	        	&.active {
	        		cursor:not-allowed;
					background: url("../images/loading-progress-98x22.gif") no-repeat;
					background-size: 20% 20%;
					width: 100%;
	        		height: 200px;
	        		text-align: center;
					background-position: 50%;
	        	}
	        	.no_orders {
	        		text-align: center;
	        		font-style: italic;
	        		color: grey;
	        	}
	        }
        }
        .point-history-options {
        	.view-all {
        		display: none;
        	}
        }
        .account-point-history {
            margin-bottom: 70px;
            .point-history-table {
                clear: both;
                width: 100%;
                .point-history-header {
                    width: 100%;
                    margin-top: 10px;
                    .item-col {
                        color: $nero;
                        font-size: 14px;
                        font-family: $Roboto-Bold;
                        text-transform: capitalize;
                        padding-top: 10px;
                    }
                }
                .item-row {
                	border-bottom: 1px solid $border-gray-first;
                }
                .item-col {
                    padding: 10px 14px;
                    display: inline-block;
                    box-sizing: border-box;
                    width: 23%;
                    color: $default-color;
                    text-align: center;
                    font-size: 14px;
                    vertical-align: middle;
                    font-family: $Roboto-Regular;
	                &.item-col-point {
						font-weight: bold;
	                }
	                &.item-col-status-redeemed {
						color: $red !important;
	                }
	                &.item-col-activity {
						text-align: center;
	                }
	                &.item-col-status {
	                	color: $green;
	                }
                }
            }
            .wrap-most-all {
                margin-bottom: 14px;
                padding-bottom: 14px;
                border-bottom: 1px solid $nero;
                text-transform: uppercase;
                overflow: hidden;
                .title-account {
                    float: left;
                    margin: 0;
                    border: none;
                    padding: 0;
                }
                a {
                    float: right;
                    text-decoration: underline;
                }
            }
        }
        
        
    }
}
.login-show {
    background: url(../images/tmp/bg-loginshow.jpg) no-repeat;
    padding: 100px 0px 130px;
    background-size: cover;
    .col-1,
    .col-2 {
          float: none;
          width: 59%;
          padding: 0 40px;
          border: 0;
          background: $white;
          margin: 0 auto;
     }
     .col-1 {
         padding-top: 40px;
     }
     .col-2 {
         padding-bottom: 40px;
     }
     .login-create-account,
     .login-account {
         p {
             display: none;
         }
     }
    .container {
        background: transparent;
        .login-box-content {
            .dialog-required {
                display: none;
            }
            .username,
            .password {
                margin-bottom: 10px;
                label {
                    margin-bottom: 8px;
                }
                .required-indicator {
                    display: inline-block;
                    font-size: 19px;
                    width: 14px;
                    color: $red;
                }
                span {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 24px;
                    color: $black;
                }
                input {
                    height: 56px;
                    padding-left: 13px;
                    line-height: 24px;
                    font-size: 16px;
                    margin-top: 0;
                }
            }
            .password {
                margin-bottom: 0;
                label {
                    margin-bottom: 2px;
                }
            }
        }
    }
    .form-row.password {
        margin-bottom: 0;
    }
    .login_password_description {
        display: block;
        margin-bottom: 35px;
        color: $dim-gray;
    }
    .returning-customers p.error_message {
        margin: 5px 0;
    }
    .login-account {
        h2 {
            font-size: 32px;
            color: $nero;
            font-family: $Roboto-Bold;
            &.customersheader_desktop {
                display: none;
            }
            &.customersheader_mobile {
                display: block;
                text-align: center;
            }
        }
        p {
            color: $default-color;
            font-size: 16px;
        }
        .username input,
        .password input {
            height: 54px;
            padding-left: 10px;
        }
        .form-row{
            .error_message{
                color: $red;
            }
        }
        .form-row-button {
            margin-bottom: 0;
            button {
                display: block;
                width: 100%;
                color: $white;
                font-family: $Roboto-Medium;
                margin-bottom: 20px;
                height: 56px;
                line-height: 56px;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0.4px;
            }
            .password-reset {
                float: right;
                margin-top: 0;
                text-transform: uppercase;
                line-height: 28px;
                text-decoration: underline;
                font-size: 15px;
            }
        }
        .login-rememberme {
            .select-type {
                .checkbox-group {
                    label.checkbox {
                        text-transform: uppercase;
                        span {
                            line-height: 24px;
                            font-size: 15px;
                            font-family: $Roboto-Light;
                            vertical-align: middle;
                            display: inline-block;
                            color: $dim-gray;
                        }
                    }
                }
            }
        }
        .or-login {
            p {
                position: relative;
                overflow: hidden;
                text-align: center;
                text-transform: uppercase;
                display: block;
                line-height: 24px;
                font-family: $Roboto-Bold;
                color: $nobel;
                margin: 30px 0;
                &:before {
                    content: "";
                    display: block;
                    width: 45%;
                    height: 1px;
                    background: $gainsboro;
                    position: absolute;
                    left: 0;
                    top: 49%;
                    transform: translateY(-50%);
                }
                &:after {
                    content: "";
                    display: block;
                    width: 45%;
                    height: 1px;
                    background: $gainsboro;
                    position: absolute;
                    right: 0;
                    top: 49%;
                    transform: translateY(-50%);
                }
            }
        }
        .social-login {
            .btn-type {
                height: 48px;
                i {
                    font-size: 18px;
                }
            }
            li {
                float: left;
                width: 49.5%;
                margin-left: 1%;
                &:first-child {
                    margin-left: 0;
                }
                .wrap-facebook {
                    background: $blue-dark;
                    font-size: 14px;
                    color: $white;
                    border: none;
                    display: block;
                }
                .wrap-google {
                    background: $red-light;
                    font-size: 14px;
                    color: $white;
                    border: none;
                    display: block;
                }
            }
        }
    }
    .login-create-account {
        h2,
        .membership {
            display: none;
        }
        p {
            color: $default-color;
            font-size: 16px;
        }
        .create_account_caption {
            display: block;
            text-align: center;
            padding: 36px 0 26px;
            font-size: 30px;
            font-family: $Roboto-Bold;
            color: $nero;
            margin-top: 30px;
            border-top: 2px solid $light-gray-first;
        }
        .btn-type.dark {
            width: 100%;
        }
    }
}
.reset-password {
    border-radius: 2px;
    text-align: center;
    &.container {
        max-width: 500px;
        border: 1px solid $border-gray-first;
        background: $darker-gray;
        padding: 40px;
        border-radius: 2px;
        label, .error_message {
            text-align: left;
        }
        .form-caption {
            text-align: left;
        }
        button.apply {
            width: 100%;
        }
    }
    h1 {
        font-size: 32px;
        color: $nero;
        font-family: $Roboto-Bold;
        text-transform: uppercase;
        font-style: normal;
        margin: 0;
        margin-bottom: 30px;
    }
    .ui-widget-header {
        background: none;
        .ui-icon-closethick {
            background: url(../images/icon/bs_close.png) no-repeat;
            background-position: center center;
        }
    }
    .dialog-content {
        padding: 34px 70px 20px;
        p {
            color: $green;
            font-size: 16px;
            font-family: $Roboto-Regular;
            margin-bottom: 30px;
        }
        span.error,
        div.error {
            float: left;
        }
        #PasswordResetForm {
            padding: 0px 20px;
            .required-indicator {
                display: none;
            }
            input {
                height: 50px;
                padding-left: 10px;
                box-sizing: border-box;
            }
            button {
                width: 100%;
                float: none;
                position: static;
                margin-bottom: 40px;
            }
        }
    }
}
.customersheader_mobile{
    display: none;
}
.wrap_favorites_empty {
    background: $darker-gray;
    text-align: center;
    vertical-align: middle;
    padding: 57px 0 80px;
    font-family: $Roboto-Regular;
    font-style: italic;
    font-size: 16px;
    line-height: 30px;
    .icon_favorites_empty {
        display: block;
        background: url("../images/icon/ico_note_gray.png") no-repeat center center;
        height: 42px;
        width: 100%;
    }
}