.addresses {
    p {
        font-family: $Roboto-Bold;
        color: $nero;
        font-size: 20px;
        margin-bottom: 22px;
    }
    h1.title-address {
        display: none;
    }
    .address-list {
        font-size: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
        li {
            font-size: 16px;
            display: inline-block;
            min-height: 200px;
            width: 31.33%;
            margin-left: 1%;
            margin-right: 1%;
            margin-bottom: 20px;
            border-radius: 3px;
            padding: 16px 30px 0px;
            border: 1px solid $light-gray;
            &:first-child {
                background: $darker-gray;
                position: relative;
                .section-header-note {
                    text-decoration: none;
                    &:hover i {
                        text-decoration: none;
                        background: $green;
                        color: $white;
                    }
                    span {
                        color: $nero;
                        font-size: 14px;
                        font-family: $Roboto-Regular;
                        text-transform: uppercase;
                        text-decoration: underline;
                    }
                    img {
                        display: block;
                        margin: 0 auto 10px;
                    }
                }
            }
            .mini-address-title {
                color: $nero;
                font-size: 14px;
                font-family: $Roboto-Medium;
                font-style: normal;
                font-weight: 700;
                display: none;
            }
            .name-section {
                font-weight: bold;
            }
            div,
            address {
                color: $nero;
                font-size: 14px;
                font-family: $Roboto-Regular;
            }
            address {
                margin-bottom: 30px;
            }
            a {
                &:hover {
                    color: $black;
                }
                color: $nobel;
                font-size: 14px;
                text-transform: uppercase;
                display: inline-block;
                text-decoration: underline;
            }
            .address-edit {
                position: relative;
                padding-right: 10px;
                &:before {
                    position: absolute;
                    width: 1px;
                    height: 10px;
                    background: $heavy-gray;
                    right: 3px;
                    top: 50%;
                    content: "";
                    transform: translateY(-50%);
                }
            }
            .address-make-default {
                &:hover {
                    color: $black;
                }
                color: $nero;
                font-size: 14px;
                font-family: $Roboto-Medium;
                display: block;
                font-style: normal;
                font-weight: 700;
                text-transform: none;
            }
            .add-new-address {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
            }
        }
        li.default {
            margin-top: 0;
            background: $british-racing-green;
            position: relative;
            border-radius: 3px;
            &:before {
                background: url(../images/icon/check.png) no-repeat;
                width: 10px;
                height: 6px;
                content: "";
                position: absolute;
                right: 15px;
                top: 10px;
            }
            h3, p {
                font-size: 14px;
                color: $white;
                font-family: $Roboto-Medium;
                margin-bottom: 0;
            }
            div,
            address {
                color: $jet-stream;
                font-size: 14px;
                font-family: $Roboto-Regular;
            }
            address {
                margin-bottom: 30px;
            }
            a {
                &:hover {
                    color: $black;
                }
                color: $jet-stream;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: underline;
            }
            .address-edit {
                position: relative;
                padding-right: 10px;
                &:before {
                    position: absolute;
                    width: 1px;
                    height: 10px;
                    background: $jet-stream;
                    right: 5px;
                    top: 50%;
                    content: "";
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.create_addressbook {
    h3 {
        color: $nero;
        font-size: 20px;
        font-family: $Roboto-Bold;
        margin-bottom: 20px;
    }
    .edit-address-form {
        .form-row {
            label {
                font-weight: normal;
            }
            .field-wrapper {
                width: 100%;
                padding: 0;
            }
            input {
                width: 100%;
                height: 40px;
                margin-top: 0;
            }
            .form-caption {
                margin-left: 0;
                display: none;
            }
        }
        .form-indent,
        .form-row-button {
            margin-left: 0;
        }
        .form-row-button {
            .cancel-button, .apply-button {
                border: 1px solid $border-gray-first;
                min-width: 160px;
                border-radius: 3px;
            }
        }
        .wrap-input {
            .form-row {
                &:first-child {
                    margin-left: 0;
                }
                float: left;
                width: 49%;
                margin-left: 2%;
            }
        }
    }
    p.des {
        color: $default-color;
        font-size: 14px;
        margin-bottom: 30px;
        word-wrap: break-word;
        width: 68%;
    }
    .edit-address-form {
        width: 59%;
        .form-row.form-row-button {
            margin-top: 20px;
        }
        .form-row {
            margin: 0 0 10px;
            input.input-checkbox {
                display: none;
            }
            label {
                display: block;
                float: none;
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
                color: $nero;
                font-size: 14px;
                line-height: normal;
                span {
                    font-size: 1rem;
                }
            }
            label[for="dwfrm_profile_address_setDefault"] {
                span {
                    color: $default-color;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        .address-name {
            display: none;
        }
    }
}

.delete-address-confirm-dialog {
    #dialog-confirm-delete-address {
        margin-bottom: 10px;
        span {
            color: $mid-grey;
            font-size: 12px;
        }
    }
    button.ui-button {
        width: 150px;
        .ui-icon-closethick {
            left: initial;
            right: 0;
        }
    }
}
.before-confirm-password.reset-password {
    .dialog-content {
        padding: 10px 70px 20px;
        h1 {
            margin-bottom: 26px;
        }
        p {
            color: $default-color;
            margin: 0;
        }
        .dialog-content {
            padding: 24px 0 20px;
        }
        label {
            display: none;
        }
        .field-wrapper {
            width: 100%;
            padding-left: 0;
            margin-bottom: 0;
        }
        .form-row {
            float: none;
            margin-bottom: 0;
            .error-message {
                width: 100%;
                margin-left: 0;
            }
            .btn-type {
                width: 49%;
            }
        }
        
    }  
}
.address-description {
    text-transform: uppercase;
}
.back-to-top-btn {
    float: right;
    display: none;
}