@include respond-to('xmedium') {
    .addresses .address-list {
        li:first-child {
            width: 100%;
        }
        li {
            width: 48%;
            a {
                display: inline-block;
            }
            .address-edit:before {
                right: 3px;
            }
        }
        li.default .address-edit:before {
            right: 3px;
        }
    }
    .create_addressbook {
        #edit-address-form, p.des {
            width: 100%;
        }
    }
}
@include respond-to('small') {
    .paymentinfomation {
        .edit-address-form {
            width: 100%;
            .form-row-button {
                button {
                    &:first-child {
                        margin-left: 0;
                    }
                    width: 49%;
                    margin-left: 1%;
                    float: left;
                    min-width: auto;
                }
            }
        }
    }
    .back-to-top-btn {
        float: right;
        display: block;
    }
}
@include respond-to('small-ipad') {
    .addresses .address-list {
        li {
            .mini-address-location {
                margin-bottom: 29%;
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .create_addressbook .edit-address-form .form-row-button {
        .cancel-button {
            min-width: 130px;
        }
        .apply-button {
            min-width: 130px;
        }
    }
}
@include respond-to('medium-ipad-min') {
    .addresses .address-list {
        li {
            .mini-address-location {
                margin-bottom: 36px;
            }
        }
    }
}