.pt_cart {
    h2.title{
        font-size: 30px;
        color: $nero;
        letter-spacing: 4px;
        padding-left: 0;
        line-height: normal;
        height: auto;
        font-family: $Roboto-Bold;

    }
    .primary-content{
        max-width: 1230px;
        margin: 0 auto;
        padding: 50px 15px 0;
        float: none;
        box-sizing: border-box;
        @extend .clear;
        .cart-banner{
            margin-bottom: 30px;
            img{
                width: 100%;
            }
        }
        #cart-items-form{
            position: relative;
            .bite-size-bar {
                .bite-size-bar-header {
                    a{
                        background: $darker-gray;
                        position: relative;
                        display: block;
                        text-decoration: none;
                        color: $nero;
                        background: url(../images/arr_up.png) no-repeat right center;
                        span{
                            font-family: $Roboto-Bold;
                            text-transform: uppercase;
                        }
                        &.hide{
                            background:url(../images/arr_down.png) no-repeat right center;
                        }
                    }
                }
                .sample-t{
                    font-size: 14px;
                    text-align: center;
                    padding-bottom: 20px;
                }
            }
            .cart-left{
                width: 70%;
                padding-right: 15px;
                float: left;
                .prodLimitExceedMessage {
                    color: red;
                }
            }
            .cart-right{
                width: 30%;
                float: left;
                background: $light-gray-first;
                .order{
                    .order-con{
                        padding: 10px 20px 40px;
                        .tit{
                            padding: 10px 0;
						    text-align: center;
						    color: $green;
						    text-transform: uppercase;
						    font-size: 15px;
						    font-weight: 700;
						    letter-spacing: 3px;
                        }
                        .orderSummary-form{
                            margin-top: 20px;
                            padding: 10px 10px 10px 0;
                            font-size: 13px;
                            color: $dim-gray;
                            border-top: 2px solid white;
                            .order-totals-table{
                            	.payment-summary-header {
                            		font-weight: bold;
                            		color: $black;
                            	}
                            	.order-sales-tax {
                            		td {
                            			padding-bottom: 8px;
                            		}
                            	}
                            	.order-total {
                            		font-weight: bold;
                            		border-top: 2px solid $black;
                            	}
                                width: 100%;
                                tr{
                                    td{
                                        font-size: 13px;
                                        font-family: $Roboto-Regular;
                                        color: $dim-gray;
                                        padding: 10px 0 0 10px;
                                        font-weight: normal;
                                        &:nth-child(even){
                                            text-align: right;
                                        }
                                    }
                                    &.order-total{
                                        td{
                                            padding-top: 8px;
                                            padding-left: 10px;
                                            font-size: 18px;
                                            color: $nero;
                                            &.order-value{
                                                color: $black;
                                                font-family: $Roboto-Bold;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .comment{
                            margin-top: 20px;
                            padding: 20px 0;
                            font-size: 13px;
                            border-top: 1px solid $border-gray-first;
                            color: $dim-gray;
                            .c-red{
                                color: $red;
                            }
                            .link-line{
                                text-decoration: underline;
                            }
                        }
                        .cart-coupon-code{
                            float: none;
                            label{
                                position: relative;
                                color: $nero;
                                padding-top: 25px;
                                font-size: 15px;
                            }
                            input{
                                width: 60%;
                                margin: 0;
                            }
                        }
                        .cart-loyalty{
                            display: none;
                        }
                        .cart-go-to-checkout{
                            text-align: center;
                            #update-cart{
                                display: none;
                            }
                            .cart-actions{
                                .paypal{
                                    display: none;
                                }
                                .seperate-method{
                                    display: none;
                                }
                            }
                            .pay-chk{
                                span{
                                    position: relative;
                                    display: inline-block;
                                    vertical-align: middle;
                                    &:first-child{
                                        margin-right: 15px;
                                        padding-right: 15px;
                                    }
                                    &:after{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        width: 1px;
                                        height: 10px;
                                        margin-top: -5px;
                                        background: $border-gray-first;
                                    }
                                    &:last-child{
                                        &:after{
                                            display: none;
                                        }
                                    }
                                    &.paypal-icon{
                                        width: 118px;
                                        height: 31px;
                                        background: url('../images/paypal.png') no-repeat;
                                        margin-top: 25px;
                                    }
                                    
                                    &.applepay-icon{
                                        width: 64px;
                                        height: 37px;
                                        background: url('../images/applepay.png') no-repeat;
                                    }
                                }
                            }
							
							.secure-checkout-title {
								line-height: 32px;
								letter-spacing: 5px;
								font-size: 13px;
								color: $green;
								text-transform: uppercase;
								display: inline-block;
								font-weight: bold;
								margin: 15px 0 0;
								
								&:before {
									content:'';
									width:32px;
									height:32px;
									display:inline-block;
									background: url(../images/ico_title.gif) no-repeat;
									border-radius: 50%;
									float: left;
									margin: 0 10px 0 0;
								}
							}
                        }
                        .approaching-discounts{
                            padding-top: 25px;
                            color: $british-racing-green;
                            font-size: 15px;
                            text-align: center;
                            width: 80%;
                            margin: 0 auto;
                            .cart-promo-approaching {
                            	padding-bottom: 10px;
                            }
                            span{
                                display: block;
                                font-weight: bold;
                                &.no-green{
                                    display: inline;
                                }
                            }
                            .btn-type{
                                width: 100%;
                                font-size: 14px;
                            }
                            #free-shipping-conrat{
                                margin-top: 20px;
                            }
                        }
                        .content-help{
                            padding-top: 20px;
                            border-top: 2px solid $white;
                            margin-top: 20px;
                            color: $nero;
                            font-size: 14px;
                            
                            h3 {
                            	padding-bottom: 10px;
                            }
                            a {
                            	font-family: $Roboto-Regular;
                            	border-right: 1px solid $black;
                            	padding-right: 5px;
                            	&:last-child {
                            		border: none;
                            	}
                            }
                        }
                    }
                }
            }
        }
    }
    .cart-recommendations{
        h1{
            position: static;
            text-align: left;
        }
    }
}
#cart-items-form{
    margin-top: 55px;
}
.cart-recommendations{
    .main-best-seller{
        overflow: visible;
        padding: 0px 0 20px 0;
        .product-carousel-title{
            padding-top: 10px;
            font-size: 15px;
            font-family: $Roboto-Regular;
            color: $green;
            text-transform: uppercase;
            background: $light-gray-first;
            letter-spacing: 3px;
            font-weight: bold;
            text-align: center;
        }
        .product-image{
            img{
                margin: auto;
            }
        }
		
		.bestSeller-slider {
			ul.product-listing {
				li.product-item {
					padding: 0 15px;
					
					.product-name {
						font-size: 16px;
					}
				}
			}
		}
		
		.slick-slider {
			.slick-arrow {
				z-index: 999;
				background-color: transparent;
			}
			.slick-prev {
				left: 0;
			}
			.slick-next {
				right: 0;
			}
		}
    }
}
.cart-wrap{
    li{
        position: relative;
        .cart-row {
            margin: 0 20px;
            border-bottom: 2px solid #fff;
        }
        &:last-child {
        	.cart-row {
        		border-bottom: none;
        	}
        }
        .product-horz-type{
            padding-bottom: 20px;
            img{
                width: 100%;
            }
            .product-list-item{
                .attribute{
                    margin-top: 5px;
                    font-size: 13px;
                    color: $dim-gray;
                    img{
                        display: inline-block;
                        margin-right: 3px;
                        vertical-align: -6px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                    .value{
                        margin-top: 5px;
                        font-size: 13px;
                        color: $dim-gray;
                    }
                    &.weight{
                        margin-top: 10px;
                        font-size: 13px;
                        color: $dim-gray;
                    }
                }
                .sku{
                    display: none;
                }
            }
            .item-edit-details{
                display: none;
            }
            .product-availability-list{
                .is-in-stock{
                    display: none;
                }
                .not-available,
                .is-in-stock-only,
                .insufficient{
                    display: block;
                    height: 19px;
                    margin-top: 10px;
                    line-height: 19px;
                    font-family: $Roboto-Bold;
                    font-size: 13px;
                    color: $red;
                    border-radius: 2px;
                    max-width: 415px;
                    position: relative;
                }
                .is-in-stock-only{
                    padding-left: 15px;
                    &:before{
                        width: 10px;
                        height: 1px;
                        background: $red;
                        display: block;
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                    }
                    &.is-out-of-stock {
                        padding-left: 0;
                        padding-right: 15px;
                        display: inline;
                        &:before {
                            display: none;
                        }
                        &:after {
                        width: 10px;
                        height: 1px;
                        background: $red;
                        display: block;
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 50%;
                        }
                    }
                }
                .insufficient{
                    margin-top: 0;
                    position: relative;
                    display: inline;
                    &:after{
                        width: 10px;
                        height: 1px;
                        background: $red;
                        display: block;
                        content: "";
                        position: absolute;
                        right: -15px;
                        top: 50%;
                    }
                }
            }
        }
        .select-type{
            position: absolute;
            top: 50%;
            left: 70%;
            margin-top: -20px;
            &.qty-disabled {
                top: 57%;
            }
        }
        .price {
            position: absolute;
            top: 41%;
            right: 20px;
            font-size: 12px;
            font-weight: bold;
            color: $nero;
        }
        .product-info-type{
            .price{
                .price-promotion{
                    .price-standard{
                        display: inline-block;
                        margin-right: 5px;
                        font-size: 12px;
                        font-family: $Roboto-Regular;
                        text-decoration: line-through;
                        color: $nobel;
                    }
                    .price-sales{
                        font-size: 12px;
                        font-family: $Roboto-Bold;
                        color: $nero;
                    }
                }
            }
        }
        .foot-area{
            position: absolute;
            right: 31%;
            top: 41%;
            ul{
                li{
                    float: left;
                    padding: 0 10px;
                    border: 0;
                    &:last-child{
                        background: none;
                    }
                    a{
                        font-size: 12px;
                        text-transform: uppercase;
                        &:hover{
                            color: $green;
                        }
                    }
                    button{
                        font-size: 12px;
                        background: none;
                        border: 0;
                        box-shadow: none;
                        padding: 0;
                        cursor: pointer;
                        text-decoration: underline;
                        &:hover{
                            color: $green;
                        }
                    }
                    .in-wishlist{
                        font-size: 12px;
                        color: $green;
                        text-transform: uppercase;
                        display: inline;
                    }
                }
            }
        }
    }
}
.dw-apple-pay-button,
.dw-apple-pay-button:hover {
    margin: 0;
}
//sample dialog
.ui-dialog{
    &.sample{
        border-radius: 5px;
        .ui-dialog-titlebar{
            background-color: $darker-gray;
            min-height: 38px;
            .ui-dialog-titlebar-close{
                .ui-icon-closethick{
                    background: url(../images/icon/bs_close.png) no-repeat;
                    background-position: center center;
                    height: 38px;
                    width: 38px;
                    left: -6px;
                }
            }
        }
        .dialog-content{
            background-color: $darker-gray;
            padding: 0 30px 30px;
            .product-image-container{
                padding: 0;
                width: 32%;
                .product-primary-image{
                    padding-right: 0;
                }
            }
            .product-detail{
                width: 65%;
                padding: 0;
                .product-status{
                    min-height: 32px;
                     @media only screen and (max-width: 1024px){
                     	min-height: 0;
                     }
                    label{
                        width: 65px;
                    }
                }
                .product-name{
                    margin: 0;
                    width: 100%;
                    line-height: 30px;
                    font-size: 24px;
                    font-family: $Roboto-Bold;
                    color: $nero;
                    text-transform: uppercase;
                    font-style: normal;
                }
                .noti{
                    font-size: 13px;
                    color: $nobel;
                    margin-top: 5px;
                }
                .short-desc{
                    font-size: 13px;
                    color: $nobel;
                    margin-top: 5px;
                    margin-bottom: 0;
                }
                .con{
                    text-align: right;
                    .ico-button{
                        margin-left: 0;
                    }
                }
                .ico-button{
                    text-decoration: underline;
                    font-size: 14px;
                    line-height: 1;
                    letter-spacing: 0.5px;
                    font-family: $Roboto-Regular;
                    color: $nero;
                    outline: none;
                    &:hover{
                        color: $green;
                    }
                }
                .line-block{
                    border: 0;
                }
            }
        }
    }
}

.cart-promo {
    .bonus-item-actions {
        font-size: 1em !important;
        text-align: right;
        vertical-align: middle;
    }
}

.cart-coupon-code {
    float: left;
    width: 100%;
    input {
        margin-bottom: .5rem;
        width: 34%;
        height: 40px;
    }
    .error {
        padding-top: 0.4em;
    }
    button {
        margin-left: .2rem;
        &.resetbtn{
            padding: 0;
            margin: 0;
            border: 0;
            background: none;
            text-transform: uppercase;
            cursor: pointer;
            .reset{
                margin-right: 5px;
            }
            &:hover{
                text-decoration: underline;
                .reset{
                    color: $green;
                    background-position: -12px -41px;
                }
            }
        }
    }
    .coupon-applied{
        font-size: 14px;
        margin-top: 10px;
    }
    .mt10{
        margin-top: 5px;
        a{
            text-transform: uppercase;
            font-family: $Roboto-Regular;
            .reset{
                margin-right: 5px;
            }
        }
    }
}


.order-value {
    white-space: nowrap;
}

.cart-actions {
    @extend %clearfix;
    .dw-apple-pay-button {
        font-size: 1.35em;
        padding: .5em 2em;
    }
}

.cart-action-checkout {
    float: right;
}

.cart-actions-top {
    margin-top: .5rem;
    margin-bottom: 1rem;
    .cart-action-continue-shopping {
        float: none;
    }
}

.cart-empty {
    @extend %clearfix;
    margin-top: 4rem;
    h1 {
        text-align: center;
    }
    .cart-action-continue-shopping {
        float: none;
        text-align: center;
        margin-bottom: 4rem;
    }
    .product-listing {
        @extend %clearfix;
        background-color: $white-smoke;
        padding: 1rem 0;
        h2 {
            margin-left: 1.3rem;
        }
        .search-result-items {
            margin-top: 1em;
        }
    }
}

.promo-adjustment {
    color: $sangria;
}

.account-welcome {
    .welcome-message {
        font-size: 1.2em;
        font-style: italic;
    }
    .not-user {
        margin: .83em 0;
    }
}
.font-green {
	color: $green;
	font-weight: bold;
}
#password-reset{
    white-space: nowrap;
}

.bite-size-bar-description {
    text-align: center;
}

.cart-top-section-container {
    width: 100%;
    font-size: 15px;
    text-align: center;
    overflow: auto;
    .cart-top-section {
        width: 49%;
        float: left;
        background: $light-gray-first;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &:nth-child(1) {
            margin-right: 15px;
        }
        &.open {
            margin-bottom: 0;
            padding-bottom: 20px;
            color: $green;
            .header {
            	padding: 20px 10px;
            }
        }
        .header {
        	width: 100%;
            text-transform: uppercase;
            padding: 20px 10px;
            letter-spacing: 3px;
            font-family: $Roboto-Bold;
            font-size: 18px;
        }
        .guest-label {
        	width: 100%;
            padding-bottom: 10px;
            font-family: $Roboto-Regular;
            font-size: 15px;
        }
        .sign {
            float: right;
            font-size: 17px;
        }
    }
}
.sample-container {
    background: $light-gray-first;
    padding-top: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    .btn-container {
        position: relative;
    }
    .sample-disabled {
		filter: opacity(.5);
	}
	.help-text {
		color: $green;
		font-weight: bold;
		text-align: center;
		padding-bottom: 15px;
	}
    .addsamplebutton {
        background-color: transparent;
        border: 2px solid $green;
        color: $green;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        border-radius: 50%;
        font-weight: bold;
        position: absolute;
        right: 0;
        &.light-gray {
            color: $dark-gray;
            border-color: $dark-gray;
        }
    }
}
.rewards-container {
    background: $light-gray-first;
    width: 100%;
    text-align: center;
    .help-text {
		color: $green;
		font-weight: bold;
		text-align: center;
		padding-top: 15px;
	}
    .header {
        padding-top: 15px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }
    .level-container {
        span {
            display: block;
        }
        .level-status {
            padding-top: 10px;
            font-weight: bold;
            font-size: 30px;
            color: $green;
        }
        .level-description {
            padding-top: 20px;
            width: 50%;
            margin: 0 auto;
        }
    }
    .point-progress {
        width: 50%;
        margin: 0 auto;
     }
}
.rewards-container-summary {
	font-size: 14px;
	padding-top: 20px;
    border-top: 2px solid white;
    margin-top: 20px;
	.header {
		padding-left: 10px;
		font-weight: bold;
		.more-info {
			float: right;
			text-decoration: underline;
			font-weight: normal;
		}
	}
	.level-description {
		padding: 10px 0 20px 10px;
	}
}

.point-progress {
    position: relative;
    padding-bottom: 30px;
    .header {
        padding-bottom: 20px;
    }
    .start-point, .end-point {
        position: absolute;
        bottom: 10px;
        font-size: 12px;
    }
    .end-point {
        right: 0;
    }
    .point-scale {
        padding: 20px 0 30px 0;
    }
    .point-scale-container {
        height: 50px;
        box-sizing: border-box;
        background: white;
        div {
            height: inherit;
            float: left;
        }
        .current-points {
            background: green;
        }
        .order-points {
            background: lightseagreen;
            border-left: 1px solid white;
        }
    }
}
.cart-wrap {
    ul, .bonus-item-promo, .cart-header {
        background: $light-gray-first;
    }
    .bonus-item-promo {
        margin-top: 20px;
        ul {
        	display: flex;
        	justify-content: center;
			flex-wrap: wrap;
        }
    }
    .cart-header, .custom-bonus-choice-bar-header a {
        padding: 20px 0;
        text-align: center;
        color: $green;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 3px;
        display: block;
    }
}
.login-dialog-container {
    &.ui-dialog {
        background: transparent;
        .ui-widget-header {
            display: none;
            background: #fff;
        }
        .ui-dialog-content {
            padding: 0;
        }
    }
    label span {
    	font-size: 14px;
    }
    .register-help-text {
    	font-size: 14px;
    	padding-left: 20px;
    	padding-top: 5px;
    	ul {
    		list-style: disc;
    		margin: 0;
    	}
    }
    .register-form, .login-form {
        width: 48%;
        float: left;
        background: #fff;
        padding: 20px;
        .form-row {
        	margin-bottom: 0;
        }
    }
    
    .login-dialog-checkout {
    	padding-bottom: 162px;
    }
    
    .login-dialog-success {
    	width: 50%;
		margin: 0 auto;
		background: white;
		text-align: center;
		.header {
			padding-top: 20px;
		}
		.welcome-msg {
			padding-top: 40px;
		    font-size: 40px;
		    color: $green;
		    font-family: $Roboto-Bold;
		}
		.welcome-sub-msg {
			width: 50%;
		    margin: 0 auto;
		    padding: 20px 0 40px;
		}
		.my-account-link {
			display: block;
		    padding: 30px 0;
		    text-decoration: underline;
		    color: $green;
		    font-weight: bold;
		}
    }
    .register-form {
        margin-right: 10px;
    }
    .header {
        text-align: center;
        font-size: 14px;
        text-decoration: none;
        h2 {
            color: $green;
            margin: 0;
            font-family: $Roboto-Bold;
            letter-spacing: 3px;
            font-style: normal;
    		font-size: 18px;
        }
    }
    .login-info {
        font-family: $Roboto-Regular;
        font-size: 14px;
    }
    .myaccount {
        .header p {
            margin: 14px 0;
        }
    }
    input[type=email], input[type=password], input[type=email] {
        font-size: 14px;
    }
    .password-reset {
        float: right;
        font-size: 14px;
    }
    .button-sigin {
        display: block;
        margin: 40px auto;
        width: 40%;
    }
    .or-login,
    .or-register {
    	margin: 0;
    	position: relative;
    	p {
    		&:before, &:after {
	            content: "";
	            display: block;
	            width: 20%;
	            height: 1px;
	            background: $black;
	            position: absolute;
	            top: 49%;
	            transform: translateY(-50%);
	        }
	        &:after {
	            right: 26%;
	        }
	        &:before {
	            left: 26%;
	        }
    	}
    }
    .social-login {
        width: 90%;
        display: block;
        margin: 40px auto 140px auto;
        a.btn-type {
            width: 100%;
        }
        ul li {
            width: 47%;
            margin-left: 10px;
            float: left;
        }
        .wrap-facebook {
            a {
                background: $blue-heavy;
                display: block;
                font-size: 14px;
                font-family: $Roboto-Regular;
                color: $white;
                text-transform: uppercase;
                border: none;
            }
            input {
                background: none;
                border: none;
                color: $white;
            }
        }
        .wrap-google {
            a {
                background: $red-light;
                display: block;
                font-size: 14px;
                color: $white;
                text-transform: uppercase;
                border: none;
                font-family: $Roboto-Regular;
            }
            input {
                background: none;
                border: none;
                color: $white;
            }
        }
    }
    .or-login,
    .or-register {
        text-align: center;
        text-transform: uppercase;
    }
}
.main-best-seller.add-to-cart {
	.product-tile {
		.product-pricing .product-sales-price{
			color: $green;
		}
		.product-name .name-link {
			font-size: 14px;
		}
	}
}