@include respond-to('medium-ipad') {
    .pt_cart{
        .primary-content{
            .title{
                font-size: 30px;
                color: $nero;
                text-align: center;
            }
            #cart-items-form{
                margin-top: 30px;
                .cart-left{
                    margin: 0;
                    width: 100%;
                    .bite-size-bar,.cart-wrap .custom-bonus-choice-bar{
                        .bite-size-bar-header,.custom-bonus-choice-bar{
                            padding: 15px 20px;
                            height: auto;
                            line-height: 22px;
                        }
                    }
                    .cart-recommendations{
                        .main-best-seller{
                            .bestSeller-slider{
                                button.slick-arrow{
                                    top: 39%;
                                    &.slick-prev{
                                        left: 0;
                                        z-index: 99;
                                    }
                                    &.slick-next{
                                        right: 0;
                                        z-index: 99;
                                    }
                                }
                                .product-status{
                                    min-height: 30px;
                                }
                            }
                        }
                    }
                }
                .cart-right{
                    position: static;
                    width: 100%;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    .order{
                        .order-con{
                            .tit{
                                margin-top: 0;
                            }
                            .cart-coupon-code{
                                input{
                                    width: 65%;
                                    display: inline-block;
                                }
                                button{
                                    width: 30%;
                                    display: inline-block;
                                    min-width: initial;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .product-info-type{
        position:static;
        padding:0px;
        min-height:0px;
    }
    .cart-wrap{
        li{
            .select-type{
                position: absolute;
                margin-top: -20px;
            }
        }
    }
    .cart-top-section-container {
    	.cart-top-section {
    		width: 48%;
    	}
    }
    .login-dialog-container {
    	.register-form, .login-form {
    		width: 100%;
    		margin-top: 20px;
    	}
    	.button-sigin {
    		margin-bottom: 10px;
	    }
	    .or-login {
	    	margin: 0;
	    }
    }
}
@include respond-to('small-ipad') {
    .pt_cart{
        .primary-content{
            #cart-items-form{
                .cart-left{
                	width: 100%;
                	padding-right: 0;
                    .cart-wrap{
                        width: 100%;
                        padding-top: 20px;
                        >ul{
                            >li{
                                position: relative;
                                .product-horz-type{
                                    width: 100%;
                                }
                                .product-info-type{
                                    position: relative;
                                    padding: 10px 20px 20px;
                                    min-height: 70px;
                                    .select-type{
                                        position: static;
                                        margin-top: 0px;
                                    }
                                }
                            }
                        }
                    }
                }
                .cart-right{
                    .order{
                        .order-con{
                            padding: 30px 20px;
                        }
                    }
                }
            }
        }
    }
//sample dialog
    .ui-dialog{
        &.sample{
            .product-col-1{
                float: left;
            }
            .product-col-2{
                float: right;
            }
        }
    }
    .cart-top-section-container {
    	.cart-top-section {
    		width: 48.5%;
    		margin-bottom: 0;
    		&.open {
    			padding-bottom: 0;
    		}
    		&:nth-child(1) {
            	margin-right: 20px;
        	}
    	}
    }
    .login-dialog-container {
    	.register-form, .login-form {
    		width: 100%;
    		margin-top: 20px;
    		padding: 0;
    	}
    	.button-sigin {
    		margin-top: 20px;
    		margin-bottom: 10px;
    		width: 60%;
	    }
	    .or-login {
	    	margin: 0;
	    }
	    .header {
	    	padding-top: 10px;
	    }
	    .social-login {
	    	width: 100%;
	    	margin: 0;
	    	ul li {
	    		width: 46%;
	    	}
	    }
	    .login-dialog-success {
	    	width: 100%;
	    }
    }
    .bonus-item-promo .sample-tmp li, .sample-tmp li {
    	width: 36%;
    	.name {
    		min-height: 80px;
    	}
    }
}
@include respond-to('xsmall-mobile') {
	.cart-top-section-container {
    	.cart-top-section {
    		margin-bottom: 0;
    		width: 47%;
    		&.open {
    			padding-bottom: 0;
    		}
    		.header {
    			display: inherit;
    		}
    		&:nth-child(1) {
            	margin-right: 17px;
        	}
    	}
    }
    .login-dialog-container {
    	.login-dialog {
    		display: flex;
    		flex-direction: column;
    		.register-form {
    			order: 2;
    		}
    		.login-form {
    			order: 1;
    		}
    	}
    }
}