.w-display {
    display: block;
}
.checkout-header {
    position: relative;
    height: 70px;
    padding: 0 40px;
    background: $heavy-green;
    z-index: 19;
    .header-wrap{
        h1{
            float: left;
            padding-top: 15px;
        }
        .note {
            float: right;
            padding-left: 45px;
            line-height: 70px;
            font-size: 14px;
            color: $white;
            background: url(../images/common/ico_chat.png) no-repeat left center;
            strong {
                display: inline-block;
                margin-right: 10px;
                font-family: $Roboto-Bold;
            }
            span {
                opacity: .5;
            }
        }
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 15px;
        background: url(../images/common/headerShadow.png) repeat-x left bottom;
    }
}

.checkout-header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: $white;
    z-index: 20;
    .home {
        display: block;
        position: absolute;
        top: 0;
        left: 10;
        width: 40px;
        height: 40px;
        background: url(../images/common/ico_home.png) no-repeat center;
        background-size: 20px auto;
    }
    h1 {
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        font-family: $Roboto-Bold;
        margin: 0;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 15px;
        background: url(../images/common/headerShadow.png) repeat-x left bottom;
    }
}

.pt_checkout{
    #main{
        max-width: 1200px;
           margin: 0 auto;
           padding: 50px 0 0;
        .title {
            height: 34px;
            line-height: 34px;
            padding-left: 40px;
            letter-spacing: 5px;
            font-size: 13px;
            color: $green;
            background: url(../images/checkout/ico_title.gif) no-repeat left center;
        }
        .onepage-checkout{
            position: relative;
            margin-top: 55px;
            .checkout-form {
                .gift-certificate-payment {
                    display: none;
                }
            }
        }
        button{
            max-width: 330px;
        }
        button {
            padding: 0;
        }
        select {
            min-width: auto;
            padding: 10px 5px;
        }
        legend{
            background: none;
        }
        .form-row{
            margin-top: 20px;
            margin-bottom: 0;
            label{
                display: block;
                float: none;
                width: 100%;
                text-align: left;
                line-height: 1;
                font-size: 14px;
                font-family: $Roboto-Regular;
                font-weight: normal;
                color: $dim-gray;
                margin-top: 0;
            }
            &.col-2{
                float: left;
                width: 49%;
                margin-left: 2%;
                &.first{
                    margin-left: 0;
                }
            }
            &.clear{
                padding-top: 20px;
                margin-top: 0;
                clear: both;
            }
            .field-wrapper{
                width: 100%;
                margin-top: 10px;
                margin-bottom: 0;
                padding-left: 0;
            }
            .error_message{
                margin-top: 0;
            }
            &.hide-label{
                margin-top: 20px;
                label{
                    display: none;
                }
                .field-wrapper{
                    margin-top: 0;
                }
            }
            .checkbox-group{
                .input-checkbox{
                    display: none;
                }
                label{
                    line-height: inherit;
                }
            }
            &.btn-group{
                text-align: center;
            }
            &.form-row-button{
                margin-top: 0;
                #payment-select-go{
                    margin-top: 20px;
                }
            }
        }
    }
    #primary{
        float: left;
        width: 64.2%;
        margin-right: 4.1%;
        .spShippingAddressForm,
        .spShippingMethodForm,
        .spPaymentForm,
        .spOrderReviewForm{
            padding: 35px 50px 35px;
            border: 1px solid $light-gray;
            background-color: $light-gray-first;
            &.active{
                background-color: $white;
            }
        }
        .step-box{
            legend{
                margin-left: 0;
            }
            position: relative;
            padding: 30px 50px;
            border: 1px solid $light-gray;
            background: $light-gray-first;
        }
        .spShippingMethodForm,
        .spPaymentForm,
        .spOrderReviewForm{
            margin-top: 10px;
        }
        .spOrderReviewForm{
            .spOrderReviewDetail{
                margin-top: 25px;
                text-align: center;
                font-size: 15px;
                color: $dim-gray;
            }
        }
    }
    #secondary{
        float: right;
        width: 31.7%;
    }
    #main{
        .checkoutWrapper{
            .checkout-shipping.address {
                .address1-checkout-shipping label span {
                    line-height: 1.8em;
                }
            }
            legend{
                font-size: 20px;
                text-transform: uppercase;
                width: 100%;
                font-family: $Roboto-Bold;
                color: $nobel;
            }
            .editButton {
                text-decoration: underline;
                font-size: 14px;
                font-family: $Roboto-Regular;
                float: right;
                text-transform: uppercase;
                color: $nero;
                cursor: pointer;
                top: 5px;
                &:hover{
                    color: $green;
            }
            }
            .ship-to-multiple{
                display: none;
            }
            .spShippingAddressForm{
                .spSelectedShippingAddress{
                    margin-top: 20px;
                    .address{
                        line-height: 1.5;
                        margin-top: 20px;
                        padding: 0 25px;
                        font-size: 13px;
                    }
                }
                .userAddressList{
                    .address-list{
                        margin-top: 30px;
                        .address-tile{
                            float: left;
                            margin-right: 1%;
                            margin-top: 0;
                            display: inline-block;
                            position: relative;
                            width: 220px;
                            min-height: 210px;
                            padding: 20px 20px 35px;
                            font-size: 13px;
                            border: 1px solid $border-gray-first;
                            border-radius: 0;
                            background: $light-gray-first;
                            cursor: pointer;
                            .address-box{
                                .registeredAddressBlock{
                                    .mini-address-title{
                                        display: none;
                                    }
                                    .mini-address-name{
                                        font-family: $Roboto-Bold;
                                        color: $nero;
                                    }
                                }
                                .default,
                                .address-make-default{
                                    font-family: $Roboto-Bold;
                                    color: $british-racing-green;
                                    margin-top: 10px;
                                    display: block;
                                }
                                a{
                                    text-transform: uppercase;
                                    text-decoration: underline;
                                    color: $nobel;
                                    &.address-edit{
                                        padding-right: 8px;
                                    }
                                    &.address-delete{
                                        padding-left: 8px;
                                    }
                                    &:hover{
                                        color: $green;
                                }
                            }
                            }
                            &.default{
                                background: $white;
                                cursor: auto;
                                &:after{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 10px;
                                    right: 10px;
                                    width: 12px;
                                    height: 9px;
                                    background: url(../../images/common/ico_address_check.png) no-repeat;
                                }
                            }
                        }
                    }
                }
                .useAnotherShippingAddress{
                    margin-top: 28px;
                }
                .btn-group{
                    text-align: center;
                    margin-top: 30px;
                }
            }
            .spShippingAddressFormDetail{
                padding: 0 65px;
                margin-top: 20px;
            }
            .address{
                line-height: 1.5;
                font-size: 14px;
                .name{
                    font-family: $Roboto-Bold;
                    text-transform: capitalize;
                }
                .addtoaddress,
                .defaultaddress{
                    margin-left: 0;
                    .field-wrapper{
                        margin-top: 0;
                    }
                }
                .form-row{
                    .field-wrapper{
                        label{
                            &.error{
                                display: none;
                            }
                        }
                    }
                }
            }
            #shipping-method-list{
                .shipmethod{
                    margin-top: 20px;
                    color: $dim-gray;
                }
                .form-row{
                    float: left;
                    margin: 0;
                    width: 32.3%;
                    margin-left: 1%;
                    &:first-child{
                        margin-left: 0;
                    }
                    .field-wrapper{
                        position: relative;
                    }
                    .input-radio{
                        margin: 0;
                        position: absolute;
                        & + label{
                            display: block;
                            padding: 25px;
                            text-decoration: none;
                            color: $dim-gray;
                            border: 1px solid $border-gray-first;
                            border-radius: 2px;
                            transition-duration: .3s;
                            cursor: pointer;
                            span{
                                font-size: 16px;
                                font-family: $Roboto-Bold;
                                line-height: 24px;
                                text-transform: uppercase;
                            }
                            div{
                                font-size: 13px;
                            }
                        }
                        &:checked{
                            & + label{
                                border: 1px solid $british-racing-green;
                                background: $british-racing-green;
                                color: $white;
                                display: block;
                                padding: 25px;
                                text-decoration: none;
                                border-radius: 2px;
                                transition-duration: .3s;
                                &:after{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 10px;
                                    right: 10px;
                                    width: 12px;
                                    height: 9px;
                                    background: url(../images/common/ico_shipping_check.png) no-repeat;
                                }
                            }
                        }
                    }
                    .shipping-promos{
                        display: none;
                    }
                }
                .shippingmethod-submit{
                    margin-top: 30px;
                }
                .btn-group{
                    text-align: center;
                }
            }
            .spShippingMethodForm{
                .spShippingMethodFormHeader{
                    .spSelectedShippingMethod{
                        line-height: 1.5;
                        margin-top: 20px;
                        padding: 0 25px;
                        font-size: 13px;
                        color: $dim-gray;
                    }
                }
            }
            .spPaymentForm{
                .spPaymentFormDetail{
                    .payment-method-options{
                        input{
                            display: none;
                            & + label{
                                line-height: inherit !important;
                                text-transform: uppercase;
                            }
                        }
                        .form-row{
                            label{
                                span{
                                    display: none;
                                }
                            }
                            label,
                            img{
                                display: inline-block !important;
                                width: auto !important;
                                vertical-align: middle;
                            }
                            img{
                                margin-left: 5px;
                            }
                            &.g-credit_card{
                                label{
                                    height: 34px;
                                    span{
                                        display: inline-block;
                                        vertical-align: middle;
                                    }
                                    &:before{
                                        top: 5px;
                                    }
                                    &:after{
                                        top: 10px;
                                    }
                                }
                            }
                            &.cvn{
                                .field-wrapper{
                                    width: 88%;
                                }
                                .form-field-tooltip{
                                    width: 20px;
                                    padding-top: 20px;
                                }
                                
                            }
                        }
                    }
                    .checkout-billing{
                        padding: 0;
                        margin: 0;
                        .payment-method{
                            display: none;
                            .form-row{
                                &.cvn{
                                    .field-wrapper{
                                        width: 88%;
                                    }
                                    .form-field-tooltip{
                                        width: 20px;
                                        padding-top: 20px;
                                    }
                                    
                                }
                                &.month,
                                &.year{
                                    margin-top: 10px;
                                }
                                &.makedefault,
                                &.savecard{
                                    clear: both;
                                    margin: 0;
                                    .field-wrapper{
                                        margin-top: 8px;
                                    }
                                }
                                &.makedefault{
                                    .field-wrapper{
                                        margin-top: 15px;
                                    }
                                }
                            }
                            &.payment-method-expanded{
                                display: block;
                            }
                            .creditCardWrapper{
                                .field-wrapper{
                                    .creditcard-list{
                                        font-size: 0;
                                        display: -webkit-box;
                                        display: -ms-flexbox;
                                        display: flex;
                                        -ms-flex-wrap: wrap;
                                        flex-wrap: wrap;
                                        -webkit-box-align: initial;
                                        -ms-flex-align: initial;
                                        align-items: initial;
                                        margin-top: 25px;
                                        .creditcard-tile{
                                            display: inline-block;
                                            font-size: 13px;
                                            width: 31.33%;
                                            min-height: 200px;
                                            margin-left: 1%;
                                            margin-right: 1%;
                                            margin-top: 5px;
                                            border: 1px solid $border-gray-first;
                                            background-color: $light-gray-first;
                                            .creditCardInfo{
                                                position: relative;
                                                padding: 20px 20px 30px;
                                                cursor: pointer;
                                                .cardimg{
                                                    margin-bottom: 5px;
                                                    span{
                                                        display: block;
                                                        width: 54px;
                                                        height: 34px;
                                                        &.master,
                                                        &.mastercard{
                                                            background: url(../images/checkout/card01.gif) no-repeat;
                                                        }
                                                        &.visa{
                                                            background: url(../images/checkout/card02.gif) no-repeat;
                                                        }
                                                        &.amex{
                                                            background: url(../images/checkout/card03.gif) no-repeat;
                                                        }
                                                        &.discover{
                                                            background: url(../images/checkout/card04.gif) no-repeat;
                                                        }
                                                    }
                                                }
                                                .type{
                                                    text-transform: uppercase;
                                                    font-family: $Roboto-Bold;
                                                }
                                                .field-wrapper{
                                                    float: none;
                                                    margin-top: 7px;
                                                    width: 100%;
                                                    input{
                                                        text-transform: uppercase;
                                                    }
                                                }
                                                .default{
                                                    display: none;
                                                }
                                                .address-make-default{
                                                    display: block;
                                                }
                                                .default-group{
                                                    margin-top: 10px;
                                                    font-family: $Roboto-Bold;
                                                    color: $british-racing-green;
                                                    clear: both;
                                                }
                                                .form-row{
                                                    width: 100%;
                                                    float: none;
                                                    margin-top: 0;
                                                    label,
                                                    .form-field-tooltip,
                                                    .form-caption{
                                                        display: none;
                                                    }
                                                }
                                                .creditCardOperation{
                                                    .creditcardDelete{
                                                        display: inline-block;
                                                        text-transform: uppercase;
                                                        text-decoration: underline;
                                                        color: $nobel;
                                                        cursor: pointer;
                                                        &:hover{
                                                            color: $green;
                                            }
                                                    }
                                                }
                                            }
                                            &.selected{
                                                background: $white;
                                                .creditCardInfo{
                                                    cursor: auto;
                                                    &:after{
                                                        content: '';
                                                        display: block;
                                                        position: absolute;
                                                        top: 10px;
                                                        right: 10px;
                                                        width: 12px;
                                                        height: 9px;
                                                        background: url(../images/common/ico_address_check.png) no-repeat;
                                                    }
                                                    .default{
                                                        display: block;
                                                    }
	                                                .card-make-default{
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .form-row{
                            input[type="radio"]{
                                display: none;
                                & + label{
                                    line-height: inherit;
                                    font-size: 13px;
                                }
                            }
                        }
                        .inner-line{
                            position: relative;
                            padding: 25px;
                            border-bottom: 1px solid $border-gray-first;
                            &:last-child{
                                border: 0;
                            }
                        }
                        .billing-address{
                            .customerShippingAddress{
                                .mini-shipment{
                                    min-width: 265px;
                                    padding: 20px;
                                    border: 1px solid $border-gray-first;
                                    border-radius: 2px;
                                    .details,
                                    .address{
                                        padding: 0;
                                    }
                                }
                            }
                            .newBillingAddress{
                                .form-caption{
                                    margin-left: 25px;
                                    a{
                                        color: $default-color;
                                        font-size: 14px;
                                        &:hover{
                                            color: $green;
                                        }
                                    }
                                }
                            }
                            .billingaddress-input-wrapper,
                            .savebillingaddress-input-wrapper{
                                margin-top: 10px;
                            }
                            
                        }
                        .newBillingAddress{
                            .form-row{
                                .form-caption{
                                    display: none;
                                }
                                &.form-indent{
                                    margin-left: 0;
                                }
                                .checkbox-group{
                                    label{
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                }
                .order-component-block{
                    line-height: 1.5;
                    margin-top: 20px;
                    font-size: 13px;
                    display: inline-block;
                    width: 30%;
                    vertical-align: top;
                    .section-header{
                        display: none;
                    }
                    .details{
                        padding: 0 25px;
                        font-size: 14px;
                        .address{
                            margin-top: 0;
                        }
                        .cc-owner{
                            font-family: $Roboto-Bold;
                        }
                    }
                }
            }
        }
    }
    .question-ico{
        background: url('../images/ico_question.png');
        width:20px;
        height: 20px;
        display: block;
    }
}

// checkout
.onepage-checkout {
    .title {
        height: 34px;
        line-height: 34px;
        padding-left: 40px;
        letter-spacing: 5px;
        font-size: 13px;
        color: $green;
        background: url(../images/checkout/ico_title.gif) no-repeat left center;
    }
    input, button, select, textarea {
        width: 100%;
    }
    button {
        padding: 0;
    }
    input[type="checkbox"], input[type="radio"] {
        width: 0;
        display: none;
    }
    select {
        min-width: auto;padding: 10px 5px;
    }
    
    #secondary{
        padding-left: 0;
        .order-con{
            padding: 30px 35px 40px;
            background: $light-gray-first;
        }
        .order-summary-btn{
            .form-row{
                margin-top: 0;
                button{
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .section-header{
            font-size: 16px;
            color: $nero;
            text-transform: uppercase;
            font-weight: normal;
            font-family: $Roboto-Bold;
            .section-header-note{
                float: right;
                font-size: 14px;
                font-weight: normal;
                text-decoration: underline;
                text-transform: uppercase;
                color: $dim-gray;
                font-family: $Roboto-Regular;
                &:hover{
                    color: $green;
            }
        }
        }
        .checkout-order-totals{
            margin-top: 20px;
            padding-top: 10px;
            font-size: 13px;
            color: $dim-gray;
            border-top: 1px solid $dark-gray2;
            .order-totals-table{
                width: 100%;
                tr{
                    padding-top: 8px;
                    td{
                        padding-top: 8px;
                        &:last-child{
                            width: 30%;
                            text-align: right;
                        }
                    }
                    &.order-total{
                        td{
                            padding-top: 20px;
                            font-size: 18px;
                            color: $nero;
                        }
                    }
                }
            }
        }
        .comment{
            margin-top: 20px;
            padding: 20px 0;
            font-size: 13px;
            border-top: 1px solid $border-gray-first;
            width: 100%;
            strong{
                color: $red;
            }
            .link-line{
                font-size: 13px;
                text-decoration: underline;
                color: $dim-gray;
                &:hover{
                    color: $green;
                }
            }
        }
        .spcoupon,
        .redeem-point{
            padding: 20px 0;
            font-size: 13px;
            border-top: 1px solid $border-gray-first;
            label{
                position: relative;
                margin: 0;
                color: $nero;
                font-size: 16px;
                font-weight: normal;
                font-family: $Roboto-Bold;
                text-transform: uppercase;
            }
            #cart-items-form{
                margin-top: 20px;
                float: none;
                label{
                    border-top: 1px solid $border-gray-first;
                    position: relative;
                    padding-top: 25px;
                    color: $nero;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
                input{
                    width: 60%;
                    margin: 0;
                }
                button{
                    width:auto;
                    margin-left: .2rem;
                }
            }
            .form-row{
                &.error{
                    margin-top: 0;
                }
                .error_message,
                .success{
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
            .coupon-message{
                .coupon{
                    margin-top: 5px;
        }
                .couponcode-remove{
                    text-transform: uppercase;
                    color: $nero;
                    font-family: $Roboto-Regular;
                    margin-top: 5px;
                    &:hover{
                        color: $green;
                        span{
                            background-position: -12px -41px;
                        }
                    }
                    span{
                        margin-right: 5px;
                    }
                }
            }
        }
        .redeem-point{
            position: relative;
            .total-rewardpoints{
                font-size: 13px;
                color: $dim-gray;
                margin-bottom: 10px;
                span{
                    font-family: $Roboto-Bold;
                    color: #bd1e31;
                }
            }
            .using{
                display: inline-block;
                position: absolute;
                right: 0;
                color: $nero;
                font-family: $Roboto-Regular;
                font-size: 14px;
                .ico-arr{
                    display: inline-block;
                    width: 10px;
                    height: 8px;
                    margin-left: 5px;
                    background: url(../../images/common/arr_using.png) no-repeat center;
                }
                &.active{
                    .ico-arr{
                        transform: rotate(180deg);
                    }
                }
            }
            .redeem-con{
                display: none;
                .t-redeem,
                .t-pts{
                    line-height: 40px;
                    font-size: 13px;
                    color: $dim-gray; 
                }
                .t-redeem{
                    text-transform: uppercase;
                }
                input{
                    width: 115px !important;
                    margin: 0 7px;
                }
                .rewardpoints-submit{
                    min-width: 80px;
                    padding: 0;
                }
                .mt10{
                    margin-top: 10px;
                    a{
                        color: $nero;
                    }
                }
                .sp-btn-ico{
                    margin-right: 6px;
                }
                &.active{
                    display: block;
                }
            }
            .loading-dot{
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -5px 0 0 -14px;
                opacity: 0;
                transition-duration: .4s;
                &.active{
                    opacity: 1;
                }
            }
        }
		.rewardpoint-redemption {
		    color: #bd1e31;
		}
        .wrap-cart-content{
            padding-top: 20px;
            border-top: 1px solid $border-gray-first;
            .cart-summary{
                background: $white;
                border-radius: 2px;
                .title-summary{
                    h3{
                        display: block;
                        text-decoration: none;
                        font-size: 13px;
                        background: $white url(../images/icon/arr_down.png) no-repeat right 20px center;
                        border-bottom: 1px solid $border-gray-third;
                        padding-bottom: 20px;
                        color: $nero;
                        font-family: $Roboto-Regular;
                        padding: 20px;
                        text-transform: uppercase;
                        font-weight: normal;
                    }
                    &.active{
                        h3{
                            background: $white url(../images/icon/arr_up.png) no-repeat right 20px center;
                        }
                    }
                }
                .content{
                    padding: 15px 0;
                    .mini-cart-product{
                        margin-bottom: 12px;
                        padding: 0 10px;
                        .mini-cart-image{
                            float: left;
                            width: 25%;
                            line-height: 0;
                        }
                        .mini-cart-name{
                            a{
                                font-size: 14px;
                                color: $nero;
                                &:hover,
                                &:focus,
                                &:active{
                                    color: $british-racing-green;
                                    text-decoration: underline;
                                    background: none;
                                }
                            }
                        }
                        .mini-cart-attributes{
                            margin-top: 10px;
                            font-size: 13px;
                            color: $dim-gray;
                            padding: 0;
                        }
                        .mini-cart-pricing {
                            font-size: 13px;
                            color: $nobel;
                            text-transform: uppercase;
                            .mini-cart-price{
                                color: $nobel;
                            }
                        }
                        .delete-wrap{
                            display: none;
                        }
                    }
                }
            }
        }
        .note-needHelp{
            margin-top: 30px;
            padding-left: 20px;
            font-size: 13px;
            color: $dim-gray;
            background: url(../../images/common/ico_note.png) no-repeat left center;
            background-size: 15px;
            width: 100%;
        }
    }
    .full-point-message {
        color: $green;
        margin-top: 10px;
    }
}
.spShippingAddressFormDetail label.error {
    display : none !important;
}