@include respond-to('medium-ipad') {
    .w-display{
        display: none;
    }
    .pt_checkout{
        #primary,
        #secondary{
            float: none;
            width: 100%;
            margin: 0;
        }
        #secondary{
            margin-top: 50px;
        }
    }
    .pt_checkout{
        .onepage-checkout{
            margin-top: 20px;
            padding: 0 10px;
            #primary{
                float: none;
                width: 100%;
                margin: 0;
            }
            #secondary{
                .spcoupon{
                    #cart-items-form{
                        input{
                            width: 68%;
                        }
                        button {
                            float: right;
                            width: 30%;
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('small-ipad') {
    .checkout-header-mobile h1 {
        font-size: 22px;
        text-transform: uppercase;
    }
    .pt_checkout{
        #main{
            .onepage-checkout {
                margin-top: 20px;
                #primary{
                    .spShippingAddressForm,
                    .spShippingMethodForm,
                    .spPaymentForm,
                    .spOrderReviewForm{
                        padding: 20px;
                    }
                    .checkoutWrapper{
                        #shipping-method-list{
                            .form-row{
                                .input-radio{
                                    &+label{
                                        min-height: 96px;
                                        padding: 20px 10px;
                                    }
                                }
                            }
                        }
                        .spShippingAddressForm{
                            .userAddressList{
                                .address-list{
                                    .address-tile{
                                        width: 100%;
                                        margin: 5px 0 0;
                                        &:first-child{
                                            margin-top: 0;
                                        }
                                    }
                                }
                            }
                            .btn-group{
                                margin-top: 0;
                                .shipping-submit{
                                    margin-top: 30px;
                                }
                            }
                        }
                        .spShippingAddressFormDetail{
                            padding: 0;
                            margin-top: 0;
                        }
                        .spPaymentForm{
                            .spPaymentFormDetail{
                                .checkout-billing{
                                    .inner-line{
                                        padding: 20px 0;
                                    }
                                    .payment-method{
                                        .form-row.cvn{
                                            .field-wrapper{
                                                width: 83%;
                                            }
                                                .form-field-tooltip{
                                                    float: left;
                                                }
                                            }
                                        .creditCardWrapper{
                                            .field-wrapper{
                                                .creditcard-list{
                                                    margin-top: 0;
                                                    .creditcard-tile{
                                                        width: 100%;
                                                        margin: 5px 0 0;
                                                        float: none;
                                                        &:first-child{
                                                            margin-top: 0;
                                                        }
                                                        .creditCardInfo{
                                                            width: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                                .payment-method-options{
                                    .form-row{
                                        &.g-credit_card{
                                            img{
                                                width: 56% !important;
                                            }
                                            label{
                                                &:before{
                                                    top: 3px;
                                        }
                                                &:after{
                                                    top: 8px;
                                    }
                                }
                            }
                                    }
                                }
                            }
                            .spSelectedPayment{
                                .mini-billing-address{
                                    width: 50%;
                                    .details{
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                #secondary{
                    .order-con{
                        padding: 30px 20px;
                    }
                    .spcoupon{
                        #cart-items-form{
                            input{
                                width: 62%;
                            }
                        }
                    }
                }
            }
        }
            footer{
            margin-top:0;
    }
}
}
@include respond-to('xsmall-iphone-horizontally') {
    .pt_checkout{
        #main{
            .onepage-checkout {
                #primary{
                    .checkoutWrapper{
                        .spPaymentForm{
                            .spPaymentFormDetail{
                                .checkout-billing{
                                    .payment-method{
                                        .form-row.cvn{
                                            .field-wrapper{
                                                width: 70%;
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
                #secondary{
                    .spcoupon{
                        #cart-items-form{
                            input{
                                width: 54%;
                            }
                        }
                    }
                    .redeem-point{
                        .redeem-con{
                            input{
                                width: 93px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}