.wrap-maincontent {
    margin-top: 50px;
}
.sidebar-left {
    .account-nav {
        .title {
            color: $nero;
            font-size: 26px;
            font-family: $Roboto-Bold;
            text-transform: uppercase;
            margin-bottom: 30px;
            word-wrap: break-word;
            width: 6em;
        }
        ul li {
            margin-bottom: 10px;
            a {
                font-family: $Roboto-Bold;
                font-size: 16px;
                color: $nero;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .active a {
            color: $green;
            font-size: 16px;
            font-family: $Roboto-Bold;
        }
    }
}
.side-bar-customerservice {
    .account-nav {
        li.active a {
            text-decoration: underline;
        }
    }
    
}
.customer-service-breadcrumb {
    max-width: 1240px;
    margin: 18px auto 60px;
    padding: 0 20px;
}
.pt_content {
    .content-asset {
        li {
            list-style:none !important;
        }
        p {
            margin:0;
        }
        ul {
            margin:0;
            padding:0;
        }
    }

    #m-header .home {
        display: block;
        position: absolute;
        top: 0;
        left: 50px;
        width: 40px;
        height: 40px;
        background: url(Home/common/ico_home.png) no-repeat center 9px;
        background-size: 20px 18px;
    }

    .primary-content {

        dl {
            clear:none;
        }
        dl dt {
            clear:none;
            float:none;
            margin:0;
            min-width:initial;
        }
        dl dd {
            float:none;
            margin:0;
            padding:0;
        }
    }
    .location {

        overflow:hidden;
        margin-top: 18px !important;
        margin-bottom:60px !important;
        li {

            position:relative;
            float:left;
            padding-right:12px;
            margin-right:5px;
            font-size:13px;
            color:#999;
            line-height:20px;

            &:before {
                position:absolute;
                top:0;
                right:0;
                content:">";
            }
            &:last-child {
                color:#222}
            &:last-child:before {
                content:"";
            }
        }
    }

    .con-area {
        padding: 0 20px;
    }
    .con-area-box2{
        max-width:1200px;
        padding:0;
        margin:0 auto;
    }
    .sub_lnb {
        float:left;
        width:16%;width:calc(200px);
        .tit{
            margin-bottom:40px;
            font-size:28px;
            color:#222;
            font-family:'Roboto Black';
            line-height:32px;
            text-transform: uppercase;
        }
        ul > li{
            margin-bottom:15px;
            font-family:'Roboto Black';
            font-size: 16px;
        }
        ul > li a.on{
            color:$green;
            text-decoration:underline;
        }
    }
    .cstm-wrap {
        position: relative;
        z-index: 2;
        .cont {
            float:right;
            width:84%;
            width:calc(100% - 200px);
            padding-left:50px;
            padding-bottom:50px;
            border-left:1px solid #ddd;
            .title{
             padding-bottom:20px;
             border-bottom:1px solid #222;
             font-size:36px;
             color:#222;
             font-family:'Roboto Black';
         }
            .sub-tit{
                margin-top:50px;
                padding-bottom:15px;
                font-size:24px;
                color:#222;
                font-family:'Roboto Black';
            }
        }
    }
    @media only screen and (max-width: 1024px){
        .cstm-wrap .cont{
            width:auto;
            float: none;
            margin-left:0px;
            padding-left:10px;
            padding-right:10px;;
            border-left:none;
            .title {
                margin-top: 30px;
                font-size: 32px;
            }
        }
    }
    @media only screen and (max-width: 768px){
        .cstm-wrap .cont .sub-tit {
            margin-top: 30px;
            font-size: 20px;
        }
    }

    .cstm-rturn-area {
        margin-top: 60px;
        line-height: 24px;
        font-size: 16px;
    }
    .box-list li {
        margin-top: 30px;
        text-indent: -12px;
        padding-left: 12px;
        &:before {
            padding-right: 2px;
            content:counter(item, disc)"";
            font-size: 23px;
            vertical-align: middle;
        }
    }
    @media only screen and (max-width: 1024px){
        .cstm-rturn-area {margin-top:35px;
        }
    }
}

.contact-us {
    .contact-us-main {
        #RegistrationForm {
            p.error_message {
               color: $red;
           } 
        }
      
    }
    .contact-us-description {
        padding: 14px 40px 40px;
        border-bottom: 1px solid $gainsboro;
        margin-bottom: 36px;
        ul {
            li {
                float: left;
                margin-left: 4%;
                width: 66%;
                color: $default-color;
                font-size: 14px;
                font-family: $Roboto-Regular;
                line-height: 24px;
                list-style: none;
                span {
                    color: $nero;
                    font-size: 14px;
                }
                .contact-image {
                    display: inline-block;
                    vertical-align: middle;
                    padding-right: 12px;
                }
                &:first-child {
                    font-size: 20px;
                    color: $nero;
                    font-family: $Roboto-Bold;
                    margin-left: 0;
                    width: 18%;
                    text-transform: uppercase;
                }
            }
            .contact-us-description-item-second {
                padding-top: 6px;
            }
        }
    }
    h4 {
        margin-bottom: 10px;
        font-family: $Roboto-Bold;
        font-size: 20px;
        color: $nero;
        text-transform: uppercase;
    }
    #RegistrationForm {
        p {
            color: $default-color;
            font-size: 14px;
        }
        .form-row {
            width: 57%;
            margin-bottom: 0px;
            textarea {
                width: 100%;
            }
            label {
                display: block;
                width: 100%;
                text-align: left;
                margin-bottom: 10px;
                font-size: 14px;
                color: $nero;
                font-family: $Roboto-Regular;
                font-weight: normal;
                span {
                	font-size: 1rem;
                }
            }
            input[type="text"],
            input[type="number"],
            input[type="password"],
            input[type="date"] textarea {
                width: 100%;
                margin-top: 0;
                height: 40px;
     
            }
        }
        .form-row-button {
            margin-left: 0;
            margin-top: 30px;
            #sendBtn {
                font-size: 14px;
                font-family: $Roboto-Bold;
            }
        }
        .form-comment {
            .form-row {
                margin-bottom: 0;
            }
        }
        .field-wrapper {
            width: 100%;
            padding-left: 0;
        }
        .wrap-email {
            width: 57%;
            .form-row {
                width: 100%;
            }
            .col1 {
                float: left;
                width: 49%;
                margin-right: 1%;
            }
            .col2 {
                float: left;
                width: 49%;
                margin-left: 1%;
            }
        }
    }
}