@include respond-to('medium-ipad') {
	.pt_customerservice {
		#main {
			margin-top: 50px;
		}
		.cstm-wrap {
			z-index: auto;
		}
		.con-area {
			padding: 0 10px;
		}
	}
    .contact-us {
        .contact-us-description {
            ul {
                overflow: hidden;
                text-align: center;
                li:first-child {
                    float: none;
                    width: 100%;
                    display: block;
                    padding-bottom: 90px;
                    background-position: center top;
                    line-height: 118px;
                    padding-left: 0;
                }
                li {
                    margin-left: 0;
                    width: 100%;
                }
            }
        }
        #RegistrationForm {
            .wrap-email, .form-row {
                width: 100%;
            }
        }
        .title-address {
        	display: none;
        }
        .customersheader_mobile {
			display: block;
			position: fixed;
			top: 10px;
			left: 50%;
			text-align: center;
			font-size: 22px;
			line-height: 100%;
			margin: 0;
			z-index: 70;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			border: 0;
			padding: 0;
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .contact-us .contact-us-description {
        padding: 14px 10px 40px;
    }
}