.error-content {
    margin-top: 180px;
    margin-bottom: 118px;
    text-align: center;
    img {
        margin-bottom: 30px;
    }
    h1, h2 {
        color: $brand-color;
        line-height: 100%;
    }
    h1 {
        font-size: 54px;
        font-weight: bold;
        margin-bottom: 26px;
    }
    h2 {
        text-transform: none;
        font-size: 38px;
    }
    p {
        line-height: 100%;
        margin-bottom: 0;
        font-size: 18px;
        color: $mid-grey;
        &.mess-1 {
            margin-top: 50px;
        }
        &.mess-2 {
            margin-top: 10px;
        }
        &.mess-3 {
            margin-top: 38px;
        }
        a {
            text-decoration: underline;
            color: $mid-grey;
        }
    }
    .back-to-shopping-button {
        padding: 16px 0;
        background-color: $nero;
        font-size: 13px;
        text-transform: capitalize;
        font-weight: bold;
        color: $light-gray;
        display: block;
        width: 256px;
        margin: 50px auto;
    }
}