@include respond-to('large') {
    .pt_checkout{
        #main{
            .onepage-checkout{
                .primary-content{
                    .checkoutlogin {
                        .wrap-column {
                            .column {
                                .wrap-login-box {
                                    padding: 45px 30px 30px;
                                    .login-box-content {
                                        .note {
                                            width: 32em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .pt_cart {
                        .login-show {
                            margin-top: 40px;
                            position: relative;
                            border-top: 1px solid $border-gray-first;
                            padding-top: 40px;
                            &:before {
                                background: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('medium') {
    .pt_checkout{
        #main{
            .onepage-checkout{
               .cs-contact-number {
                    .note-needHelp {
                        background: url(../images/icon/guest-message.png) left center no-repeat;
                        height: 34px;
                        line-height: 34px;
                        padding-left: 40px;
                    }
                }
                .primary-content{
                    .checkoutlogin {
                         width: 100%;
                        .wrap-column {
                            .column {
                                width: 100%;
                                .wrap-login-box {
                                    padding: 0;
                                    border: none;
                                    .login-box-content {
                                        .guest-checkout {
                                            button.btn-type {
                                                max-width: initial;
                                            }
                                        }
                                        .form-creat-account {
                                            button.btn-type {
                                                max-width: initial;
                                            }
                                        }
                                        &:before {
                                            width: 100%;
                                            left: 0%;
                                        }
                                        .note {
                                            width: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pt_cart {
        .login-show {
            margin-top: 40px;
            position: relative;
            border-top: 1px solid $border-gray-first;
            padding-top: 40px;
            &:before {
                display: none;
            }
        }
    }
}
@include respond-to('small') {
    .pt_checkout{
        #main{
            .onepage-checkout{
                .checkoutWrapper {
                    .checkout-form #shipping-method-list .form-row .input-radio {
                        display: none;
                    }
                    .checkout-form #shipping-method-list .form-row .input-radio:checked+label {
                        border-radius: 0;
                    }
                }

                .checkout-form {
                    .spDetail {
                        .checkout-billing {
                            .payment-method-expanded .new_credit_card .form-row.first .form-field-tooltip {
                                float: left;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .pt_checkout{
        #main{
            .onepage-checkout{
                #secondary {
                    .spcoupon #cart-items-form input {
                        width: 53%;
                    }
                    .spcoupon #cart-items-form button {
                        max-width: none;
                    }
                }
                .checkout-form {
                    .spDetail {
                        .checkout-billing {
                            .payment-method-expanded {
                                .new_credit_card {
                                    .form-row.first {
                                        width: 40%;
                                        margin-bottom: 20px;
                                        .field-wrapper {
                                            position: static;
                                        }
                                        .input-text {
                                            background: none;
                                        }
                                        label.error {
                                            color: $red;
                                            margin-top: 10px;
                                            background: none;
                                            position: absolute;
                                            left: 0;
                                            bottom: 10px;
                                        }
                                        .form-field-tooltip {
                                            float: left;
                                        }
                                    }
                                    .credit_card_expiry.form-row.last {
                                        .form-row.first {
                                            width: 56%;
                                            .wide {
                                                span.current {
                                                    font-size: 11px;
                                                }
                                            }
                                        }
                                        .form-row.last {
                                            width: 42%;
                                        }
                                        width: 58%;
                                    }
                                }
                            }
                        }
                    }
                }
                .primary-content{
                    .checkoutlogin {
                        .wrap-column {
                            .column {
                                .social-login {
                                    .wrap-facebook a, .wrap-google a {
                                        padding: 0;
                                        min-width: auto;
                                        font-size: 11px;
                                        height: 40px;
                                        line-height: 40px;
                                    }
                                }
                                .wrap-login-box {
                                    .login-box-content {
                                        form {
                                            .form-row {
                                                .login-rememberme {
                                                    margin-left: 0;
                                                }
                                            }
                                        }
                                        .form-creat-account {
                                            .btn-type {
                                                width: 100%;
                                                padding: 0;
                                                font-size: 11px;
                                                text-align: center;
                                                min-width: auto;
                                                height: 40px;
                                                line-height: 40px;
                                            }
                                        }
                                        .formbuttonrow {
                                            .btn-type {
                                                width: 100%;
                                                padding: 0;
                                                font-size: 11px;
                                                text-align: center;
                                                min-width: auto;
                                                height: 40px;
                                                line-height: 40px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}