.brand-story {
    position: fixed;top: 0;left: 0;width: 100%;height: 670px;background: #fff;z-index: 10;
    img {
        vertical-align: top;
    }
    .bs-con {
        position: relative;width: 100%;height: 670px;margin: 0 auto;
        & > .inner {
            position: relative;width: 100%;max-width: 1920px;height: 100%;margin: 0 auto;
        }
        .bs-nav {
            position: absolute;top: 50%;left: 50px;margin-top: -150px;z-index: 12;
            ul {
                li {
                    height: 60px;margin-bottom: 30px;
                    a {
                        display: inline-block; line-height: 1; font-size: 30px; font-weight: bold;
                        em.t {
                            font-family: $Roboto-Black, sans-serif; color: #222;
                        }
                        span.d {
                            display: block; margin-top: 13px; font-size: 17px; font-weight: normal; color: #666;
                        }
                        &.active {
                            em.t {
                                color: $green;
                            }
                            span.d {
                                color: $green;
                            }
                        }
                        &:hover {
                            text-decoration: none;
                            em.t {
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
        .con {
            position: absolute;top: 0;left: 0;width: 100%;height: 670px;
            > div {
                position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;
                @include single-transition(opacity, 0.4s);
                .img {
                    display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-size: cover !important;
                    img {
                        position: absolute;top: 0;left: 50%;height: 670px;margin-left: -1000px;
                    }
                }
                .inner {
                    position: relative;width: 100%;max-width: 1920px;height: 100%;margin: 0 auto;
                }
                .info {
                    position: absolute;top: 50%;right: 30px;width: 400px;margin-top: -200px;
                    &.center {
                        right: auto;left: 50%;width: 500px;margin-left: -250px;text-align: center;
                    }
                    .t {
                        line-height: 1;font-family: $Roboto-Black, sans-serif;font-size: 40px;font-weight: bold;color: #222;
                    }
                    .d {
                        margin-top: 15px;font-size: 18px;color: #222;
                    }
                    .btn {
                        margin-top: 20px;
                        a {
                            font-family: $Roboto-Black, sans-serif;
                            font-size: 18px;
                            font-weight: bold;
                            color: #222;
                            text-decoration: underline;
                            &:hover {
                                color: $green;
                            }
                        }
                    }
                }
                &.active {
                    opacity: 1;
                    z-index: 11;
                }
            }
        }
        .bs-close {
            position: absolute;top: 20px;right: 20px;z-index: 11;
        }
    }
    .bs-intro {
        position: relative;padding-top: 130px;text-align: center;font-size: 18px;z-index: 10;
        p {
            margin-top: 10px;
            color: #222;
        }
        &.hide {
            opacity: 0;
        }
    }
    &.hide {
        overflow: hidden;
        height: 0;
    }
}
.brand-bg {
    max-width: 2000px;height: 670px;
    img {
        width: 100%;vertical-align: top;
    }
    &.hide {
        height: 0;
    }
}
.main-slider {
    padding: 0;
}
@media only screen and (max-width: 768px){
    .brand-story {
        height: 100%;
        .bs-con {
            height: 100%;
            .bs-nav {
                top: 10%;left: 20px;margin-top: 0;
                ul {
                    li {
                        margin-bottom: 10px;
                        a {
                            font-size: 20px;
                            span.d {
                                margin-top: 8px;font-size: 14px;
                            }
                        }
                    }
                }
            }
            .con {
                height: 100%;
                > div {
                    height: 100%;
                    .img {
                        img {
                            height: 100%;margin-left: -1000px;
                        }
                    }
                    .info {
                        top: auto;bottom: 10%;width: 200px;margin-top: 0;
                        &.center {
                            bottom: 20%;width: 280px;margin-left: -140px;
                            img {
                                width: 60%;
                            }
                        }
                        .t {
                            font-size: 30px;
                        }
                        .d {
                            font-size: 14px;
                        }
                        .btn {
                            margin-top: 20px;
                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        .bs-intro {
            padding-top: 130px;
        }
    }
    .brand-bg {
        height: 100%;
    }
}


.top-banner {
    position: relative;height: 30px;line-height: 30px;color: #fff;background: #222;
    .bs-show {
        display: inline-block;position: absolute;top: 0;left: 40px;padding-right: 13px;color: #207a41;background: url(../images/common/arr_up.gif) no-repeat right center;
        &:hover {
            color: #fff;
        }
    }
}
@media only screen and (max-width: 1024px){
    .top-banner {
        .bs-show {
            left: 20px;
        }
    }
}


.main-visual {position: relative;overflow: hidden;width: 100%;background: #fff;z-index: 10;}
.main-visual .slick-slider button.slick-arrow {width: 80px;height: 80px;background: url(../images/sp_button.png) no-repeat;transition-duration: 0s;}
.main-visual .slick-slider button.slick-arrow.slick-next {background-position: 0 -280px;}
.main-visual .slick-slider button.slick-arrow.slick-next:hover{background-position: 0 -361px;}
.main-visual .slick-slider button.slick-arrow.slick-prev {background-position: -80px -280px;}
.main-visual .slick-slider button.slick-arrow.slick-prev:hover{background-position: -80px -361px;}
.main-visual .visual-slider .slick-slide {position: relative;}
.main-visual .visual-slider img {width: 100%;}
.main-visual .visual-slider p,
.main-visual .visual-slider a {color: #fff;}
.main-visual .visual-slider .v-text {position: absolute;}
.main-visual .visual-slider .v-text.v1 {right: 10%;bottom: 10%;}
.main-visual .visual-slider .v-text.v1 .txt1 {line-height: 1;padding-top: 20px;font-family: $Roboto-Medium, sans-serif;font-size: 56px;background: url(../images/main/v_tit_line.gif) no-repeat left top;}
.main-visual .visual-slider .v-text.v2 {top: 7%;left: 10%;}
.main-visual .visual-slider .v-text.v2 .txt1 {display: inline-block;font-size: 14px;border-bottom: 1px solid #fff;}
.main-visual .visual-slider .v-text.v2 .txt2 {margin-top: 30px;line-height: 1;font-family: $Roboto-Medium, sans-serif;font-size: 56px;}
.main-visual .visual-slider .v-text.v2 .txt3 {margin-top: 10px;font-size: 20px;}
.main-visual .visual-slider .v-text.v3 {top: 10%;left: 50%;width: 176px;margin-left: -88px;text-align: center;font-size: 16px;background: url(../images/main/bg_line_v3.png) no-repeat center;}
.main-visual .visual-slider .v-text.v4 {top: 50%;left: 50%;width: 500px;margin: -145px 0 0 -237px;text-align: center;}
.main-visual .visual-slider .v-text.v4 .txt1 {width: 195px;margin: 0 auto;}
.main-visual .visual-slider .v-text.v4 .txt2 {font-family: $Roboto-Medium, sans-serif;font-size: 80px;}
.main-visual .visual-slider .v-text.v4 .txt3 {font-size: 20px;}
.main-visual .visual-slider .v-text.v4 .btn-type {margin-top: 40px;}
.main-visual .visual-slider .v-text.v5 {top: 7%;left: 10%;}
.main-visual .visual-slider .v-text.v5 .txt1 {font-size: 16px;}
.main-visual .visual-slider .v-text.v5 .txt2 {margin-top: 5px;line-height: 1;font-family: $Roboto-Medium, sans-serif;font-size: 56px;}
.main-visual .visual-slider .v-text.v5 .txt3 {margin-top: 20px;font-family: $Roboto-Medium, sans-serif;font-size: 28px;}
.main-visual .visual-slider .v-text.v6 {top: 50%;left: 50%;width: 427px;margin: -113px 0 0 -213px;text-align: center;}
.main-visual .visual-slider a:hover {text-decoration: none;}
.main-visual .visual-slider .hover-type .cover-info {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);opacity: 0;transition: opacity .4s;}
.main-visual .visual-slider .hover-type:hover .cover-info {opacity: 1;}
/*.main-visual .visual-slider .v-text.v0 ... link*/
.main-visual .visual-slider .v-text.v0 {display: block;position: static;overflow: hidden;}
.main-visual .visual-slider .v-text.v0 img {transition-duration: .4s;transition-delay: 0;}
.main-visual .visual-slider .v-text.v1,
.main-visual .visual-slider .v-text.v2,
.main-visual .visual-slider .v-text.v3,
.main-visual .visual-slider .v-text.v4,
.main-visual .visual-slider .v-text.v5,
.main-visual .visual-slider .v-text.v6 {opacity: 0;}
.main-visual .visual-slider .left {margin-left: 100px;margin-right: -100px;}
.main-visual .visual-slider .top {padding-top: 100px;}
//.main-visual .visual-slider .slick-active .v-text.v0 img {transition-duration: 4.7s;transition-delay: 0.65s;transform: scale(1.07);}
.main-visual .visual-slider .slick-active .v-text.v1,
.main-visual .visual-slider .slick-active .v-text.v2,
.main-visual .visual-slider .slick-active .v-text.v3,
.main-visual .visual-slider .slick-active .v-text.v4,
.main-visual .visual-slider .slick-active .v-text.v5,
.main-visual .visual-slider .slick-active .v-text.v6 {opacity: 1;transition-duration: .5s;transition-delay: 0.4s;}
.main-visual .visual-slider .slick-active .left {margin-left: 0;margin-right: 0;}
.main-visual .visual-slider .slick-active .left.delay-2 {transition-delay: 0.6s;}
.main-visual .visual-slider .slick-active .top {padding-top: 0;}
.main-visual .visual-slider .slick-slide.back{margin: 0;}
/*.main-visual .visual-slider .slick-prev {left: 0;}*/
.main-visual .visual-slider.slick-slider button.slick-arrow.slick-prev {left: 0;}
.main-visual .visual-slider.slick-slider button.slick-arrow.slick-next {right: 0;}

.main-visual {
	.slick-slider {
		.slick-dots {
			li {
				margin: 0 8px;
			}
			a {
				width: 16px;
				height: 16px;
				float:left;				
			}
		}
	}

}

@media only screen and (max-width: 1500px){
    .main-visual .visual-slider .v-text.v1 .txt1 {font-size: 46px;}
    .main-visual .visual-slider .v-text.v2 .txt2 {font-size: 46px;}
    .main-visual .visual-slider .v-text.v2 .txt3 {font-size: 17px;}
    .main-visual .visual-slider .v-text.v4 .txt2 {font-size: 65px;}
    .main-visual .visual-slider .v-text.v4 .txt3 {font-size: 17px;}
    .main-visual .visual-slider .v-text.v5 .txt2 {font-size: 46px;}
    .main-visual .visual-slider .v-text.v5 .txt3 {font-size: 22px;}
    .main-visual .visual-slider .v-text.v6 {width: 356px;margin-left: -178px;}
}
@media only screen and (max-width: 1200px){
    .main-visual .visual-slider .v-text.v1 .txt1 {font-size: 36px;}
    .main-visual .visual-slider .v-text.v2 .txt2 {font-size: 36px;}
    .main-visual .visual-slider .v-text.v2 .txt3 {font-size: 15px;}
    .main-visual .visual-slider .v-text.v4 .txt2 {font-size: 50px;}
    .main-visual .visual-slider .v-text.v4 .txt3 {font-size: 15px;}
    .main-visual .visual-slider .v-text.v5 .txt2 {font-size: 36px;}
    .main-visual .visual-slider .v-text.v5 .txt3 {font-size: 18px;}
    .main-visual .visual-slider .v-text.v6 {width: 320px;margin-left: -160px;}
}
@media only screen and (max-width: 1024px){
    .main-visual {margin-top: 0; }
    .main-visual .visual-slider .slick-slide {overflow: hidden;}
    .main-visual .visual-slider .slick-slide .img img {width: 180%;margin-left: -40%;}
.main-visual .slick-slider button.slick-arrow.slick-next:hover {background-position: 0 -280px;}
.main-visual .slick-slider button.slick-arrow.slick-next.touch {background-position: 0 -361px;}
.main-visual .slick-slider button.slick-arrow.slick-prev:hover {background-position: -80px -280px;}
.main-visual .slick-slider button.slick-arrow.slick-prev.touch {background-position: -80px -361px;}
}
@media only screen and (max-width: 768px){
    .main-visual .visual-slider .slick-slide .img img {width: 220%;margin-left: -60%;}
    .main-visual .visual-slider .v-text.v1 .txt1 {font-size: 22px;}
    .main-visual .visual-slider .v-text.v2 .txt2 {margin-top: 0;font-size: 22px;}
    .main-visual .visual-slider .v-text.v2 .txt3 {font-size: 13px;}
    .main-visual .visual-slider .v-text.v4 {margin-top: -100px;}
    .main-visual .visual-slider .v-text.v4 .txt1 {width: 125px;}
    .main-visual .visual-slider .v-text.v4 .txt2 {font-size: 30px;}
    .main-visual .visual-slider .v-text.v4 .txt3 {font-size: 13px;}
    .main-visual .visual-slider .v-text.v4 .btn-type {margin-top: 20px;}
    .main-visual .visual-slider .v-text.v5 .txt2 {font-size: 22px;}
    .main-visual .visual-slider .v-text.v5 .txt3 {font-size: 15px;}
    .main-visual .visual-slider .v-text.v6 {width: 260px;margin-left: -130px;}
    /*.main-visual .visual-slider .hover-type .cover-info {opacity: 1;}*/
}

.main-section {
    position: relative;background: $white;z-index: 10;
    .product-carousel-title{
        text-align: center;
        padding-bottom: 20px;
        h2{
            display: inline-block;
            text-transform: uppercase;
            padding-bottom: 4px;
            font-size: 40px;
            font-family: $Roboto-Bold;
            color: $nero;
        }
        a{
            &.ico-button{
                text-transform: none;
                font-family: $Roboto-Bold;
                color: $green;
                text-decoration: underline;
                font-size: 15px;
            }
        }
    }
    &.home-block-1,
    &.home-block-2{
        position: relative;
        .main-best-seller,
        .main-recommendation{
            overflow: visible;
        }
    }
    &.home-block-1{
        z-index: 100;
		.main-best-seller {
			border-bottom: 1px solid #b7b7b7;
		}
    }
     &.home-block-2{
         z-index: 99;
     }
}

.main-best-seller,
.main-recommendation {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 40px 0;
    background: #fff;
    z-index: 10;

    @media only screen and (min-width: 1024px){
        text-align: center;
        .product-col-2.product-detail {
            text-align: left;
        }
    }
    @media only screen and (max-width: 1024px){
    	padding: 20px 40px 0;
    }
    .title {
        position: absolute;top: 50%;left: 50%;width: 200px;margin: -100px 0 0 -110px;text-align: center;z-index: 100;
        .count {
            position: absolute;top: 170px;left: 0;width: 100%;text-align: center;
        }
        a.more {
            display: inline-block;margin-top: 30px;line-height: 1;font-family: $Roboto-Medium;font-size: 14px;color: #222;border-bottom: 1px solid #a9a9a9;
            &:hover {
                color: $brand-color;text-decoration: none;
            }
        }
    }
    .bestSeller-slider,
    .recommendation-slider {
        ul.product-listing {
            &:after {
                content: '';display: block;clear: both;
            }
            li.product-item {
                float: left;
                width: 20%;
                padding: 0 10px;
                .quickview{
                    font-family: $Roboto-Bold;
                    font-size: 11px;
                }
            }
        }
    }
    .quickshow {
        .product-actions {
            display: none;
        }
        .pdp-main .product-primary-image {
            max-width: 600px;
            margin: 0 auto;
        }
    }
}
@media only screen and (max-width: 1024px){
    .main-best-seller {
        .title {
            display: none;
        }
        .product-status {
            min-height: 40px;
        }
        .bestSeller-slider,
        .recommendation-slider {
            ul {
                li {
                    &.blank {
                        display: none;
                    }
                }
            }
        }
    }
}

.special-care {
    position: relative;overflow: hidden;width: 100%;margin: 0 auto;padding: 40px 0 0;background: #fff;z-index: 10;max-width: 1920px;
    .bg {
        display: block;width: 100%;height: 508px;background-size: auto 100%;
        img{
            width: 100%;
            vertical-align: top;
            -webkit-transform: translateY(0px) translateZ(0px);
            transform: translateY(0px) translateZ(0px);
            -webkit-transition: -webkit-transform 1s ease-in-out;
            transition: -webkit-transform 1s ease-in-out;
            transition: transform 1s ease-in-out;
            transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
        }
    }
    .text-area {
        position: absolute;top: 50%;left: 50%;width: 600px;margin: -75px 0 0 -300px;text-align: center;font-size: 16px;
        p {
            line-height: 1.7;margin-top: 10px;
        }
        .more {
            margin-top: 30px;
        }
    }
}
@media only screen and (max-width: 1280px){
    .special-care {
        .bg {
            height: 400px;
        }
    }
}
//@include respond-to('xmedium') {
//    .main-slider {
//        padding: 0;
//    }
//}
@media only screen and (max-width: 768px){
    .special-care {
        padding: 0;
        .bg {
            height: 280px;
        }
        .text-area {
            width: 100%;margin-left: -50%;padding: 0 10px;font-size: 12px;letter-spacing: -1px;
            h3 {
                img {
                    width: 230px;
                }
            }
            .more {
                margin-top: 15px;
            }
        }
    }
}
@media only screen and (max-width: 480px){
    .special-care {
        padding: 0;
        .bg {
            height: 280px;
            img{
                width: 260%;
                margin: -13px 0 0 -145%;
            }
        }
    }
}

.main-beautytip {
    position: relative;overflow: hidden;width: 100%;max-width: 1920px;height: 480px;margin: 0 auto;background: #fff;z-index: 10;overflow: hidden;
    .bg {
        display: block;
        img {
            width: 100%;vertical-align: top;transform:translateY(0px) translateZ(0px);transition:transform 1s ease-in-out;
        }
    }
    .title {
        position: absolute;bottom: 66%;left: 47%;width: 50%;text-align: center;font-size: 32px;font-family: $Roboto-Black;color: #222;
    }
    .desc {
        position: absolute;top: 34%;left: 47%;width: 50%;text-align: center;font-size: 16px;color: #222;
        a {
            color: $brand-color;text-decoration: underline;
        }
    }
    .pc-list-img{
        margin: 10px 0;
        li{
            display: inline-block;
            width: 100px;
            height: 100px;
            box-sizing: border-box;
            background: white;
            border-radius: 50%;
            position: relative;
            margin: 0 10px;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            &:hover{
                &:after{
                    background-color: black;
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    opacity: 0.6;
                }
                a{
                    position: absolute;
                    top: 40%;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: underline;
                    color: white;
                    font-family: $Roboto-Medium;
                    z-index: 1;
                    font-size: 13px;
                    display: block;
                }
            }
            a{
                display: none;
            }
            img{
                height: 100px;
            }
        }
    }
}
@media only screen and (max-width: 1280px){
    .main-beautytip {
        height: 400px;
        .bg {
            img {
                margin-top: 40px;
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .main-beautytip {
        height: 350px;
        .bg {
            overflow: hidden;
            img {
                width: 120%;margin-left: -10%;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .special-care{
        padding: 20px 0 0;
    }
    .main-beautytip {
        padding: 20px 0 0;
        .bg {
            overflow: hidden;
            img {
                width: 180%;margin: 50px 0 0 -40%;
            }
        }
        .title {
            left: 37%;width: 60%;
            img {
                width: 170px;
            }
        }
        .desc {
            left: 37%;width: 60%;font-size: 13px;
        }
        .pc-list-img{
            margin: 10px 0;
            li{
                width: 50px;
                height: 50px;
                img{
                    height: 50px;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px){
    .main-beautytip {
        height: 300px;padding: 0;
        .bg {
            overflow: hidden;
            img {
                width: 200%;margin: 15px 0 0 -50%;
            }
        }
        .desc{
            font-size: 8px;
        }
        .btn-type{
            font-size: 7px;
        }
        .pc-list-img{
            li{
                margin: 0 5px;
            }
        }
    }
}

.main-instagram {
    position: relative;overflow: hidden;width: 100%;max-width: 1920px;margin: 0 auto;padding: 100px 40px 0;background: #fff;z-index: 10;
    .title-area {
        position: relative;text-align: center;
        p {
            font-size: 16px;
            .bar {
                display: inline-block;margin: 0 7px;vertical-align: 2px;font-size: 16px;color: #666;
            }
            .ico-button {
                padding: 0 10px;font-family: $Roboto-Medium;font-size: 14px;
            }
            &.copy {
                position: absolute;right: 0;bottom: 0;font-style: italic;
                color: $mid-grey;
                em {
                    font-style: italic;font-size: 18px;color: $default-color;
                }
            }
        }
    }
    .insta-wrap {
        margin: 40px auto 0;
        ul {
            margin: 0 auto;transition-duration: 0.4s;
            &:after {
                content: '';display: block;clear: both;
            }
            li {
                display: inline-block;position: relative;overflow: hidden;float: left;width: 215px;margin: 0 7px 14px;
                a {
                    display: block;
                }
                .con {
                    position: absolute;top: 0;left: 0;width: 100%;height: 100%;line-height: 2.3;padding: 20px;color: #fff;font-size: 14px;background: url(../images/common/bg_cover.png) repeat;opacity: 0;
                    em {
                        display: block;position: absolute;bottom: 20px;left: 0;width: 100%;padding: 0 20px;line-height: 21px;font-size: 14px;font-style: italic;color: #fff;background: url(../images/tmp/ico_insta.png) no-repeat 180px center;
                    }
                    @include single-transition(all, 0.4s);
                }
                img {
                    width: 100%;vertical-align: top;
                }
                &:hover {
                    .con {
                        line-height: 1.7;opacity: 1;
                    }
                }
            }
        }
        .more {
            margin-top: 30px;text-align: center;
        }
    }
}
@media only screen and (max-width: 1024px){
    .main-instagram {
        padding: 100px 40px 0;
        .title-area {
            .logo {
                img {
                    width: 200px;
                }
            }
            p {
                font-size: 14px;
                .txt {
                    display: block;
                }
                .ico-button {
                    margin-top: 10px;text-align: center;
                    .bar {
                        display: none;
                    }
                }
                &.copy {
                    display: none;
                }
            }
        }
        .insta-wrap {
            ul {
                li {
                    width: 215px;
                    &:hover {
                        .con {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .main-instagram {
        padding: 70px 20px 0;
        .title-area {
            .logo {
                img {
                    width: 140px;
                }
            }
            p {
                font-size: 13px;
            }
        }
        .insta-wrap {
            ul {
                li {
                    width: 150px;
                }
            }
        }
    }
}
@media only screen and (max-width: 480px){
    .main-best-seller {
        .product-status {
            min-height: 0;
        }
    }
    .main-instagram {
        padding: 30px 10px 0;
        .title-area {
            p {
                font-size: 12px;
            }
        }
        .insta-wrap {
            ul {
                li {
                    width: 31.3%;margin: 0 1% 1%;
                }
            }
        }
    }
}
.main-video {
    position: relative;overflow: hidden;margin: 0 auto;background: #fff;z-index: 9;
    .bg {
        display: block;width: 100%;
        img {
            width: 100%;vertical-align: top;
        }
    }
    .video-area {
        position: fixed;top: 0;left: 0;width: 100%;height: 100%;text-align: center;z-index: 0;
        video {
            min-width: 100%;max-width: 1920px;min-height: 100%;
        }
    }
    .title {
        position: absolute;top: 0;left: 0;width: 100%;height: 100%;
        .txt {
            position: absolute;top: 45%;left: 0;width: 100%;text-align: center;
        }
    }
}
@media only screen and (max-width: 1024px){
    .main-video {
        .bg {
            img {
                width: 100%;
                vertical-align: top;
            }
        }
        .video-area {
            display: none;
        }
        .title {
            background: url(../images/main/img_video.jpg) no-repeat center;background-size: cover;
            .txt {
                position: absolute;top: 45%;left: 0;width: 100%;text-align: center;
            }
            // display: none;
        }
    }
}
@media only screen and (max-width: 768px){
    .pt_product-search-noresult {
        .main-best-seller {
            .product-status {
                min-height: 40px;
            }
        }
    }
    .main-video {
        .title {
            .txt {
                img {
                    width: 300px;
                }
            }
        }
    }
}

.story-wrap {
    overflow: hidden;position: fixed;bottom: 20px;left: 20px;width: 309px;height: 195px;border-radius: 4px;box-shadow: 3px 8px 24px -4px #000;opacity: 1;z-index: 12;transition-delay: .3s;transition-duration: .3s;
    .btn-close {
        position: absolute;top: 0;right: 0;
    }
    &.hide {
        width: 0;height: 0;opacity: 0;transition-delay: 0s;
    }
}

@keyframes scrollDown {
  from {bottom: 20px;}
  to {bottom: 17px;}
}
.story-layer {
    overflow: hidden;position: fixed;bottom: 0;left: 0;width: 0;height: 0;z-index: 13;transition-duration: .5s;transition-delay: .1s;
    .slider {
        position: absolute;top: 0;left: 0;width: 100%;height: 100%;
        @include single-transition(top, 0.5s);
        .slide {
            position: relative;width: 100%;height: 100%;background-size: cover !important;
            .logo {
                position: absolute;top: 30px;left: 50%;width: 200px;height: 47px;margin-left: -100px;
            }
            .t {
                position: absolute;top: 60%;left: 50%;width: 964px;height: 279px;margin: -120px 0 0 -482px;opacity: 0;transition-delay: .3s;transition-duration: .5s;
                // @include single-transition(all, 0.5s);
            }
            .down {
                position: absolute;bottom: 20px;left: 50%;width: 84px;height: 70px;margin-left: -42px;animation: scrollDown 1s infinite;
            }
            &.s01 {
                .t {
                    width: 937px;height: 207px;margin: 100px 0 0 -469px;
                }
            }
            &.active {
                .t {
                    top: 50%;opacity: 1;
                }
            }
        }
        &.s0 {
            top: 0%;
        }
        &.s1 {
            top: -100%;
        }

        .paging {
            position: absolute;top: 50%;left: 20px;width: 12px;
            > a {
                display: inline-block;width: 12px;height: 12px;border-radius: 50%;background: #848687;
                &.active {
                    background: $green;
                }
            }
        }
    }
    .layer-close {
        position: absolute;top: 20px;right: 20px;
    }
    &.active {
        width: 100%;height: 100%;transition-delay: .2s;
    }
}

.home-popup {
    .ui-dialog-content {
        padding: 0;
    }
    .popup-content {
        background-repeat: repeat;
        padding: 60px 0 90px;
    }
    h4 {
        display: inline-block;
        margin: 0 auto 10px;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        padding: 5px 0;
        font-size: 15px;
        color: $black;
        text-transform: uppercase;
    }
    h3 {
        text-transform: capitalize;
        font-size: 44px;
        margin: 0 0 55px;
        color: $black;
        font-family: $PD-Black;
    }
    img {
        max-width: 60%;
        margin-bottom: 55px;
    }
    p {
        font-size: 18px;
        margin: 0 0 5px;
    }
    .dont_show_field {
        background: $gainsboro;
        position: absolute;
        padding: 9px 14px;
        font-weight: normal;
        font-size: 14px;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: left;
        z-index: 10;
        text-transform: uppercase;
        label {
            margin-bottom: 0;
            padding-left: 2em;
            font-size: 14px;
            line-height: 1.5;
            height: auto;
            span {
                vertical-align: middle;
            }
            &:before {
                height: 1.5em;
                width: 1.5em;
                background: $white;
            }
        }
        input[type="checkbox"]:checked + label:after {
            top: 0.4em;
            left: 0.4em;
            height: 0.7em;
            width: 0.7em;
        }
    }
    @include respond-to('small') {
        &.ui-dialog {
            max-width: 86%;
        }
        &.ui-dialog .ui-dialog-content {
            padding: 0;
        }
        h4 {
            font-size: 10px;
        }
        h3 {
            font-size: 26px;
        }
        .popup-content {
            padding: 35px 0 60px;
        }
        p {
            font-size: 11px;
            margin-bottom: 2px;
        }
        img {
            margin-bottom: 20px;
        }
        .dont_show_field label {
            font-size: 11px;
        }
    }
}
