@include respond-to('xmedium') {
    .login-show {
        .container {
            padding: 40px 30px;
        }
    }
}
@include respond-to('small') {
    .login-rememberme {
        .select-type {
            .checkbox-group {
                label.checkbox {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }
    .provide-pass-account {
        .provide-pass-sucessfull {
            border-bottom: 1px solid $dark-gray;
            margin-bottom: 10px;
            .close-popup-provide-pass-account {
                bottom: 0;
            }
        }
        .ui-dialog-content {
            padding: 50px 0px 40px;
        }
        .ui-dialog-titlebar {
            display: none;
        }
        .close-popup-provide-pass-account {
            position: absolute;
            display: block;
            bottom: -40px;
            left: 40%;
            transform: translateX(-50%);
            color: #000;
            right: auto;
            top: auto;
            z-index: 99;
            opacity: 1;
            width: 100%;
            padding-left: 50px;
            .ui-icon-closethick {
                background: url(../images/icon/close-popup.png) center bottom no-repeat;
                width: 100%;
                height: 15px;
            }
            .ui-button-text {
                color: $nero;
                font-size: 16px;
                font-family: $Roboto-Bold;
                text-indent: inherit;
                text-transform: uppercase;
                margin-left: 20px;
            }
        }
        .provide-pass {
            &:before {
                height: 1px;
                width: 100%;
                position: absolute;
                content: "";
                bottom: 0;
                right: 0;
                left: 0;
                background: $dark-gray;
                margin-bottom: 8px;
            }
            position: relative;
            padding-bottom: 0;
            p {
                padding: 0px 10px;
            }
        }
    }
    .login-show {
        .col-1 {
            border: none;
            padding: 0;
        }
        .login-create-account {
            .membership {
                overflow: hidden;
                margin-bottom: 30px;
            }
        }
    }
}
@include respond-to('small-ipad') {
    .login-show {
        padding: 100px 0px 50px;
        .column {
            border: none;
            margin-bottom: 30px;
            padding: 0;
            width: 100%;
            .login-account .form-row-button .password-reset {
                margin: .5rem 0px;
            }
        }
    }
}
@include respond-to('xsmall-iphone') {
    .pt_account {
        .login-show {
            .login-account {
                .form-row {
                    margin-left: 0;
                    #dwfrm_login_rememberme {
                        display: none;
                    }
                    .checkbox-group {
                        label {
                            font-size: 12px;
                        }
                    }
                }
                .form-row-button {
                    .password-reset {
                        font-size: 12px;
                    }
                }
                .social-login li {
                    width: 48%;
                    margin-left: 4%;
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        padding: 0px 12px;
                        font-size: 11px;
                        min-width: auto;
                    }
                }
            }
        }
    }
    .pt_login_page {
        .setnewpassword {
            h1 {
                font-size: 26px;
            }
        }
    }
}