.pt_login_page {
    .setnewpassword {
        padding: 200px 0px;
        text-align: center;
        h2.title-device-mobile {
            display: none;
        } 
        h1 {
            font-size: 32px;
            color: $nero;
            font-family: $Roboto-Bold;
            text-transform: uppercase;
            font-style: normal;
        }
        p {
            color: $green;
            font-size: 16px;
        }
    }
    #main {
        margin-top: 0;
    }
    footer {
        margin-top: 0;
    }
}
.pt_cart {
    .checkoutlogin {
        width: auto;
        .wrap-column .col-2 .cart-right .wrap-cart-content .terms-condition {
            padding-bottom: 20px;
            padding-top: 12px;
        }
        .wrap-cart-content {
            .cart-coupon-code input {
                width: 69%;
            }
        }
    }
}
.pt_checkout {
    #main {
        .onepage-checkout {
            .primary-content {
                .checkoutWrapper {
                    .spDetail {
                        .payment-method-expanded {
                            .error {
                                background: none;
                                margin-bottom: 10px;
                            }
                            label.error {
                                color: $red;
                            }
                        }
                    }
                }
                .checkoutlogin {
                    .wrap-column {
                        .wrap-login-box {
                            padding: 45px 115px 60px;
                            border: 1px solid $border-gray-first;
                            .returning-customers {
                                p {
                                    color: $default-color;
                                    font-size: 14px;
                                }
                            }
                            .login-box-content.returning-customers {
                                padding: 0;
                                margin: 0;
                            }
                            .login-box-content.returning-customers:before {
                                background: none;
                            }
                            h2 {
                                color: $nero;
                                font-size: 16px;
                                font-family: $Roboto-Bold;
                                margin-bottom: 10px;
                            }
                            .returning-customers form .form-row {
                                label {
                                    font-weight: 300;
                                }
                                label[for="dwfrm_login_rememberme"] {
                                    span {
                                        color: $default-color;
                                        font-size: 14px;
                                    }
                                }
                            }
                            .login-box-content {
                                position: relative;
                                padding-bottom: 40px;
                                margin-bottom: 42px;
                                &:before {
                                    content: "";
                                    width: calc(100% + 232px);
                                    height: 1px;
                                    background: $border-gray-first;
                                    position: absolute;
                                    bottom: 0;
                                    left: calc(0% - 116px);
                                }
                                .guest-checkout {
                                    .form-row {
                                        label.email .required-indicator {
                                            display: none;
                                        }
                                    }
                                }
                                .note {
                                    margin-top: 10px;
                                    padding-left: 27px;
                                    font-size: 13px;
                                    color: $default-color;
                                    background: url(../images/icon/ico_note.png) no-repeat left 0px;
                                    margin-bottom: 20px;
                                    word-break: break-word;
                                    width: 42em;
                                }
                                .dialog-required {
                                    display: block;
                                    width: 100%;
                                    text-align: right;
                                    padding: 0;
                                    em {
                                        font-size: 14px;
                                        color: $default-color;
                                    }
                                }
                                form {
                                    .form-row {
                                        p.error_message {
                                            padding-top: 10px;
                                            color: $red;
                                        }
                                        margin-top: 10px;
                                        .button-login {
                                            width: 100%;
                                            display: block;
                                            margin-bottom: 16px;
                                        }
                                        .password-reset {
                                            font-size: 14px;
                                            float: right;
                                            text-transform: uppercase;
                                            text-decoration: underline;
                                        }
                                        .field-wrapper {
                                            .input-text {
                                                height: 50px;
                                                margin-top: 0px;
                                            }
                                        }
                                        &.continute-btn {
                                            display: inline-block;
                                            width: 49%;
                                            margin-top: 20px;
                                            margin-bottom: 20px;
                                            .btn-type {
                                                width: 100%;
                                            }
                                        }
                                        &.create-btn {
                                            margin-top: 20px;
                                            margin-bottom: 20px;
                                        }
                                        &.login-rememberme {
                                            margin-top: 0;
                                            .field-wrapper {
                                                margin-top: 0;
                                            }
                                        }
                                        .button-sigin {
                                            max-width: 100%;
                                        }
                                    }
                                    label {
                                        font-size: 14px;
                                        font-weight: 600;
                                        color: $nero;
                                        margin-bottom: 16px;
                                    }
                                }
                                .form-creat-account {
                                    position: absolute;
                                    bottom: 40px;
                                    right: 0;
                                    width: 49%;
                                    .form-row-button {
                                        margin-top: 30px;
                                        button.btn-type {
                                            width: 100%;
                                            margin-left: 0;
                                        }
                                    }
                                }
                            }
                            .or-login {
                                position: relative;
                                overflow: hidden;
                                margin-bottom: 20px;
                                p {
                                    margin: 0;
                                    text-align: center;
                                    color: $nobel;
                                    font-size: 14px;
                                    font-family: $Roboto-Regular;
                                    position: relative;
                                    text-transform: uppercase;
                                    &:before {
                                        content: "";
                                        display: block;
                                        width: 45%;
                                        height: 1px;
                                        background: $gainsboro;
                                        position: absolute;
                                        left: 0;
                                        top: 49%;
                                        transform: translateY(-50%);
                                    }
                                    &:after {
                                        content: "";
                                        display: block;
                                        width: 45%;
                                        height: 1px;
                                        background: $gainsboro;
                                        position: absolute;
                                        right: 0;
                                        top: 49%;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                        }
                        .social-login {
                            .wrap-facebook {
                                width: 49%;
                                margin-right: 1%;
                                border: none;
                                float: left;
                                a {
                                    background: $blue-heavy;
                                    display: block;
                                    font-size: 14px;
                                    font-family: $Roboto-Regular;
                                    color: $white;
                                    text-transform: uppercase;
                                    border: none;
                                }
                                input {
                                    background: none;
                                    border: none;
                                    color: $white;
                                }
                            }
                            .wrap-google {
                                width: 49%;
                                color: $white;
                                border: none;
                                float: right;
                                a {
                                    background: $red-light;
                                    display: block;
                                    font-size: 14px;
                                    color: $white;
                                    text-transform: uppercase;
                                    border: none;
                                    font-family: $Roboto-Regular;
                                }
                                input {
                                    background: none;
                                    border: none;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
            #secondary {
                display: block;
            }
        }
    }
}
.login-box {
    h3 {
        margin: 0;
    }
    p {
        margin: 1em 0;
    }
    .error {
        margin-left: 0;
    }
}
.bottom-wrapper {
    @extend %clearfix;
}
.login-rememberme {
    float: left;
    vertical-align: text-top;
    margin: 0;
    .field-wrapper {
        margin: 0;
        .checkbox-group {
            vertical-align: top;
            display: inline-block;
            .input-checkbox {
                display: none;
            }
        }
    }
}
.login-oauth p:first-child {
    font-size: 2em;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
#OAuthProvider {
    display: block;
    margin-bottom: 1em;
    width: 80%;
}
.social-login {
    ul {
        display: inline-block;
        width: 100%;
        li {
            width: 50%;
            a {
                color: $white;
            }
        }
    }
}
.provide-pass-account {
    .close-popup-provide-pass-account {
        display: none;
    }
}
.popup-login {
    display: none;
    position: relative;
    z-index: 99;
    .login-oauth {
        position: fixed;
        width: 100%;
        height: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .3);
        left: 0;
        top: 0;
        .login-content {
            width: 712px;
            height: auto;
            background: $white;
            position: relative;
            padding: 60px;
            .login-content-description {
                p span {
                    display: block;
                }
            }
            .login-missing-email {
                fieldset {
                    text-align: center;
                    .form-row {
                        text-align: left;
                    }
                }
            }
            .field-wrapper {
                margin-bottom: 20px;
            }
            .input-text {
                height: 50px;
            }
            .form-row.label-inline.required {
                float: left;
            }
            .form-row.label-inline {
                position: relative;
                padding-bottom: 14px;
                margin: 0;
                clear: both;
                .field-wrapper {
                    position: static;
                    span.error, div.error {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            .btn-close.btn-icon {
                background: url(../images/icon/bs_close.png) no-repeat;
                background-position: center center;
                height: 18px;
                width: 18px;
            }
            .wrap-social {
                text-align: center;
                .wrap-form-social {
                    display: inline-block;
                }
            }
            .login-content-description {
                label {
                    margin-bottom: 10px;
                }
                label[for="dwfrm_oauthlogin_isAcceptRewardProgram"] {
                    span {
                        color: $default-color;
                        font-size: 14px;
                        .required-indicator {
                            font-size: 22px;
                            padding: 0px 4px;
                            color: $red;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
                h2 {
                    color: $nero;
                    font-size: 32px;
                    font-family: $Roboto-Regular;
                    margin-bottom: 25px;
                    text-align: center;
                }
                p {
                    color: $green;
                    font-size: 16px;
                    margin-bottom: 20px;
                }
                ul {
                    margin-bottom: 20px;
                    margin-left: 16px;
                    li {
                        list-style-type: initial;
                        color: $dim-gray;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                }
            }
            .btn-close.btn-icon {
                position: absolute;
                top: 20px;
                right: 20px;
            }
            h1 {
                display: inline-block;
                width: 100%;
            }
        }
        .socials-login {
            .form-row {
                label {
                    span {
                        color: $default-color;
                        font-size: 14px;
                        font-family: $Roboto-Light;
                    }
                    .required-indicator {
                        font-size: 22px;
                        padding: 0px 4px;
                        display: inline-block;
                        vertical-align: middle;
                        color: $red;
                    }
                }
            }
            .privacy {
                font-size: 14px;
                color: $dim-gray;
                line-height: 24px;
                font-family: $Roboto-Light;
                a {
                    color: $nero;
                    font-size: 14px;
                    text-decoration: underline;
                    font-family: $Roboto-Regular;
                    cursor: pointer;
                }
            }
            .form-indent {
                margin-left: 0;
            }
            input[type="submit"] {
                display: block;
            }
        }
    }
}
.pt_account {
    .login-show {
        .returning-customers {
            p.error_message {
                color: $red;
            }
        }
        .or-login {
            position: relative;
        }
        .social-login {
            .wrap-facebook {
                a {
                    background: $blue-heavy;
                    display: block;
                    font-family: $Roboto-Bold;
                    font-size: 14px;
                    color: $white;
                    text-transform: uppercase;
                    border: none;
                }
            }
            .wrap-google {
                a {
                    background: $red-light;
                    display: block;
                    font-family: $Roboto-Bold;
                    font-size: 14px;
                    color: $white;
                    text-transform: uppercase;
                    border: none;
                }
            }
        }
    }
}
.pt_cart,
.pt_checkout {
    .wrap-column {
        border-right: none;
        margin: 20px 0;
        .social-login {
            border: none;
        }
    }
    .login-account {
        .login-rememberme {
            margin-top: 0;
            text-transform: uppercase;
            color: $default-color;
            .checkbox-group {
                #dwfrm_login_rememberme {
                    display: none;
                }
                label {
                    display: inline-block;
                }
            }
        }
        .form-row-button {
            .button-sigin {
                width: 100%;
                max-width: 100%;
                height: 50px;
                margin-bottom: 36px;
                margin-top: 20px;
                font-size: 16px;
                font-family: inherit;
            }
        }
    }
    .login-show {
        background: none;
        padding: 0;
        margin-top: 88px;
        position: relative;
        &:before {
            position: absolute;
            left: -21.3%;
            width: calc(100% + 42.9%);
            content: "";
            top: -43px;
            height: 1px;
            background: $border-gray-first;
        }
        .login-account {
            .form-row-button {
                .button-sigin {
                    margin-bottom: 36px;
                    margin-top: 28px;
                }
            }
            p {
                color: $red;
            }
            .login-box-content {
                .form-row {
                    margin-top: 0;
                    margin-bottom: 6px;
                }
            }
            .required-indicator {
                float: right;
                em {
                    color: $dim-gray;
                    font-size: 14px;
                }
            }
        }
    }
}
.reset-password {
    .ui-dialog-titlebar-close {
        right: 12px;
        top: 12px;
        z-index: 3;
    }
    .dialog-content {
        .request-resetpassword-des {
            span {
                margin-bottom: 30px;
                color: $default-color;
                display: block;
                line-height: 26px;
            }
        }
        .reset-form-pass {
            label.text {
                display: none;
            }
        }
        #PasswordResetForm {
            p.error_message {
                color: $red;
                text-align: left;
            }
        }
    }
}