@include respond-to('small') {
    .membership-program .membership-advantages {
        ul li {
            float: none;
            width: 100%;
            text-align: left;
            position: relative;
            margin-left: 0;
            &:first-child {
                border-bottom: 1px solid $gainsboro;
                padding-bottom: 30px;
                margin-bottom: 30px;
            }
            .membership-advantages-left {
                h1 {
                    font-family: $Roboto-Bold;
                    word-wrap: break-word;
                    width: 4em;
                }
                &:before {
                    background: none;
                }
                p {
                    position: absolute;
                    right: 0;
                    top: 0;
                    span {
                        position: relative;
                        &:before {
                            position: absolute;
                            left: -10px;
                            content: "-";
                            top: 0;
                        }
                    }
                }
                .chevro-up:before,
                .chevro-up:after {
                    bottom: -52px;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    transition: all 1s;
                    z-index: 12;
                    transform: rotate(180deg);
                }
                .chevro-up {
                    position: relative;
                    &:before {
                        border-color: rgba(221, 48, 13, 0);
                        border-bottom-color: $gainsboro;
                        border-width: 11px;
                        margin-left: -18px;
                    }
                    &:after {
                        border-color: rgba(128, 241, 203, 0);
                        border-bottom-color: $white;
                        border-width: 14px;
                        margin-left: -21px;
                    }
                }
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .membership-program {
        .content-statistical .wrap-item .item {
            float: none;
            width: 100%;
            p {
                position: static;
            }
            &:before {
                background: none;
            }
            .item-points-des {
                padding: 20px 0;
            }
        }
        .membership-advantages ul li .membership-advantages-left {
            p {
                width: 60%;
                span {
                    padding-left: 10px;
                    &:before {
                        left: 0;
                    }
                }
            }
            h1 {
                word-wrap: break-word;
                width: 4em;
                color: $orange-light;
                font-size: 30px;
                span {
                    font-size: 18px;
                }
            }
        }
        .membership-advantages ul li .membership-advantages-right {
            h1 {
                color: $green;
                span {
                    margin-top: 10px;
                    display: block;
                }
            }
        }
    }
}