.membership-program {
    .membership-discount {
        text-align: center;
        font-size: 21px;
        font-family: $Roboto-Bold;
        text-transform: uppercase;
        margin-bottom: 32px;
        span {
            color: $green;
        }
    }
    .content-statistical {
        background: url(../images/tmp/bgaccount.jpg) no-repeat;
        padding: 20px;
        background-size: cover;
        border-radius: 2px;
        margin-bottom: 54px;
        .wrap-item {
            background: $white;
            padding: 46px 0;
            .item {
                float: left;
                width: 49%;
                margin-left: 2%;
                text-align: center;
                position: relative;
                .level-required p {
                    color: $nobel;
                    font-size: 14px;
                    font-family: $Roboto-Regular;
                }
                .item-points-des {
                    padding: 60px 0;
                    .title-account {
                        margin-bottom: 26px;
                    }
                    h3 {
                        color: $green;
                        font-size: 42px;
                        font-family: $Roboto-Bold;
                        span {
                            color: $nobel;
                            font-size: 16px;
                            font-family: $Roboto-Regular;
                            margin-left: 10px;
                        }
                    }
                }
                &:first-child {
                    margin-left: 0;
                }
                .title-account {
                    border: none;
                    padding: 0;
                    margin-bottom: 12px;
                }
                h1 {
                    font-size: 40px;
                    color: $green;
                    font-family: $Roboto-Bold;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
            }
            .level {
                p {
                    color: $nero;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 600;
                    span.available {
                        color: $green;
                        font-family: $Roboto-Bold;
                        font-size: 14px;
                    }
                    span {
                        color: $nobel;
                        font-weight: normal;
                    }
                }
                &:before {
                    width: 1px;
                    background: $gainsboro;
                    position: absolute;
                    right: -2%;
                    height: 236px;
                    content: "";
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                }
                .level-required {
                    color: $nobel;
                    font-size: 14px;
                    margin-bottom: 10px;
                    span {
                        font-family: $Roboto-Bold;
                        color: $nero;
                    }
                }
            }
        }
    }
    .membership-advantages {
        h3.title-account {
            margin-bottom: 40px;
        }
        ul {
            li {
                float: left;
                width: 49%;
                margin-left: 2%;
                text-align: center;
                &:first-child {
                    margin-left: 0;
                }
                .membership-advantages-left {
                    position: relative;
                    h1 {
                        font-size: 40px;
                        color: $green;
                        font-family: $Roboto-Bold;
                        span {
                            font-size: 40px;
                            line-height: 34px;
                            font-family: $Roboto-Bold;
                            display: block;
                        }
                    }
                    &:before {
                        width: 1px;
                        background: $gainsboro;
                        position: absolute;
                        right: -2%;
                        height: 160%;
                        content: "";
                        top: 0;
                        bottom: 0;
                    }
                    span {
                        display: block;
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                }
                .membership-advantages-right {
                    &:before {
                        background: none;
                    }
                    h1 {
                        color: $orange-light;
                    }
                }
            }
        }
    }
}