@media only screen and (max-width: 1024px){
	#m-header {
		display: block;
		z-index: 18;
		.util{
			p.search {
				float: none;
				display: inline-block;
			}
			.mini-cart {
					display: inline-block;
					width: 35px;
					height: 40px;
					background: url(../images/common/ico_basket.gif) no-repeat center;
					background-size: 18px;
				.count {
					display: inline-block;
					width: 15px;
					height: 15px;
					text-align: center;
					font-size: 11px;
					color: #fff;
					border-radius: 50%;
					background: $green;
				}
			}
		}
	}
	.mini-cart-content {
		max-width: 300px;
		top: 40px;
		.minicart-empty{
			.box-infos{
				&.signin{
					p{
						padding: 0;
					}
				}
			}
		}
		.mini-cart-name{
			a{
				display: block;
				padding-right: 20px;
			}
		}
	}
}