
.mini-cart-total {
	position: absolute;
	top: 0;
	right: 0;
	.mini-cart-link {
		color: $citrus;
		text-transform: uppercase;
		i {
			font-size: 3em;
		}
		.minicart-quantity {
			background-color: $sangria;
			border-radius: 10px;
			color: $white;
			padding: 1px 4px;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
		}
		&.large{
			position: relative;
			top: -5px;
			right: -12px;
			.count{
				width: 25px !important;
				height: 25px;
				line-height: 25px;
			}
		}
	}
}

.mini-cart-total {
	.mini-cart-empty {
		color: $nobel;
		transition: color 500ms ease;
		&:hover {
			color:$citrus;
			text-decoration: none;
		}
		.minicart-quantity {
			background-color: $white;
			border: 1px solid $nobel;
			color: $nobel;
		}
	}
}

.mini-cart-content {
	background-color: $white;
	border: 1px solid $very-light-gray;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	display: none;
	position: absolute;
	right: 5px;
	top: 20px;
	z-index: 1;
	width: 360px;
	padding: 30px 25px;

	.minicart-empty{
		.box-infos{
			padding: 25px 0;
			border-top: 1px solid $gainsboro;
			&:first-child{
				padding-top: 0;
				border: 0;
			}
			p{
				color: $dim-gray;
				font-size: 14px;
			}
			.empty-txt{
				font-size: 16px;
				color: $british-racing-green;
				font-family: $Roboto-Bold;
				text-align: center;
			}
			&.signin{
				text-align: center;
				a {
					font-size: 13px;
					font-family: $Roboto-Bold;
					min-width: 130px;
				}
				p{
					padding: 0 40px;
				}
				.btn-type{
					margin-top: 20px;
				}
			}
			&.p-txt{
				text-align: center;
				a{
					text-transform: none !important;
					color: $dim-gray;
					&:hover{
						color: $green;
					}
				}
			}
			&.ms{
				padding-bottom: 0;
				a{
					text-transform: uppercase !important;
				}
			}
			&.lms{
				padding-bottom: 0;
			}
		}
    }
    &:after{
        content: "";
        position: absolute;
        top: -8px;
        right: 5px;
        background: url(../images/common/greenbag_arr.png) no-repeat center;
        width: 14px;
        height: 8px;
	}
}

.mini-cart-products {
	max-height: 220px;
	overflow: hidden;
	.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
		margin-right: 30px;
	}
	.delete-wrap{
		margin-top: 10px;
	}
}

.mini-cart-product {
	border-bottom: 1px solid $gainsboro;
	overflow: hidden;
	padding: 10px 5px;
	position: relative;
	&:last-of-type {
		border: none;
	}
	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 90%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.mini-cart-name{
		padding-right: 18px;
	}
	.mini-cart-toggle {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.mini-cart-image {
	float: left;
	width: 31%;
	img {
		max-width: 100%;
	}
}

.mini-cart-name {
	float: right;
	width: 69%;
	font-size: 14px;
	color: $nero;
	a{
		text-transform: none !important;
	}
}

.mini-cart-attributes, .mini-cart-product .product-availability-list {
	float: right;
	font-size: 0.9em;
	font-weight: bold;
	width: 69%;
}
.mini-cart-attributes{
	padding: 5px 0;
	.attribute{
		font-size: 13px;
		color: $dim-gray;
		display: inline-block;
		img{
			width: 16px;
			height: 16px;
			border-radius: 50%;
			position: relative;
			top: 3px;
		}
		&.weight{
			padding-right: 15px;
			color: $nobel;
			font-size: 12px;
		}
	}
}
.mini-cart-pricing {
	clear: right;
	float: right;
	font-size: 13px;
	width: 69%;
	.qty,
	.value{
		text-transform: uppercase;
		color: $nobel;
		font-size: 12px;
	}
	.value{
		&:after{
			content: "";
			position: relative;
			height: 10px;
			width: 1px;
			top: 1px;
			background-color: $nobel;
			display: inline-block;
			margin: 0 3px;
		}
	}
	.mini-cart-price{
		color: $nero;
		.price-standard{
			color: $nobel;
			font-weight: 100;
			text-decoration: line-through;
			font-size: 11px;
			margin-right: 3px;
		}
	}
}

.mini-cart-totals {
	text-align: center;
	border-top: 1px solid $nero;
	margin-top: 10px;
	button,
	.button {
		// the following 3 properties height, line-height and overflow
		// are needed to align the 2 buttons
		height: 30px;
		line-height: 1;
		overflow: inherit;
	}
	.checkout{
		width: 100%;
		margin: 15px 0 15px 0;
	}
	.minicart-viewmycart {
		padding-bottom: 15px;
		display: block;
	}
	.prodLimitExceedMessage {
		color: red;
	}
}

.approaching-discounts{
	font-size: 13px;
	color: $dim-gray;
	text-align: left;
	margin-bottom: 20px;
	.no-green{
		color: $green;
		font-family: $Roboto-Medium;
	}
}

.free-shipping-notify{
	padding: 20px;
	text-align: center;
	background: $green;
	color: white;
	width: calc(100% + 50px);
	margin-left: -25px;
	margin-bottom: -30px;
	font-size: 15px;
	font-weight: normal;
	
	.cart-promo {
		margin-bottom: 10px;
		line-height: 22px;
		font-weight: 100;
		&:last-child {
			margin-bottom: 0;
		}
		
		span {
			font-weight: 700;
		}
	}
}

.mini-cart-subtotals {
	@extend .clear;
	padding: 5px 0;
	.label {
		float: left;
		font-size: 14px;
		line-height: 30px;
		text-transform: uppercase;
	}
	.value {
		float: right;
		font-size: 21px;
		font-family: $Roboto-Bold;
		line-height: 30px;
	}
}

.mini-cart-slot {
	background: none repeat scroll 0 0 $gainsboro;
	border: 1px solid $gainsboro;
	font-size: 0.9em;
	font-style: italic;
	margin: 1em 1em;
}

.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 1em 0;
	text-align: center;
}
