.myaccount {
    .field-wrapper {
        padding-left: 0;
        width: 100%;
    }
    label {
        display: block;
        margin-bottom: 10px;
        float: none;
        text-align: left;
        width: 100%;
    }
    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"] {
        height: 40px;
        background: none;
        margin-top: 0;
    }
    .form-row {
        margin-bottom: 0;

        [id$='customer_isAcceptRewardProgram'], [id$='customer_isAcceptTermsAndConditions'], [id$='customer_isOptInNewsleter'] {
            display: none;
        }
    }
    #RegistrationForm {
        .form-row {
            margin-bottom: 0;
            [id$='customer_isAcceptRewardProgram'], [id$='customer_isAcceptTermsAndConditions'], [id$='customer_isOptInNewsleter'] {
                display: block;
                width: 0px;
                height: 1px;
            }
            .privacy-policy-link,
            .terms-link,
            .rewards-program-link {
                color: $nero;
                text-decoration: underline;
                font-family: $Roboto-Regular;
            }
        }
    }
    .form-caption,
    .form-row-button,
    .form-indent {
        margin-left: 0;
    }
    .form-indent {
        .checkbox-group {
            span {
                color: $dim-gray;
                font-size: 14px;
            }
            .required-indicator {
                color: $red;
                font-size: 1rem;
                padding: 0;
            }
        }
    }
    .form-row-button {
        width: 100%;
    }
    h1 {
        font-size: 32px;
        font-family: $Roboto-Bold;
        text-transform: uppercase;
        border-bottom: 1px solid $nero;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .text-basic {
        font-size: 20px;
        font-family: $Roboto-Bold;
        text-transform: uppercase;
    }
    .text,
    .password {
        font-size: 14px;
        color: $nero;
        text-transform: capitalize;
    }
    #RegistrationForm {
        legend {
            display: none;
        }
    }
    .wrap-email {
        .col {
            width: 50%;
            float: left;
            padding-left: 1%;
            box-sizing: border-box;
        }
        .col1 {
            padding-left: 0;
        }
    }
    .wrap-birthday {
        .let-us {
            color: $green;
            font-size: 14px;
            margin-bottom: 24px;
            font-weight: bold;
            font-family: $Roboto-Bold;
        }
        .form-caption {
            display: none;
            &.error-message {
                display: block;
                width: 100%;
                background: none;
                border: none;
                font-size: 14px;
                padding: 5px 0 15px;
            }
        }
        .birthday {
            .form-row {
                float: left;
                width: 33.333%;
                .field-wrapper {
                    padding-left: 1%;
                }
                label {
                    display: none;
                }
            }
        }
    }
}
.account-barcode {
    display: none;
}
.creat-account-page {
    .container {
        background: none;
    }
    .myaccount {
        width: 59%;
        margin: 0 auto;
        background: $white;
        padding: 50px 40px 50px;
        .form-row .form-caption.error-message {
            width: 100%;
        }
        .wrap-birthday {
            .confirm-password {
                label .required-indicator {
                    display: none;
                }
            }

        }
        h1 {
            text-align: center;
            border-bottom: none;
            margin-bottom: 0;
        }
        .form-row-button button {
            width: 100%;
        }
        .description {
            color: $dim-gray;
            font-size: 16px;
            text-align: center;
            margin-bottom: 20px;
        }
        .isaccept-required {
            [id$='customer_isAcceptRewardProgram'] {
                display: none;
            }
            .form-row {
                float: left;
                margin-top: 0;
            }
            .privacy {
                font-size: 14px;
                color: $dim-gray;
                line-height: 24px;
                font-family: $Roboto-Light;
                a {
                    color: $nero;
                    font-size: 14px;
                    text-decoration: underline;
                    font-family: $Roboto-Regular;
                    cursor: pointer;
                }
            }
        }
        .text-panel {
            font-size: 13px;
            color: $dim-gray;
            background: url(../images/icon/ico_note.png) no-repeat 26px 24px;
            margin-bottom: 20px;
            background-color: $darker-gray;
            font-family: $PD-Regular;
            line-height: 26px;
            padding: 20px 30px 30px 56px;
        }
    }
}
.error-message.full-wrap {
    margin-top: 10px;
}
.account-information {
    #RegistrationForm {
        width: 68%;
        .form-row {
            .error-message {
                width: 100%;
            }
        }
        .form-row-button {
            .btn-type {
                min-width: 160px;
            }
        }
    }
    .account-information-birthday {
        .form-row {
            .error-message {
                color: $red;
            }
        }
        label {
            margin-bottom: 0;
            font-size: 14px;
        }
    }
    .form-row.password {
        .field-wrapper {
            margin-bottom: 0;
        }
    }
    .wrap-email {
        margin-bottom: 10px;
    }
    .passwordconfirm {
        margin-bottom: 10px;
    }
    .form-row {
        span {
            color: $nero;
            font-size: 14px;
        }
        .required-indicator {
            color: $red;
        }
    }
}
.confirm-birthday {
    .dialog-content-confirm {
        .before-confirm-description {
            margin-bottom: 30px;
        }
    }
}
.pt_account {
    .page-myaccount-content {
        #account-favorites {
            .fevorites_slider {
                ul li.grid-tile {
                    padding: 2% 1%;
                    .product-name a {
                        color: $nero;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.privacy-temrs-dialog {
    .ui-widget-content {
        overflow-y: auto;
        .con-area-box {
            max-height: 600px;
            max-width: 800px;
            margin-top: 0 !important;
        }
    }
}
