@include respond-to('large') {
    .creat-account-page {
        .myaccount {
            width: 100%;
            .form-row-button button {
                margin-top: 20px;
            }
        }
    }
}
@include respond-to('medium-ipad') {
    .pt_content  {
        &.pt_customerservice {
            .cstm-wrap {
                .cont {
                    .title {
                        margin-top: 0;
                        font-size: 22px;
                        top: 10px;
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }
            }
        }
    }
 
}
@include respond-to('medium') {
    #wrapper {
        .primary-account-content {
            width: 100%;
            border: none;
            padding-left: 0;
        }
    }
    .pt_account {
        .sidebar-left {
            display: none;
        }
    }
}
@include respond-to('small') {
    .pt_account {
        .page-myaccount-content {
            #account-favorites {
                .fevorites_slider {
                    ul li.grid-tile {
                        padding: 0;
                        .product-name a {
                            color: $nero;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .account-information {
        #RegistrationForm {
            width: 100%;
            .form-row-button {
                text-align: center;
            }
            .account-information-birthday {
                margin-bottom: 30px;
            }
        }
    }
    .account-barcode {
        display: block;
        margin-bottom: 50px;
        border-top: 1px solid;
        padding-top: 24px;
        h4 {
            color: $nero;
            font-size: 22px;
            font-family: $Roboto-Bold;
            margin-bottom: 20px;
            text-transform: uppercase;
            text-align: center;
        }
        .wrap-barcode {
            position: relative;
        }
        .barcode-open-dialog {
            position: absolute;
            top: 50%;
            right: 0;
            .button-open-dialog {
                background: url(../images/icon/plug.png) no-repeat;
                height: 34px;
                width: 34px;
                border: none;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .barcode-generate {
        color: $nero;
        font-size: 16px;
        font-family: $Roboto-Bold;
        font-weight: bold;
        text-align: center;
        .account-barcode & {
            padding: 0 35px;
        }
        img {
            max-width: 100%;
        }
        .barcode-text {
            margin-top: -1.8em;
            display: block;
        }
    }
    .barcode-wrap {
        transform: rotate(90deg);
        overflow: inherit;
        .ui-dialog-titlebar-close {
            left: -40px;
            &:focus {
                outline: none;
            }
        }
        .ui-dialog-title {
            display: none;
        }
    }
    .wrap-from-barcode {
        .ajax_content {
            padding: 25px 30px;
        }
        .user-info {
            text-align: left;
            margin-bottom: 35px;
            .user-fullname {
                color: $nobel;
                font-size: 16px;
            }
        }
        .barcode {
            margin-bottom: 50px;
            font-size: 16px;
            font-weight: bold;
            font-family: $Roboto-Bold;
        }
        .wrap-user-point {
            font-family: $Roboto-Bold;
            font-size: 16px;
            color: $nero;
            .user-level {
                float: left;
                text-transform: uppercase;
                color: $green;
            }
            .user-point {
                span {
                    color: $nobel;
                    font-size: 14px;
                }
            }
        }
    }
    .account-order-history {
        table {
            thead {
                display: none;
            }
        }
    }
    .pt_account #main {
        .account-social {
            margin-bottom: 0;
            .item {
                width: 100%;
                float: none;
                margin-left: 0;
                margin-bottom: 70px;
            }
        }
    }
    .privacy-temrs-dialog {
        .ui-widget-content {
            .con-area-box {
                max-height: 400px;
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .pt_account #main #account-orverview .content-statistical {
        .wrap-item {
	        .item {
				float: none;
				width: 100%;
				margin: 0;
				&.level:before {
				    background: transparent;
				}
				.item-points-des {
				    padding: 20px 0;
				}
	        }
        }
    }
    .creat-account-page {
        .myaccount {
            h1 {
                font-size: 20px;
            }
            .form-row-button {
                margin-top: 30px;
                .checkbox-group span {
                    display: block;
                }
            }
        }
    }
    .myaccount {
        .form-row-button {
            .checkbox-group span {
                display: block;
            }
        }
    }
}
@include respond-to('xsmall-galaxy') {
    .account-information {
        #RegistrationForm {
            .form-row-button {
                .btn-type {
                    min-width: 130px;
                }
            }
        }
    }
    .pt_account #main .account-social .connected_with .content ul li {
        margin-left: 1%;
        width: 49%;
        .bg-social {
            margin-right: 10px;
        }
    }
}
@include respond-to('xsmall-iphone') {
    .creat-account-page {
        .myaccount {
            padding: 30px 20px 30px;
            .form-row-button button {
                margin-top: 26px;
            }
        }
    }
    .wrap-from-barcode .ajax_content {
        padding: 10px;
    }
    .pt_account {
        #main {
            .content-statistical {
                padding: 10px;
                .wrap-item .item {
                    padding: 10px 0px;
                    .title-account {
                        margin-bottom: 0;
                    }
                }
            }
			#account-orverview {
			    .content-statistical {
			        padding: 10px;
			        .wrap-item .item .title-account {
			            margin-bottom: 0;
			        }
			    }
			}
        }
    }
}
