#mycuishon-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    .fa {
      color: #0f6037;
    }
    background-color: #fff;
    a{
        display: inline-block;
        cursor: pointer;
        max-width: 100%;
    }
    a:hover{
        text-decoration: none;
    }
    &:after{
            content: '';
            clear: both;
            display: block;
        }
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    width: 66vw;
}
.mycuishon-outer-wrapper{
    background-color: #F7EAE1 !important;
    .primary-image{
    	max-height: 450px;
    }
}
.mc-mobile-wrapper{
        display: none;
    }

#mc-landing-wrapper{
    $heading-text-size: 40px;
 
    #mc-landing-heading {
    font-size: $heading-text-size;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: ($heading-text-size*9)+2;
    }
	#mc-landing-aqua-section,#mc-landing-matte-section{
		width:50%;
		float:left;
        text-align: center;
        .mc-landing-image{
			width:100%;
		}
		ul{
			margin: 0 auto;
    		width: 64%;
		}
		ul li{
			list-style: disc;
			text-align: left; 
		}
        
        .mc-landing-content{
            display: inline-block;
            margin-top: 76%;
		}
        
        .mc-shade-type{
        	font-size: $heading-text-size/2;
        	display: inline-block;
        	margin: 2% 0;
        }
        .mc-goto-page-choose-shade{
        	display:block;
        }
	}
    #mc-landing-aqua-section{
        background: url("../images/BuildMyCompact_AquaFinish_ 1500x1500.jpg") no-repeat;
        background-size: 100%;
        
    }
    #mc-landing-matte-section{
        background: url("../images/BuildMyCompact_MatteFinish_ 1500x1500.jpg") no-repeat;
        background-size: 100%;
    }
	
	
}

.mc-product-header{
    width:50%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    height: 87px;
    border-bottom: 1px solid rgba(15,96,55,.5);
    [id^=mc-header-section]{
        float: left;
        width: 25%;
        text-align: center;
        color: #0f6037;
        img {
            width: 30%;
            display: block;
            margin: 0 auto;
            height: 20px;
        }
        
        &:last-of-type {
            .mc-header-icon{
                border-right: 0px;
            }
            margin-top: 23px;
                
        }
        .mc-header-icon{
            opacity: 0.5;
            margin-top: 25px;
            font-size: 10px;
            border-right: 1px solid rgba(15, 96, 55, 0.5);
        }
        .active{
            opacity: 1.0;
        }
        
        .mc-product-name-header{
            font-size: 10px;
            font-weight: bold;
        }
        
    }
    
}

.mc-product-wrapper{
    text-transform: capitalize;
    [class^=mc-product-container]{
        width: 50%;
        float: left;
        text-align: center;
        
    }
    
    &:after{
            content: '';
            clear: both;
            display: block;
        }
    
    .mc-product-container-left{
        border-right: 1px solid rgba(15, 96, 55, 0.5);
        height: 592px;
        .mc-finish-success-left-img{
            width: 100%;
        }
    }
    
    
    .mc-product-container-right{
        margin-top: 87px;
        .mc-content{
            width: 80%;
            margin: 0 auto;
            .mc-finish-lineitem{
                text-align: justify;
                &:after{
                    content: '';
                    clear: both;
                    display: block;
                }
                
            }
            .mc-finish-lineitem-image,.mc-finish-lineitem-details,.mc-finish-lineitem-remove{
                display: inline-block;
                float: left;
            }
            .mc-finish-lineitem-image{
                width: 20%;
            }
            .mc-finish-lineitem-details{
               width: 75%; 
                .mc-finish-lineitem-unitprice,.mc-finish-lineitem-variation-attribute,.mc-finish-lineitem-quantity,.mc-finish-lineitem-totalprice{
                    display: inline-block;
                    width:49%
                }
                .product-price{
                    display: inline-block;
                }
                .mc-finish-lineitem-name,.mc-finish-lineitem-totalprice{
                    font-weight: bold;
                }
            }
            .mc-start-over{
                i{
                    margin: 0 9px;
                }
            }
            #mc-finish-add-all-to-cart-button{
                margin-top: 2%;
                a{
                    width: 100%;
                }
            }
            
            
            
            
            .connected-carousels{ 
                .stage {
                    margin: 0 auto;
                    position: relative;
                }
            }

            .connected-carousels{
                .navigation {
                    width: 100%;
                    position: relative;
                }
                .carousel {
                    overflow: hidden;
                    position: relative;
                    ul {
                        width: 20000em;
                        position: relative;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                    li {
                        float: left;
                    }
                }
                .carousel-stage {
                    width: 480px;
                    li {
                        width: 480px;
                    }
                }
                .carousel-navigation {
                    height: 100px;
                    
                }
                li {
                    cursor: pointer;
                    div[id^=mc-case-swatches-] {
                        display: block;
                        //border: 5px solid #fff;
                    }
                }
                li.jcarousel-active{
                   img{
                        border: 1px solid;
                        border-radius: 50%;
                    }
                }
                .prev-stage,.next-stage {
                    display: block;
                    position: absolute;
                    top: 0;
                    color: #fff;
                    top: 7px;
                    width: 30px;
                    height: 30px;
                }
                .prev-stage {
                    left: -37px;
                    top: 1px;
                    .jcarousel-inactive {
                        display: none;
                    }
                }
                .next-stage {
                    right: 0;
                    .jcarousel-inactive {
                        display: none;
                    }
                }
                .prev-stage span,.next-stage span {
                    position: absolute;
                    top: 50%;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    background: #4E443C;
                    color: #fff;
                    text-decoration: none;
                    text-shadow: 0 0 1px #000;
                    font: 24px/27px Arial, sans-serif;
                    -webkit-border-radius: 30px;
                       -moz-border-radius: 30px;
                            border-radius: 30px;
                    -webkit-box-shadow: 0 0 2px #999;
                       -moz-box-shadow: 0 0 2px #999;
                            box-shadow: 0 0 2px #999;
                }
                .prev-navigation {
                    left: -15px;
                    top: 22px;
                    text-indent: 6px;
                }
                .next-navigation {
                    right: -15px;
                    top: 22px;
                    text-indent: 20px;
                }
                .prev-navigation.jcarousel-inactive,.next-navigation.jcarousel-inactive {
                    opacity: .5;
                    cursor: default;
                }
            }
            
            
            
            
            
            
            
            
            
            
        }
        .mc-product-title,.mc-product-name{
            text-transform: capitalize;
        }
        
        .mc-product-heading{
            font-size: 37px;
            margin: 2% 0;
            #mc-success-header-static{
                display: inline-block;
            }
            .mc-success-heading-icon{
                width: 60px;
                position: relative;
                bottom: 51px;
            }
        }
        #mc-applicator-header-static{
            font-size: 31px;
        }
        .mc-product-price{
            font-size: 20px;
            font-family: "Roboto Bold";
            margin: 1% auto;
        }
        .mc-product-name{
            border-bottom: 1px solid rgba(211, 211, 211, 1);
            border-top: 1px solid rgba(211, 211, 211, 1);
            margin: 5% auto;
            height: 28px;
            line-height: 28px;
        }
        .mc-product-master-swatches{
            margin: 23px auto;
            width: 94%;
        }
        .mc-product-swatch.active{
            border: 1px solid;
            border-radius: 50%;
            padding: 3px;
        }
        .mc-product-swatch{
            border: 0px solid;
            border-radius: 50%;
            padding: 3px;
            &:hover{
                border: 1px solid;
            }
            width: 40px;
            text-align: justify;
        }
        .mc-product-description{
            text-align: left;
            font-size: 12px;
            color: #AAAAAA;
            width: 94%;
            margin: 0 auto;
        }
        
        
        #mc-success-continue-shopping-button,#mc-success-checkout-button{
            margin: 4% 0;
            a{
                width:80%;
            }
        }
    }
    
    .mc-product-next-button{
        position: absolute;
        left: -9px;
        right: 0px;
        margin-left: auto;
       // margin-right: auto;
        width: 101.55px;
        height: 32px;
        margin-top: 560px;
    }
    .mc-product-previous-button{
        position: absolute;
        left: -9px;
        right: 0px;
       // margin-left: auto;
        margin-right: auto;
        width: 101.55px;
        height: 32px;
        margin-top: 560px;
    }
    .mc-applicator-swatch-image-name{
        float:left;
        width: 33.3%;
        .mc-applicator-swatchanchor{
            .mc-product-swatch{
                width: 100%; 
            }
        }
    }
    .mc-product-master-swatches{
        &:after{
            content: '';
            clear: both;
            display: block;
        }
    }
    
    #mc-case-swatch-carousel{
        width: 100%;
        height:200px;
        background-color: grey;
    }
    #mc-finish-header-static{
        .mc-start-over{
            display: block;
            font-size: 24px;
        }
    }
    .mc-finish-container-detail{
        .mc-content{
            width: 100%;
            .mc-finish-lineitem-shade,.mc-finish-lineitem-applicator,.mc-finish-lineitem-case{
                width: 90%;
                margin: 0 auto;
            }
        }        
    }
    #mc-success-main-content{
        img{
            width:100%;
            height: 261px;
            
        }
    }
}



#mc-page-carousel-vertical{
    max-width: 1200px;
   
//    $elements: 10;
//    @for $i from 0 to $elements {
//      .mc-page-vertical-carousel-list-item:nth-child(#{$i}) {
//        // background: rgb($i, $i, $i);
//          background:darken(yellow, 5*$i);
//      }
//    }
    
}


.mc-page-vertical-carousel-root {
    position: relative;
    width: 100%;
    height: 592px;
    overflow:hidden;
    .mc-page-vertical-carousel-list {
        width: 100%;
        position: relative;
        
    }
    
    .mc-page-vertical-carousel-list-item {
        /* Required only for block elements like <li>'s */
        float: left;
        width: 100%;
        height: 592px;
    }
    
}

#mc-header-section-finish{
    &.active{
        .mc-header-icon {
        opacity: 1;
        }
    }
}
    #mc-finish-footer-subtotal-text{
        display: block;
        float: left;
                 
    }
    #mc-finish-footer-subtotal-value{
        display: block;
        float: right;
        font-weight: bold;
    }

@media only screen and (max-width: 768px){
//    .mc-product-wrapper{
//        .mc-product-container-left{
//            width:0%;
//            height: 0px;
//        }
//        .mc-product-container-right{
//            width: 100%;
//            background-color: #FBF2EB;
//            .mc-content{
//                width:100%;
//                .mc-finish-lineitem{
//                    width: 84%;
//                    .mc-finish-lineitem-remove{
//                        position: relative;
//                        left: 114%;
//                        top: -111px;
//                    }
//                }
//                .mc-finish-lineitem-details{
//                    position: relative;
//                    left: 15%;
//                }
//                .mc-finish-lineitem-image{
//                    img{
//                        height: 16vh
//                    }
//                }
//
//                
//            }
//            .mc-product-heading{
//                font-size: 5.3vh;
//                z-index: 1;
//                position: relative;
//            }
//            .mc-product-name{
//                margin-top: 42%;
//                background-color: #A8804D;
//                border: 0px;
//                z-index: 0;
//                position: relative;
//            }
//        }
//    }
//    #mc-product-header{
//        width: 100%;
//        position: static;
//    }
//    #mc-applicator-product-master-title, #mc-applicator-product-variant-price{
//        display: none;
//    }
//    .product-primary-image{
//        position: absolute;
//        right: 0;
//        left: 0;
//    }
//    .product-thumbnails{
//        display: none;
//        li.thumb{
//            float: left;
//        }
//    }
//    .mc-page-vertical-carousel-root{
//        height: 622px;
//        .mc-page-vertical-carousel-list-item{
//            height: 622px;
//        }
//    }
//    .mc-product-wrapper{
//        .mc-product-next-button{
//            margin-top: 591px;
//        }   
//    }
    .mc-desktop-wrapper{
        display: none;
    }
    .mc-mobile-wrapper{
        display: block
    }
    .mc-product-header{
        width: 100vw;
        max-width: 100vw;
        position: static;
        &:after{
            content: '';
            clear: both;
            display: block;
        }
    
    }
    .mc-page-vertical-carousel-root{
        height: 92vh;
        .mc-page-vertical-carousel-list-item{
            height: 92vh;
        }
    }
    .mc-product-heading-mobile{
        font-size: 7.5vw;
        border-top: 1px solid #0f6037;
        text-align: center;
        z-index: 1;
        position: relative;
    }
    #mc-shade-mobile-image-container{
        height: 33vh;
        margin-bottom: 7vh;
    }
    .mc-mobile-name-price{
        background-color: #A8804D;
        height: 5vh;
        color: #FFFFFF;
        &:after{
            content: '';
            clear: both;
            display: block;
        }
        .mc-mobile-product-name{
            float: left;
            margin-top: 1vh;
            margin-left: 7vw;
        }
        .mc-mobile-product-price{
            float: right;
            margin-top: 1vh;
            margin-right: 7vw;
        }
    }
    
    .mc-product-description-swatch-next-mobile{
        height: 30vh;   
        background-color: #FBF2EB;
    }
    .mc-product-description-swatch-mobile{
        width: 90vw;
        margin: 0 auto;
    }
    .mc-product-wrapper .mc-product-next-button{
        position: absolute;
        left: 1vw;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 66vw;
        height: 5vh;
        margin-top:0vh;
    }
    a.mc-shade-swatchanchor{
        img{
            width: 11vw;
        }
    } 
    .mc-product-description-mobile{
        color:#C09E88;
    }
    .primary-image {
        max-width: 100%;
        margin: 0 auto;
        margin-top: -16vh;
        width: 95vw;
    }
    #mc-shade-product-swatches-mobile{
        img.active{
            border: 1px solid #0f6037;
            border-radius: 50%;
            padding: 1px;
        }
    }
    #mc-mobile-applicator-jcarousel-root {
    position: relative;
    width: 33%;
    overflow:hidden;
    #mc-mobile-applicator-jcarousel-list {
        width: 100%;
        position: relative;
        
        }
    
    .mc-mobile-applicator-jcarousel-list-item {
        /* Required only for block elements like <li>'s */
        float: left;
        width: 33%;
    
        }
    
    }
    #mc-mobile-applicator-jcarousel-root {
        position: relative;
        overflow: hidden;
        width: 300px;
        margin: 0 auto;
        height: 32vh;
    }

    #mc-mobile-applicator-jcarousel-root #mc-mobile-applicator-jcarousel-list {
        width: 20000em;
        position: relative;

        /* Optional, required in this case since it's a <ul> element */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #mc-mobile-applicator-jcarousel-root .mc-mobile-applicator-jcarousel-list-item {
        /* Required only for block elements like <li>'s */
        float: left;
        height: 100px;
        width: 100px;
    }
    #mc-applicator-product-description-swatch-next-mobile{
        a.mc-product-next-button{
            margin-top: 18vh;
        }
    }
    
    
    #mc-mobile-case-jcarousel-root {
    position: relative;
    width: 33%;
    overflow:hidden;
    #mc-mobile-case-jcarousel-list {
        width: 100%;
        position: relative;
        
        }
    
    .mc-mobile-case-jcarousel-list-item {
        /* Required only for block elements like <li>'s */
        float: left;
        width: 33%;
    
        }
    
    }
    #mc-mobile-case-jcarousel-root {
        position: relative;
        overflow: hidden;
        width: 300px;
        margin: 0 auto;
        height: 28vh;
    }

    #mc-mobile-case-jcarousel-root #mc-mobile-case-jcarousel-list {
        width: 20000em;
        position: relative;

        /* Optional, required in this case since it's a <ul> element */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #mc-mobile-case-jcarousel-root .mc-mobile-case-jcarousel-list-item {
        /* Required only for block elements like <li>'s */
        float: left;
        height: 28vh;
        width: 200px;
        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
    
    #mc-case-product-description-swatch-next-mobile{
        .mc-mobile-case-swatches{
            display: none;
        }
        a.mc-product-next-button{
            margin-top: 0vh;
        }
        height: 35vh;
    }
    #mc-mobile-applicator-jcarousel-previous,mc-mobile-applicator-jcarousel-next{
        position: static;
    }
    
    #mc-case-product-all-swatch-mobile{
        height: 30vh;
    }
    
    #mc-finish-container-image{
        display: none;
    }
    #mc-finish-container-detail{
        width: 100%;
        .mc-content{
            width: 100%;
            .mc-product-heading{
                font-size: 8vw;
                background-color: #FBF2EB;
                margin: 0px;
                .mc-start-over{
                    font-size: 6vw;
                    padding-bottom: 3vh;
                    border-bottom: 1px solid grey;
                }
            }
        }
        .mc-finish-lineitem{
            padding: 1vh;
            border-bottom: 1px solid grey;
        }
        .mc-finish-lineitem-image{
            img{
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
    #mc-finish-footer{
        background-color: #FBF2EB;
       
    }
    #mc-finish-add-all-to-cart-button{
        width: 80vw;
        margin: 2vh auto;
    }
    #mc-success-container-image{
        display: none;
    }
    #mc-success-container-detail{
        width:100%;
        .mc-content{
            width: 100%;
            .mc-product-heading{
                margin: 0px;
                background-color: #FBF2EB;
                padding:2vh;
            }
        }
    }
    
    
}