//innisfree_gothicr font

@font-face {
  font-family: 'innisfree_gothicr';
  src: url('../fonts/innisfree_gothic/innisfreegothicr.eot');
  src: url('../fonts/innisfree_gothic/innisfreegothicr.eot?#iefix') format("embedded-opentype"), url('../fonts/innisfree_gothic/innisfreegothicr.woff2') format("woff2"), url('../fonts/innisfree_gothic/innisfreegothicr.woff') format("woff"), url('../fonts/innisfree_gothic/innisfreegothicr.ttf') format("truetype"), url('../fonts/innisfree_gothic/innisfreegothicr.svg#innisfree_gothicr') format("svg");
  font-weight: normal;
  font-style: normal;
}

// New Styel for My cuishon

#main #mycuishon-wrapper {
  width: 100%;
  -webkit-box-shadow: 6px 4px 29px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 29px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 29px -10px rgba(0, 0, 0, 0.75);
}

#mc-landing-wrapper {
  #mc-landing-aqua-section .mc-landing-content, #mc-landing-matte-section .mc-landing-content {
    width: 300px;
    max-width: 100%;
  }
}

#mycuishon-wrapper .mc-product-wrapper {
  .mc-product-next-button, .mc-product-previous-button {
    font-size: 15px;
    border-radius: 5px;
    height: 40px;
    line-height: 38px;
    bottom: 30px;
    margin: 0;
  }
  .mc-product-next-button {
    right: 30px;
    float: right;
    left: auto;
  }
  .mc-product-previous-button {
    left: 30px;
    z-index: 1;
  }
}

.pt_mycuishon#wrapper {
  background-color: #f7eae1;
}

#mycuishon-wrapper {
  #mc-page-carousel-vertical {
    max-width: 100%;
    height: 650px;
  }
  #mc-landing-wrapper {
    #mc-landing-heading {
      color: #6b3f21;
      text-align: center;
      width: 100%;
      font-family: 'innisfree_gothicr';
      top: 20px;
      letter-spacing: 1px;
      font-size: 55px;
    }
    #mc-landing-aqua-section ul, #mc-landing-matte-section ul {
      margin: 0 auto;
      width: 63%;
      font-size: 14px;
      text-align: center;
      margin-left: 50px;
      color: #000;
    }
    #mc-landing-aqua-section .mc-shade-type, #mc-landing-matte-section .mc-shade-type {
      font-size: 30px;
      display: inline-block;
      color: #6b3f21;
      font-weight: 300;
      margin-bottom: 20px;
      margin-top: 25px;
      font-family: 'innisfree_gothicr';
      line-height: 28px;
    }
  }
}

#mc-landing-wrapper a.btn-type.dark.size-m.mc-goto-page-choose-shade {
  font-size: 17px;
  height: 45px;
  padding: 0 15px;
  background: #106037;
  border-color: #106037;
  border-radius: 0;
  max-width: 225px;
  margin: 0 auto;
  line-height: 45px;
  &:hover {
    background: #222;
    border-color: #222;
  }
}

#mc-applicator-product-variant-swatches {
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 15px;
  min-height: 185px;
}

.mc-applicator-swatch-image-name p {
  width: 85px;
  margin: 9px auto 0;
  display: block;
  font-family: 'innisfree_gothicr';
  font-weight: 600;
}

#mycuishon-wrapper .mc-product-wrapper .mc-applicator-swatch-image-name .mc-applicator-swatchanchor .mc-product-swatch {
  margin: 0;
  width: 100%;
}




/* Step 2 */


#mycuishon-wrapper {
  .product-thumbnails {
    padding-right: 0;
    ul {
      padding-top: 10px;
    }
      a.thumbnail-link{
          max-width: 100%
      }
  }
  .mc-product-wrapper .mc-product-container-right .mc-product-heading {
    font-weight: 300;
    font-family: 'innisfree_gothicr';
    color: #000;
    margin-top: 20px;
    font-size: 33px;
  }
}

.mc-product-wrapper .mc-product-container-right {
  .mc-product-name, .mc-product-title {
    font-family: 'innisfree_gothicr';
    font-size: 18px;
  }
}

.mc-product-header [id^=mc-header-section] {
  padding-bottom: 15px;
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-right {
  margin-top: 109px;
  margin-bottom: 37px;
}

.mc-product-wrapper .mc-product-container-right .mc-content .connected-carousels li div[id^=mc-case-swatches-] {
  min-height: 171px;
}

#mycuishon-wrapper {
  .mc-product-header {
    [id^=mc-header-section] img {
      max-height: 25px;
      height: auto;
      margin-bottom: 6px;
      width: 30px;
    }
    height: auto;
  }
  .mc-header-icon a {
    font-size: 16px;
    color: #106037 !important;
    font-weight: 600;
    font-family: 'innisfree_gothicr';
  }
  .mc-product-header [id^=mc-header-section] .mc-product-name-header {
    font-size: 12px;
    font-weight: 700;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.5;
    font-family: 'innisfree_gothicr';
  }
}

.mc-header-icon.active + .mc-product-name-header {
  opacity: 1 !important;
}

#mycuishon-wrapper .mc-product-header [id^=mc-header-section] {
  .mc-header-icon {
    margin-top: 18px;
    font-size: 12px;
    padding-top: 6px;
    border-right: 1px solid rgba(15, 96, 55, 0.5);
    position: relative;
  }
  &:last-of-type {
    margin-top: 10px;
  }
}

.product-price {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  font-family: 'innisfree_gothicr';
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-right {
  .mc-product-name {
    font-family: 'innisfree_gothicr';
    color: #000;
    margin-top: 18px;
    font-size: 18px;
    line-height: 45px;
    height: 45px;
    border-color: #c0c0c0;
    cursor: default;
  }
  .mc-product-description {
    text-align: left;
    font-size: 14px;
    color: #808080;
    width: 94%;
    margin: 0 auto;
    font-weight: 300;
    font-family: 'innisfree_gothicr';
    text-transform: none;
  }
  .mc-product-swatch {
    padding: 4px;
    width: 50px;
    border: 1px solid transparent;
    margin: 0 5px 1px;
    &:hover {
      border-color: #000;
    }
	&.active {
		border-color: #000;
	}
  }
  .mc-content .connected-carousels {
    .carousel-stage {
      width: 100%;
    }
    .next-stage {
      right: 0;
      span {
        background: url(../images/mycuishon/chev.png) no-repeat right top;
        box-shadow: none;
        font-size: 0;
        left: 0;
        top: 10px;
        background-position: right center;
      }
    }
    .prev-stage {
      left: 0;
      top: 18px;
      span {
        background: url(../images/mycuishon/chev.png) no-repeat right top;
        box-shadow: none;
        font-size: 0;
        background-position: 0 center;
        left: 10px;
        top: 0;
      }
    }
    .navigation {
      margin: 20px auto 0;
      width: 100%;
    }
  }
}

.mc-product-wrapper .mc-product-container-right .mc-content .connected-carousels .navigation li img {
  width: 65px;
  height: 65px;
  padding: 4px;
  border: 1px solid transparent;
  margin: 0 4px;
}

#mycuishon-wrapper .mc-product-wrapper {
  .mc-product-container-right .mc-content .connected-carousels li.jcarousel-active img {
    border: 1px solid;
    border-radius: 50%;
  }
  #mc-finish-header-static .mc-start-over {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .mc-product-container-right .mc-content .mc-finish-lineitem-details {
    font-size: 15px;
    padding-top: 7px;
  }
}

.mc-finish-lineitem-remove {
  margin-top: 7px;
}

.mc-finish-lineitem-image img {
  width: 100%;
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-right .mc-content #mc-finish-add-all-to-cart-button {
  margin-top: 10px;
  clear: both;
  float: left;
  width: 100%;
  a {
    width: 100%;
    font-size: 18px;
    height: 50px;
    padding: 8px 15px;
    background: #106037;
    border-color: #106037;
  }
}

.mc-product-wrapper .mc-product-container-right {
  #mc-success-checkout-button a, #mc-success-continue-shopping-button a {
    width: 80%;
    font-size: 18px;
    height: 50px;
    padding: 8px 15px;
    background: #106037;
    border-color: #106037;
  }
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-right .mc-content #mc-finish-add-all-to-cart-button a:hover {
  background: #222;
  border-color: #222;
  color: #fff;
}

.mc-product-wrapper .mc-product-container-right {
  #mc-success-checkout-button a:hover, #mc-success-continue-shopping-button a:hover {
    background: #222;
    border-color: #222;
    color: #fff;
  }
}
#mc-youcam-container{
    width: 50%;
}
#mc-youcam-screen{
    position: absolute;
    width: 49%;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    top: 1%;
    height: 548px;
}

#you-cam-open-close-buttons{
    position: absolute;
    top: 424px;
    z-index: 3;
    width: 50%;
    text-align: center;
}
 
.mc-finish-footer {
  font-size: 18px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

#mycuishon-wrapper #mc-landing-wrapper #mc-landing-matte-section .mc-shade-type {
  font-family: 'innisfree_gothicr';
  font-weight: 600;
}


/* Last Step */

#mycuishon-wrapper .fa {
  color: #0f6037;
  margin-right: 10px;
}

.mc-product-wrapper .mc-product-container-right #mc-success-checkout-button a {
  background: transparent;
  color: #106037;
}

#mycuishon-wrapper #mc-success-wrapper .mc-product-container-right {
  margin-top: 0;
}

.mc-success-main-content {
  a {
    margin-top: 10px;
  }
  margin-top: 10px;
}

#mycuishon-wrapper .mc-finish-lineitem-remove .fa {
  margin-right: 0;
  cursor: pointer;
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-right .mc-content .mc-finish-lineitem-image {
  width: 18%;
}

#mc-finish-header-static {
  margin-top: 10px;
}

#mc-finish-container-detail, #mc-success-container-detail {
  margin-bottom: 0;
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-right .mc-content .mc-finish-lineitem {
  min-height: 90px;
}

#main {
  .mc-page-vertical-carousel-root .mc-page-vertical-carousel-list-item {
    height: auto;
    position: relative;
  }
  #mc-landing-wrapper {
    #mc-landing-aqua-section .mc-landing-content, #mc-landing-matte-section .mc-landing-content {
      margin-bottom: 80px;
    }
  }
}

#mycuishon-wrapper .mc-product-wrapper {
  .mc-product-container-right {
    .mc-content .connected-carousels {
      .carousel-stage {
        height: auto !important;
      }
      .carousel-navigation {
        max-height: 65px;
        width: 442px;
        margin: 0 auto;
      }
    }
    #mc-success-checkout-button, #mc-success-continue-shopping-button {
      margin: 2% 0;
    }
  }
  #mc-success-main-content img {
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.mc-product-wrapper {
  .mc-product-container-right .mc-content .connected-carousels .carousel-stage li {
    max-width: 100%;
  }
  .mc-product-container-left .mc-finish-success-left-img {
    height: auto;
  }
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-left {
  position: relative;
  border-right: 0;
}

.mc-product-wrapper .mc-product-container-left:after {
  content: '';
  border-right: 1px solid rgba(15, 96, 55, 0.5);
  display: inline-block;
  position: absolute;
  right: 0;
  height: 115%;
  top: 0;
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-right .mc-content .mc-finish-lineitem-details {
  .mc-finish-lineitem-quantity, .mc-finish-lineitem-totalprice, .mc-finish-lineitem-unitprice, .mc-finish-lineitem-variation-attribute {
    display: inline-block;
    width: auto;
    float: left;
    margin-right: 10px;
  }
  .mc-finish-lineitem-quantity {
    clear: left;
  }
  .mc-finish-lineitem-variation-attribute {
	font-weight: 700;
		img {
		max-width:12px;
		max-height: 12px;
		overflow: hidden;
		}
	}
}

.mobile-jcarousel img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}



/* iPad in portrait & landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #mycuishon-wrapper .mc-product-wrapper .mc-product-container-right {
    .mc-content .connected-carousels .carousel-stage li {
      width: 400px;
    }
    .mc-product-swatch {
      width: 41px;
    }
  }
  #m-header {
    -webkit-box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.75);
  }
  #mycuishon-wrapper .mc-product-wrapper .mc-product-container-right .mc-content .mc-finish-lineitem {
    min-height: 72px;
  }
}


/* iPhone & mini iPad */
@media only screen and (max-width:768px){
/* Buttons */

#mc-landing-wrapper a.btn-type.dark.size-m.mc-goto-page-choose-shade {
  background: #106037;
  background: -moz-linear-gradient(top, #106037 0%, #0e512c 100%);
  background: -webkit-linear-gradient(top, #106037 0%, #0e512c 100%);
  background: linear-gradient(to bottom, #106037 0%, #0e512c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#106037', endColorstr='#0e512c',GradientType=0 );
  font-size: 14px;
  border-radius: 0;
  padding: 0;
  height: 45px;
  line-height: 45px;
}

#mycuishon-wrapper .mc-product-wrapper {
  .mc-product-next-button, .mc-product-previous-button, .mc-product-container-right .mc-content #mc-finish-add-all-to-cart-button a {
    background: #106037;
    background: -moz-linear-gradient(top, #106037 0%, #0e512c 100%);
    background: -webkit-linear-gradient(top, #106037 0%, #0e512c 100%);
    background: linear-gradient(to bottom, #106037 0%, #0e512c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#106037', endColorstr='#0e512c',GradientType=0 );
    font-size: 14px;
    border-radius: 0;
    padding: 0;
    height: 45px;
    line-height: 45px;
  }
}

.mc-product-wrapper .mc-product-container-right {
  #mc-success-checkout-button a, #mc-success-continue-shopping-button a {
    background: #106037;
    background: -moz-linear-gradient(top, #106037 0%, #0e512c 100%);
    background: -webkit-linear-gradient(top, #106037 0%, #0e512c 100%);
    background: linear-gradient(to bottom, #106037 0%, #0e512c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#106037', endColorstr='#0e512c',GradientType=0 );
    font-size: 14px;
    border-radius: 0;
    padding: 0;
    height: 45px;
    line-height: 45px;
  }
}


/* Intro Section */

#mycuishon-wrapper .mc-product-header, #mc-shade-mobile-image-container {
  background: #fff;
}

#main #mycuishon-wrapper {
  max-width: 100vw;
  box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
}

#main #mc-landing-wrapper {
  #mc-landing-aqua-section .mc-landing-content, #mc-landing-matte-section .mc-landing-content {
    margin-top: 0;
    padding-top: 0;
    height: auto;
    width: 91%;
  }
}

#wrapper footer {
  margin-top: 0;
}

#m-header {
  -webkit-box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.75);
}

#mycuishon-wrapper #mc-landing-wrapper {
  #mc-landing-heading {
    font-size: 30px;
    top: 10px;
  }
  #mc-landing-aqua-section ul, #mc-landing-matte-section ul {
    padding-top: 330px;
  }
}

/* shade Section */

#main {
  .mc-product-heading-mobile {
    border-top: 0;
    position: absolute;
    width: 100%;
    font-family: "Roboto Light";
    margin: 12px auto 0;
    font-size: 28px;
  }
  .mc-mobile-name-price {
    background-color: #a8804e;
    height: auto;
    clear: both;
    line-height: 44px;
    font-family: "Roboto Light";
    font-size: 20px;
	padding: 10px 0;
	img {
	max-width: 21px;
    margin: 3px 0 2px 4vw;
    display: inline-block;
    float: left;
    border: 0;
    border-radius: 50%;
	}
  }
  .product-price {
    font-family: "Roboto Light";
    color: #fff;
    font-size: 20px;
  }
  .mc-mobile-name-price {
    .mc-mobile-product-name {
      max-width: 66vw; 
	  line-height: 24px;    
	  margin-left: 4vw;
      margin-top: 0;
    }
    .mc-mobile-product-price {
      max-width: 25vw; 
	  line-height: 24px; 
	  margin-right: 4vw;
      margin-top: 0;
    }
  }
  .mc-product-description-swatch-next-mobile {
    padding: 5vw 0;
    text-align: center;
    font-family: "Roboto Light";
    height: auto;
    clear: both;
    float: left;
    width: 100%;
  }
  .primary-image {
    width: auto;
    max-height: 100%;
    display: block;
    margin-top: 0;
	max-width: 320px;
  }
  .mc-product-description-mobile {
    color: #6b3f21;
    font-size: 16px;
    margin-bottom: 5vw;
    text-transform: none;
  }
  a.mc-shade-swatchanchor img {
    width: 35px;
    margin: 5px;
  }
  #mc-shade-product-swatches-mobile img.active {
    border: 1px solid #99948f;
    padding: 2px;
  }
  .mc-product-wrapper .mc-product-next-button {
    border-radius: 0;
    padding-top: 0;
    margin-top: 20px;
    position: relative;
    width: 82vw;
    left: 0;
    margin-bottom: 20px;
    clear: both;
    float: none;
  }
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-previous-button {
  border-radius: 0;
  padding-top: 0;
  margin-top: 20px;
  position: relative;
  width: 82vw;
  left: 0;
  margin-bottom: 20px;
  clear: both;
  float: none;
}

#main {
  #mycuishon-wrapper .mc-product-wrapper .mc-product-previous-button {
    display: none;
  }
  .mc-product-header [id^=mc-header-section] .mc-header-icon {
    opacity: 1;
    &.active a {
      opacity: 1;
    }
    a {
      opacity: .5;
    }
  }
  #mc-shade-mobile-image-container {
    clear: both;
    float: left;
    width: 100%;
    min-height: 320px;
	position: relative;
  }
  .mc-product-header [id^=mc-header-section] .mc-header-icon.complated:before {
    content: '';
    background: url(../images/mycuishon/complated_icon.png) no-repeat center top;
    width: 100%;
    height: 29px;
    display: inline-block;
    position: absolute;
    background-size: contain;
    margin-left: 6px;
    top: 0;
	left: 0;
  }
}

.jcarousel-dots {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 1px;
    a {
      width: 12px;
      height: 12px;
      background: #fff;
      font-size: 0;
      border: 1px solid #106037;
      border-radius: 50%;
      &.active {
        background: #106037;
      }
    }
  }
}


/* Applicator Section */

#main {
  .mobile-jcarousel {
    padding-top: 60px;
    width: 100%;
    max-width: 450px;
  }
  .mobile-jcarousel-previous {
    background: url(../images/mycuishon/arrows.png) no-repeat left top;
    width: 15px;
    height: 25px;
    font-size: 0;
    border: 0;
    outline: 0;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    left: 50%;
    margin-left: -100px;
  }
  .mobile-jcarousel-next {
    background: url(../images/mycuishon/arrows.png) no-repeat left top;
    width: 15px;
    height: 25px;
    font-size: 0;
    border: 0;
    outline: 0;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    left: 50%;
    margin-left: -100px;
    float: right;
    background-position: right top;
    right: 50%;
    margin-right: -100px;
    left: auto;
  }
}

#mc-mobile-applicator-jcarousel-root {
  max-height: 240px;
}

#main .mobile-jcarousel .mc-mobile-applicator-jcarousel-list-item {
  height: 145px;
  width: 145px;
  text-align: center;
  vertical-align: bottom;
  &:after {
    content: '';
    height: 100%;
    display: inline-block;
  }
}


/* Case Section */

#main {
  #mc-mobile-case-jcarousel-root {
    height: auto;
    max-height: 290px;
    .mc-mobile-case-jcarousel-list-item {
      height: 200px;
      width: 165px;
      text-align: center;
      vertical-align: bottom;
      display: inline-block;
    }
  }
  a.mc-case-swatchanchor img {
    width: 35px;
    margin: 5px;
    border-radius: 50%;
    &.active {
      border: 1px solid #99948f;
      padding: 2px;
    }
  }
}

.shade-title {
  font-size: 14px;
  color: #444;
  clear: both;
  display: block;
  font-family: "Roboto Light";
  line-height: 44px;
}

.slide_active .shade-title {
  font-size: 16px;
  color: #000;
  font-family: "Roboto Bold";
}

#mc-mobile-case-jcarousel-root .mc-mobile-case-jcarousel-list-item {
  img {
    width: 165px;
    height: 165px;
  }
  &:not(.slide_active) img {
    width: 100px;
    height: 100px;
  }
}

#main {
  #mc-case-product-all-swatch-mobile {
    height: auto;
  }
  #mc-mobile-case-jcarousel-root .mc-mobile-case-jcarousel-list-item:after {
    content: '';
    height: 100%;
    display: inline-block;
  }
}

.mc-mobile-case-jcarousel-list-item .inner {
  display: inline-block;
}

.mc-mobile-case-swatches {
  min-height: 150px;
}


/* Finish Section */

#main #mc-finish-container-detail {
  margin-top: 0;
  background: #fff;
  margin-bottom: 0;
  .mc-content .mc-product-heading {
    background: #faf2ea;
    background: -moz-linear-gradient(top, #faf2ea 0%, #fdf9f6 100%);
    background: -webkit-linear-gradient(top, #faf2ea 0%, #fdf9f6 100%);
    background: linear-gradient(to bottom, #faf2ea 0%, #fdf9f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf2ea', endColorstr='#fdf9f6',GradientType=0 );
    font-family: "Roboto Light";
    padding: 15px 0 0;
    color: #3e454d;
    font-size: 33px;
	margin-top:0;
  }
}

#mycuishon-wrapper #mc-success-container-detail .mc-content .mc-product-heading {
  background: #faf2ea;
  background: -moz-linear-gradient(top, #faf2ea 0%, #fdf9f6 100%);
  background: -webkit-linear-gradient(top, #faf2ea 0%, #fdf9f6 100%);
  background: linear-gradient(to bottom, #faf2ea 0%, #fdf9f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf2ea', endColorstr='#fdf9f6',GradientType=0 );
  font-family: "Roboto Light";
  padding: 15px 0;
  color: #3e454d;
  font-size: 33px;
  margin-top: 0;
  
}

#main {
  #mc-finish-container-detail {
    .mc-content .mc-product-heading {
      .mc-start-over {
        font-size: 20px;
        border-bottom: 0;
        span {
          border-bottom: 1px solid #000;
          clear: left;
        }
      }
      .fa {
        color: #3e454d;
      }
    }
    .mc-finish-lineitem {
      padding: 10px 20px;
      border-bottom: 1px solid #f0f0f0;
    }
  }
  .mc-finish-footer {
    border: 0;
    display: inline-block;
    padding: 3vh 5vh 2vh;
    width: 100%;
    background: #fdfaf7;
    background: -moz-linear-gradient(top, #fdfaf7 0%, #faf2ea 100%);
    background: -webkit-linear-gradient(top, #fdfaf7 0%, #faf2ea 100%);
    background: linear-gradient(to bottom, #fdfaf7 0%, #faf2ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfaf7', endColorstr='#faf2ea',GradientType=0 );
  }
}

#mc-finish-footer-subtotal-text {
  font-size: 16px;
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-right .mc-content #mc-finish-add-all-to-cart-button {
  margin-top: 20px;
}

.mc-finish-lineitem-name {
  font-size: 15px;
  margin-bottom: 8px;
  display: block;
  line-height: 18px;
  max-width: 85%;
}

#mycuishon-wrapper .mc-product-wrapper .mc-product-container-right .mc-content .mc-finish-lineitem-details {
  font-size: 12px;
  line-height: 13px;
  padding-left: 15px;
}

#main .mc-product-wrapper .mc-product-container-right .mc-content .mc-finish-lineitem-details .mc-finish-lineitem-quantity {
  width: auto;
  border-right: 1px solid #8d8d8d;
  padding-right: 5px;
  margin-right: 5px;
}

.mc-product-wrapper .mc-product-container-right .mc-content .mc-finish-lineitem-details {
  .mc-finish-lineitem-quantity, .mc-finish-lineitem-totalprice, .mc-finish-lineitem-unitprice, .mc-finish-lineitem-variation-attribute {
    margin-bottom: 5px;
  }
}

#mycuishon-wrapper .mc-finish-lineitem-remove .fa {
  color: #131313;
}

#main {
  #mc-finish-container-detail .mc-finish-lineitem-image img {
    max-width: 70px;
    margin: 0 auto;
    display: block;
  }
  .mc-page-vertical-carousel-root .mc-page-vertical-carousel-list-item {
    height: auto;
  }
}

#mycuishon-wrapper .mc-product-header {
  height: auto;
}

#mc-shade-product-swatches-mobile {
  min-height: 130px;
}



/* Success */

#mc-success-header-static {
  color: #0f6037;
  background: url(../images/mycuishon/success_icon.png) no-repeat right top;
  padding-right: 54px;
  background-size: 40px;
  min-height: 40px;
}

#main .mc-product-wrapper .mc-product-container-right #mc-success-checkout-button a {
  background: #fff;
}

.mc-product-wrapper .mc-product-container-right {
  #mc-success-checkout-button, #mc-success-continue-shopping-button {
    margin: 2% 0;
  }
}

#main #mc-success-main-content {
  margin: 0 2%;
}

#mc-success-wrapper .mc-product-container-right {
  background: #fff;
  margin-top: 0;
  min-height: 475px;
}

.mc-product-wrapper #mc-success-main-content img {
  height: auto;
}

#mycuishon-wrapper .mc-product-wrapper #mc-success-main-content img {
  height: auto;
  max-width: 312px;
}

#mc-youcam-screen{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #fff;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto; 
    height: 64vh;
}
    #you-cam-open-close-buttons{
        width: 100%;
    }
} 



@media only screen and (max-width: 767px) {
  #mycuishon-wrapper .mc-product-header [id^=mc-header-section] .mc-product-name-header {
    display: none;
  }
  .mc-product-header [id^=mc-header-section] {
    padding-bottom: 0;
  }
  #main .mc-header-icon a {
    font-size: 16px;
    min-height: 66px;
    line-height: 17px;
    vertical-align: middle;
  }
  #mycuishon-wrapper .mc-product-wrapper #mc-success-main-content img {
    height: 261px;
    width: auto;
    display: block;
    margin: 0 auto;
	max-width: 100%;
  }
  #main #mc-landing-wrapper {
    #mc-landing-aqua-section ul, #mc-landing-matte-section ul {
      width: 92%;
      margin-left: 15px;
      min-height: 115px;
      margin-bottom: 23vh;
      margin-top: 60px;
      color: #6b3f21;
      padding-top: 0;
    }
  }
}



/* iPhone 5 */
@media only screen and (max-width: 400px) {
  #mycuishon-wrapper #mc-landing-wrapper {
    #mc-landing-heading {
      font-size: 20px;
      top: 10px;
    }
    #mc-landing-aqua-section ul, #mc-landing-matte-section ul {
      font-size: 11px;
      min-height: 115px;
      margin-bottom: 23vh;
      margin-top: 44px;
      color: #6b3f21;
    }
  }
  #mc-landing-wrapper {
    #mc-landing-aqua-section .mc-goto-page-choose-shade, #mc-landing-matte-section .mc-goto-page-choose-shade {
      font-size: 11px;
    }
  }
  #main .mc-header-icon a {
    font-size: 14px;
  }
  #mc-shade-product-swatches-mobile {
    min-height: 155px;
  }
  #main {
    .mc-product-heading-mobile {
      font-size: 20px;
    }
    a {
      &.mc-case-swatchanchor img, &.mc-shade-swatchanchor img {
        margin: 2px;
      }
    }
  }
  #mycuishon-wrapper .mc-product-wrapper #mc-success-main-content img {
    min-height: auto;
    max-width: 100%;
    height: auto;
  }
  #mycuishon-wrapper #main #mc-finish-container-detail .mc-content .mc-product-heading, #mycuishon-wrapper #mc-success-container-detail .mc-content .mc-product-heading {
    font-size: 27px;
	padding-bottom: 10px;
  }
}

#mc-mobile-shade-image-jcarousel {
    position: relative;
    overflow: hidden;
    width: 100vw;
    max-height: 100%;
}

#mc-mobile-shade-image-jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mc-mobile-shade-image-jcarousel li {
    float: left;
    width: 100vw;
    margin-top: 0;
}

@media screen and (orientation: landscape) and (max-device-width: 767px) {
  #mycuishon-wrapper #mc-landing-wrapper #mc-landing-heading {
    font-size: 25px;
    top: 15px;
  }
  #main #mc-landing-wrapper {
    #mc-landing-aqua-section .mc-landing-content, #mc-landing-matte-section .mc-landing-content {
      padding-top: 275px;
    }
	
	#mc-landing-aqua-section ul, #mc-landing-matte-section ul {    
	padding-top: 0;    
	margin-bottom: 0;
	margin-top: 0;
	}
	
  }
    
    .mc-mobile-shade-image-jcarousel-dots li {
        display: inline-block;
        float: left;
    }
  
}


@media screen and (orientation: portrait) and (min-device-width: 319px) and (max-device-width: 480px) {
  #main #mc-landing-wrapper {
    #mc-landing-aqua-section {
      background: #fff url(../images/mycuishon/aqua_mobile.jpg) no-repeat center top;
      background-size: 100%;
    }
    #mc-landing-matte-section {
      background: #fff url(../images/mycuishon/matte_mobile.jpg) no-repeat center top;
      background-size: 100%;
    }
  }
}



@media only screen and (max-width: 479px) {
  #mc-youcam-screen {
    max-height: 469px;
    background-color: #f7eae1;
  }
  #you-cam-open-close-buttons {
    top: 27em !important;
    margin-top: -3px;
  }
  iframe#YMK-module-iframe {
    max-width: 375px;
    max-height: 412.5px;
  }
  .frame-content div {
    background-position: center;
  }
    #mc-shade-wrapper{
        background-color: #f7eae1;
    }
}
@media only screen and (max-width: 479px) and (min-height: 800px) {
  #you-cam-open-close-buttons {
    margin-top: 2px;
  }
}



.product-thumbnails {
 .thumbnails-slider {
  width: 280px;
  margin: 0 auto;
 }
}
@media only screen and (min-width:1200px) {
 #mycuishon-wrapper  {
  .mc-product-wrapper {
   .mc-product-next-button {
    right: 10px;
    bottom: 15px;
   }
   .mc-product-previous-button {
    left: 10px;
    bottom: 15px;
   }
  }
 }
}
#mycuishon-wrapper  {
 .mc-product-wrapper {
  .mc-product-previous-button {
   z-index: 99;
  }
 }
}
.product-thumbnails {
 .thumb{
  border: 3px solid transparent;
   &.selected {
    outline: 0;
    outline-offset: 0;
    border: 3px solid #222;
   }
 }
}
.product-thumbnails .thumb {
    margin-left: 0;
}