.mycompact-page {
    .filter {
        .filter-content {
            .refinement {
                margin-bottom: 50px;
                clear: both;
                ul {
                    float: right;
                    width: 90%;
                }
            }
            .filter-reset {
                clear: both;
            }
        }
    }
    .category-slot {
        .cat-banner {
            .cat-banner-description {
                display: block !important;
                left: 50%;
                right: auto;
                margin-top: 0;
                top: 50%;
                text-align: center;
                transform: translateY(-50%);
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                h2 {
                    font-size: 80px;
                    color: $nero;
                    font-family: $Roboto-Bold;
                    text-transform: uppercase;
                    line-height: normal;
                }
                h3 {
                    font-family: $Roboto-Regular;
                    font-size: 28px;
                    margin-bottom: 40px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
    .grid-tile {
        text-align: center;
        padding: 38px 2% 70px;
        .product-pricing {
            .product-sales-price {
                font-size: 16px;
                color: $nero;
                font-family: $Roboto-Bold;
            }
        }
        .product-tile {
            .product-name {
                min-height: 3.2em;
            }
            .product-shade {
                display: none;
            }
        }
    }
}
.mycompact-detail-page {
    .product-banner {
        .banner-bg {
            .banner-desc {
                top: 30%;
            }
        }
    }
}
.pt_product-details {
    .product-set.product-detail {
        .short-desc {
            margin-bottom: 20px;
            border-bottom: 1px solid $gainsboro;
            padding-bottom: 120px;
        }
        .product-add-to-cart {
            border-bottom: 1px solid $gainsboro;
            position: relative;
            line-height: 46px;
            padding-bottom: 15px;
            label {
                padding: 0;
                color: $nero;
                font-size: 22px;
                margin-right: 20px;
            }
            .salesprice {
                color: $nero;
                font-size: 22px;
                font-family: $Roboto-Bold;
            }
            #add-all-to-cart {
                position: absolute;
                top: 0;
                right: 0;
                width: 64%;
            }
        }
        .product-add-to-cart.product-add-to-cart-below {
        	border-bottom : none;
        }
        .wrap-button {
            .make-your-compact {
                width: 100%;
                font-size: 14px;
                font-family: $Roboto-Bold;
                text-transform: uppercase;
                span {
                    margin-left: 10px;
                    font-size: 10px;
                    vertical-align: middle;
                }
            }
        }
    }
    .detail-product-set {
        margin-bottom: 60px;
        padding-bottom: 60px;
        border-bottom: 1px solid $gainsboro;
        .title-mycompact {
            display: none;
        }
        .product-col-2 {
            .product-name {
                margin-bottom: 14px;
            }
            .product-pricing {
                font-size: 20px;
                color: $nero;
                font-family: $Roboto-Bold;
                margin-bottom: 44px;
            }
        }
    }
    #product-set-list {
        .product-set-item {
            clear: both;
            margin-bottom: 60px;
            h4.title {
                font-size: 26px;
                text-transform: uppercase;
                color: $nero;
                font-family: $Roboto-Bold;
                margin-bottom: 50px;
                text-align: center;
            }
            .product-set-left {
                float: left;
                width: 35%;
                margin-right: 16%;
                margin-left: 3%;
                img {
                    max-width: 100%;
                }
            }
            .product-set-right {
                float: left;
                width: 46%;
                margin-top: 50px;
                .product-set-details {
                    width: 69%;
			        .availability-block {
			            .availability-web {
			                text-align: center;
			                label {
			                    display: none;
			                }
			                .availability-msg {
			                    .in-stock-msg {
			                        display: none;
			                    }
			                    .out-of-stock {
			                        padding: 16px 0;
			                        border-bottom: 1px solid $gainsboro;
			                        color: $red;
			                        font-weight: bold;
			                        font-size: 16px;
			                    }
			                }
			                
			            }
			        }
                    .product-variations {
                        margin-bottom: 10px;
                        li.variant-dropdown {
                            padding: 0 0 0 12px;
                            span {
                                font-family: $Roboto-Regular;
                                text-transform: capitalize;
                                font-size: 16px;
                                color: $nero;
                                height: 12px;
                                width: 12px;
                                display: inline-block;
                                background-repeat: no-repeat;
                                margin-right: 6px;
                                background-position: center;
                                border-radius: 50%;
                            }
                            .value {
                                width: 80%;
                            }
                        }
                        .nice-select {
                            .current {
                                padding-left: 6px;
                                height: auto;
                            }
                        }
                        .select-type .nice-select .list {
                            border: 2px solid $dark-gray;
                            top: 2px;
                            left: 2px !important;
                            width: calc(100% + 13px);
                            border-top: 0px solid $white;
                        }
                        .select-type .nice-select.open,
                        .select-type .nice-select:active,
                        .select-type .nice-select:focus {
                            border: 2px solid $dark-gray;
                        }
                    }
                    p {
                        font-size: 22px;
                        color: $nero;
                        margin-bottom: 18px;
                    }
                    .product-price {
                        font-size: 18px;
                        font-family: $Roboto-Bold;
                        margin-bottom: 20px;
                        color: $nero;
                    }
                    .product-options {
                        .attribute {
                            overflow: inherit;
                            margin-bottom: 12px;
                            span.label {
                                font-family: $Roboto-Regular;
                                display: inline-block;
                                vertical-align: middle;
                                margin-bottom: 0;
                                margin-right: 12px;
                            }
                            .value {
                                display: inline-block;
                                vertical-align: middle;
                                width: 74%;
                                .nice-select {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .explore-all-cases {
                        text-align: center;
                        margin-bottom: 30px;
                        clear: both;
                        span.icon-swatch {
                            display: inline-block;
                            vertical-align: sub;
                            margin-right: 6px;
                        }
                        a {
                            font-size: 14px;
                            color: $nero;
                            border-bottom: 1px solid $border-heavy-gray;
                            text-transform: uppercase;
                            display: inline;
                            &:hover {
                                text-decoration: none;
                                color: $green;
                            }
                        }
                    }
                    .add-sub-product {
                        width: 100%;
                        margin-bottom: 12px;
                        display: inline-block;
                        .button-fancy-medium {
                            width: 77%;
                        }
                    }
                    .see-full-detail {
                        text-align: center;
                        a {
                            color: $nero;
                            font-size: 15px;
                            font-family: $Roboto-Bold;
                            border-bottom: 1px solid $gray-dim;
                            text-transform: uppercase;
                            text-decoration: none;
                            &:hover {
                                text-decoration: none;
                                color: $green;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('medium-ipad-min') {
    .pt_product-details {
        .product-set.product-detail {
            .wrap-button {
                .make-your-compact.active {
                    border: 1px solid $british-racing-green2;
                    background: $british-racing-green2;
                }
            }
        }
    }
}
@include respond-to('medium-ipad') {
    .pt_product-details {
        .product-set.product-detail {
            .product-add-to-cart {
                #add-all-to-cart {
                    width: 50%;
                }
            }
            .wrap-button {
                .make-your-compact {
                    background: $nero;
                    border: 1px solid $nero;
                    &.active {
                        border: 1px solid $british-racing-green2;
                        background: $british-racing-green2;
                    }
                }
            }
        }
        #product-set-list {
            .product-set-item {
                .product-set-right {
                    .product-set-details {
                        .product-variations {
                            li.variant-dropdown {
                                .value {
                                	width: 74%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('xmedium') {
    .pt_product-search-result {
        .title-search {
            display: none;
        }
    }
    .mycompact-page {
        .filter {
            .filter-content {
                .refinement {
                    margin-bottom: 10px;
                }
            }
        }
        .product-status {
            label {
                line-height: 18px;
            }
        }
    }
    .pt_product-details {
        .detail-product-set {
            .title-mycompact {
                display: block;
                font-size: 13px;
                top: 14px;
            }
        }
        #product-set-list {
            .product-set-item {
                &:last-child {
                    margin-bottom: 20px;
                }
                .product-set-left {
                    width: 30%;
                    margin-right: 4%;
                }
                .product-set-right {
                    width: 62%;
                    .product-set-details {
                        width: 100%;
                    }
                }
            }
        }
    }
}
@include respond-to('small-ipad') {
    .mycompact-page {
        #search-result-items {
            .grid-tile .product-status {
                min-height: 54px;
            }
        }
    }
    .pt_product-details {
        .product-set.product-detail {
            .product-add-to-cart {
                 #add-all-to-cart {
                    padding: 0;
                }
                label {
                    font-size: 20px;
                    margin-right: 8px;
                }
                .salesprice {
                    font-size: 20px;
                }
            }
        }
        #product-set-list {
            .product-set-item {
                .product-set-right {
                    .product-set-details {
                        .product-variations {
                            li.variant-dropdown {
                                .value {
                                    width: 82%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('small') {
    .mycompact-page {
        .filter {
            .filter-content {
                .refinement {
                    ul {
                        float: none;
                    }
                }
            }
        }
    }
    .pt_product-details {
        #main {
            .primary-content .product-set {
                .product-has-banner &.product-image-container {
                    top: -373px;
                }
                h1.product-name {
                    margin-bottom: 14px;
                }
                .product-pricing {
                    margin-bottom: 20px;
                }
            }
            .detail-product-set {
                position: relative;
                border: none;
                margin-bottom: 70px;
                padding-bottom: 60px;
                &:before {
                    background: $darker-gray;
                    height: 10px;
                    width: calc(100% + 40px);
                    content: "";
                    position: absolute;
                    left: -20px;
                    right: 0;
                    top: 100%;
                    border-top: 1px solid $gainsboro;
                }
            }
        }
        #product-set-list {
            .product-set-item {
                margin-bottom: 90px;
                padding: 0px 40px;
                .product-set-left {
                    float: none;
                    width: 100%;
                    margin: 0;
                    text-align: center;
                }
                .product-set-right {
                    float: none;
                    width: 100%;
                    text-align: center;
                    margin-top: 0;
                    .product-set-details {
                        margin: 0 auto;
                        width: 100%;
                        text-align: left;
                        .product-options {
                            .attribute {
                                .value {
                                    float: right;
                                    width: 74%;
                                }
                                span.label {
                                    margin-right: 10px;
                                    float: left;
                                    width: 16%;
                                    line-height: 2.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .pt_product-details {
        #main {
            .primary-content {
                .product-image-container.product-set {
                    .product-has-banner & {
                        top: -400px;
                    }
                }
            }
        }
        #product-set-list {
            .product-set-item {
            	padding: 0 20px;
                .product-set-right {
                    .product-set-details {
                        .product-variations {
                            li.variant-dropdown {
                                .value {
                                    width: 77%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('xsmall') {
    .mycompact-page {
        .grid-tile {
            .product-tile {
                .product-name {
                    margin-bottom: 6px;
                    min-height: auto;
                }
            }
        }
    }
    .mycompact-detail-page.pt_product-details {
        .product-banner {
            .banner-bg {
                height: 390px;
            }
        }
    }
    .pt_product-details {
        #product-set-list {
            .product-set-item {
                h4.title {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
        .product-set.product-detail {
            .product-add-to-cart {
                #add-all-to-cart {
                    position: absolute;
                }
            }
        }
        #main {
            .primary-content {
                 .product-set {
                     h1.product-name {
                        font-size: 22px;
                     }
                }
            }
        }
    }
    .pt_product-search-result.mycompact-page {
        .category-slot {
            .cat-banner {
                .cat-banner-description {
                    padding-bottom: 40px;
                    margin-top: 40px;
                    margin-bottom: 70px;
                    h2 {
                        font-size: 26px;
                        line-height: normal;
                    }
                    h3 {
                        font-size: 15px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
@include respond-to('xsmall-galaxy') {
    .mycompact-page {
        .grid-tile {
            .product-tile {
                .product-name {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .pt_product-details {
        .product-set.product-detail {
            .product-add-to-cart {
                label {
                    font-size: 16px;
                    margin-right: 10px;
                }
                .salesprice {
                    font-size: 18px;
                }
                button.add-all-to-cart {
                    min-width: auto;
                    padding: 0px 16px;
                }
            }
        }
    }
}