.pt_order {
    .paging a.page-first, .paging a.page-prev, .paging a.page-next, .paging a.page-end {
        background: none;
    }
    .pt_order_primary-content {
        .wrap-button {
            margin-bottom: 0px;
            .store {
                border: 1px solid $gainsboro;
            }
        }
        .paging {
            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                vertical-align: top;
                font-size: 14px;
                color: $default-color;
                border-radius: 2px;
                &:hover {
                    text-decoration: none;
                    background: $darker-gray;
                }
                &.page-first, &.page-prev, &.page-next, &.page-end {
                    border: 1px solid $nero;
                    opacity: 0.4;
                    background: url(../images/sp_icons.png) no-repeat #fff;
                    &:hover {
                        opacity: 1;
                    }
                }
                &.page-first {
                    background-position: -1px -257px;
                }
                &.page-prev {
                    background-position: -31px -257px;
                }
                &.page-next {
                    background-position: -61px -257px;
                }
                &.page-end {
                    background-position: -91px -257px;
                }
                @include single-transition(opacity, 0.2s);
            }
        }
    }
    #secondary {
        display: none;
    }
    .search-result-options {
        .pagination .view-all {
            display: none;
        }
    }
    .page-content {
        .title {
            color: $nero;
            font-size: 32px;
            font-family: $Roboto-Bold;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
    }
    .wrap-button {
        margin-bottom: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid;
        a {
            float: left;
            height: 40px;
            min-width: 240px;
            line-height: 40px;
        }
    }
    .wrap-button-no-order {
        margin-top: -20px;
        border-bottom: 1px solid;
        height: 2px;
    }
    .orders-table {
        &.purchase-history {
            display: table;
            width: 100%;
            .orders-header {
                display: table-row;
                .item-col {
                    padding: 12px 4px;
                    width: auto;
                    text-align: center;
                    &.status-col-header {
                        padding: 12px 4px;
                    }
                }
            }
            .item-row {
                display: table-row;
                .item-col {
                    padding: 12px 4px;
                    width: auto;
                    text-align: center;
                }
                .item-col-status-mobile, .item-col-store-mobile {
                    display: none;
                }
            }
        }
        .item-col-wrap.item-col {
            border-bottom: none;
            width: 100%;
            border-bottom: 1px solid $border-gray-first;
            .item-three {
                display: table;
                width: 100%;
            }
            .item-col {
                border: none;
            }
        }
        .item-col {
            display: table-cell;
            padding: 10px;
            width: 24%;
            text-align: center;
            border-bottom: 1px solid $border-gray-first;
            font-size: 14px;
            font-family: $Roboto-Regular;
        }
        .item-col.item-col-options {
            text-align: center;
            padding: 12px;
        }
        .orders-header {
            display: table;
            .item-col {
                color: $nero;
                font-size: 14px;
                font-family: $Roboto-Bold;
                text-transform: capitalize;
                padding: 5px 20px;
            }
        }
        .item-row {
            .item-col-number {
                text-decoration: underline;
            }
            .item-col-status {
                color: $green;
                text-transform: capitalize;
            }
            .item-col-date {
                color: $default-color;
                font-size: 14px;
            }
            .item-col-total-paid {
                @extend .item-col-date;
                font-family: $Roboto-Bold;
            }
            .item-col-options {
                a {
                    text-decoration: underline;
                    color: $default-color;
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
    }
}