// Order Confirmation Page
.pt_order,
.confirmation {
    .actions {
        @extend .clear;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 100px;
    }
}
.confirmation-message {
    padding: 100px 0 20px;
    text-align: center;
    h1{
        color: $nero;
        font-size: 48px;
        font-family: $Roboto-Bold;
        display: inline-block;
        background: url(../images/checkout/check.png) no-repeat left center;
        padding-left: 50px;
        margin: 0;
    }
}
.confirmation {
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    .order-confirmation-details{
        .orderdetails{
            .order-information{
                text-align: center;
                margin-bottom: 60px;
                .order-number,
                .order-status{
                    display: inline-block;
                    .label{
                        color: $nero;
                        font-size: 20px;
                    }
                }
                .order-number{
                    .value{
                        color: $british-racing-green3;
                        font-family: $Roboto-Bold;
                        font-size: 20px;
                    }
                }
                .order-status{
                    .label{
                        padding: 0 15px;
                    }
                    .value{
                        color: $nero;
                        font-family: $Roboto-Bold;
                        font-size: 20px;
                    }
                }
            }
            .order-shipments{
                .order-shipment-table{
                    .order-shipment-details{
                        .product-horz-type{
                            .product-list-item{
                                padding-top: 10px;
								top: 0;								
                            }
                        }
                    }
                }
            }
            .col-container{
                display: table;
                width: 100%;
                height: 100%;
                max-height: 220px;
                .col{
                    display: table-cell;
                    vertical-align: top;
                    &.col-first{
                        width: 66%;
                        .col-container{
                            &:first-child{
                                margin-bottom: 10px;
                            }
                        }
                        h2{
                            font-size: 20px;
                            color: $nobel;
                            font-family: $Roboto-Bold;
                            padding-bottom: 25px;
                        }
                        div{
                            color: $nero;
                            font-size: 14px;
                            line-height: 22px;
                        }
                        .address .name,
                        .shipping-method .value,
                        .cc-owner,
                        .mini-address-name{
                            font-family: $Roboto-Bold;
                        }
                        .order-payment-instruments{
                            .cc-owner{
                                font-family: $Roboto-Bold;
                            }
                            .cc-type,
                            .cc-number{
                                display: inline;
                            }
                        }
                        .mini-address-location{
                            address{
                                font-style: normal;
                            }
                        }
                    }
                    &.col-second{
                        width: 37%;
                        .box{
                            background-color: $heavy-green;
                            margin-left: 50px;
                        }
                    }
                    .box{
                        padding: 30px;
                        background-color: $light-gray-first;
                        height: 100%;
                        border: 1px solid $light-gray;
                    }
                    .col{
                        &:first-child{
                            .box{
                                margin-right: 5px;
                            }
                        }
                        &:last-child{
                            .box{
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
            .container-inner{
                background: $white;
                .col{
                    width: 50%;
                    height: 241px;
                }
            }
        }
        .actions{
            a{
                max-width: 240px;
                width: 100%;
            }
        }
        .order-payment-summary{
            color: $jet-stream;
            font-size: 14px;
            padding: 0;
            .order-totals-table{
                width: 100%;
                tr{
                    td{
                        padding-bottom: 10px;
                        display: table-cell;
                        &:last-child{
                            text-align: right;
                            float: none;
                        }
                        &:first-child{
                            float: none;
                        }
                    }
                    &.order-sales-tax{
                        td{
                            padding-bottom: 40px;
                        }
                    }
                    &.order-total{
                        td{
                            padding: 15px 0;
                            color: $white;
                            font-size: 18px;
                            border-top: 1px solid $amazon;
                            border-bottom: 1px solid $amazon;
                        }
                    }
                }
            }
            .comment{
                padding: 20px 0;
                font-size: 13px;
                color: $jet-stream;
                strong{
                    color: $white;
                }
            }
        }
    }
    .order-shipments{
        h2{
            font-size: 20px;
            font-family: $Roboto-Bold;
            color: $nero;
            margin-top: 60px;
            padding-bottom: 20px;
            border-bottom: 1px solid $dark-gray;
        }
        .order-shipment-details{
            .line-item{
                border-bottom: 1px solid $white-smoke2;
                padding: 10px 0;
            }
            .product-horz-type{
                .img{
                    img{
                        width: 100%;
                    }
                }
                .product-list-item{
                    .sku{
                        display: none;
                    }
                    .variation{
                        .attribute{
                            margin-top: 5px;
                            font-size: 13px;
                            color: $dim-gray;
                            display: inline-block;
                            margin-left: 10px;
                            &:first-child{
                                margin-left: 0;
                            }
                            .value{
                                margin-top: 5px;
                                font-size: 13px;
                                color: $dim-gray;
                            }
                            img{
                                display: inline-block;
                                margin-right: 3px;
                                vertical-align: -6px;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                            }
                        }
                    }
                }
                .line-item-quantity{
                    margin-top: 5px;
                    display: inline-block;
                    font-size: 13px;
                    color: $dim-gray;
                    text-transform: uppercase;
                    .label{
                        display: inline-block;
                    }
                }
            }
            .product-info-type{
                .line-item-price{
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    font-size: 16px;
                    font-weight: bold;
                    color: $nero;
                }
            }
        }
    }
}