// Order Confirmation Page
@include respond-to('medium-ipad') {
    .pt_order,
    .confirmation {
        .actions {
            .btn-type{
                width: 49%;
                &:first-child{
                    float: left;
                }
                &:last-child{
                    float: right;
                }
            }
        }
    }
    .confirmation-message {
        padding: 60px 0 20px;
        text-align: center;
        h1{
            font-size: 34px;
        }
    }
    .confirmation {
        width: 100%;
        margin: 40px auto 0;
        padding: 0 15px;
        box-sizing: border-box;
        .order-confirmation-details{
            .orderdetails{
                .order-information{
                    .order-number,
                    .order-status{
                        display: block;
                    }
                    .order-status{
                        .label{
                            padding-left: 0;
                            padding-right: 5px;
                        }
                    }
                }
                .col-container{
                    display: table;
                    width: 100%;
                    .col{
                        height: 100%;
                        &.col-first{
                            width: 100%;
                            display: block;
                        }
                        &.col-second{
                            margin-top: 10px;
                            display: block;
                            width: 100%;
                            .box{
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            .order-payment-summary{
                padding: 15px 0;
                .order-totals-table{
                    tr{
                        &.order-total{
                            td{
                                border-top: 0;
                            }
                        }
                        &.order-shipping{
                            td{
                                padding-bottom: 15px;
                            }
                        }
                    }
                }
            }
            .actions{
                a{
                    width: 49%;
                    max-width: 100%;
                    font-size: 12px;
                    padding: 0;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .confirmation-message {
        padding: 40px 0 20px;
        h1{
            font-size: 22px;
            background-size: 30px;
            padding-left: 40px;
        }
    }
    .confirmation{
        margin-bottom: 40px;
        .order-number,
        .order-status{
            span{
                font-size: 16px !important;
            }
        }
        .order-confirmation-details{
            .orderdetails{
                .col-container{
                    .col{
                        .box{
                            padding: 10px;
                        }
                    }
                }
                .col-container{
                    .col{
                        &.col-first{
                            h2{
                                font-size: 14px;
                                padding-bottom: 10px;
                            }
                        }
                        .box{
                            box-sizing: border-box;
                            min-height: 180px;
                        }
                    }
                }
            }
            .actions{
                a{
                    min-width: 143px;
                }
            }
        }
        .order-shipments{
            h2{
                margin-top: 40px;
            }
            .order-shipment-table{
                .line-item{
                    .product-info-type{
                        position: absolute;
                        right: 15px;
                        bottom: 10px;
                        .line-item-price{
                            position: static;
                            transform: none;
                        }
                    }
                }
            }
        }
    }
}