@include respond-to('xmedium') {
    .pt_order {
        .orders-table {
            .item-col {
                padding: 20px 25px;
                width: 22%;
                .item-three {
                    .item-col-status {
                        width: 30%;
                    }
                }
            }
            .item-col-wrap.item-col .item-col-status {
                width: 100%;
            }
        }
    }
}
@include respond-to('small') {
    #wrapper {
        .pt_order_primary-content {
            width: 100%;
            border: none;
            padding: 0;
            float: none;
        }
    }
    .pt_order {
        .sidebar-left {
            display: none;
        }
        #main .pt_order_primary-content {
            .orders-table.search-result-items {
                .orders-header.item-row {
                    display: none;
                }
                .item-row {
                    align-items: center;
                    border-bottom: 1px solid $border-gray-first;
                    display: flex;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    padding-bottom: 20px;
                    .item-col {
                        border-bottom: none;
                        padding: 20px 30px;
                        width: 40%;
                    }
                    .item-col-options {
                        text-align: right;
                        width: 53%;
                        position: relative;
                        a {
                            background: rgba(0, 0, 0, 0) url("../images/icon/row-right.png") no-repeat scroll right center;
                            display: block;
                            font-size: 0;
                            height: 19px;
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 11px;
                        }
                    }
                }
                .item-col-wrap.item-col {
                    display: table-cell;
                    width: 100%;
                    .item-col-number, .item-col-total-paid, .item-col-status {
                        border-bottom: medium none;
                        display: block;
                        padding: 0px 0px 0px 20px;
                        width: 180%;
                        text-align: left;
                    }
                    .item-col-total-paid,
                    .item-col-status {
                        padding-bottom: 20px;
                    }
                }
            }
        }
        #main {
            .pt_order_primary-content {
                .orders-table.purchase-history {
                    .item-row {
                        clear: both;
                        -webkit-box-align: inherit;
                        -ms-flex-align: inherit;
                        align-items: inherit;
                        display: inherit;
                        width: 100%;
                        overflow: hidden;
                        .item-col-date {
                            width: 30%;
                            float: left;
                            margin-right: 2%;
                            min-height: 40px;
                        }
                        .item-col-status-mobile {
                            display: block;
                        }
                        .item-col-status-desktop, .item-col-store-desktop {
                            display: none;
                        }
                        .item-col-right {
                            float: right;
                            width: 100%;
                            text-align: left;
                        }
                        .item-col.item-date-col {
                            width: 20%;
                            padding: 0;
                            vertical-align: middle;
                        }
                        .item-col-total {
                            font-family: $Roboto-Bold;
                        }
                        .item-col-store-mobile {
                                width: auto;
                                margin-right: 3%;
                                display: block;
                                float: left;
                        }
                        .item-col-item-ordered {
                            &:before {
                                content: "";
                                display: block;
                                height: 10px;
                                width: 1px;
                                margin-right: 10px;
                                margin-top: 4px;
                                background: $border-gray-first;
                                float: right;
                                margin-left: 5%
                            }
                        }
                        .item-col-store {
                            margin-right: 0;
                        }
                        .item-col-item-ordered, .item-col-store {
                            width: auto;
                            float: left;
                        }
                        .item-col-total-paid {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        #main.page-content {
            margin-top: 105px;
            .title {
                position: fixed;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                z-index: 70;
                left: 50%;
                top: 21px;
                font-size: 22px;
                line-height: 100%;
                margin: 0;
            }
        }
    }
}
@include respond-to('xsmall-mobile') {
    .pt_order {
        #main.page-content {
            margin-top: 55px;
            .title {
                top: 14px;
                font-size: 15px;
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .pt_order .wrap-button a {
        min-width: 50%;
        width: 50%;
    }
    .pt_order {
        #main {
            .pt_order_primary-content {
                .orders-table.purchase-history {
                    .item-row {
                        .item-col {
                            padding: 4px 0px;
                        }
                        .item-col-total {
                            margin-bottom: 10px;
                        }
                        .item-col-right {
                            width: 96%;
                        }
                        .item-col.item-col-store {
                            width: auto;
                            margin-left: 4%
                        }
                        .item-col-store-mobile {
                            margin-right: 0;
                        }
                        .item-col.item-col-item-ordered {
                            width: auto;
                            margin-left: 0;
                            margin-right: 3%;
                            margin-left: 4%;
                            &:before {
                                margin-top: 4px;
                                margin-left: 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('xsmall-galaxy') {
    .pt_order {
        .wrap-button a {
            font-size: 11px;
        }
        #main {
            .pt_order_primary-content {
                .orders-table {
                    &.search-result-items {
                        .item-row {
                            .item-col {
                                width: 23%;
                            }
                            .item-col-wrap.item-col {
                                .item-col-number, .item-col-total-paid, .item-col-status {
                                    width: 120%;
                                }
                                .item-col {
                                    padding: 0 0 0 30px;
                                }
                            }
                            .item-col-options {
                                padding: 0;
                                width: 53%;
                            }
                        }
                    }
                    &.purchase-history {
                        .item-row {
                            .item-col {
                                width: auto;
                            }
                            .item-col-right {
                                width: 96%;
                            }
                            .item-col.item-col-store.item-col-store-mobile {
                                width: auto;
                                float: left;
                                margin-left: 0;
                                margin-left: 4%;
                            }
                            .item-col.item-col-item-ordered {
                                width: auto;
                                margin-right: 3%;
                            }
                            .item-date-col {
                                margin-right: 2%;
                            }
                        }    
                    }
                }
            }
        }
    }
}
@include respond-to('xsmall-iphone') {
    .pt_order {
        #main {
            .pt_order_primary-content {
                .orders-table.purchase-history {
                    .item-row {
                        .item-col-right {
                            width: 96%;
                        }
                        .item-col.item-col-item-ordered {
                            margin-left: 5%;
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('medium-ipad-min') {
    .pt_order {
        .orders-table {
            .orders-header {
                .item-col {
                    &.status-col-header {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}