@include respond-to('small') {
    .orderdetails {
        .float-left {
            width: 100%;
            margin-right: 0;
            float: none;
            overflow: hidden;
            margin-bottom: 0;
            .order-payment-instruments, .order-billing, .order-shipment-address, .shipping-method {
                width: 49.2%;
            }
        }
        .float-right {
            float: none;
            width: 100%;
            min-height: auto;
            margin-bottom: 40px;
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .orderdetails {
        .description-orderdetail {
            padding: 24px;
            .text {
                font-size: 25px;
                margin-bottom: 12px;
            }
            .order-date {
                font-size: 16px;
                margin-bottom: 20px;
            }
        }
        .float-left {
            .order-payment-instruments, .order-billing, .order-shipment-address, .shipping-method {
                min-height: 290px;
                padding: 10px;
            }
            .label {
                font-size: 16px;
                margin-bottom: 14px;
            }
        }
    }
}
@include respond-to('xsmall-galaxy') {
    .orderdetails {
        .float-left {
            .order-payment-instruments, .order-billing, .order-shipment-address, .shipping-method {
                width: 100%;
                min-height: 230px;
                margin-left: 0px;
            }
        }
        .line-items {
            .line-item .product-image {
                width: 30%;
            }
            .line-item .line-item-price {
                font-size: 12px;
            }
        }
    }
}