// Order History - Order Details Styling

.order-history-header {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top $white-smoke;
    overflow: hidden;
    padding: 10px;
    .label {
        font-weight: 700;
    }
    button {
        float: right;
    }
    .order-date, .order-status, .order-number {
        float: left;
        margin: 2px 0;
        width: 60%;
    }
}
.order-history-items {
    margin: 20px 0;
    .order-history-table {
        th, td {
            padding: 5px 10px;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style-position: inside;
            list-style-type: square;
        }
        .order-shipped-to,
        .order-items,
        .order-total-price {
            width: 33%;
        }
        .toggle {
            cursor: pointer;
            display: block;
        }
    }
}
.js .order-history-table .hidden {
    display: none;
}
