.orderdetails {
    .description-orderdetail {
        padding: 50px;
        border: 10px solid $darker-gray;
        text-align: center;
        margin-bottom: 40px;
        .text {
            font-family: $Roboto-Bold;
            font-size: 34px;
            margin-bottom: 12px;
            span {
                color: $british-racing-green3;
            }
        }
        .order-date {
            color: $nero;
            font-size: 20px;
            font-family: $Roboto-Regular;
            margin-bottom: 30px;
            .label {
                position: relative;
                padding-right: 16px;
                &:before {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 1px;
                    height: 14px;
                    right: 4px;
                    background: $dark-gray;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                }
            }
        }
        .value {
            color: $green;
        }
    }
    .line-items {
        .label.title-account {
            font-family: $Roboto-Regular;
        }
        .line-item {
            margin-bottom: 26px;
            border-bottom: 1px solid $dark-gray-third;
            padding-bottom: 30px;
            position: relative;
            clear: both;
            a {
                margin-top: 26px;
                font-family: $Roboto-Bold;
            }
            .product-image {
                height: 130px;
                width: 15%;
                float: left;
                margin-right: 2%;
            }
            .line-item-quantity {
                color: $nobel;
                font-size: 13px;
                font-family: $Roboto-Light;
                text-transform: uppercase;
                .label {
                    display: inline-block;
                }
            }
            .line-item-price {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
            .product-list-item {
                .sku {
                    display: none;
                }
                .name {
                    margin-bottom: 10px;
                }
                .variation {
                    color: $nobel;
                    font-size: 13px;
                    font-family: $Roboto-Light;
                }
            }
        }
    }
    .float-left {
        float: left;
        width: 70%;
        margin-right: 1%;
        margin-bottom: 40px;
        .order-payment-instruments, .order-billing, .order-shipment-address, .shipping-method {
            background: $light-gray-first;
            border: 1px solid $light-gray;
            padding: 32px 32px;
            float: left;
            width: 48.4%;
            margin-bottom: 10px;
            min-height: 340px;
            margin-left: 1.6%;
        }
        .order-payment-instruments {
            margin-left: 0;
        }
        .order-shipment-address {
            margin-left: 0;
        }
        .shipping-method {
            .value {
                color: $default-color;
                font-size: 14px;
                font-family: $Roboto-Bold;
                font-weight: bold;
            }
            .shipping-method-shiped {
                color: $default-color;
                font-family: $Roboto-Regular;
                font-size: 14px;
                span {
                    font-family: $Roboto-Bold;
                }
            }
            .shipping-method-track {
                text-decoration: underline;
                color: $default-color;
                font-size: 14px;
                font-family: $Roboto-Regular;
                display: block;
                margin-bottom: 14px;
                cursor: pointer;
            }
            .shipping-method-view {
                @extend .shipping-method-track;
            }
            .shipping-method-gift {
                @extend .shipping-method-shiped;
                span {
                    font-family: $Roboto-Bold;
                }
            }
        }
        .label {
            color: $nobel;
            font-size: 21px;
            font-family: $Roboto-Bold;
            margin-bottom: 24px;
            text-transform: uppercase;
        }
        .name,
        .mini-address-name {
            color: $default-color;
            font-size: 14px;
            font-family: $Roboto-Bold;
            font-weight: bold;
        }
        div {
            color: $default-color;
            font-size: 14px;
            font-weight: normal;
            font-family: $Roboto-Regular;
            margin-bottom: 6px;

            .cc-type,
            .cc-number{
                display: inline;
            }
        }
        .mini-address-location {
            address {
                font-style: normal;
            }
        }
    }
    .float-right {
        float: left;
        width: 29%;
        min-height: 686px;
        background: $heavy-green;
    }
    .order-shipments {
        clear: both;
    }
    .order-payment-summary {
        background: $heavy-green;
        padding: 34px 34px;
        .order-totals-table {
            width: 100%;
            tr {
                td {
                    color: $jet-stream;
                    font-size: 14px;
                    font-family: $Roboto-Regular;
                    padding-bottom: 12px;
                    float: right;
                    display: inline-block;
                    &:first-child {
                        float: left;
                    }
                }
            }
            .order-total {
                border-bottom: 1px solid $amazon;
                td {
                    font-size: 18px;
                    color: $white;
                    font-family: $Roboto-Bold;
                    padding-top: 20px;
                    float: right;
                }
            }
            .order-point {
                td {
                    padding-top: 20px;
                    font-size: 13px;
                    font-family: $Roboto-Regular;
                    color: $jet-stream;
                    span {
                        color: $white;
                        font-family: $Roboto-Bold;
                    }
                }
            }
        }
    }
}