#wrapper {
    background-color: $white;
    border: 0;
    left: 0;
    z-index: 0;
    margin: auto;
    position: relative;
    transition: left 0.2s ease-in;
    width: 100%;
    z-index: 1;
    input:hover, input:focus {
        border: 1px solid $nero;
        outline: none;
    }
    .validate-error {
        position: relative;
        background: $red;
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 6px;
        &::before {
            position: absolute;
            content: "!";
            color: $white;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%,-50%);
            font-size: 9px;
        }
    }
    .breadcrumb {
        padding: .5em 0;
        background: $white;
    }
    .sidebar-left {
        width: 16%;
        float: left;
        box-sizing: border-box;
        padding-right: 1%;
    }
    .primary-account-content {
        width: 84%;
        padding-left: 4%;
        float: left;
        box-sizing: border-box;
        border-left: solid 1px $border-gray-first;
        margin-bottom: 70px;
    }
    .container{
        @media screen and (min-width: 768px) {
            width: 760px;
        }
        @media screen and (min-width: 960px) {
            width: 960px;
        }
        @media screen and (min-width: 1440px) {
            width: 1300px;
        }
    }
    &.pt_storefront,
    &.pt_order-confirmation {
        width: 100%;
    }
    &.pt_categorylanding {
        width: 100%;
        .primary-content {
            padding-bottom: 0;
            @media screen and (min-width: 768px) {
                width: 80%;
            }
        }
        .refinements {
            border-right: 0;
            display: none;
            width: 0;
            @media screen and (min-width: 768px) {
                display: block;
                width: 20%;
            }
        }
    }
    &.pt_product-details {
        .primary-content {
            padding-top: 1rem;
        }
    }
    &.menu-active {
        left: 50%;
    }
    @media screen and (min-width: 768px) {
        &.menu-active {
            left: auto;
        }
    }
}

.primary-content {
    width: 100%;
    @media screen and (min-width: 768px) {
        float: right;
        margin-left: -1px;
        padding: 0px;
        position: relative;
        width: 100%;
	    .primary-focus & {
	        border: none;
	        float: left;
	        margin: 0;
	        width: 76%;
	    } 
	    .full-width & {
	        border: none;
	        width: 100%;
	    }
	 }
}

#secondary {
    border: 0;
    float: none;
    font-size: 1.1em;
    width: 100%;
    @media screen and (min-width: 768px) {
        background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
        border-right: 1px solid $gainsboro;
        float: left;
        width: 172px;
        position: relative;
        nav {
            padding-left: 10px;
            padding-right: 10px;
            a {
                display: block;
            }
        }
        .primary-focus & {
            background: none;
            border: none;
            box-sizing: border-box;
            float: left;
            padding-left: .4rem;
            width: 24%;
        }
    }
    // Remove Refinements for responsive design
    .pt_content-search-result &,
    .pt_order & {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
}

.secondary-content {
    clear: both;
}

.error-message.full-wrap {
    width: 100%;
}
.site-offline {
    background: url('../images/main/site-offline-background.png') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include respond-to('medium-ipad') {
        background: url('../images/main/site-offline-background-mobile.png') center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .content {
        width: 1200px;
        margin: 140px auto;
        padding-top: 137px;
        padding-bottom: 237px;
        background: white;
        text-align: center;
        @include respond-to('medium-ipad') {
            width: 90%;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 40px 20px;
        }
        @include respond-to('small-min-ipad') {
            margin-top: 15%;
        }
        @include respond-to('medium-ipad-min') {
            margin-top: 140px;
        }
        .innis-logo {
            margin-bottom: 137px;
            @include respond-to('medium-ipad') {
                margin-bottom: 20%;
            }
        }
        .headline {
            font-size: 45px;
            font-family: $Roboto-Bold;
            color: $green;
            line-height: 100%;
            margin-bottom: 37px;
            @include respond-to('medium-ipad') {
                font-size: 30px;
            }
        }
        .message {
            font-size: 18px;
            font-family: $Roboto-Regular;
            color: $mid-grey;
            line-height: 100%;
            margin-bottom: 14px;
            @include respond-to('medium-ipad') {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 5px;
            }
        }
        .contact {
            @extend %clearfix;
            width: 615px;
            margin: 60px auto 0;
            @include respond-to('medium-ipad') {
                width: 100%;
                font-size: 14px;
            }
            .col-1 {
                width: auto;
                margin-right: 27px;
                @include respond-to('medium-ipad') {
                    margin-right: 0;
                    width: 100%;
                }
                span {
                    display: inline-block;
                    vertical-align: middle;
                    @include respond-to('medium-ipad') {
                        display: block;
                    }
                    &.phone-icon {
                        margin-right: 15px;
                        @include respond-to('medium-ipad') {
                            margin-right: 0;
                        }
                    }
                    &.contact-us {
                        font-family: $Roboto-Bold;
                        font-size: 20px;
                        @include respond-to('medium-ipad') {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .col-2 {
                padding-top: 10px;
                width: auto;
                float: left;
                text-align: left;
                color: $mid-grey;
                font-size: 14px;
                @include respond-to('medium-ipad') {
                    width: 100%;
                    text-align: center;
                    float: none;
                }
                .time {
                    color: $black;
                }
            }
        }
    }
}