.addresses {
    .payment-list {
        .firstVisa .cc-image {
            background: url(../images/checkout/card02.gif) no-repeat;
            height: 34px;
        }
        .Visa .cc-image {
            background: url(../images/checkout/card02.gif) no-repeat;
            height: 34px;
        }
        .Amex .cc-image {
            background: url(../images/checkout/card03.gif) no-repeat;
            height: 34px;
        }
        .MasterCard .cc-image {
            background: url(../images/checkout/card01.gif) no-repeat;
            height: 34px;
        }
        .Master .cc-image {
            background: url(../images/checkout/card01.gif) no-repeat;
            height: 34px;
        }
        .Discover .cc-image {
            background: url(../images/checkout/card04.gif) no-repeat;
            height: 34px;
        }
        li {
            position: relative;
            .cc-image {
                margin-bottom: 10px;
            }
            .cc-number, .cc-exp {
                font-size: 14px;
                color: $default-color;
            }
            .cc-owner {
                margin-bottom: 6px;
                font-family: $Roboto-Bold;
                text-transform: uppercase;
                display: none; 
            }
            .cc-type {
                @extend.cc-owner;
                display: block;
            }
            .cc-default-card {
                @extend .payment-button-text;
                color: $white;
                font-family: $Roboto-Bold;
            }
            .payment-button-text {
                position: absolute;
                bottom: 40px;
                background: none;
                border: none;
                color: $nero;
                font-size: 14px;
                text-decoration: underline;
                cursor: pointer;
                padding-left: 0;
                font-family: $Roboto-Bold;
            }
            .creditcardDelete {
                @extend .payment-button-text;
                bottom: 18px;
                color: $nobel;
                text-transform: uppercase;
                text-decoration: underline;
                font-size: 14px;
                padding-left: 0;
                font-family: $Roboto-Regular;
            }
        }
        li.default {
            .cc-owner {
                color: $white;
                font-size: 14px;
                font-family: $Roboto-Bold;
                text-transform: uppercase;
            }
            .cc-type {
                @extend.cc-owner;
                display: block;
            }
            .cc-default-card {
                @extend.cc-owner;
                cursor: text;
                text-decoration: none;
                text-transform: capitalize !important;
                display: block;
                margin-bottom: 0;
            }
        }
    }
}
.paymentinfomation {
    .edit-address-form .form-row label span {
        font-weight: 300;
    }
    .form-label-text {
        text-align: left;
        width: 100%;
        float: none;
    }
    .payment-name {
        width: 49%;
    }
    .form-row-button {
        .btn-type {
            min-width: 160px;
        }
    }
    .form-label-text {
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 14px;
    }
    .month {
        label[for="dwfrm_paymentinstruments_creditcards_newcreditcard_expiration_month"] {
            display: none;
        }
    }
    .year {
        label[for="dwfrm_paymentinstruments_creditcards_newcreditcard_expiration_year"] {
            display: none;
        }
    }
}
.paymentslist {
    #dialog-confirm-delete-creditcard {
        span {
            display: none;
        }
    }
}
.credit-card {
    .ui-dialog-buttonpane .ui-dialog-buttonset {
        float: none;
        text-align: center;
    }
    .ui-dialog-titlebar {
        position: static;
        padding: 30px 0px 10px;
        .ui-dialog-title {
            width: 100%;
            font-size: 20px;
            font-family: $Roboto-Bold;
        }
    }
    #dialog-confirm-delete-creditcard {
        span {
            font-size: 14px;
            color: $nobel;
        }
    }
    .ui-dialog-buttonpane {
        padding-bottom: 30px;
        padding-top: 0;
        margin-top: 0;
        .ui-button-text-only {
            border: 1px solid $border-gray-first;
        }
    }
}