@include respond-to('small-ipad') {
    .pt_product-details{
        .product-info {
            .tabs {
                .product-list {
                    .product-tile {
                        .product-status {
                            min-height: 54px;
                        }
                    }
                }
            }
        }
    }
    .pdp-main .line-block .point-info {
    	.right {
    		float: left;
    	}
    }
    #main {
        .primary-content {
            .product-image-container {
                max-width: 100%;
                
                .primary-image {
                    max-width: 100%;
                }
            }
            .detail-product-set {
                padding-bottom: 45px;
                margin-bottom: 45px;
                
                .product-pricing {
                    margin-bottom: 30px;
                }
                .short-desc {
                    padding-bottom: 30px;
                }
                .product-add-to-cart {
                    margin-bottom: 30px;
                }
            }
            .product-set-item {
                margin: 15px auto;
            }
            .product-col-2{
                .product-add-to-cart-below {
                    margin: 30px 0;
                }
                .yotpo.yotpo-small{
                    .text-m{
                        display: inline-block;
                        margin: 0;
                        padding-left: 8px;
                    }
                }
                .product-variations{
                    .variant-dropdown{
                        .value{
                            width: 54%;
                        }
                    }
                }
            }
        }
        .product-detail {
            .product-shade-price {
                margin-bottom: 20px;
            }
            .rewards-container-summary {
                .level-container {
                    .level-description, .point-scale-container, .point-start-end-container {
                        width: 90%;
                    }
                }
            }
        }
    }
}
@include respond-to('small') {
    #main {
        #primary {
            margin-bottom: 0;
        }
    }
    .pt_product-details {
        footer {
            margin-top: 0;
        }
        .product-info {
            .tabs {
                .product-list {
                    .product-tile {
                        .product-status {
                            min-height: 40px;
                        }
                    }
                }
                .ratings {
                    margin-bottom: 20px;
                    max-width: 100%;
                }
            }
        }
        .primary-content {
            padding-bottom: 0;
            .pdp-main {
                .product-info {
                    .tabs .ui-tabs-panel {
                        .learn-more .more-content .more-content-inner {
                            word-wrap: break-word;
                        }
                    } 
                    .product-tile {
                        .product-shade, .yotpo-bottomline-top-div {
                            min-height: initial;
                        }
                    }
                    .regimen {
                        ul li {
                            min-height: initial;
                           .product-type {
                                min-height: initial;
                            }
                        }
                    }
                }
            }
        }
    }
    .pt_product-details{
        .breadcrumb{
            display: none;
        }
        .product-banner{
            .banner-bg{
                height: 590px;
                background-size: cover;
            }
            .banner-desc{
                display: none;
            }
        }
        #main{
            .primary-content{
                padding-left: 0;
                padding-right: 0;
                .product-has-banner & {
                    top: -13%;
                }
                .product-image-container{
                    background: $white;
                    width: auto;
                    max-width: 500px;
                    margin-left: auto;
                    margin-right: auto;
                    float: none;
                    .product-has-banner & {
                        width: 500px;
                        left: 50%;
                        top: -570px;
                    }
                    .product-primary-image{
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                    .product-thumbnails{
                        padding-left: 30px;
                        padding-right: 30px;
                        ul{
                            padding-top: 10px;
                            padding-bottom: 15px;
                        }
                    }
                }
                .product-col-2{
                    width: 100%;
                    .product-status{
                        min-height: 0;
                        margin-top: 10px;
                    }
                    .product-name{
                        text-transform: uppercase;
                        font-family: $Roboto-Bold;
                        margin-bottom: 0;
                    }
                }
                .product-info{
                    .tabs{
                        .ui-tabs-panel{
                            padding: 15px 0;
                            .learn-more{
                                span{
                                    &.visible-desktop{
                                        display: none;
                                    }
                                    &.visible-mobile{
                                        display: inline-block;
                                    }
                                }
                            }
                            .content{
                                margin-bottom: 0px;
                                padding-bottom: 0px;
                                iframe{
                                    width: 100%;
                                }
                            }
                            .slick-slider{
                                button.slick-arrow.slick-next{
                                    right: -20px;
                                }
                                button.slick-arrow.slick-prev{
                                    left: -20px;
                                }
                            }
                        }
                    }
                    .regimen{
                        overflow-y: hidden;
                        overflow-x: auto;
                        width: 100%;
                        ul{
                            text-align: center;
                            font-size: 0;
                            white-space: nowrap;
                            li{
                                width: 200px;
                                min-width: 200px;
                                padding-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include respond-to('xmedium') {
    .search-result-items {
        .product-tile {
            .yotpo-bottomline-top-div {
                min-height: 0;
            }
            .product-shade {
                min-height: 0;
                margin-bottom: 10px;
                overflow: hidden;
            }
        }
    }
}
@include respond-to('xsmall') {
    .pt_product-details{
        .product-banner{
            .banner-bg{
                height: 340px;
                background-size: cover;
            }
            .banner-desc{
                display: none;
            }
        }
        #main{
            .primary-content{
                .product-image-container{
                    .product-has-banner & {
                        width: 300px;
                        top: -315px;
                    }
                    .product-primary-image{
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                    .product-thumbnails{
                        padding-left: 30px;
                        padding-right: 30px;
                        ul{
                            padding-top: 10px;
                            padding-bottom: 15px;
                            li{
                                width: 25px;
                                &.selected{
                                    outline: 2px solid $nero;
                                    outline-offset: -2px;
                                }
                                &.video{
                                    .productvideo{
                                        height: 25px;
                                    }
                                    &:after{
                                        width: 12px;
                                        height: 12px;
                                        top: 6px;
                                        background-size: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@include respond-to('xsmall') {
	.pt_product-details {
		.product-banner {
			.banner-bg {
				height: 510px;
				background-image: none !important;
			}
		}
		#main {
			.primary-content {
				.product-image-container {
					.product-thumbnails {
						ul {
							li {
								width: 50px;
							}
						}
					}
				}
				.product-col-2 {
					padding-top: 15px;
				}
			}
		}
	}
	.product-has-banner {
		.pt_product-details {
			#main {
				.primary-content {
					.product-image-container {
						max-width: 100%;
					}
				}
			}
		}
	}
}

@include respond-to('xsmall-iphone-horizontally') {
    .pt_product-details {
        #main {
            .primary-content {
                .product-image-container {
                    width: 320px;
                    top: -339px;
                }
                .detail-product-set {
                    .product-col-2 {
                        padding-top: 0;

                        .short-desc {
                            padding-bottom: 10px;
                        }
                        .product-add-to-cart {
                            margin-bottom: 0;
                        }
                    }
                }
                .product-set-list {
                    .product-set-item {
                        margin-bottom: 30px;
                    }
                    .product-set.product-detail {
                        padding-top: 10px;
                        .product-set-add-all-cart {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
	}
	.pt_product-details {
		.product-banner {
			.banner-bg {
				height: 340px;
			}
		}
		#main {
			.primary-content {
				.product-image-container {
					.product-primary-image {
						padding-left: 0;
						padding-right: 0;
					}
					.product-thumbnails {
						padding-left: 0;
						padding-right: 0; 
					}
				}
			}
		}
	}

}

@include respond-to('xsmall-iphone') {
	.pt_product-details #main .primary-content .product-image-container .product-thumbnails ul li {
		width: 45px;
	}
}