#tabs .more {
    display: none;
}
.pt_product-details{
    @extend .clear;
    .product-status {
    	display: flex;
    	flex-direction: column;
    	position: absolute;
    	text-align: center;
    }
    .product-banner{
        position: relative;
        background: $white;
        .banner-bg{
            height: 280px;
            background-size: 100%;
            background-repeat: no-repeat;
            .banner-desc{
                color: $white;
                text-align: center;
                width: 100%;
                padding-top: 40px;
            }
        }
    }
    #main{
        @extend .clear;
        .primary-content{
            position: relative;
            background: $white;
            padding-left: 60px;
            padding-right: 60px;
            padding-top: 20px;
            float: none;
            .product-has-banner & {
                top: -150px;
                margin-bottom: -150px;
            }
            @extend .clear;
            &.no-banner{
                position: static;
            }
        }
    }
}
#product-nav-container {
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 160px;
    div {
        float: left;
        text-align: center;
        width: 77px;
    }
    img {
        max-height: 100%;
        max-width: 80%;
    }
    span {
        display: block;
        height: 65px;
    }
    .divided span {
        border-right: 1px solid $gainsboro;
        padding-right: 5px;
    }
}

.pdp-main {
    @extend %clearfix;
    font-family: $Roboto-Regular;
    .product-col-2.product-detail {
        .short-desc {
            margin: 10px 0px 20px;
        }
        .availability-block {
            .availability-web {
                text-align: center;
                label {
                    display: none;
                }
                .availability-msg {
                    .in-stock-msg {
                        display: none;
                    }
                    .out-of-stock {
                        padding: 16px 0;
                        border-bottom: 1px solid $gainsboro;
                        color: $red;
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
                
            }
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .product-col-1 {
        @media screen and (min-width: 480px) {
            float: left;
            width: 54.5%;
        }
    }
    
    .pdt-img-cho-mobile{
        margin-top: 0px;
        top: 50%;
        position: relative;
        .pdt-img{
            position: relative;
            margin: 0 auto;
            width: 100%;
            padding-bottom: 100%;
            text-align: center;
            div{
                max-width: 450px;
                max-height: 450px;
                width: 100%;
                height: 100%;
            }
            .a-center{
                position: absolute;
                left: 0%;
            }
            .v-center{
                position: absolute;
                top: 0%;
            }
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        .loading{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url(../images/loading_page.gif) no-repeat scroll center center $white;
        }
    }
    .product-col-2 {
        @media screen and (min-width: 480px) {
            float: right;
            width: 45.5%;
        }
        .price-standard {
            font-size: 13px;
        }
        .pdt-detail-sns{
            font-size:0;
            text-align:center;
            li{
                display:inline-block;
                margin:0 1px;
                vertical-align:top;
                a{
                    display: block;
                    width: 34px;
                    height: 34px;
                    background: url(../images/sns.png) no-repeat;
                    &.sns-facebook{
                        background-position:0px -34px;
                        &:hover{
                            background-position:0px 0;
                        }
                    }
                    &.sns-twitter{
                        background-position:-34px -34px;
                        &:hover{
                            background-position:-34px 0;
                        }
                    }
                    &.sns-instagram{
                        background-position:-68px -34px;
                        &:hover{
                            background-position:-68px 0;
                        }
                    }
                    &.sns-google{
                        background-position:-102px -34px;
                        &:hover{
                            background-position:-102px 0;
                        }
                    }
                }
            }
        }
        .wrap-full-detail{
            .promotion{
                display: none;
            }
            .full-detail a {
                font-family: $Roboto-Bold;
            }
            .add-to-cart-wrapper {
                padding: 16px 0;
            }
        }
    }
    .line-block {
        position: relative;
        .point-info {
            text-transform: uppercase;
            .two-column {
                .left {
                    .name {
                        font-family: $Roboto-Bold;
                        font-size: 13px;
    
                        .amount-label {
                            color: #222;
                            margin-right: 5px;
                            font-size: 16px;
                        }
                        .amount-points {
                            color: $green;
                            font-size: 16px;
                        }
                    }
                }
                .right {
					@media screen and (max-width: 1440px) {
						width: 100%;
						display:block;
					}					
                    span {
                        text-decoration: underline;
                        color: $green;
                        font-size: 16px;
                        text-transform: none;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
            .type{
                color: $nero;
                font-size: 13px;
                text-align: right;
                span{
                    color: $green;
                }
            }
        }
        .rewards-container-summary {
            position: absolute;
            background: white;
            border: 1px solid $border-gray-first;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,.25);
            text-align: center;
            z-index: 10;
            padding: 20px;
            margin: 0;
            right: 0;
            top: 55px;
            left: 0;

            .close-button {
                background: url(../images/icon/bs_close.png) no-repeat;
                width: 18px;
                height: 18px;
                display: block;
                position: absolute;
                right: 8px;
                top: 11px;
                cursor: pointer;
            }
            .level-container {
                .your-level {
                    font-family: $Roboto-Bold;
                    font-size: 14px;
                    text-transform: uppercase;
                }
                .customer-level {
                    color: $green;
                    font-family: $Roboto-Bold;
                    font-size: 26px;
                    font-family: "Roboto Bold";
                    margin: 5px auto 0;
                    text-transform: uppercase;
                }
                .level-description {
                    width: 65%;
                    margin: 10px auto 0;
                    padding: 0;
                }
                .progress-label {
                    margin: 30px auto 15px;
                    font-family: $Roboto-Bold;
                    font-size: 13px;
                    text-transform: uppercase;
                }
                .point-progress {
                    .point-scale-container {
                        border: 1px solid $border-gray-first;
                        width: 75%;
                        height: 40px;
                        margin: 0 auto;
                        .current-points, .order-points {
                            height: 39px;   // because of the border
                            padding: 0;
                            border-left: none;
                        }
                        .current-points {
                            background: $brand-color;
                        }
                        .order-points {
                            background: #519970;
                        }
                    }
                    .point-start-end-container {
                        width: 75%;
                        margin: 0 auto;
                        .start-point {
                            bottom: 0;
                            float: left;
                            font-size: 13px;
                            position: relative;
                        }
                        .end-point {
                            bottom: 0;
                            float: right;
                            font-size: 13px;
                            position: relative;
                        }
                    }
                }
            }
            .register-sign-in-message {
                font-family: $Roboto-Bold;
                font-size: 16px;
                margin: 0 auto;
                padding-top: 20px;
            }
        }
    }
    .product-number {
        color: $very-light-gray;
        font-size: .65rem;
        margin-bottom: .5rem;
    }
    .product-shade-price{
        margin-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: start;
		line-height: 28px;
		flex-wrap: wrap;
		min-width: 305px;
		.product-actions {		
		    display: block;
			.wishlist-counter {
				display: inline-block;
				margin-left: 0;
				float: left;
				line-height: 34px;
			}
			.socialsharing {
				margin-left: 10px;
			}
		}
        .shade {
            @extend.unit;
            text-transform: uppercase;
        }
        .unit{
            font-size: 13px;
            color: $dim-gray;
        }
        .product-price {
            display: inline;
			margin-right: 10px;
            .price-standard {
                color: $nobel;
                font-weight: 100;
                text-decoration: line-through;
            }
            .price-tiered {
                color: $sangria;
                font-size: .6em;
                line-height: 1.5em;
            }
            .price-sales{
                color: $nero;
                font-size: 20px;
                font-family: $Roboto-Bold;
                margin-left: 5px;
            }
        }
    }
    .short-desc{
        margin: 5px 0 25px;
        font-family: $Roboto-Light;
    }
    .wrap-key-ingredients {
        height: 50px;
        margin-bottom: 10px;
        .key-ingredient-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            float: left;
            margin-right: 20px;
        }
        .key-ingredients {
            float: left;
            font-size: 14px;
            .name {
                font-family: $Roboto-Bold;
                margin-top: 5px;
                letter-spacing: .5px;
            }
            .key-ingredient-links {
                a {
                    margin-right: 20px;
                    text-decoration: underline;
                    color: $default-color;
                }
            }
        }
    }
    .product-review {
        @extend %clearfix;
        margin-bottom: .5rem;
    }
    .product-main-attributes {
        .attribute {
            padding: .2em 0;
        }
        .label {
            padding: 0;
        }
    }
    .product-primary-image {
        max-width: 100%;
        text-align: center;
        padding-right: 60px;
    }
    .product-review-quote-container {
        margin: 10px auto;
        padding: 0px 20px;
        text-align: center;

        .opening-quote, .closing-quote {
            font-family: $Roboto-Bold;
            font-size: 48px;
        }
        .review-quote {
            font-family: $Roboto-Light;
            font-size: 20px;
            font-style: italic;
        }
        .reviewer-name {
            font-family: $Roboto-Bold;
            font-size: 15px;
            padding-right: 50px;
            text-align: right;
        }

        @include respond-to('large') {
            padding: 0 60px 0 0;
        }

        @media screen and (max-width: 960px) {
            .opening-quote, .closing-quote {
                font-size: 30px;
            }
            .review-quote {
                font-size: 18px;
            }
            .reviewer-name {
                font-size: 14px;
                padding-right: 0;
            }
        }

        @include respond-to('small') {
            padding: 0 30px 15px 30px;

            .review-quote {
                font-size: 24px;
            }
            .review-name {
                font-size: 20px;
            }
        }

        @include respond-to('xsmall') {
            padding: 0 0 15px 0;
            margin-bottom: 0;
        }
    }
	.formulated-without-attributes {
	    display: inline-block;
	    color: $green;
	    font-family: $Roboto-Bold;
	    text-align: center;
	    width: 100%;
	
	    .formulated-without {
	        margin: 0 auto;
	    }
	    ul {
	        margin: 10px auto;
	        display: block;
	        text-align: center;
	
	        li {
	            display: inline-block;
	            margin: 0 15px;
	            .leaf-icon {
	                background-image: url(../images/leaf-full.png);
	                background-repeat: no-repeat;
	                background-size: cover;
	                width: 16px;
	                height: 16px;
	                display: block;
	                float: left;
	                margin-top: 5px;
	                margin-right: 5px;
	            }
	        }
	    }
	}
    //Product Info
    .product-info {
        clear: both;
        padding-top: 1em;
        .prd-detail-more{
            margin-top: 20px;
            a{
                text-decoration: underline;
                text-transform: capitalize;
                color: $nero;
                &:hover{
                    color: $green;
                }
            }
        }
        .tabs{
            .ui-tabs-nav {
                float: none;
                text-align: center;
                font-size: 18px;
                list-style: square;
                padding-bottom: 0px;
                text-transform: uppercase;
                font-family: $Roboto-Bold;
                height: auto;
                border-top: 1px solid $gainsboro;
                padding-top: 30px;
                white-space: nowrap;
                overflow-x: auto;
                li {
                    display: inline-block;
                    float: none;
                    margin: 0 20px;
                    a {
                        float: none;
                        padding: 0 5px;
                        outline: none;
                        font-size: 25px;
                        color: $nero;
                    }
                    &.ui-state-active a {
                        color: $green;
                    }
                }
            }
            .ui-tabs-panel {
                border-bottom: 1px solid $gainsboro;
                .row-line{
                    .content{
                        font-size: 16px;
                        font-family: $Roboto-Regular;
                        color: $default-color;
                        margin-top: 20px;
                        img{
                            width: 100%;
                        }
                    }
                    &.benefits > .content > .formulated-without-attributes {
                        margin-top: 10px;
                    }
                    &.ingredient,
                    &.shade{
                        .title{
                            span{
                                font-size: 24px;
                                margin-bottom: 25px;
                                color: $nero;
                                border: 0;
                            }
                        }
                    }
                }
                img {
                    max-width: 100%;
                    margin-top: 30px;
                }
                .yotpo-icon-profile-social{
                	img{
                		margin-top: 0px;
                	}
                }
                .learn-more{
                    background-color: $darker-gray2;
                    margin-top: 30px;
                    .more-title{
                        padding: 15px 0;
                        cursor: pointer;
                        span{
                            line-height: 1;
                            color: $nero;
                            font-size: 16px;
                            display: block;
                            width: 100%;
                            &.visible-mobile{
                                display: none;
                            }
                            &:hover{
                                color: $green;
                            }
                            &:after{
                                content: "";
                                display: inline-block;
                                width: 16px;
                                height: 11px;
                                background: url(../images/sp_icons.png) no-repeat;
                                background-position: -20px -325px;
                                margin-left: 5px;
                            }
                        }
                        &.active{
                            span{
                                &:after{
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                    .more-content{
                        display: none;
                        border-top: 1px solid $border-gray-first;
                        margin: 0 15px;
                        
                        &.active{
                            display: block;
                        }
                        .more-content-inner{
                            padding: 20px 70px;
                        }
                    }
                }
            }
            .howtouse {
                .title {
                    span {
                        border-bottom: 0;
                        font-size: 24px;
                    }
                }
                .content {
                    font-size: 16px;
                }
            }
        }
        .shades{
            &.slick-slider{
                button.slick-arrow{
                    margin-top: -50px;
                }
                .slick-track{
                    margin: auto;
                }
            }
            li{
                padding-bottom: 20px;
                position: relative;
                .name{
                    text-align: center;
                    margin-top: 10px;
                    p{
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                    p:first-child{
                        color: $nero;
                    }
                    p:last-child{
                        color: $dim-gray;
                    }
                }
                .thumb-img{
                    img{
                        width: 100%;
                    }
                }
                &:after,
                &:before{
                    bottom: -1px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    display: none;
                    left: 50%;
                }
                &:after{
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: $white;
                    border-width: 10px;
                    margin-left: -10px;
                }
                &:before{
                    border-color: rgba(221, 221, 221, 0);
                    border-bottom-color: $border-gray-first;
                    border-width: 11px;
                    margin-left: -11px;
                }
                &.active{
                    &:after,
                    &:before{
                        display: inline;
                    }
                    .thumb-img{
                        position: relative;
                        &:after,
                        &:before{
                            content: "";
                            position: absolute;
                        }
                        &:after{
                            background: rgba(0, 0, 0, 0.7);
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                        &:before{
                            background-image: url(../images/checked-circle.png);
                            width: 48px;
                            height: 48px;
                            z-index: 1;
                            top: 50%;
                            left: 50%;
                            margin-top: -24px;
                            margin-left: -24px;
                        }
                        img{
                            margin: auto;
                        }
                    }
                }
            }
        }
        .shades{
            position: relative;
            z-index: 2;
        }
        .shades-content{
            margin-bottom: 50px;
            position: relative;
            top: -1px;
            z-index: 1;
            li{
                display: none;
                &.active{
                    display: block;
                }
                > img {
                    width: 100%;
                    border: 1px solid $dark-gray-third;
                }
            }
            .shape-image img {
                max-width: 100%;
            }
            .shape-content {
                padding-top: 20px;
                .shape-headline {
                    font-size: 26px;
                    font-weight: bold;
                    margin-bottom: 8px;
                }
                p {
                    font-size: 16px;
                    line-height: 1.6;
                    margin-bottom: 26px;
                    font-family: $Roboto-Light;
                }
                .shape-headline-sub {
                    margin-bottom: 20px;
                    font-size: 22px;
                    font-family: $Roboto-Regular;
                }
            }
            .shape-vertical {
                .shape-content {
                    padding: 40px 80px 5px;
                    @include respond-to('small') {
                        padding-left: 30px;
                        padding-right: 30px;
                    }
                }
                .shape-image {
                    border: 1px solid $dark-gray-third;
                    padding: 20px;
                    &.shape-iframe {
                        width: 100%;
                        padding-bottom: 54%;
                        position: relative;
                        iframe {
                            position: absolute;
                            left: 1%;
                            top: 1%;
                            width: 98%;
                            height: 98%;
                        }
                    }
                }
            }
            .shape-horizon {
                border: 1px solid $dark-gray-third;
                padding: 20px 10px;
                text-align: center;
                .shape-image,
                .shape-content {
                    display: inline-block;
                    vertical-align: middle;
                    width: 62%;
                }
                .shape-content {
                    text-align: left;
                    width: 36%;
                    padding: 0 10px 0 30px;
                }
            }
        }
        .rec-title{
            padding: 20px 0 30px;
            font-size: 24px;
            font-family: $Roboto-Bold;
            text-transform: uppercase;
        }
        .people-also-bought-title {
            font-size: 20px;
            font-family: "Roboto Bold";
            text-transform: uppercase;
            color: $nero;
            span {
                display: inline-block;
                padding-bottom: 5px;
                margin-bottom: 30px;
                border-bottom: 2px solid $nero;
            }
        }
        .regimen{
            ul{
                li{
                    min-height: auto;
                    width: 24%;
                    float: none;
                    display: inline-block;
                    vertical-align: top;
                    .product-type{
                        min-height: 330px;
                        .product-image{
                            position: relative;
                            a{
                                display: block;
                                line-height: 0;
                            }
                            &:before{
                                content: "";
                                position: absolute;
                                left: -15px;
                                top: 45%;
                                width: 30px;
                                height: 30px;
                                background: url(../images/sp_icons.png) no-repeat;
                                background-position: -45px -294px;
                            }
                        }
                        .product-name{
                            overflow: hidden;
                            font-size: 16px;
                            line-height: 24px;
                            font-family: $Roboto-Bold;
                            color: #222;
                        }
                        .product-pricing,
                        .product-sku,
                        .product-promo,
                        .hover{
                            display: none;
                        }
                    }
                    &:first-child{
                        .product-type{
                            .product-image{
                                &:before{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main-best-seller {
            overflow: initial;
        }
    }
    // Product Add to Cart Area (Availability, Quantity)
    .product-add-to-cart {
        display: block;
        margin: 0;
        .inventory {
            float: left;
            white-space: nowrap;
            width: 80px;
            label {
                display: inline;
                float: none;
                text-align: right;
            }
            input {
                font-size: 1.5em;
                height: 50px;
                width: 50px;
                margin-right: .4em;
                text-align: center;
                @media screen and (min-width: 768px) {
                    height: 37px;
                    width: 37px;
                }
            }
        }
        button {
            margin-left: 5px;
            &.add-all-to-cart {
                width: auto;
            }
        }
        .dw-apple-pay-button {
            margin-left: .5rem;
            @media screen and (min-width: 768px) {
                width: 172px; // make sure apple pay button is as big as Add To Cart
            }
        }
    }
    .promotion {
        background-color: $white-smoke;
        border-top: 1px solid #ccc;
        overflow: hidden;
        padding: 1.5em;
        .promotion-title {
            font-weight: bold;
            margin-bottom: .3rem;
            text-transform: uppercase;
        }
        .promotion-callout {
            color: $rain-forest;
            font-size: 1rem;
            .tooltip {
                font-size: .7rem;
                margin-left: .2rem;
            }
        }
    }
    .product-actions {
        @extend %clearfix;
        display: inline;
        .wishlist-counter {
            display: inline;
            margin-left: 20px;
        }
        .socialsharing {
            display: inline;
            margin-left: 20px;
            ul {
                display: inline;
            }
        }
        a {
            margin-right: .1rem;
            &.share-icon {
                color: $nobel;
                &:hover {
                    color: $citrus;
                }
                i {
                    font-size: 3rem;
                    @media screen and (min-width: 768px) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    // Product Set Display
    .product-set {
        .product-set-list {
            border-top: 1px solid $very-light-gray;
            .product-set-details {
                float: left;
                padding-left: .5rem;
                width: 75%;
            }
            .product-set-item {
                clear: both;
                overflow: hidden;
                padding: 1em 0 0;
            }
            .product-set-image {
                float: left;
                width: 22%;
                img {
                    width: 100%;
                }
            }
            .product-price {
                font-size: 1rem;
                margin: .5em 0;
            }
            .attribute {
                h3 {
                    width: 25%;
                }
                .label {
                    width: 25%;
                    white-space: nowrap;
                }
            }
        }
        .product-add-to-cart {
            border-top: none;
            padding-top: 0;
            label {
                float: left;
                font-size: .75rem;
                padding-top: .3em;
                padding-right: .5em;
            }
            .availability-web {
                label {
                    float: none;
                    padding: top;
                }
            }
        }
    }


    #pdp-youcam-screen{
        position: absolute;
        text-align: center;
        background-color: #fff;
        z-index: 36;
        width: 43%;
        height: 400px;
        display: none;
        @media screen and (max-width: 768px) {
            margin: auto;
            left: -19px;
        }
        @media screen and (max-width: 481px) {
            width: 100%;
            margin: auto;
            height: 365px;
            right: 20px;
            z-index: 36;
        }
        @media screen and (max-width: 1024px) and (min-width: 768px) {
            height: 478px;
            left: 0;
        }
    }
    
    #pdp-you-cam-open-close-buttons{
        z-index: 9999;
        width: 100%;
        text-align: center;
        @media screen and (max-width: 1024px) and (min-width: 768px) {
            width: 80%;
        }
    }

}

.main-image {
    display: block;
}
.primary-image {
    max-width: 100%;
}

.product-thumbnails {
    padding-right: 60px;
    ul {
        @extend %clearfix;
        font-size: 0;
        text-align: center;
        padding-top: 30px;
    }
    // thumbnail
    .thumb {
        position: relative;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        margin-left: 2px;
        width: 80px;
        cursor: pointer;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        &.selected {
            outline: 3px solid $nero;
            outline-offset: -3px;
        }
        &:first-child{
            margin: 0;
        }
        &.video{
            overflow: hidden;
            position: relative;
            z-index: 1;
            .productvideo{
                height: 80px;
                max-width: none;
                position: relative;
                left: 50%;
                transform: translatex(-50%);
                z-index: -1;
            }
            &:after{
                position: absolute;
                content: "";
                background: url(../images/video_icon.png) no-repeat;
                width: 28px;
                height: 28px;
                top: 25px;
                left: 50%;
                transform: translatex(-50%);
                pointer-events: none;
            }
        }
    }
    // thumbnail image
    img {
        box-sizing: border-box;
        cursor: pointer;
        max-width: 100%;
    }
}

.rating {
    color: $rain-forest;
}

.product-variations,
.product-options {
    .attribute {
        overflow: hidden;
        position: relative;
        h3,
        .label {
            font-family: $Roboto-Bold;
            margin-bottom: .3rem;
            text-transform: uppercase;
        }
        .value {
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 75%;
            }
        }
        ul {
            float: right;
            width: 100%;
        }
        .selected-value {
            border: 0 none;
            color: $nero;
            padding-top: 20px;
            font-size: 14px;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            right: 0;
        }
        .size-chart-link {
            clear: both;
            float: none;
            a {
                border-color: $white !important;
                padding: 0;
            }
        }
        &.variant-dropdown{
            overflow: visible;
            .label,
            .value{
                display: inline-block;
            }
            .label{
                margin: 0;
                line-height: 42px;
                vertical-align: top;
            }
            .value{
                float: right;
                width: 66%;
            }
        }
    }
    .swatches li {
        float: left;
        &:hover,
        &.selected {
            a {
                border-color: $nero;
            }
        }
        &.unselectable {
            a {
                color: $gainsboro;
                opacity: .8;
            }
            &:hover {
                a {
                    border-color: $gainsboro;
                }
            }
        }
        a {
            border-color: $white;
            border-style: solid;
            border-width: 1px;
            display: block;
            line-height: 3.5;
            min-height: 2.625rem;
            min-width: 2.625rem;
            margin: 0 .5rem 0 0;
            padding: 1px;
            text-align: center;
            white-space: nowrap;
            border-radius: 50%;
            overflow: hidden;
            padding: 3px;
            @media screen and (min-width: 768px) {
                line-height: 2.7;
                min-height: 2rem;
                min-width: 2rem;
            }
            img{
                border-radius: 50%;
            }
        }
    }
    .color li {
        a {
            line-height: 0;
            width: 2.625rem;
            height: 2.625rem;
            @media screen and (min-width: 768px) {
                width: 2rem;
                height: 2rem;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    select {
        background-color: $white;
        border: 1px solid $gainsboro;
        border-radius: 0;
        height: 42px;
        width: 100%;
        margin-left: 0;
        @media screen and (min-width: 768px) {
            height: 32px;
        }
    }
}

// Tabs using just CSS, no javascript required
.tabs {
    position: relative;
    text-align: center;
}
.tab {
    @media screen and (min-width: 768px) {
        display: inline-block;
        float: none;
    }
    .tab-switch {
        display: none;
        &:checked {
            + .tab-label {
                @media screen and (min-width: 768px) {
                    background: #fff;
                    border-bottom-color: $citrus;
                    color: $black;
                    font-weight: 700;
                    top: -0.0625rem;
                    transition: all 0.35s;
                    z-index: 1
                }
            }
            + label + .tab-content {
                opacity: 1;
                transition: all 0.35s;
                z-index: 2;
            }
        }
    }
    .tab-label {
        border-bottom: 3px solid $white;
        color: $nobel;
        display: block;
        font-weight: 400;
        line-height: 2.5em;
        margin-bottom: 0;
        position: relative;
        text-transform: none;
        top: 0;
        transition: all 0.25s;
        @media screen and (min-width: 768px) {
            cursor: pointer;
            padding: 0 1.25rem;
            &:hover {
                border-bottom-color: $nobel;
                top: -0.25rem;
                transition: top 0.25s;
            }
        }
    }
    .tab-content {
        padding: 1em 0;
        text-align: left;
        z-index: 1;
        @media screen and (min-width: 768px) {
            left: 0;
            opacity: 0;
            position: absolute;
            top: 2.75em;
            transition: all 0.35s;
            width: 100%;
        }
    }
}