.quickshow {
    display: none;
    clear: both;
    border: 1px solid $nero;
    width: 100%;
    position: relative;
    z-index: 22;
    .close-quickview {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $dim-gray;
        cursor: pointer;
        background: url(../images/icon/bs_close.png) no-repeat;
        height: 18px;
        width: 18px;
    }
}

.product-tile {
    .quickview {
        min-width: 180px;
        color: $nero;
        font-family: $Roboto-Bold;
        font-size: 11px;
    }
    .product-status {
	    position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-start; 
	}
    @extend %clearfix;
    color: $nobel;
    position: relative;
    text-align: center;
    .product-sku {
        min-height: 30px;
    }
    .product-promo {
        margin: 0;
        min-height: 30px;
    }
    .yotpo.bottomLine {
        text-align: center;
        margin-bottom: 10px;
        .pull-left {
            float: none;
            text-align: center;
        }
    }
    .hover {
        .availability-web {
            display: block;
            margin-top: 10px;
            margin-bottom: 15px;
            width: 100%;
            .not-available-msg {
                color: $red;
            }
            .in-stock-msg{
                display: none;
            }
            .out-of-stock {
                color: $red;
                position: relative;
                display: inline-block;
                font-size: 13px;
                font-family: $Roboto-Bold;
                visibility: visible;
                &:before {
                    width: 10px;
                    height: 1px;
                    background: $red;
                    display: block;
                    content: "";
                    position: absolute;
                    left: -10px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &:after {
                    width: 10px;
                    height: 1px;
                    background: $red;
                    display: block;
                    content: "";
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    img {
        max-width: 100%;
    }
    .product-image {
        height: auto;
        position: relative;
        text-align: center;
        .thumb-link img {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .product-name {
        color: $nero;
        font-size: 18px;
        .name-link {
            font-size: inherit;
            color: $nero;
            &:hover{
                color: $green;
            }
        }
    }
    .product-shade {
        font-size: 12px;
        color: $nobel;
        text-transform: uppercase;
        min-height: 30px;
    }
    .product-pricing {
        margin: 0.5em 0 10px;
        .product-standard-price {
            text-decoration: line-through;
        }
        .product-sales-price {
            font-weight: bold;
            color: $nero;
            text-transform: uppercase;
        }
    }
    .grid-tile & .product-swatches {
        float: right;
    }
    .product-swatches-all {
        cursor: pointer;
        font-size: 0.9em;
    }
    .product-swatches {
        ul {
            list-style: none outside none;
            margin: 0;
            overflow: hidden;
            padding: 0;
            &.swatch-toggle {
                background: none repeat scroll 0 0 $white;
                display: none;
                position: absolute;
            }
        }
        display: none;
        .pt_product-search-result &,
        .pt_product-compare & {
            display: block;
        }
        &:hover ul.swatch-toggle {
            display: block;
        }
        li {
            float: left;
        }
        .swatch {
            display: block;
            width: 16px;
            img {
                border: 1px solid $white;
                height: 12px;
                padding: 1px;
                width: 12px;
            }
        }
        .selected img,
        img:hover {
            border-color: $citrus;
        }
    }
    .product-promo {
        font-size: 0.8em;
        margin: 0.5em 0;
        text-transform: uppercase;
    }
    .product-compare {
        float: left;
        line-height: 11px;
        label {
            font-weight: 400;
            line-height: 1;
            padding: 0 0 0 .5em;
            width: auto;
        }
        input {
            float: left;
            margin: 0;
        }
    }
    .product-review {
        margin-bottom: 1em;
        .rating-title {
            display: inline-block;
            margin-right: 1em;
        }
        .rating {
            display: inline-block;
        }
    }
    .wide-tiles & {
        height: auto !important; // overwrite synced heights set on element
        .product-image {
            float: left;
            padding-right: 2em;
        }
        .product-name,
        .product-pricing,
        .product-promo,
        .product-swatches,
        .product-review {
            float: left;
            text-align: left;
            width: 65%;
        }
        .product-name {
            font-size: 1.5em;
            height: auto;
            margin-top: 0;
            text-align: center;
        }
        .product-pricing {
            font-size: 1.3em;
        }
        .product-swatches {
            margin-bottom: 1em;
        }
    }
    .quickview.active {
        display: inline-block;
        position: relative;
    }
}
.capture-product-id {
    left: -999em;
    position: absolute;
}
