@include respond-to('medium') {
    .product-tile {
        .quickview {
            display: none;
        }
    }
    .quickshow {
    	.pdp-main {
    		padding: 10px;
    	}
        margin-bottom: 20px;
        .product-status {
            min-height: 0;
        }
        .pdp-main .product-name {
            font-size: 26px;
            line-height: 40px;
        }
        .point-info {
            .left {
                font-size: 13px;
            }
            .right {
                font-size: 13px;
            }
        }
        .product-add-to-cart {
            display: block;
            .inventory {
                width: 100%;
                margin-bottom: 20px;
            }
            #add-to-cart {
                margin-left: 0;
            }
        }
    }
    .product-tile,
    .product-tile:hover{
        .hover{
            .availability-web{
                bottom: 0;
            }
        }
    }
}
@include respond-to('xmedium') {
    .search-result-items .grid-tile {
        padding: 2% 2% 0 2%;
    }
}
@include respond-to('small-ipad') {
    .product-detail {
        .product-add-to-cart {
            #add-to-cart {
                width: 80%;
            }
            .action-wish {
                width: 17%;
                min-width: 40px;
                display: inline-block;
            }
        }
    }
}

@include respond-to('small') {
    .quickshow {
        .pdp-main .product-shade-price .product-price {
            display: block;
        }
        .product-detail {
            #product-content {
                .two-column, .product-actions {
                    display: none;
                }
            }
            .product-add-to-cart {
                .action-wish.simple {
                    width: 10%;
                    display: inline-block;
                }
            }
        }
        .pdp-main {
            .product-col-1 {
                display: none;
            }
            .product-col-2 {
                float: none;
                width: 100%;
                text-align: center;
                .product-variations {
                    text-align: left;
                }
            }
             .wrap-full-detail {
                 position: relative;
                padding-bottom: 40px;
                .inventory {
                    border-bottom: 1px solid $gainsboro;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                }
                #add-to-cart {
                    width: 82%;
                    margin-left: 0;
                    float: left;
                }
                .action-wish {
                    float: left;
                }
                .line-block.full-detail {
                    position: absolute;
                    bottom: -20px;
                    width: 100%;
                    border: none;
                }    
             }
        }
    }
    .pt_product-details {
        .product-detail {
            .product-add-to-cart {
                display: block;
                #add-to-cart {
                    float: left;
                    width: 63%;
                }
                .inventory {
                    margin-bottom: 5px;
                }
                .action-wish {
                    width: 15%;
                    float: left;
                }
            }
        }
    }
}

@include respond-to('xsmall-iphone-horizontally') {
    .quickshow .product-detail .product-add-to-cart .action-wish.simple {
        width: 19%;
    }
    .product-tile {
        .quickview {
            min-width: initial;
        }
    }
    .quickshow {
        padding: 30px;
        .pdp-main {
            .product-name {
                font-size: 18px;
                line-height: 30px;
            }
            .wrap-full-detail {
                #add-to-cart {
                    width: 78%;
                }
                .action-wish {
                    width: 21%;
                }
            }
        }
    }    
}

@include respond-to('xsmall-galaxy') {
    .product-col-2.product-detail {
        .product-status {
            label {
                width: 50px;
                font-size: 9px;
            }
        }
    }
    .quickshow {
        padding: 40px 15px;
        .product-detail {
            .product-variations {
                ul li.attribute .label, .selected-value {
                    font-size: 11px;
                }
            }
        }
        .pdp-main {
            .point-info {
                .left {
                    font-size: 10px;
                }
                .right {
                    font-size: 10px;
                }
            }
            .product-actions {
                a.share-icon i {
                    font-size: 2rem;
                }
            }
        }
    }
}