.ratings{
    min-height: 230px;
    .yotpo-first-review{
        display: none;
    }
    .yotpo-nav-content {
        .yotpo-reviews {
            .yotpo-header {
                .label-with-tooltip .yotpo-action-hover {
                    display: inline !important;
                }
            }
        }
    }
    .yotpo div, .yotpo span, .yotpo p, .yotpo a, .yotpo img, .yotpo i, .yotpo strong, .yotpo sup, .yotpo ul, .yotpo li, .yotpo form, .yotpo label{
        font-family: $Roboto-Regular;
    }
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    .title{
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 24px;
        color: $nero;
        font-family: $Roboto-Regular;
        border-bottom: 2px solid #222;
        display: inline-block;
    }
    .yotpo{
        .write-form{
            .write-review{
                .yotpo-header{
                    label{
                        display: block;
                        +div{
                            width: 223px;
                            height: 45px;
                            background-position: 0 -91px;
                            display: inline-block;
                            background: url(../images/sp_icons.png) no-repeat 0 -91px;
                            margin-bottom: 10px;
                            float: left;
                            font-family: $Roboto-Regular;
                        }
                    }
                    .stars-wrapper{
                        display: block;
                        height: 100%;
                        width: 0;
                        background: url(../images/sp_icons.png) no-repeat 0 -91px $white;
                        background-position: 0 -46px;
                        span{
                            position: absolute;
                            font-size: 45px;
                            &:nth-child(2){
                                left: 55px;
                            }
                            &:nth-child(3){
                                left: 100px;
                            }
                            &:nth-child(4){
                                left: 145px;
                            }
                            &:nth-child(5){
                                left: 190px;
                            }
                            &:before{
                                opacity: 0;
                            }
                        }
                    }
                }
                .yotpo-default-button{
                    @extend .btn-type;
                    color: $white;
                    background: $green;
                    &.yotpo-disabled{
                        cursor: not-allowed;
                        background: $gainsboro;
                    }
                    &:hover,
                    &:focus{
                        text-decoration: none;
                        transition: background .5s, border .5s;
                        background: $green-hover;
                    }
                    &.yotpo-icon-btn{
                        background: #a2a2a2;
                        height: auto;
                        min-width: auto;
                        padding: 6px 11px;
                        &:hover{
                            background: #045020;
                        }
                    }
                }
            }
        }
        .yotpo-logo-title,
        .yotpo-icon-btn-big{
            display: none;
        }
        .yotpo-nav{
            margin-top: 140px;
            font-family: $Roboto-Regular;
            li{
                span{
                    font-family: $Roboto-Regular;
                }
            }
        }
        #yotpo-reviews-top-div{
            position: relative;
        }
        .yotpo-display-wrapper{
            .yotpo-label{
                position: absolute;
                width: 100%;
                border: 0;
                top: 150px;
                text-align: center;
            }
        }
        .yotpo-small-box {
        	padding: 0 10px 0 10px;
        }
        .write-review-wrapper{
            margin-top: 100px;
        }
        &.yotpo-main-widget{
            .write-question-button,
            .write-review-button{
                float: none !important;
                @extend .btn-type;
                background-color: $black;
                &:hover,
                &:focus{
                    background: $british-racing-green2;
                }
            }
            .yotpo-stars{
                .yotpo-icon{
                    width: 35px !important;
                    height: 35px;
                }
            }
            .yotpo-stars,
            .yotpo-review-stars,
            .yotpo-first-review{
                .yotpo-icon{
                    background-size: cover;
                    background-repeat: no-repeat;
                    &:before{
                        visibility: hidden;
                    }
                    &.yotpo-icon-star{
                        background-image: url(../images/leaf-full.png);
                    }
                    &.yotpo-icon-empty-star{
                        background-image: url(../images/leaf-empty.png);
                    }
                    &.yotpo-icon-half-star{
                        background-image: url(../images/leaf-half.png);
                    }
                }
            }
            //special class yotpo-medium apply for tablet
            &.yotpo-medium{
                .yotpo-bottomline.yotpo-bottomline-2-boxes{
                    .yotpo-bottomline-box-1{
                        margin: auto;
                    }
                }
            }
            //special class yotpo-small apply for mobile
            &.yotpo-small{
                .yotpo-first-review{
                    display: block;
                    margin-top: 0;
                    .yotpo-first-review-stars{
                        display: none;
                    }
                    .write-first-review-button{
                        height: 40px;
                        line-height: 40px;
                        font-size: 13px;
                    }
                }
            }
            
        }
        .yotpo-regular-box{
            color: $white;
            border: 0;
            &.yotpo-bottomline-2-boxes{
                padding-bottom: 0;
                margin-bottom: 70px;
            }
            .yotpo-stars-and-sum-reviews{
                float: none !important;
                margin: 0 auto;
                max-width: 185px !important;
                min-width: 185px !important;
                text-align: center !important;
                .yotpo-sum-reviews{
                    text-align: center;
                    width: 100%;
                }
            }
            .yotpo-header{
                .yotpo-header-element{
                    font-family: $Roboto-Regular;
                    label{
                        font-family: $Roboto-Regular;
                    }
                }
            }
        }
        .write-question-wrapper{
            top: 40px !important;
        }
        .yotpo-nav-content{
            .yotpo-first-review-content{
                .yotpo-default-button{
                    @extend .btn-type;
                    background-color: $black;
                    &:hover,
                    &:focus{
                        background: $british-racing-green2;
                    }
                }
            }
        }
        .yotpo-pre-loader{
            .yotpo-empty-stars,
            .yotpo-full-stars{
                .yotpo-icon{
                    background-size: cover;
                    background-repeat: no-repeat;
                    &:before{
                        visibility: hidden;
                    }
                }
            }
            .yotpo-empty-stars{
                .yotpo-icon{
                    &.yotpo-icon-empty-star{
                        background-image: url(../images/leaf-empty.png);
                    }
                }
            }
            .yotpo-full-stars{
                .yotpo-icon{
                    &.yotpo-icon-star{
                        background-image: url(../images/leaf-full.png);
                    }
                }
            }
        }
    }
}
.yotpo{
    &.yotpo-small{
        //overwrite font
        .text-m{
            font-family: $Roboto-Regular;
            color: $default-color !important;
            text-transform: uppercase;
            margin-left: 15px;
        }
        .standalone-bottomline{
            .yotpo-stars{
                .yotpo-icon{
                    background-size: cover;
                    background-repeat: no-repeat;
                    &:before{
                        visibility: hidden;
                    }
                    &.yotpo-icon-star{
                        background-image: url(../images/leaf-full.png);
                    }
                    &.yotpo-icon-empty-star{
                        background-image: url(../images/leaf-empty.png);
                    }
                    &.yotpo-icon-half-star{
                        background-image: url(../images/leaf-half.png);
                    }
                }
            }
        }
    }
}
