.yotpo{
    &.yotpo-small{
        //overwrite font
        .text-m{
            font-family: $Roboto-Regular;
            color: $default-color !important;
            text-transform: uppercase;
            margin-left: 15px;
        }
        .standalone-bottomline{
            .yotpo-stars{
                .yotpo-icon{
                    background-size: cover;
                    background-repeat: no-repeat;
                    &:before{
                        visibility: hidden;
                    }
                    &.yotpo-icon-star{
                        background-image: url(../images/leaf-full.png);
                    }
                    &.yotpo-icon-empty-star{
                        background-image: url(../images/leaf-empty.png);
                    }
                    &.yotpo-icon-half-star{
                        background-image: url(../images/leaf-half.png);
                    }
                }
            }
        }
    }
}
@include respond-to('medium-ipad') {
    .yotpo{
        &.yotpo-small{
            //overwrite font
            .text-m{
                display: block;
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }
}
@include respond-to('xxsmall') {
    .yotpo.yotpo-main-widget.yotpo-small {
        .yotpo-display-wrapper{
            .yotpo-regular-box{
                &.yotpo-regular-box{
                    margin-bottom: 0;
                }
            }
        }
        .yotpo-nav{
            .yotpo-dropdown-wrapper.mobile-collapse{
                .yotpo-menu-mobile-collapse{
                    margin-top: 20px;
                    border: 0;
                    .yotpo-nav-dropdown-category{
                        padding: 2px 16px !important;
                        &.write-review-button{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .ratings {
        .yotpo.yotpo-main-widget.yotpo-small{
            .yotpo-label{
                .yotpo-default-button{
                    display: block;
                    .yotpo-icon-button-text{
                        display: inline-block;
                    }
                }
            }
            .yotpo-nav{
                &.reviews{
                    margin-top: 150px;
                    padding-top: 0;
                }
                .yotpo-visible-mobile,
                .yotpo-dropdown-wrapper,
                .yotpo-clr{
                    display: none !important;
                }
                .yotpo-nav-primary{
                    padding-bottom: 40px;
                }
            }
        }
        .write-review-wrapper{
            .write-review{
                margin-left: 0;
                margin-right: 0;
                padding-bottom: 0;
            }
        }
        .yotpo-first-review{
            .yotpo-first-review-content{
                display: none;
            }
        }
    }
}