.wrap-from-returnrequest {
    .ajax_content {
        .content_title {
            text-transform: uppercase;
            font-size: 30px;
            margin-bottom: 30px;
            font-family: $Roboto-Bold;
        }
        .content_header {
            font-size: 20px;
            font-family: $Roboto-Bold;
            margin-bottom: 30px;
            span {
                color: $green;
                display: inline-block;
            }
        }
        .content_body {
            color: $nobel;
            font-family: $Roboto-Regular;
            font-size: 16px;
            text-align: center;
            margin-bottom: 30px;
        }
        .content_footer {
            button {
                width: 100%;
                margin-bottom: 30px;
            }
            .success-message, .error-message {
                display: none;
                width: 100%;
            }
        }
    }
}