@include respond-to('medium-ipad') {
    .search-result-items {
        .grid-tile {
            vertical-align: top;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .category-slot .cat-banner .wrap-text-banner h2.title {
        font-size: 41px;
        line-height: normal;
    }
    .category-slot .cat-banner .cat-banner-description .url-to {
        margin-top: 20px;
    }
    .refinement ul li a {
        font-size: 13px;
    }
    .search-result-content {
        .hide-compare {
            .grid-tile {
                width: 33.3%;
                box-sizing: border-box;
                margin: 0;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .search-result-options {
        z-index: 17;
        position: relative;
        .wrap-option {
            float: right;
            .sort-by {
                margin-right: .5em;
                padding-bottom: 0;
            }
        }
        .pagination {
            width: 100%;
            text-align: center;
            position: relative;
            .results-hits {
                display: block;
            }
            ul {
                background-color: transparent;
                border: none;
            }
            li {
                border: none;
                padding: 0 .5em;
                a, &.current-page, i {
                    font-size: inherit;
                    height: auto;
                    line-height: inherit;
                    width: auto;
                }
            }
        }
    }
}

@include respond-to('small') {
    .pt_product-search-result {
        .breadcrumb, .pagination .view-all {
            display: none;
        }
        .pagination {
            overflow: auto;
            white-space: nowrap;
        }
        .category-slot .cat-banner .cat-banner-description .url-to {
            margin-bottom: 80px;
            position: relative;
        }
        .title-search .refinement-header {
            text-transform: capitalize;
        }
        .category-slot .cat-banner .cat-banner-description .url-to:before {
            position: absolute;
            content: "";
            height: 10px;
            bottom: -50px;
            left: -200px;
            background: #f5f5f5;
            border-top: 1px solid #e5e5e5;
            width: calc(100% + 400px);
        }
        .filter-content {
            .refinement {
                display: block;
                width: 100%;
                overflow: hidden;
                li {
                    width: 33.3%;
                    a {
                        font-size: 12px;
                    }
                }
                h3 {
                    margin: 20px 0;
                }
            }
        }
    }
    .search-result-content {
        .hide-compare {
            .grid-tile {
                width: 50% !important;
                padding: 15px 0;
                .product-status {
                    min-height: 70px;
                }
            }
        }
        .grid-tile{
            margin-bottom: 0;
        }
    }
    .category-slot .cat-banner {
        text-align: center;
        .cat-banner-description {
            position: static;
            text-align: center;
            margin-top: 20px;
        }
        .cat-name-banner {
        	font-size: 24px;
        	bottom: 15%;
        }
    }
    .search-layer {
        form {
            width: 90%;
            margin: auto;
            .close {
                display: none;
            }
            fieldset {
                padding-bottom: 0px;
                margin-top: 25px;
                input[type='text'] {
                    font-size: 22px;
                }
                input[type='submit'] {
                    background: url(../images/icon_search_layer.png) no-repeat;
                    background-size: 22px;
                    left: 10px;
                    top: 12px;
                }
            }
        }
        &.open{
            form {
                height: 100px;
            }
        }
    }
}

@include respond-to('medium-ipad') {
    .pt_product-search-result{
        .container{
            max-width: 100%;
            padding: 0 40px;
        }
        .filter{
            .filter-content{
                .refinement{
                    ul{
                        li{
                            width: auto;
                            margin: 3px;
                            a{
                                padding: 0 30px;
                            }
                        }
                    }
                }
            }
            .filter-by {
                padding: 10px 0px;
                width: 100%;
            }
        }
    }
    #m-header .header-cat {
        width: 150px;
        margin: 0 0 0 -75px;
    }
    .header-cat-title {
        margin-top: 12px;
        font-size: 13px;
        font-weight: bold;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }
    .header-home-icon {
        position: absolute;
        top: 10px;
        left: 50px;
        img {
            height: 20px;
        }
    }
    .search-layer{
        .search-close{
            display: none;
        }
    }
}
@include respond-to('small') {
    .pt_product-search-result{
    	.category h3.categoryDescription {
    		font-size: 20px;
    	}
        .container{
            max-width: 100%;
            padding: 0 15px;
        }
        .filter{
            .filter-content{
                .refinement{
                    padding-bottom: 0;
                    h3{
                        position: static;
                        margin-top: 25px;
                        text-align: left;
                        font-size: 14px;
                        font-family: $Roboto-Bold;
                        float: none;
                    }
                    ul{
                        margin-top: 10px;
                        li{
                            a{
                                height: 30px;
                                line-height: 30px;
                                padding: 0 15px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .search-result-content {
            &.landingTiles {
                .landingProducts {
                    .product-item {
                        float: left;
                        width: 50%;
                        min-height: 375px;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 480px) {
    .folder-content-list {
        li {
            flex-basis: 40%;
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .pt_product-search-result .title-search .refinement-header {
        font-size: 36px;
    }
    .search-result-content {
        &.landingTiles {
            .landingProducts {
                .product-item {
                    .product-name {
                        min-height: 75px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 414px) {
    .category-slot .cat-banner .wrap-text-banner {
        width: 20em;
    }
    .search-layer {
        form {
            fieldset {
                input[type='text'] {
                    font-size: 17px;
                }
                input[type='submit'] {
                    background: url(../images/icon_search_layer.png) no-repeat;
                    background-size: 17px;
                    padding-left:35px;
                    left: 10px;
                    top: 12px;
                }
            }
        }
    }
}
@include respond-to('xsmall-iphone') {
    .pt_product-search-result .filter-content .refinement li a {
        font-size: 10px;
    }
    .pagination .paging a, .pagination .paging strong {
        width: 26px;
    }
    .header-home-icon {
        left: 54px;
    }
}