.pt_product-search-result{
	.primary-content h1.content-header {
		padding-left: 15px;
	}
	.container{
		max-width: 1300px;
		padding-left: 0;
		padding-right: 0;
	}
}
.pt_content-search-result,
.pt_product-search-noresult {
    .primary-content {
        > h1,
        > h2,
        > p {
            margin: 0;
            padding: .1em 1%;
        }
        .no-hits-help,
        .no-hits-search,
        .no-hits-footer {
            padding: .1em 1%;
        }
        .pagination {
            float: none;
            padding: .1em 1%;
        }
    }
    #secondary {
        display: none;
    }
}
.pt_product-search-noresult {
    .main-section {
        .product-carousel-title {
            text-align: left;
            h2 {
                border: none;
                font-size: 20px
            }
            p {
                display: none;
            }
        }
        .main-best-seller {
            border-top: 1px solid $gainsboro;
            padding-top: 60px;
        }
    }
    .no-hits-search {
        &.search-layer {
            position: static;
            display: block;
            box-shadow: none;
            form {
                fieldset {
                    padding: 0;
                    border-bottom: 2px solid $nero;
                }
                input {
                    padding: 0 0 0 50px;
                }
                button {
                    top: 5px;
                    font-size: 0;
                }
            }
            .form-row {
                margin: 0 0 5px;
            }
            .search-close{
                display: none;
            }
        }
    }
    .section-header {
        padding: 80px 0;
        text-align: center;
        @include respond-to('small') {
            padding: 30px 0 20px;
        }
        .no-hits-search-text {
            font-size: 16px;
        }
        .no-hits-search-term {
            font-size: 48px;
            color: $nero;
            @include respond-to('small') {
                 font-size: 32px;
            }
        }
    }
}

.highlight-search-text {
    font-weight: bold;
    font-size: 48px;
    margin-top: 40px;
    line-height: 100%;
}

.category-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.category-main-banner img {
    max-width: 100%;
}

.no-hits-search-term-suggest {
    color: $sangria;
    font-style: italic;
}

.no-hits-footer {
    padding: 20px 0;
}

.search-result-bookmarks {
    margin: 15px;
    .first {
        border-right: 1px solid $nobel;
        padding-right: 5px;
    }
}
.view-all{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    display:flex;

    a{
        vertical-align: middle;
        justify-content: center;
        align-self: center;
        font-family:$Roboto-Regular;
        font-size:13px;
        text-transform:uppercase;
        font-weight:bold;

        i{
            font-size: 13px;
            font-weight:normal;
        }
    }
}
.search-result-options {
    padding: 0 0 10px 0;
    .product-count{
        display: inline-block;
        vertical-align: bottom;
        margin-top: 10px;
        font-size: 14px;
        color: $nero;
        font-family: $Roboto-Regular;
        span{
            font-family: $Roboto-Bold;
            font-size: 14px;
        }
    }
    .sort-by,
    .items-per-page {
        display: inline-block;
        z-index: 18;
        position: relative;
        .nice-select {
            z-index: 11;
        }
        .select-type{
            width: 175px;
        }
    }
    .items-per-page {
        float: right;
    }
    form {
        margin-bottom: 0;
    }
    label {
        display: none;
    }
    select {
        border: 1px solid $gainsboro;
        border-radius: 5px;
        color: $dim-gray;
        padding: .5em;
    }
    .pagination {
        float: right;
        .results-hits {
            color: $dim-gray;
            float: left;
            display: none;
        }
        ul {
            border: 1px solid $gainsboro;
            border-radius: 5px;
            background-color: $white;
            float: right;
            margin: 0;
            padding: 0;
        }
        li {
            border-right: 1px solid $gainsboro;
            float: left;
            a,
            &.current-page,
            i {
                display: block;
                font-size: 1rem;
                height: 32px;
                line-height: 2.1rem;
                text-align: center;
                width: 32px;
            }
        }
    }
}

.search-result-items {
    margin: 0;
    padding: 0;
    font-size: 0;
    > * {
        font-size: 16px;
    }
    li {
        list-style: none outside none;
    }
    .grid-tile-4{
        width: 24.3% !important;
    }
    .grid-tile {
        display: inline-block;
        font-size: 16px;
        list-style: none outside none;
        padding: 20px 2% 20px 2%;
        width: 33.3%;
        box-sizing: border-box;
        position: relative;
        z-index: 20;
        vertical-align: top;
    }
    .invisible {
        display: none;
    }
}

.product-listing {
    .slick-list {
        position: relative;
        z-index: 25;
    }
    .slick-list .product-item {
        margin-bottom: 0;
        position: relative;
    }
    .product-item {
        &.active-quickshop {
            z-index: 25;
            &:after{
                border-width: 14px;
            }
            &:before {
                border-width: 16px;
            }
        }
    }
}
.search-result-content {
    clear: both;
	position: relative;
	z-index: 16;
    .product-price {
        .price-standard {
            color: $nobel;
            font-weight: 100;
            text-decoration: line-through;
        }
    }
    &.landingTiles {
    	padding-top: 10px;
        .product-item {
            float: left;
            width: 25%;
            padding-right: 10px;
            .yotpo.bottomLine {
            	min-height: 44px;
            }
        }
    }
}

.search-promo {
    padding: 20px;
}

#results-content {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
    padding-top: 30px;
}

.folder-content-list {
    align-items: stretch;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    padding: .5em 1%;
    li {
        background-color: $white-smoke;
        border: 1px solid $very-light-gray;
        flex-basis: 100%;
        flex-grow: 1;
        list-style-type: none;
        margin: .25rem;
        padding: 1rem;
    }
    p {
        line-height: 1.1rem;
    }
    .content-title {
        display: block;
        font-size: 1.2em;
    }
    .readmore {
        font-style: italic;
        padding-left: .3rem;
    }
}

.no-results {
    padding: 20px;
}

.toggle-grid {
    display: block;
    float: left;
    margin-right: 0.5em;
    i {
        cursor: pointer;
        margin-right: 0.3em;
    }
    [data-option="column"] {
        color: $citrus;
    }
    &.wide {
        [data-option="wide"] {
            color: $citrus;
        }
        [data-option="column"] {
            color: $dim-gray;
        }
    }
}

.wide-tiles {
    .search-result-items .grid-tile {
        width: 91%;
    }
    .product-tile {
        .product-swatches {
            bottom: auto;
            left: auto;
            position: relative;
            right: auto;
            margin-top: 5px;
            li {
                float: left;
            }
        }
    }
}
