#secondary a {
	color: $citrus;
}

#category-level-1 {
	li {
		color: $dim-gray;
		display: block;
		.refinement-link {
			background: none repeat scroll 0 0 transparent;
			padding: 0 0 0 1em;
		}
		&.expandable {
			.refinement-link {
				padding: 0 0 0 .4em;
			}
			.active {
				font-weight: bold;
				padding: 0 0 0 .2em;
			}
		}
	}
}

#category-level-2 {
	a {
		&.active {
			color: $night-rider;
			font-weight: 700;
		}
		&.refinement-link {
			margin: 0 0 0 .4em;
			padding: 0;
		}
	}
}
#category-level-2 {
	padding: .5em .1em 0 .7em;
}
#category-level-3 {
	padding: .3em 0 0;
	a {
		&.refinement-link {
			font-style: normal;
			margin: 0 0 0 .9em;
			padding: 0;
		}
	}
}
.pt_product-search-result {
	.title-search {
		display: inline-block;
		width:100%;
		border-bottom: 1px solid $border-gray-third;
		text-align: center;
		
		.refinement-header {
			color: $nero;
			font-family: $Roboto-Regular;
			font-size: 20px;
			letter-spacing: 0;
			line-height: normal;
			opacity: .7;
			padding: 15px 0px 30px;
			text-align: center;
			width: 100%;
		}
		.refinement-header-button {
			margin-bottom: 35px;
			display: inline-block
		}
		.refinement-consultation {
			padding: 0;
			margin-right: 0px;
			font-size: 13px
		}
	}
	.filter {
		.filter-by {
			font-size: 30px;
			color: $nero;
			font-family: $Roboto-Bold;
		}
		.filter-content {
			margin-top: 10px;

			.content-wrap {
				display: block;
				
				.refinement-wrap {
					display: inline-block;
					margin: 0 5px;
				
					.select-type {
						width: 175px;
						z-index: 20;
					}
				}
			}
		}
	}
	.category {
		padding: 10px 0px;
		width: 100%;
		text-align: center;
		display: inline-block;
		border-bottom: 1px solid #b7b7b7;
		.categoryName {
			font-size: 30px;
			text-transform: uppercase;
			color: #222;
			font-family: "Roboto Bold";
		}
		.categoryDescription {
			font-weight: normal;
			font-style: italic;
			padding-top: 10px;
			font-size: 25px;
		}
	}
	.no-border {
		border: none;
	}
	.categoryLink {
		text-align: center;
		font-size: 16px;
		margin-bottom: 35px;
		padding-top: 10px;
		font-family: $Roboto-Medium;
		.btn {
			margin-top: 5px;
			&:hover {
				background:#222;
			}
		}
		.content-asset {
			display: inline-block;
			a {
				padding-left: 20px;
			}
		}
	}
}

.refinement-consultation{
    float: right;
    vertical-align: bottom;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 2.5em 0em 0em 0px;
    margin-right: 10px;

    span{
    	text-decoration: underline;
    }
}
.refinement-header {
	background-color: transparent;
	display: inline-block;
	letter-spacing: 0.125em;
	margin: 0;
	padding: 1.15em .75em .75em;
	float: left;
}

.filter {
    padding: 0;
    text-align: center;
    box-sizing: border-box;

	.filter-by {
		margin:20px 0;
		text-transform: uppercase;
		position: relative;
		display: inline-block;
	}
	.filter-reset {
		margin-top: 5px;
		margin-bottom: 15px;

		a {
			letter-spacing: 0.5px;
			font-family: $Roboto-Regular;
			font-size: 13px;
			text-decoration: underline;
			text-transform: none;
			color: $nero;

			&:hover,
			&:focus,
			&:active,
			&:hover{
				opacity: .6;
			}
		}
	}
}

.scrollable {
	height: 10em;
	overflow: auto;
}

.nav {
	ul {
		border: 0 none;
		list-style: none outside none;
		margin: .58em 0;
		padding: 0;
		li {
			list-style: none outside none !important;
			margin: 0 0 .58em !important;
		}
	}
	.toggle {
		border: 0 none;
		display: block;
		font-size: 1em;
		font-weight: 700;
		margin: .83em 0 .58em;
		text-transform: uppercase;
		span {
			background: none repeat scroll 0 0 transparent;
		}
	}
	.expanded {
		background-position: left -96px;
	}
}