.store-locator {
    margin-bottom: 110px;
    .container {
        position: relative;
    }
    .store-locator-wrap {
        width: 48%;
    }
    .store-locator-map-image.store-locator-wrap {
        img {
            max-width: 100%;
            vertical-align: bottom;
        }
    }
    .store-locator-wrap-map {
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
    }
    .store-locator-banner {
        position: relative;
        text-align: center;
        height: 356px;
        background-position: center right;
        background-repeat: no-repeat;
        margin-bottom: 80px;
        .store-locator-des {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            h1.coming {
                font-size: 50px;
                color: $white;
                font-family: $Roboto-Bold;
                line-height: 56px;
                margin-bottom: 10px;
            }
            p {
                color: $white;
                font-size: 18px;
                margin: 0;
            }
            a.find {
                font-size: 11px;
                color: $white;
                text-transform: uppercase;
                line-height: 32px;
                height: 32px;
                margin-top: 24px;
                min-width: 195px;
                text-align: center;
            }
        }
    }
}