@include respond-to('small') {
    .store-locator {
        margin-bottom: 0;
        .store-locator-wrap {
            float: none;
            width: 100%;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
        .store-locator-banner {
            .store-locator-des {
                h1.coming {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }
        .store-locator-wrap-map {
            position: static;
            width: 100%;
            height: 600px;
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .store-locator {
        .store-locator-banner {
            margin-bottom: 40px;
            .store-locator-des {
                h1.coming {
                    font-size: 24px;
                    line-height: 30px;
                }
                p {
                    font-size: 15px;
                }
                a.find {
                    margin-top: 20px;
                }
            }
        }
    }
}
@include respond-to('xsmall-galaxy') {
    .store-locator {
        .store-locator-wrap-map {
            height: 300px;
        }
    }
}