.wish-list-page {
    .product-status label {
        width: 50px;
        font-size: 10px;
    }
    label[for=grid-paging-header] {
        display: none;
    }
    h1 {
        color: $nero;
        font-size: 32px;
        font-family: $Roboto-Bold;
        border-bottom: 1px solid;
        text-transform: uppercase;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
    form {
        position: relative;
        .nice-select {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 999;
        }
    }
    .items-per-page {
        padding-bottom: 10%;
    }
}