@include respond-to('medium-ipad') {
    .sidebar-left {
        display: none;
    }
    .wish-list-page form .nice-select {
        left: 0;
        right: auto;
    }
    #wrapper {
        .primary-account-content {
            border: none;
            width: 100%;
            padding: 0;
        }
    }
    .wish-list-page {
        .product-status label {
            width: 40%;
        }
        .quickshow {
            .wrap-full-detail {
                position: relative;
                padding-bottom: 50px;
                .line-block {
                    border: none;
                }
                .full-detail {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                }
            }
            .product-add-to-cart {
                width: 100%;
                padding-top: 40px;
                position: relative;
                .select-type {
                    position: static;
                    border-bottom: 1px solid $gainsboro;
                    padding: 10px 0;
                    .wide {
                        height: 40px;
                    }
                }
                #add-to-cart {
                    width: 85%;
                    float: left;
                }
                .action-wish {
                    width: 14%;
                    float: left;
                }
            }
        } 
    }   
}
@include respond-to('small') {
    .wish-list-page {
        .quickshow .pdp-main .wrap-full-detail {
            #add-to-cart {
                width: 85%;
            }
            .inventory {
                border: none;
                padding: 0 0 20px;
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .wish-list-page {
        .quickshow .pdp-main .wrap-full-detail {
            #add-to-cart {
                width: 85%;
            }
            .action-wish {
                width: 14%;
            }
        }
    }
	.store-locator {
		.store-locator-banner {
			padding: 40px 0px;
			h1.coming {
				font-size: 30px;
				line-height: normal;
			}
		}
	}
}
@include respond-to('xsmall-iphone') {
    .wish-list-page .quickshow .pdp-main .wrap-full-detail #add-to-cart {
        width: 83%;
    }
    .wish-list-page .quickshow .pdp-main .wrap-full-detail .action-wish {
        width: 16%;
    }
}