// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
/**
 * Set up a decent box model on the root element
 */
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin:0;
    padding:0;
    width:100%;
    line-height:1.3;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
    box-sizing: inherit;
}
button:focus{
    outline: none;
}
.ui-icon,
.ui-button {
    outline: none;
}

/**
 * Basic styles for links
 */
a {
    color: $text-color;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: $green;
        text-decoration: underline;
    }

 //  @include on-event {
    // color: $brand-color;
    // text-decoration: underline;
 //  }
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
    dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
    canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    // font: inherit;
    vertical-align: baseline;
    // color: $default-color;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    height: 100%;
}
#wrapper {
    &.hidden {
        overflow: hidden;
        max-height: 100%;
    }
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        outline: 0;
    }
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#main{
    background: #fff;
}
em {font-style:normal}

.m-display {display: none;}
.w-display {display: block;}
@media only screen and (max-width: 1024px){
    .m-display {display: block;}
    .w-display {display: none;}
}

.bg-cover {
    display: block;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);opacity: 0;z-index: 80;visibility: hidden;
    @include double-transition(z-index, 0s, opacity, 0.3s);
    &.active {
        opacity: 1;z-index: 101;
        @include double-transition(z-index, 0s, opacity, 0.3s);
        visibility: visible;
    }
}

// global classes
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.menu {
    float: left;
    margin: 0;
    padding: 0;
    li {
        float: left;
        list-style: none outside none !important;
    }
}
.two-column{
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    &:after,
    &:before{
        display: table;
        content: " ";
        clear: both;
    }
}
.clear{
    &:after,
    &:before{
        display: table;
        content: " ";
        clear: both;
    }
}
.visible-desktop{
    display: block;
}
.visible-mobile{
    display: none;
}
.line-block{
    padding: 16px 0;
    border-bottom: 1px solid $gainsboro;
}
.ico-button{
    display: inline-block;
    height: 16px;
    letter-spacing: 0.5px;
    font-family: $Roboto-Regular;
    font-size: 13px;
    color: $nero;
}
//custom style mCustomScrollbar
.mCSB_scrollTools_vertical{
    .mCSB_draggerContainer{
        .mCSB_dragger{
            .mCSB_dragger_bar{
                background-color: $green;
                margin-right: 0;
            }
        }
        .mCSB_draggerRail{
            width: 4px;
            background-color: $gainsboro;
            margin-right: 0;
        }
    }
}

.noti-gray-box{
    margin: 20px auto;
    padding: 20px 30px;
    background: $darker-gray;
    .inner-box{
        padding-left: 28px;
        background: url(../images/common/ico_note.png) no-repeat left top;
        font-size: 15px;
        color: $default-color;
    }
}
.loading-dot{
    position: relative;
    width: 28px;
    height: 14px;
    margin: 20px auto;
    span{
        position: absolute;
        top: 0;
        width: 5px;
        height: 5px;
        background: #666;
        transition-duration: .5s;
        animation-name: bounce_fountain;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        transform: scale(.6);
        border-radius: 50%;
        &:nth-child(1){
            left: 0;
            animation-delay: .3s;
        }
        &:nth-child(2){
            left: 10px;
            animation-delay: .6s;
        }
        &:nth-child(3){
            left: 20px;
            animation-delay: .9s;
        }
    }
}
.default {
    &.ui-dialog{
        border-radius: 2px;
        text-align: center;
        .ui-dialog-titlebar{
            background-color: white;
        }
        .ui-widget-header {
            background: none;
            .ui-icon-closethick {
                background: url(../images/icon/bs_close.png) no-repeat;
                background-position: center center;
            }
        }
        .dialog-content {
            p {
                color: $green;
                font-size: 16px;
                font-family: $Roboto-Regular;
                margin-bottom: 30px;
            }
        }
        .ui-dialog-title{
            text-align: left;
        }
    }
}
@keyframes bounce_fountain {
    0% {transform: scale(.6);}
    30% {transform: scale(1);}
    60% {transform: scale(.6);}
    100% {transform: scale(.6);}
}
