// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
//Roboto font
@font-face {
	font-family: 'Roboto BoldItalic';
	src: url('../fonts/roboto/Roboto-BoldItalic.eot');
	src: url('../fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
		url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Italic';
	src: url('../fonts/roboto/Roboto-Italic.eot');
	src: url('../fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Italic.woff') format('woff'),
		url('../fonts/roboto/Roboto-Italic.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Italic.svg#Roboto-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/roboto/Roboto-Light.eot');
	src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Light.woff') format('woff'),
		url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto LightItalic';
	src: url('../fonts/roboto/Roboto-LightItalic.eot');
	src: url('../fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-LightItalic.woff') format('woff'),
		url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto ThinItalic';
	src: url('../fonts/roboto/Roboto-ThinItalic.eot');
	src: url('../fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-ThinItalic.woff') format('woff'),
		url('../fonts/roboto/Roboto-ThinItalic.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Black';
	src: url('../fonts/roboto/Roboto-Black.eot');
	src: url('../fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Black.woff') format('woff'),
		url('../fonts/roboto/Roboto-Black.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Black.svg#Roboto-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Medium';
	src: url('../fonts/roboto/Roboto-Medium.eot');
	src: url('../fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
		url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto BoldCondensed';
	src: url('../fonts/roboto/Roboto-BoldCondensed.eot');
	src: url('../fonts/roboto/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-BoldCondensed.woff') format('woff'),
		url('../fonts/roboto/Roboto-BoldCondensed.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto MediumItalic';
	src: url('../fonts/roboto/Roboto-MediumItalic.eot');
	src: url('../fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
		url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto CondensedItalic';
	src: url('../fonts/roboto/Roboto-CondensedItalic.eot');
	src: url('../fonts/roboto/Roboto-CondensedItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-CondensedItalic.woff') format('woff'),
		url('../fonts/roboto/Roboto-CondensedItalic.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-CondensedItalic.svg#Roboto-CondensedItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Regular';
	src: url('../fonts/roboto/Roboto-Regular.eot');
	src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Thin';
	src: url('../fonts/roboto/Roboto-Thin.eot');
	src: url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
		url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Thin.svg#Roboto-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto BoldCondensedItalic';
	src: url('../fonts/roboto/Roboto-BoldCondensedItalic.eot');
	src: url('../fonts/roboto/Roboto-BoldCondensedItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-BoldCondensedItalic.woff') format('woff'),
		url('../fonts/roboto/Roboto-BoldCondensedItalic.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-BoldCondensedItalic.svg#Roboto-BoldCondensedItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto BlackItalic';
	src: url('../fonts/roboto/Roboto-BlackItalic.eot');
	src: url('../fonts/roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-BlackItalic.woff') format('woff'),
		url('../fonts/roboto/Roboto-BlackItalic.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('../fonts/roboto/Roboto-Bold.eot');
	src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
		url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/roboto/Roboto-Condensed.eot');
	src: url('../fonts/roboto/Roboto-Condensed.eot?#iefix') format('embedded-opentype'),
		url('../fonts/roboto/Roboto-Condensed.woff') format('woff'),
		url('../fonts/roboto/Roboto-Condensed.ttf') format('truetype'),
		url('../fonts/roboto/Roboto-Condensed.svg#Roboto-Condensed') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Caveat font
@font-face {
	font-family: 'Caveat Bold';
	src: url('../fonts/caveat/Caveat-Bold.eot');
	src: url('../fonts/caveat/Caveat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/caveat/Caveat-Bold.woff') format('woff'),
		url('../fonts/caveat/Caveat-Bold.ttf') format('truetype'),
		url('../fonts/caveat/Caveat-Bold.svg#Caveat-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Caveat Regular';
	src: url('../fonts/caveat/Caveat-Regular.eot');
	src: url('../fonts/caveat/Caveat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/caveat/Caveat-Regular.woff') format('woff'),
		url('../fonts/caveat/Caveat-Regular.ttf') format('truetype'),
		url('../fonts/caveat/Caveat-Regular.svg#Caveat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Playfair Display font
@font-face {
	font-family: 'Playfair Display Italic';
	src: url('../fonts/playfairdisplay/PlayfairDisplay-Italic.eot');
	src: url('../fonts/playfairdisplay/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Italic.woff') format('woff'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Italic.ttf') format('truetype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display Regular';
	src: url('../fonts/playfairdisplay/PlayfairDisplay-Regular.eot');
	src: url('../fonts/playfairdisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Regular.woff') format('woff'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Regular.ttf') format('truetype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display Bold';
	src: url('../fonts/playfairdisplay/PlayfairDisplay-Bold.eot');
	src: url('../fonts/playfairdisplay/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Bold.woff') format('woff'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Bold.ttf') format('truetype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display BoldItalic';
	src: url('../fonts/playfairdisplay/PlayfairDisplay-BoldItalic.eot');
	src: url('../fonts/playfairdisplay/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-BoldItalic.woff') format('woff'),
		url('../fonts/playfairdisplay/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display Black';
	src: url('../fonts/playfairdisplay/PlayfairDisplay-Black.eot');
	src: url('../fonts/playfairdisplay/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Black.woff') format('woff'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Black.ttf') format('truetype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-Black.svg#PlayfairDisplay-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display BlackItalic';
	src: url('../fonts/playfairdisplay/PlayfairDisplay-BlackItalic.eot');
	src: url('../fonts/playfairdisplay/PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-BlackItalic.woff') format('woff'),
		url('../fonts/playfairdisplay/PlayfairDisplay-BlackItalic.ttf') format('truetype'),
		url('../fonts/playfairdisplay/PlayfairDisplay-BlackItalic.svg#PlayfairDisplay-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}


@font-face {
	font-family:'Lucky Fellas';
	src: url('../fonts/lucky-fellas/Lucky-Fellas.eot');
	src: url('../fonts/lucky-fellas/Lucky-Fellas.eot?#iefix') format('embedded-opentype'),
		url('../fonts/lucky-fellas/Lucky-Fellas.woff2') format('woff2'),
		url('../fonts/lucky-fellas/Lucky-Fellas.woff') format('woff'),
		url('../fonts/lucky-fellas/Lucky-Fellas.svg#Lucky Fellas') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}
@font-face {
	font-family:'DINOT-Bold';
	src: url('../fonts/dinot-bold/DINOT-Bold.eot');
	src: url('../fonts/dinot-bold/DINOT-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/dinot-bold/DINOT-Bold.woff2') format('woff2'),
		url('../fonts/dinot-bold/DINOT-Bold.woff') format('woff'),
		url('../fonts/dinot-bold/DINOT-Bold.svg#DINOT-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}