/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 100% / 1.4 $text-font-stack;
}
button, input, optgroup, select, textarea {
	font-family: $text-font-stack;
}