// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.clearfix {
	@extend %clearfix;
}

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// respond manager
/// @access public
/// @param {String} $breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
     @error 'No value found for `#{$breakpoint}`. '
          + 'Please make sure it is defined in `$breakpoints` map.';
  }
}


/// Positioning Mixin
// @mixin position($position, $args) {
//   @each $o in top right bottom left {
//         $i: index($args, $o);

//     @if $i and $i + 1< = length($args) and type-of(nth($args, $i + 1)) == number  {
//           #{$o}: nth($args, $i + 1);
//     }
//   }

//   position: $position;
// }

// @mixin absolute($args) {
//         @include position("absolute", $args);
// }

// @mixin fixed($args) {
//         @include position("fixed", $args);
// }

// @mixin relative($args) {
//         @include position("relative", $args);
// }


// ----------------------------------------------------------------------

  // Transitions

// ----------------------------------------------------------------------

// example: @include single-transition(background, 1s, ease-in-out, 0);

@mixin single-transition($property, $duration) {
  -webkit-transition: $property $duration;
     -moz-transition: $property $duration;
       -o-transition: $property $duration;
          transition: $property $duration;
}

// example: @include double-transition(background, 1s, ease-in-out, 0, opacity, .1s, ease-in-out, 0);

@mixin double-transition($property1, $duration1, $property2, $duration2) {
  -webkit-transition: $property1 $duration1, $property2 $duration2;
     -moz-transition: $property1 $duration1, $property2 $duration2;
       -o-transition: $property1 $duration1, $property2 $duration2;
          transition: $property1 $duration1, $property2 $duration2;
}

//text ellipsis
@mixin ellipsis-text($line, $line-height){
  @if $line == 1 {
    white-space: nowrap;
  } @else {
    display: block;
    display: -webkit-box;
    height: $line-height*$line*1em;
    line-height: $line-height;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

//mixin font
@mixin font($font, $style: normal, $weight: normal) {
    font-family: $font;
    font-style:  $style;
    font-weight: $weight;
}