// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// Regular font family
/// @type List
$text-font-stack: 'Roboto Regular',
sans-serif !default;
//Roboto font
$Roboto-BoldItalic: 'Roboto BoldItalic';
$Roboto-Italic: 'Roboto Italic';
$Roboto-Light: 'Roboto Light';
$Roboto-LightItalic: 'Roboto LightItalic';
$Roboto-ThinItalic: 'Roboto ThinItalic';
$Roboto-Black: 'Roboto Black';
$Roboto-Medium: 'Roboto Medium';
$Roboto-Bold: 'Roboto Bold';
$Roboto-MediumItalic: 'Roboto MediumItalic';
$Roboto-Regular: 'Roboto Regular';
$Roboto-Thin: 'Roboto Thin';
$Roboto-BoldCondensedItalic: 'Roboto BoldCondensedItalic';
$Roboto-BlackItalic: 'Roboto BlackItalic';
$Roboto-Condensed: 'Roboto Condensed';
//Caveat font
$caveatBold: 'Caveat Bold';
$caveatRegular: 'Caveat Regular';
//Playfair Display font
$PD-Italic: 'Playfair Display Italic';
$PD-Regular: 'Playfair Display Regular';
$PD-Bold: 'Playfair Display Bold';
$PD-BoldItalic: 'Playfair Display BoldItalic';
$PD-Black: 'Playfair Display Black';
$PD-BlackItalic: 'Playfair Display BlackItalic';
/// Code (monospace) font family
/// @type List
$code-font-stack: 'Brandon',
'Courier New',
'DejaVu Sans Mono',
'Bitstream Vera Sans Mono',
'Monaco',
monospace !default;
/// Copy text color
// names taken from http://www.color-blindness.com/color-name-hue/
/// @type Color
$default-color: #666;
$text-color: rgb(34,
34,
34) !default;
/// Main brand color
/// @type Color
$brand-color: rgb(1,
93,
35) !default;
/// Light grey
/// @type Color
$light-grey: rgb(237,
237,
237) !default;
/// Medium grey
/// @type Color
$mid-grey: rgb(153,
153,
153) !default;
/// Dark grey
/// @type Color
$dark-grey: rgb(68,
68,
68) !default;
$red: #bd1e31;
$red-light: #db4d40;
$red-social: #dc4e41;
$red-light: #db4d40;
$red-border: #f1b8b3;
$green: #024137;
$green-hover: #045020;
$heavy-green: #024137;
$blue-dark: #3b5998;
$light-green: #34ab92;
$dim-green: #207a41;
$black: #000;
$cerulean: #00629b;
$charcoal: #424242;
$citrus: #84bd00;
$dark-gray: #aaa;
$dark-gray2: #a9a9a9;
$dark-gray-third: #eee;
$dim-gray: #666;
$darker-gray: #f5f5f5;
$darker-gray-shadow: #ededed;
$border-light-gray: #cbcbcb;
$darker-gray2: #f9f9f9;
$border-gray-first: #ddd;
$border-gray-second: #e6e6e6;
$border-gray-third: #b7b7b7;
$border-light-green: #679e7b;
$border-heavy-gray: #595959;
$tuna: #464b51;
$heavy-gray: #7a7a7a;
$light-gray: #d2d2d2;
$gainsboro: #e0e0e0;
$islamic-green: #019328;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #990000;
$stark-white: #cebdb3;
$teal: #008578;
$tutu: #faeded;
$very-light-gray: #ccc;
$very-light-gray2: #cecece;
$light-gray-first: #f4f4f4;
$white-smoke: #efefef;
$white-smoke2: #eee;
$white: #fff;
$nero: #222;
$british-racing-green: #024137;
$british-racing-green2: #025d24;
$british-racing-green3: #045321;
$amazon: #367f57;
$jet-stream: #bcd0c5;
$light-gray: #e7e7e7;
$dark-gray: #aaa;
$dark-gray2: #9e9e9e;
$cardinal: #bd1e2d;
$gainsboro: #e5e5e5;
$color-online: #bd9a5b;
$orange: #ec7229;
$blue-heavy: #3b5998;
$blue-border: #b1bdd6;
$fa-color: #fafafa;
$gray-dim: #909090;
$orange-light: #ad955e;
$swatch-types: black #000000,
beige #f5f5dc,
blue blue,
purple purple,
red red,
brown #783201,
green green,
grey #8f979d,
pink #fe249a,
orange orange,
white #ffffff,
yellow #ffff00,
navy navy;
// flag-icon-css
$flag-icon-css-path: '../lib/flag-icon-css/flags';
.title-account {
    font-family: $Roboto-Bold;
    color: $nero;
    font-size: 20px;
    border-bottom: 1px solid $nero;
    padding-bottom: 14px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.title-address {
    font-family: $Roboto-Bold;
    color: $nero;
    font-size: 32px;
    border-bottom: 1px solid $nero;
    padding-bottom: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ( 'xxsmall': (max-width: 567px),
'xsmall-iphone': (max-width: 320px),
'xsmall-galaxy': (max-width: 360px),
'xsmall-mobile': (max-width: 479px),
'xsmall-iphone-horizontally': (max-width: 480px),
'xsmall': (max-width: 640px),
'small': (max-width: 767px),
'small-ipad': (max-width: 768px),
'small-min-ipad': (min-width: 768px),
'xmedium': (max-width: 991px),
'medium': (max-width: 1023px),
'medium-ipad': (max-width: 1024px),
'medium-ipad-min': (min-width: 1024px),
'large': (max-width: 1200px),
) !default;
/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$text-size-normal: 16px;
