.aboutMain {height:450px; background:url(../../images/about/bg_about.jpg) no-repeat 50% 0 / cover; text-align:center; color:#f5f5f5;}
.jejuMain {background-image:url(../../images/about/bg_jeju.jpg);}
.aboutMain h2 {padding-top:175px; font-size:28px;}
.aboutMain p {margin-top:20px; font-size:16px; line-height:1.3;}

.aboutINNI {line-height:1.6;}
.aboutINNI .con-area-box {padding:0;}
.aboutINNI .mBR {display:none;}
.aboutINNI .tab {margin-top:75px; text-align:center; border-bottom:1px solid #e5e5e5;}
.aboutINNI .tab li {display:inline-block; margin:0 25px -1px;}
.aboutINNI .tab li a {display:block; padding:0 2px 11px; font-size:15px; color:#222; font-family:robotoB; text-decoration:none;}
.aboutINNI .tab li.on a {padding-bottom:9px; border-bottom:2px solid #015d23; color:#015d23;}
.aboutINNI h3 {margin-top:100px; text-align:center; font-size:22px; color:#222; font-weight:normal; font-family:robotoB;}

.aboutINNI .concept {overflow:hidden; text-align:center;}
.aboutINNI .concept img {display:inline-block; vertical-align:middle;}
.aboutINNI .concept p {display:inline-block; width:380px; margin-left:60px; vertical-align:middle; text-align:left; font-family:robotoL;}
.aboutINNI .origins {margin-top:30px;}
.aboutINNI .origins .t {display:block; width:100%; padding:285px 0 285px; background:url(../../images/about/img_concept_02.jpg) no-repeat 50% 50% / cover; text-align:center; color:#fff; font-size:22px;}
.aboutINNI .origins p {margin-top:20px; text-align:center; font-family:robotoL;}
.aboutINNI .pledges {margin-top:30px;}
.aboutINNI .pledges .bg-pledges {height:397px; background:url(../../images/about/img_concept_03.jpg) no-repeat 50% 50% / cover;}
.aboutINNI .pledges ul {margin-top:20px;}
.aboutINNI .pledges ul:after {content:''; display:block; clear:both;}
.aboutINNI .pledges ul li {float:left; width:25%; padding:0 5%; text-align:center;}
.aboutINNI .pledges ul li span {display:block; color:#222;}
.aboutINNI .pledges ul li p {font-family:robotoL;}
.aboutINNI .symbol {margin:100px -20px 0; padding:60px 0; background:#f5f5f5;}
.aboutINNI .symbol .con-area-box {padding:0 60px;}
.aboutINNI .symbol h3 {margin:0;}
.aboutINNI .symbol .p {margin:30px 0 60px; text-align:center; font-family:robotoL;}
.aboutINNI .symbol ul {overflow:hidden; background:url(../../images/about/img_concept_04.png) no-repeat 50% 50%;}
.aboutINNI .symbol ul li {width:30%; padding-left:62px;}
.aboutINNI .symbol ul li:nth-of-type(2n) {float:right;}
.aboutINNI .symbol ul li:nth-of-type(2n+1) {float:left; clear:both}
.aboutINNI .symbol ul li:nth-of-type(1) {margin-bottom:70px; background:url(../../images/about/img_concept_05.png) no-repeat 28px 0;}
.aboutINNI .symbol ul li:nth-of-type(2) {background:url(../../images/about/img_concept_06.png) no-repeat 20px 0;}
.aboutINNI .symbol ul li:nth-of-type(3) {background:url(../../images/about/img_concept_07.png) no-repeat 0 8px;}
.aboutINNI .symbol ul li:nth-of-type(4) {background:url(../../images/about/img_concept_08.png) no-repeat 18px 0;}
.aboutINNI .symbol ul li span {color:#015d23;}
.aboutINNI .symbol ul li p {margin-top:5px; font-family:robotoL; font-size:14px; line-height:1.4;}
.aboutINNI .history .article1 {position:relative; padding:145px 0; margin-top:35px; background:url(../../images/about/img_history_01.jpg) no-repeat 50% 50% / cover;}
.aboutINNI .history .article1 p {text-align:center; color:#fff;}
.aboutINNI .history .article2 {position:relative; margin-top:60px;}
.aboutINNI .history .article2 .p {position:absolute; left:0; top:0; width:390px; heikjght:450px; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; }
.aboutINNI .history .article2 .p p {position:absolute; top:95px; left:30px; font-family:robotoL; color:#222;}
.aboutINNI .history .article2 .bg-camellia {height:450px; margin-left:420px; background:url(../../images/about/img_history_02.jpg) no-repeat 50% 50% / cover;}
.aboutINNI .history .article3 {position:relative; margin-top:60px;}
.aboutINNI .history .article3 .bg-greentea {height:500px; margin-right:490px; background:url(../../images/about/img_history_03.jpg) no-repeat 50% 50% / cover;}
.aboutINNI .history .article3 p {position:absolute; top:125px; right:0; padding-right:70px; font-family:robotoL; color:#222;}
.aboutINNI .history .article4 {position:relative; margin-top:60px;}
.aboutINNI .history .article4 .bg-volcanic {height:440px; margin-left:560px; background:url(../../images/about/img_history_04.jpg) no-repeat 50% 50% / cover;}
.aboutINNI .history .article4 p {position:absolute; top:40px; left:30px; padding-right:70px; font-family:robotoL; color:#222;}
.aboutINNI .history .article5 {margin-top:60px; padding:140px 0; background:url(../../images/about/img_history_05.jpg) no-repeat 50% 50% / cover;}
.aboutINNI .history .article5 p {color:#fff; text-align:center;}
.aboutINNI .jeju .article1 {margin-top:40px;}
.aboutINNI .jeju .article1 .p1 {padding:190px 0 155px; background:url(../../images/about/img_jeju_01.jpg) no-repeat 50% 50% / cover; text-align:center; color:#fff; font-family:robotoL;}
.aboutINNI .jeju .article1 .p1 span {display:block; margin-bottom:15px; font-family:robotoB; font-size:66px; line-height:1;}
.aboutINNI .jeju .article1 .p2 {margin-top:50px; text-align:center; font-family:robotoL;}
.aboutINNI .jeju .article2 {position:relative; margin-top:80px;}
.aboutINNI .jeju .article2 p {position:absolute; left:0; top:0; width:500px; padding:100px 0 0 50px; border-top:1px solid #e5e5e5; font-family:robotoL;} 
.aboutINNI .jeju .article2 .bg {margin-left:500px; height:380px; background:url(../../images/about/img_jeju_02.jpg) no-repeat 50% 50% / cover;}
.aboutINNI .jeju .article3 {padding:140px 0 145px; background:url(../../images/about/img_jeju_03.jpg) no-repeat 50% 50% / cover; text-align:center; color:#fff;}
.aboutINNI .jeju .article3 span {font-size:28px; font-family:robotoB;}
.aboutINNI .jeju .article3 p {margin-top:20px; font-family:robotoL;}
.aboutINNI .jeju .article4 {position:relative;}
.aboutINNI .jeju .article4 .bg {height:290px; margin-top:-70px; margin-right:700px; background:url(../../images/about/img_jeju_04.jpg) no-repeat 50% 50% / cover;}
.aboutINNI .jeju .article4 p {position:absolute; right:60px; top:115px; width:580px; font-family:robotoL;}
.aboutINNI .jeju .article5 {position:relative;}
.aboutINNI .jeju .article5 .bg {margin-left:500px; height:430px; background:url(../../images/about/img_jeju_05.jpg) no-repeat 50% 50% / cover;}
.aboutINNI .jeju .article5 p {position:absolute; left:0; top:45px; font-family:robotoL;}
.aboutINNI .ingredient .ingredientType {margin-top:65px;}
.aboutINNI .ingredient .ingredientType ul {text-align:center;}
.aboutINNI .ingredient .ingredientType ul li {display:inline-block; width:160px;}
.aboutINNI .ingredient .ingredientType ul li a {display:block; margin-bottom:18px; font-size:14px; color:#999; text-decoration:none;}
.aboutINNI .ingredient .ingredientType ul li a:after {content:''; display:block; width:80px; height:80px; margin:7px auto 0; border:1px solid #e4e4e4; border-radius:40px;}
.aboutINNI .ingredient .ingredientType ul li:nth-of-type(1) a:after {background:url(../../images/about/img_ingredient_01.png) no-repeat -1px -1px;}
.aboutINNI .ingredient .ingredientType ul li:nth-of-type(2) a:after {background:url(../../images/about/img_ingredient_02.png) no-repeat -1px -1px;}
.aboutINNI .ingredient .ingredientType ul li:nth-of-type(3) a:after {background:url(../../images/about/img_ingredient_03.png) no-repeat -1px -1px;}
.aboutINNI .ingredient .ingredientType ul li:nth-of-type(4) a:after {background:url(../../images/about/img_ingredient_04.png) no-repeat -1px -1px;}
.aboutINNI .ingredient .ingredientType ul li:nth-of-type(5) a:after {background:url(../../images/about/img_ingredient_05.png) no-repeat -1px -1px;}
.aboutINNI .ingredient .ingredientType ul li.on a {position:relative; color:#015d23;}
.aboutINNI .ingredient .ingredientType ul li.on a:after {border:3px solid #015d23; background-position:-3px -3px;}
.aboutINNI .ingredient .ingredientType ul li.on a:before {content:''; position:absolute; left:0; bottom:-18px; display:block; width:100%; height:18px; background:url(../../images/about/arr_tab.png) no-repeat 50% 100%;}
.aboutINNI .ingredient .ingredientCont {display:none;}
.aboutINNI .ingredient #seaweed.ingredientCont {display:block;}
.aboutINNI .ingredient #seaweed .description {height:380px; margin-top:23px; padding-top:125px; background:url(../../images/about/img_ingredient_01_02.png) no-repeat 50% 50% / cover; text-align:center; color:#fff;}
.aboutINNI .ingredient #seaweed .description .p1 {font-size:14px;}
.aboutINNI .ingredient #seaweed .description .p2 {margin:5px 0 20px; font-size:32px; font-family:robotoB;}
.aboutINNI .ingredient #seaweed .bTxt {overflow:hidden; padding:0 11%;}
.aboutINNI .ingredient #seaweed .bTxt p {width:48%; margin-top:45px; font-family:robotoL;}
.aboutINNI .ingredient #seaweed .bTxt p:nth-of-type(1) {float:left;}
.aboutINNI .ingredient #seaweed .bTxt p:nth-of-type(2) {float:right;}
.aboutINNI .ingredient .also-bought-slider .desc-title {padding-top:50px; border-top:1px solid #e5e5e5;}
.aboutINNI .byNum .p {margin-top:15px; text-align:center;}
.aboutINNI .byNum .contList {position:relative;}
.aboutINNI .byNum .contList ul {overflow:hidden;}
.aboutINNI .byNum .contList ul li {float:left; width:33.3%; margin-top:50px;}
.aboutINNI .byNum .contList ul li:nth-of-type(3n-2) {clear:both; padding-right:8px;}
.aboutINNI .byNum .contList ul li:nth-of-type(3n-1) {padding:0 5px;}
.aboutINNI .byNum .contList ul li:nth-of-type(3n) {padding-left:8px;}
.aboutINNI .byNum .contList ul li img {width:100%;}
.aboutINNI .byNum .contList ul li p {font-family:robotoL;}
.aboutINNI .byNum .contList ul li .num {font-family:roboto; font-size:22px; color:#222222;}
.aboutINNI .byNum .contList ul li .tit {margin-top:5px;}
.aboutINNI .byNum .contList ul li .txt {margin-top:5px;}
.aboutINNI .byNum .contList ul li:nth-of-type(4) p:nth-of-type(3) {margin-top:30px;}
.aboutINNI .byNum .contList ul li:nth-of-type(5) .txt span {font-family:roboto;}
.aboutINNI .byNum .contList .leaf {position:absolute; right:0; bottom:200px; height:232px; padding-left:130px; padding-top:100px; background:url(../../images/about/img_byNum_06.jpg) no-repeat 0 50%;}
.aboutINNI .promise .p {margin-top:10px; text-align:center; font-family:robotoL;}
.aboutINNI .promise ul {overflow:hidden; padding:0 90px; margin-top:100px;}
.aboutINNI .promise ul li {float:left; width:33.3%; padding:0 25px; text-align:center;}
.aboutINNI .promise ul li span {color:#222;}
.aboutINNI .promise ul li p {margin-top:15px; font-family:robotoL;}
.aboutINNI .promise ul li:before {content:''; display:block; width:146px; height:146px; margin:0 auto 30px; border-radius:73px; background:#ccc url(../../images/about/img_promise_01.png) no-repeat 50% 50%;}
.aboutINNI .promise ul li:nth-of-type(1) {}
.aboutINNI .promise ul li:nth-of-type(2):before {background-image:url(../../images/about/img_promise_02.png);}
.aboutINNI .promise ul li:nth-of-type(3):before {background-image:url(../../images/about/img_promise_03.png);}
.aboutINNI .campaign .img {margin-top:100px; overflow:hidden;}
.aboutINNI .campaign img {width:50%;}
.aboutINNI .campaign img:nth-of-type(1) {float:left; padding-right:10px;}
.aboutINNI .campaign img:nth-of-type(2) {float:right; padding-left:10px;}
.aboutINNI .campaign .p {margin-top:30px; text-align:center; font-family:robotoL;}
.aboutINNI .recycling .p {margin-top:30px; text-align:center; font-family:robotoL;}
.aboutINNI .recycling .img {margin-top:60px; text-align:center;}
.aboutINNI .play .p {margin-top:40px; text-align:center; font-family:robotoL;}
.aboutINNI .play .img {overflow:hidden; margin-top:80px;}
.aboutINNI .play .img li {float:left; width:33.3%;}
.aboutINNI .play .img li:nth-of-type(3n-2) {clear:both; padding-right:16px;}
.aboutINNI .play .img li:nth-of-type(3n-1) {padding:0 8px;}
.aboutINNI .play .img li:nth-of-type(3n) {padding-left:16px;}
.aboutINNI .play .img li img {width:100%;}
.aboutINNI .hankie .p {margin-top:40px; text-align:center; font-family:robotoL;}
.aboutINNI .hankie .img {overflow:hidden; margin-top:60px;}
.aboutINNI .hankie .img li {float:left; width:25%; text-align:center;}
.aboutINNI .hankie .img li:nth-of-type(4n-3) {padding-right:16px;}
.aboutINNI .hankie .img li:nth-of-type(4n-2) {padding:0 12px 0 8px ;}
.aboutINNI .hankie .img li:nth-of-type(4n-1) {padding:0 8px 0 12px;}
.aboutINNI .hankie .img li:nth-of-type(4n) {padding-left:16px;}
.aboutINNI .hankie .img li a {text-decoration:none;}
.aboutINNI .hankie .img li span {display:inline-block; margin-bottom:10px; color:#222; font-size:14px;}
.aboutINNI .hankie .img li img {width:100%;}
.aboutINNI .hankie .collection {margin-top:32px; border:1px solid #ddd;}
.aboutINNI .hankie .collection .coll_box {position:relative; padding:30px 23px; 30px 70px; display:none;}
.aboutINNI .hankie .collection .coll_box .desc {position:absolute; left:70px; top:30px; width:250px;}
.aboutINNI .hankie .collection .coll_box .desc .tit {margin-bottom:35px; text-align:center; font-family:robotoB; color:#222;}
.aboutINNI .hankie .collection .coll_box .desc .txt {font-size:14px; line-height:1.7; font-family:robotoL;}
.aboutINNI .hankie .collection .coll_box ul {overflow:hidden; margin-left:355px;}
.aboutINNI .hankie .collection .coll_box ul li {float:left; width:33.3%; padding:0 7px;}
.aboutINNI .hankie .collection .coll_box ul li img {width:100%;}
.aboutINNI .hankie .collection .coll_box ul li:nth-of-type(3) {}
.aboutINNI .hankie .collection .coll_box:before {content:''; position:absolute; left:25%; top:-11px; margin-left:-15%; display:block; width:32px; height:11px; background:url(../../images/about/arr_collection.jpg) no-repeat;}
.aboutINNI .hankie .collection #coll_1 {display:block;}
.aboutINNI .hankie .collection #coll_2:before {left:50%;}
.aboutINNI .hankie .collection #coll_3:before {left:75%;}
.aboutINNI .hankie .collection #coll_4:before {left:100%;}




@media only screen and (max-width: 1024px){
	
}

@media only screen and (max-width: 768px){
	.aboutINNI .pBR {display:none;}
}