.wrap-from-dialog {
    border: 10px solid;
    .ui-icon-closethick {
        background: url(../images/icon/bs_close.png) no-repeat;
        background-position: center center;
    }
    .ui-widget-header {
        background: none;
    }
    .ui-dialog-content {
        overflow: visible;
        .wrap-form {
            margin-bottom: 40px;
            .required-indicator {
                display: none;
            }
            input#dwfrm_subscription_email {
                display: block;
                height: 50px;
                line-height: 50px;
                width: 100%;
                padding-left: 10px;
            }
        }
        .sign-up-now {
            text-align: center;
            p {
                span {
                    color: $red;
                }
            }
            h3.title {
                display: inline-block;
                overflow: hidden;
                text-align: center;
                font-weight: bold;
            }
            h2.title {
                margin: 0;
                margin-bottom: 20px;
                font-style: normal;
                font-weight: bold;
            }
        }
        .optinheader-member {
            button {
                width: 100%;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .optinheader-guest {
            .btn-type {
                width: 49.3%;
            }
        }
        
        input#email-alert-address {
            margin-bottom: 5px;
            padding: 10px;
            height: 50px;
            line-height: 50px;
        }
    }
}
.email-subject {
    .from-dialog {
        display: none;
    }
    #email-alert-signup {
        display: none;
    }
    .header-util {
        a {
            text-transform: uppercase;
            font-weight: bold;
            span {
                color: $green;
            }
        }
        .msg-layer {
            display: none;
            color: $green;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
        }
    }
}