@include respond-to('large') {
    #d-header {
        #gnb {
            ul {
                & > li {
                    padding: 0 10px;
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@include respond-to('medium-ipad') {
    #d-header {
        overflow: auto;
        position: fixed;
        top: 0;
        left: -280px;
        width: 280px;
        height: 100%;
        padding: 0 0 50px;
        background: $white;
        z-index: 103;
        -webkit-overflow-scrolling: touch;
        @include single-transition(left, 0.5s);
        h1 {
            display: none;
        }
        .m-account {
            display: block;padding: 30px 15px;color: $white;background: $green;
            .txt {
                text-align: center;font-family: $Roboto-Medium;font-size: 18px;
            }
            .info {
                margin-top: 7px;text-align: center;font-size: 14px;
                span {
                    display: inline-block;padding: 0 5px 0 7px;background: url(../images/bg_bar_green.gif) no-repeat left center;background-size: auto 9px;
                    &:first-child {
                        background: none;
                    }
                }
            }
            .btn-area {
                &:after {
                    content: '';display: block;clear: both;
                }
                margin-top: 20px;text-align: center;
                .btn-type {
                    width: 100%;padding: 0;color: $white;border: 1px solid $white;
                    &.white {
                        color: $green;
                        &:hover {
                            color: $green;background: $white;
                        }
                    }
                }
                &.line-2 {
                    .btn-type {
                        width: 49%;float: right;
                        &:first-child {
                            float: left;
                        }
                    }
                }
            }
        }
        .header-wrap {
            height: auto;
            #gnb {
                margin-left: 0;
                width: 100%;
                ul {
                    & > li:not(.search) {
                        display: block;width: 100%;padding: 0;
                        & > p {
                            font-size: 14px;
                            a {
                                height: 35px;line-height: 35px;padding-left: 15px;text-align: left;border-top: 1px solid $gainsboro;background: url(../images/plus.gif) no-repeat 260px center;background-size: 8px;
                            }
                            span {
                                display: none;
                            }
                        }
                        &.active {
                            & > p {
                                background: $tuna;
                                a {
                                    color: $white;background: url(../images/minus_white.gif) no-repeat 260px center;background-size: 8px auto;
                                }
                            }
                        }
                        &.none-sub {
                            & > p {
                                a {
                                    background: none;
                                }
                            }
                        }

                    }
                }
            }
        }
        .header-util-desktop,
        .right-group{
            display: none;
        }
        .header-util-mobile{
            display: block;
            .content-asset{
                & > ul {
                    margin: 0;
                    padding: 0;
                    & > li {
                        padding: 0 10px 0 15px;
    					font-size: 12px;
    					float: none;
					    height: 35px;
					    line-height: 35px;
					    margin-top: 0;
					    border-top: 1px solid $gainsboro;
					    &:first-child{
					    	background: none;
					    }
                        & > a {
                            display: block;
						    line-height: 35px;
						    text-decoration: none;
						    font-size: 14px;
                            font-family: $Roboto-Regular;
                        }
                        &.help {
                            padding: 0;
                            background: none;
                            & > a {
                                display: none;
                            }
                            & > a{
                                &.link{
                                    display: block;
                                    padding: 0 15px;
                                    background: url(../images/plus.gif) no-repeat 260px center;
                                    background-size: 8px;
                                    color: $nero;
                                    &.active{
                                        background: url(../images/minus_gray.gif) no-repeat 260px center;
                                        background-size: 8px;
                                    }
                                }
                                &.help-arr {
                                    display: none;
                                }
                            }
                            .help-layer {
                                display: none;
                                position: static;
                                width: 100%;
                                font-size: 11px;
                                border: none;
                                background: $darker-gray;
                                padding: 15px;
                                ul {
                                    list-style: none;
                                    li {
                                        margin-top: 5px;
                                        list-style: none;
                                        line-height: 35px;
                                        &:first-child {
                                            margin-top: 0;
                                        }
                                        a {
                                            text-decoration: underline;
                                            color: $green;
                                            font-size: 13px;
                                            font-family: $Roboto-Bold;
                                        }
                                        .t {
                                            font-size: 12px;
                                        }
                                        .sp-icons {
                                            margin-right: 8px;
                                            vertical-align: -6px;
                                        }
                                    }
                                }
                                &.active{
                                    display: block;
                                }
                            }
                        }
                        &.account,
                        &.search,
                        &.mini-cart,
                        &.basket {
                            display: none;
                        }
                        &.m-about {
                            height: auto;
                            padding: 0;
                        }
                        &.m-discover,
                        &.m-about{
                            height: auto;
                            padding: 0;
                            & > a{
                                padding-left: 15px;
                                font-size: 14px;
                                color: $nero;
                                background: url(../images/plus.gif) no-repeat 260px center;
                                background-size: 8px;
                                &.active{
                                    color: $white;
                                    background: url(../images/minus_white.gif) no-repeat 260px center $tuna;
                                    background-size: 8px;
                                }
                            }
                            .sub-category{
                                display: none;
                                .sc-wrap{
                                    .title{
                                        border-top: 1px solid $gainsboro;
                                        margin: 0;
                                        line-height: 1;
                                        a{
                                            display: block;
                                            height: 35px;
                                            line-height: 35px;
                                            padding-left: 25px;
                                            font-size: 14px;
                                            color: $dim-gray;
                                            background: url(../images/plus.gif) no-repeat 260px center;
                                            background-size: 8px;
                                            font-family: $Roboto-Regular;
                                            &.active{
                                                background: url(../images/minus_gray.gif) no-repeat 260px center;
                                                background-size: 8px;
                                            }
                                            &.none-sub{
                                                background: none;
                                            }
                                        }
                                    }
                                    ul{
                                        display: none;
                                        padding: 0 0 10px 0;
                                        margin: 0;
                                        li{
                                            a{
                                                display: block;
                                                padding-left: 35px;
                                                line-height: 1.7;
                                                font-size: 14px;
                                                color: $dim-gray;
                                                text-decoration: none;
                                            }
                                        }
                                        &.active{
                                            display: block;
                                        }
                                    }
                                }
                                &.active{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-util {
            position: static;
            & > ul {
                margin: 0;
                & > li {
                    float: none;
                    height: 35px;
                    line-height: 35px;
                    margin-top: 0;
                    border-top: 1px solid $gainsboro;
                    background: none;
                    & > a {
                        display: block;
                        line-height: 35px;
                        text-decoration: none;
                        font-size: 14px;
                        color: $british-racing-green;
                        font-family: $Roboto-Regular;
                    }
                    &.help {
                        margin: 0 15px;padding: 0;background: none;
                        & > a {
                            display: none;
                        }
                        .help-layer {
                            display: block;position: static;width: 100%;margin-top: 20px;font-size: 11px;border: none;background: $darker-gray;
                            ul {
                                li {
                                    margin-top: 5px;
                                    &:first-child {
                                        margin-top: 0;
                                    }
                                    a {
                                        text-decoration: underline;color: $green;
                                    }
                                    .t {
                                        font-size: 12px;
                                    }
                                    .sp-icons {
                                        margin-right: 7px;vertical-align: -3px;
                                    }
                                }
                            }
                        }
                    }
                    &.account {
                        display: none;
                    }
                    &.search {
                        display: none;
                    }
                    &.mini-cart {
                        display: none;
                    }
                }
            }
        }
        &:after {
            display: none;
        }

        &.active {
            left: 0;
        }

        #gnb {
            float: none;
        }
    }

    #d-header #gnb ul li {
        .sub-category {
            position: static;padding: 0;border: none;background: $white;z-index: 11;
            box-shadow: none;
            display: none !important;
            .sc-wrap {
                .title {
                    border-top: 1px solid $gainsboro;
                    a {
                        font-family: $Roboto-Regular; display: block;height: 35px;line-height: 35px;padding-left: 25px;font-size: 14px;color: $dim-gray;text-decoration: none;background: url(../images/plus_gray.gif) no-repeat 260px center;background-size: 8px auto;
                    }
                    & + .title {
                        margin-top: 0;
                    }
                    &.active {
                        a {
                            background: url(../images/minus_gray.gif) no-repeat 260px center;background-size: 8px auto;
                        }
                        & + ul {
                            display: block;padding-bottom: 10px;
                        }
                    }
                    &.none-sub {
                        a {
                            background: none;
                        }
                    }
                }
                ul {
                    display: none;margin-top: 0;
                    > li {
                        font-size: 14px;
                        a {
                            display: block;padding-left: 35px;color: $dim-gray;text-decoration: none;
                        }
                    }
                    & + .title {
                        margin-top: 0;
                    }
                }
                .banner {
                    display: none;
                }
                .fl {
                    float: none;margin-left: 0;padding-left: 0;border-left: none;
                    &.line-2 {
                        width: 100%;
                        ul {
                            > li {
                                float: none;width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &.g-features {
            .sub-category {
                left: 0;
            }
        }
        &.g-skincare {
            .sub-category {
                left: 0;width: 100%;
            }
        }
        &.g-makeup {
            .sub-category {
                left: 0;
            }
        }
        &.g-hair {
            .sub-category {
                left: 280px;
            }
        }
        &.g-fragrance {
            .sub-category {
                left: 410px;
            }
        }
        &.g-tools {
            .sub-category {
                left: 530px;
            }
        }

        &.hover {
            .sub-category {
                display: block;
            }
        }
        &.active {
            .sub-category.mobile {
                display: block !important;
            }
        }
    }
}

@include respond-to('small-ipad') {
    .top-banner {
        padding-right: 20px;text-align: right;
    }
    #d-header {
        .header-wrap .logged-mobile {
            a.btn-type {
                min-width: initial ;
            }
        }
    }
    .m-discover {
        .sub-category {
            .sp-icons {
                vertical-align: middle;
                margin-right: 5px;
                &.i-faq {
                    height: 19px;
                }
            }
        }
    }
}
@include respond-to('xsmall-mobile'){
    #m-header {
        .open-sidemenu {
            left: 0;
        }
        .util {
        	margin-right: 0;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1420px) {
	#d-header {
		#gnb {
			width: 100%;
			margin-top: -10px;
			ul {				
				display: table;
				margin: 0 auto;
			}
		}
	}
}
