#d-header {
    .right-group {
        ul li.account-logged {
            .account-logged-item {
                display: inline-block;
                color: $nobel;
                span {
                    color: $nero;
                    font-family: $Roboto-Bold;
                }
                .user-account-logined {
                    color: $green;
                    text-decoration: none;
                    text-transform: capitalize;
                    &:hover {
                        text-decoration: none;
                    }
                }
                .ser-logout {
                    color: $nobel;
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .user-panel {
        background: $white;
        border: 1px solid $border-gray-third;
        padding: 30px;
        h3 {
            font-size: 23px;
            color: $nero;
            font-family: $Roboto-Regular;
            text-transform: uppercase;
        }
        .create-new-account {
            text-align: center;
            p {
                color: $nero;
                font-size: 20px;
                font-family: $Roboto-Bold;
                margin-bottom: 20px;
            }
            a {
                width: 100%;
                color: $white;
                font-size: 12px;
                font-family: $Roboto-Medium;
            }
        }
        .login-account {
            .returning-customers {
                 .form-row-button .password-reset {
                    margin-top: 0;
                 }
            }
            #dwfrm_login {
                .username, .password {
                    label {
                        display: none;
                    }
                    input {
                        height: 50px;
                        &:-ms-input-placeholder {
                            text-transform: uppercase;
                        }
                    }
                    input::-webkit-input-placeholder {
                        text-transform: uppercase;
                    }
                    input:-moz-placeholder {
                        text-transform: uppercase;
                    }
                }
            }
            .form-row-button {
                margin-bottom: 0;
                .login-rememberme {
                    text-transform: uppercase;
                    #dwfrm_login_rememberme2 {
                        display: none;
                    }
                    .checkbox {
                        display: inline-block;
                    }
                }
                .button-login {
                    display: block;
                    width: 100%;
                    font-size: 14px;
                    color: $white;
                    font-family: $Roboto-Medium;
                    margin-bottom: 20px;
                }
                .password-reset {
                    float: right;
                    margin-top: 10px;
                    text-decoration: underline;
                }
            }
            .or-login {
                position: relative;
                overflow: hidden;
                margin-bottom: 40px;
                p {
                    margin: 0;
                    text-align: center;
                    color: $nobel;
                    font-size: 14px;
                    font-family: $Roboto-Regular;
                    position: relative;
                    text-transform: uppercase;
                    &:before {
                        content: "";
                        display: block;
                        width: 45%;
                        height: 1px;
                        background: $gainsboro;
                        position: absolute;
                        left: 0;
                        top: 49%;
                        transform: translateY(-50%);
                    }
                    &:after {
                        content: "";
                        display: block;
                        width: 45%;
                        height: 1px;
                        background: $gainsboro;
                        position: absolute;
                        right: 0;
                        top: 49%;
                        transform: translateY(-50%);
                    }
                }
            }
            .social-login {
                border-bottom: 1px solid $gainsboro;
                padding-bottom: 30px;
                margin-bottom: 30px;
                .wrap-facebook {
                    width: 49%;
                    margin-right: 1%;
                    background: $blue-heavy;
                    font-size: 14px;
                    color: $white;
                    border: none;
                    box-shadow: 1px -1px 1px 0px $blue-border;
                    position: relative;
                    padding: 0;
                    i.fa-facebook {
                        position: absolute;
                        top: 50%;
                        left: 28%;
                        transform: translateY(-58%);
                    }
                    input {
                        &:focus {
                        	outline: none;
                        }
                        background: none;
                        border: none;
                        color: $white;
                        cursor: pointer;
                        font-size: 11px;
                        text-transform: uppercase;
                        font-family: $Roboto-Bold;
                        width: 100%;
                        height: 100%;
                    }
                }
                .wrap-google {
                    width: 49%;
                    background: $red-light;
                    font-size: 14px;
                    color: $white;
                    border: none;
                    box-shadow: 1px -1px 1px 0px $red-border;
                    position: relative;
                    padding: 0;
                    i.fa-google-plus {
                        position: absolute;
                        top: 50%;
                        left: 28%;
                        transform: translateY(-58%);
                    }
                    input {
                        &:focus {
                        	outline: none;
                        }
                        background: none;
                        border: none;
                        color: $white;
                        cursor: pointer;
                        font-size: 11px;
                        text-transform: uppercase;
                        font-family: $Roboto-Bold;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
.text-center {
    text-align: center;
}