@import "nav";
@import "menu_utility";
@import "country_selector";
@import "_email_subscriber";
@import "_email_subscriber_responsive.scss";
@import "_topbanner.scss";
@import "_topbanner_responsive.scss";
@import "_header_login.scss";
body {
    font-family: $Roboto-Regular;
}
.top-banner {
    position: relative;
    text-align: center;
    background: $nero;
    z-index: 11;
    a {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: $white;
        text-decoration: none;
        span {
            color: $white;
        }
    }
}
// mobile header
#m-header {
    display: none;
    position: relative;
    width: 100%;
    height: 40px;
    background: $white;
    &.new-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 60;
        height: 40px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
        ~ #main {
            @include respond-to('xmedium') {
                padding-top: 40px;
            }
        }
        .open-sidemenu {
            top: 5px;
            left: 10px;
            padding: 5px;
        }
        .header-cat {
            img {
                display: none;
            }
            a {
                width: 32px;
                height: 38px;
                background: url(../images/common/ico_home.png) center no-repeat;
            }
        }
        .util {
            top: 7px;
            right: 15px;
            height: 26px;
            p.search {
                height: 26px;
                span {
                    height: 26px;
                    width: 26px;
                    background-size: auto;
                }
            }
            .mini-cart {
                height: 26px;
                width: 26px;
                padding-right: 0;
                margin-left: 5px;
                background-size: auto;
                .mini-cart-total {
                    top: -5px;
                    right: -1px;
                    .count {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    }
    h1 {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100px;
        height: 40px;
        margin: 0 0 0 -50px;
        text-align: center;
        a {
            display: block;
            height: 100%;
            img {
                display: inline-block;
                width: 78px;
                margin-top: 11px;
            }
        }
    }
    .open-sidemenu {
        position: absolute;
        top: 0px;
        left: 10px;
        padding: 10px;
        span {
            height: 2px;
            width: 24px;
            display: block;
            margin-top: 7px;
            background: $nero;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .util {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 15px;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        p {
            &.search {
                float: left;
                span {
                    display: inline-block;
                    width: 35px;
                    height: 40px;
                    background: url(../images/ico_search.png) no-repeat center;
                    background-size: 18px;
                    cursor: pointer;
                }
            }
            .mini-cart {
                float: left;
                margin-right: 10px;

                a {
                    display: inline-block;
                    width: 35px;
                    height: 40px;
                    background: url(../images/ico_basket.gif) no-repeat center;
                    background-size: 18px;
                    margin-right: 15px;

                    .count {
                        display: inline-block;
                        position: absolute;
                        top: 5px;
                        right: 13px;
                        width: 15px;
                        text-align: center;
                        font-size: 11px;
                        color: $white;
                        border-radius: 50%;
                        background: $green;
                    }
                    &.mini-cart-link {
                        position: absolute;
                        top: 0;
                    }
                }
                &:hover{
                    a {
                        background: url(../images/ico_basket_on.gif) no-repeat;
                    }
                }
            }
        }
    }
    @include respond-to('small') {
        .search-layer {
            fieldset {
                margin-top: 15px;
                
                input[type='text'] {
                    font-size: 21px;
                }

                .close-button {
                    width: 20px;
                    height: 20px;
                    top: 2px;

                    .close-icon {
                        background-size: 10px;
                        width: 10px;
                        height: 10px;
                        left: 5px;
                        top: 5px;
                    }
                }
            }
        }
    }
}
#d-header {
    position: relative;
    padding: 0 40px;
    background: $white;
    z-index: 101;
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 15px;
        background: url(../images/headerShadow.png) repeat-x left bottom;
    }
    .m-account {
        display: none;
    }
    .header-wrap {
        position: relative;
        height: 80px;
    }
    .main-logo {
        float: left;
        margin: 25px 35px 0 0;
    }
    .right-group {
        position: absolute;
        right: 0;
    }
    // header util
    .header-util-desktop {
        display: inline-block;
        ul {
            white-space: nowrap;
            margin: 0;
            padding: 0;
            line-height: 24px;
            li {
                display: inline-block;
                padding: 0 10px 0 15px;
                font-size: 12px;
                &:last-child {
                    padding-right: 15px;
                }
            }
        }
    }
    .header-util-mobile {
        display: none;
    }
    .header-util {
        & > ul {
            float: right;
            vertical-align: middle;
            line-height: 26px;

            &:after {
                content: '';
                display: block;
                clear: both;
            }
            & > li {
                float: left;
                padding: 0 0px 0 15px;
                font-size: 12px;
                a {
                    text-transform: uppercase;
                    &:focus {
                        outline: none;
                    }
                }
                .user-panel {
                    display: none;
                }
                &.message {
                    position: relative;
                    margin-top: 1px;
                    .msg-layer {
                        display: none;
                        font-family: $Roboto-Medium;
                        font-size: 12px;
                        color: $green;
                        background: $white;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    &:hover {
                        .msg-layer {
                            display: inline-block;
                            vertical-align: text-bottom;
                        }
                    }
                }
                &.help {
                    position: relative;
                    padding: 0px 0px 0px 10px;
                    background: none;
                    & > a {
                        display: inline-block;
                        padding-right: 15px;
                        text-decoration: none;
                        color: #999;
                        background: url(../images/common/ico_help_arr.gif) no-repeat right center;
                    }
                    a.help-arr {
                        display: inline-block;
                        width: 10px;
                        height: 14px;
                        vertical-align: -3px;
                        background: url(../images/common/ico_help_arr.gif) no-repeat right center;
                        transition-duration: 0.2s;
                    }
                    .help-layer {
                        display: none;
                        position: absolute;
                        top: 32px;
                        right: 0;
                        width: 230px;
                        font-size: 12px;
                        border: 1px solid $dark-gray;
                        background: $white;
                        height: 100%;
                        min-height: 110px;
                        z-index: 12;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            height: 20px;
                            width: 100%;
                            left: 0;
                            bottom: 100%;
                        }
                        ul {
                            margin: 1em 0;
                            padding: 0 1.5em;
                            li {
                                margin-top: 5px;
                                list-style: none;
                                &:first-child {
                                    margin-top: 0;
                                }
                                a {
                                    text-decoration: none;
                                    color: $nero;
                                    font-size: 13px;
                                    font-family: $Roboto-Bold;
                                    text-transform: uppercase;
                                    &:hover {
                                        color: $green;
                                        text-decoration: underline;
                                    }

                                }
                                .t {
                                    display: inline-block;
                                    margin-right: 3px;
                                    font-family: $Roboto-Medium;
                                    font-weight: normal;
                                    font-size: 13px;
                                }
                                .d {
                                    line-height: 1;
                                    text-decoration: underline;
                                    color: $nero;
                                }
                                .sp-icons {
                                    margin-right: 7px;
                                    vertical-align: middle;
                                    margin-bottom: 4px;
                                }
                                &.chat {
                                    // 18
                                    .sp-icons {
                                        margin-right: 6px;
                                    }
                                }
                                &.call {
                                    // 16
                                    .sp-icons {
                                        margin-right: 8px;
                                    }
                                }
                                &.mail {
                                    // 17
                                    .sp-icons {
                                        margin-right: 7px;
                                    }
                                }
                                &.faq {
                                    // 15
                                    .sp-icons {
                                        margin-right: 9px;
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        & > a {
                            color: $nero;
                        }
                    }
                    .help-layer:hover,
                    .link:hover ~ .help-layer,
                    &.active .help-layer {
                        display: block;
                    }
                    &.active a.help-arr {
                        transform: rotate(180deg);
                    }
                }
                &.account {
                    padding: 0 10px;
                    background: none;
                    a {
                        color: #999;
                        &:hover {
                            color: $nero;
                        }
                    }
                }
                &.mini-cart {
                    padding: 0;
                    margin-left: 15px;
					display: flex;
					.mini-cart-label {
						margin-right: 5px;
					}
					.minicart-viewmycart {
						text-transform: none;
						font-family: $Roboto-Medium;
						font-size: 15px;
						color: $green;
						padding-bottom: 15px;
						display: block
					}
                    span {
                        margin: 0;
                        text-transform: uppercase;
                        cursor: pointer;
                        @include single-transition(color, 0.4s);
                    }
                    .mini-cart-icon {
                        position: relative;
                        width: 26px;
                        height: 26px;
                        background: url(../images/common/ico_basket.gif) no-repeat;
                        background-size: 15px;
                        top: 4px;
                        float: left;
                        cursor: pointer;
                        
                        .count {
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            text-align: center;
                            font-size: 8px;
                            line-height: 1.5;
                            color: $white;
                            border-radius: 50%;
                            background: $green;
                            position: absolute;
                            left: -18px;
                            top: -2px;
                        }
                    }
                }
                &.mini-cart:hover {
                    .mini-cart-label {
                        text-decoration: underline;
                        color: $heavy-green;
                    }
                    .mini-cart-icon {
                        background: url(../images/ico_basket_on.gif) no-repeat;
                        background-size: 15px;
                        top: 4px;
                    }
                }
            }
        }
    }
    // GNB
    #gnb {
        position: relative;
        float: left;
        @include respond-to('large') { 
        	width: 100%;
        }
        ul {
            overflow: hidden;
            & > li {
                float: left;
                padding: 0 10px;
                & > p {
                    position: relative;
                    font-family: $Roboto-Regular;
                    font-size: 15px;
                    @include single-transition(all, 0.3s);
                    a {
                        display: block;
                        height: 78px;
                        line-height: 90px;
                        text-align: center;
                        text-decoration: none;
                        color: $nero;
                        text-transform: uppercase;
                        &:hover {
                            color: $green;
                        }
                        &.sale-category {
                        	color: $red;
                        }
                        &.blog-category {
                        	color: $green;
                        	text-transform: none;
                        	font-family: $Roboto-Bold;
                        	font-size: 18px;
                        }
                        
                    }
                    span {
                        display: block;
                        width: 0;
                        height: 2px;
                        margin: 0 auto;
                        background: $british-racing-green;
                        @include single-transition(width, 0.3s);
                    }
                }
                &.primary a, &.non-primary a {
                    font-family: $Roboto-Bold;
                    font-size: 95%;
                }
                
                &.non-primary > p a:not(.blog-category) {
                	font-family: $Roboto-Regular;
                }
                
                &.categpry-separator {
                    height: 25px;
                    border-right: 1px solid black;
                    margin: 32px 12px 0 0;
                    padding: 0 0 0 12px;

                    @include respond-to('medium-ipad') {
                        height: 0px;
                        width: 100%;
                        border-bottom: 2px solid black;
                        padding: 0;
                        margin: 0;
                    }
                }
                &.hover {
                    p {
                        span {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.snb-close {
    display: none;
    position: fixed;
    top: 20px;
    left: 10px;
    width: 25px;
    height: 25px;
    opacity: 0;
    z-index: 102;
    @include single-transition(all, 0.5s);
    span {
        display: inline-block;
        position: absolute;
        top: 12px;
        left: 0px;
        width: 25px;
        height: 2px;
        background: $white;
        &:nth-child(1) {
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            transform: rotate(-45deg);
        }
    }
    &.active {
        left: 290px;
        opacity: 1;
        display: block;
    }
}
// sub category
#d-header #gnb ul li {
    .sub-category {
        display: none;
        position: absolute;
        top: 80px;
        min-width: 190px;
        padding: 30px 25px 35px;
        border: 1px solid $very-light-gray2;
        background: $white;
        z-index: 11;
        box-shadow: 0px 8px 45px -20px $black;
        &.mobile {
            display: none !important;
        }
        .sc-wrap {
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            .title {
                a {
                    height: auto;
                    line-height: 1;
                    padding: 0;
                    text-align: left;
                    font-family: $Roboto-Bold;
                    font-size: 15px;
                    text-transform: uppercase;
                    padding-right: 25px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &:hover {
                        color: $green;
                    }
                }
                & + .title {
                    margin-top: 10px;
                }
            }
            ul {
                margin-top: 12px;
                > li {
                    float: none;
                    padding: 0;
                    line-height: 1.7;
                    font-size: 14px;
                    a {
                        color: $dim-gray;
                        &:hover {
                            color: $green;
                        }
                    }
                }
                & + .title {
                    margin-top: 20px;
                }
                & + .banner {
                    margin-top: 30px;
                    img {
                        max-width: 100%;
                    }
                }
            }
            .fl {
                margin-left: 30px;
                padding-left: 30px;
                border-left: 1px solid $gainsboro;
                &:first-child {
                    margin-left: 0;
                    padding-left: 0;
                    border: none;
                }
                &.line-2 {
                    width: 350px;
                    ul {
                        &:after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                        > li {
                            float: left;
                            width: 50%;
                        }
                    }
                }
                .banner {
                    .txt {
                        margin-top: 10px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    &.g-features {
        .sub-category {
            left: 0;
        }
    }
    &.g-skincare {
        .sub-category {
            left: 0;
            width: 810px;
            .title a:hover {
                text-decoration: none;
                cursor: default;
                color: inherit;
            }
        }
    }
    &.g-makeup {
        .sub-category {
            left: 0;
        }
    }
    &.g-hair {
        .sub-category {
            left: 280px;
        }
    }
    &.g-fragrance {
        .sub-category {
            left: 410px;
        }
    }
    &.g-tools {
        .sub-category {
            left: 530px;
        }
    }
    &.hover {
        .sub-category {
            display: block;
        }
    }
}
.user-panel {
    position: absolute;
    top: 40px;
    right: 0;
    width: 465px;
    z-index: 1;
}
.search-layer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $heavy-green;
    text-align: center;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .25);
    z-index: 0;
    form {
        position: relative;
        height: 0;
        width: 90%;
        margin: auto;
        text-align: center;
        transition: height 700ms;
        overflow: hidden;

        $close-button-size: 36px;
        fieldset {
            border: none;
            margin: 0;
            padding: 0;
            position: relative;
            border-bottom: 1px solid $border-light-gray;
            display: inline-block;
            max-width: 1600px;
            width: 100%;
            padding-bottom: 8px;
            margin-top: 30px;

            input[type='text'] {
                border: none;
                background: transparent;
                color: $white-smoke;
                font-size: 30px;
                font-family: $Roboto-Thin;
                height: auto;
                padding: 0;
                padding-right: $close-button-size + 10px;
                float: left;
            }
            input[type='text']:hover,
            input[type='text']:focus {
                border: none !important;
            }
            input[type='text']::placeholder {
                color: $very-light-gray2;
            }
			input[type='text']::-ms-clear {
                display: none;
            }

            .close-button {
                width: $close-button-size;
                height: $close-button-size;
                position: absolute;
                right: 0;
                cursor: pointer;

                .close-background {
                    height: 100%;
                    width: 100%;
                    background-color: $white-smoke;
                    border-radius: 50%;
                    display: inline-block;
                }
                .close-icon {
                    display: block;
                    width: 18px;
                    height: 18px;
                    background: url(../images/icon/bs_close.png) no-repeat;
                    cursor: pointer;
                    position: absolute;
                    left: 10px;
                    top: 10px;
                }
            }
            button[type='submit'] {
                display: inline-block;
                width: 26px;
                height: 26px;
                background: url(../images/icon_search_layer.png) no-repeat;
                transition: background 0.4s;
                position: absolute;
                left: 5px;
                top: 5px;
                border: none;
                @include single-transition(background, 0.4s);
                &:hover {
                    background: url(../images/ico_search_on.png) no-repeat;
                }
                @include respond-to('small-min-ipad') {
                    top: 17px;
                }
            }
            button[type='submit']:active,
            button[type='submit']:hover,
            button[type='submit']:focus,
            button[type='submit']:visited {
                border: none;
            }
        }
    }
     &.open{
         form{
             height: 110px;
         }
    }
}
.success-message-block {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    .dialog-content {
        padding: 20px 0 30px;
        color: $green;
    }
    .c-account{
        margin-top: 20px;
        font-family: $Roboto-Regular;
    }
}
.wrap-from-dialog {
    .optinheader {
        .optInEmailHeader {
            width: 100%;
            height: 40px;
            padding-left: 10px;
            margin: 30px 0px 10px;
            outline: none;
            &:hover, &:focus {
                color: $nero;
            }
        }
    }
    .success-message {
        margin-top: 15px;
        color: $green;
    }
}

div.search {
    background: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-top: 8px;
    @include respond-to(medium-ipad) {
        display: none;
    }

    #search-label {
        display: inline;
        font-size: 15px;
        font-family: $Roboto-Bold;
        margin-right: 4px;
        text-transform: uppercase;                        
        cursor: pointer;
        @include single-transition(color, 0.4s);
        &:after	{
        	content: "";
            display: inline-block;
            background: url(../images/ico_search.png) no-repeat;
            background-size: 17px;
            width: 17px;
            height: 15px;
            @include single-transition(background, 0.4s);
            position: relative;
			top: 3px;
			margin-left: 4px;
    	}
    }
}
div.search:hover {
    #search-label {
        color: $heavy-green;
        &:after {
			background: url(../images/ico_search_on.png) no-repeat;
        	background-size: 17px; 	                       
        }
    }
}


@include respond-to('medium-ipad') {
    .mini-cart-label {
        display: none;
    }
}
