nav[role="navigation"],
.search-form {
    @extend .clearfix;
    color: $white;
    left: -50%;
    margin-top: 0;
    position: absolute;
    width: 50%;
    top: 0;
    @include respond-to('small-min-ipad') {
        color: $night-rider;
        left: auto;
        margin-top: -4em;
        position: static;
        width: 100%;
        background: $white;
    }
}
.menu-toggle {
    background-color: transparent;
    border: none;
    color: $night-rider;
    display: block;
    float: left;
    margin-left: 0.2em;
    padding: 0.5em;
    @include respond-to('small-min-ipad') {
        display: none;
    }
    &:hover {
        background-color: transparent;
    }
    .menu-icon {
        font-size: 2em;
    }
}
.menu-category {
    @extend %clearfix;
    border-bottom: 5px solid darken($dim-gray, 10%);
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    @include respond-to('small-min-ipad') {
        border-bottom: 1px solid $very-light-gray;
        margin: 1.35em auto 0;
        width: 100%;
    }
    li {
        border-top: 1px solid darken($night-rider, 10%);
        list-style: none;
        @include respond-to('small-min-ipad') {
            border: none;
            float: left;
            &:hover > a {
                background-color: transparent;
            }
        }
    }
    a {
        color: $citrus;
        display: inline-block;
        font-size: .9rem;
        padding: .9rem 1rem;
        overflow: visible;
        width: 100%;
        @include respond-to('small-min-ipad') {
            font-size: .75rem;
            width: auto;
        }
    }
}
.login-mobile,
.logged-mobile {
    display: none;
}
@include respond-to('medium') {
    #d-header {
        .header-wrap {
            .header-util {
                .user-account {
                    display: none;
                }
            }
            .login-mobile {
                background: $green;
                padding: 30px 20px;
                display: block;
                .user-account2 {
                	display: block;
                }
                .login {
                	padding-bottom: 10px;
                }
                a {
                    text-align: center;
                    color: $white;
                    text-transform: uppercase;
                    text-decoration: none;
                    span {
                        display: block;
                        font-size: 20px;
                        margin-bottom: 20px;
                        font-family: $Roboto-Bold;
                    }
                    .login-title2 {
                        font-size: 13px;
                        border: 1px solid $white;
                        border-radius: 2px;
                        font-family: $Roboto-Bold;
                        margin-bottom: 0;
                    }
                }
            }
            .logged-mobile {
                background: $green;
                padding: 30px 20px;
                text-align: center;
                display: block;
                h3 {
                    font-family: $Roboto-Bold;
                    font-size: 20px;
                    color: $white;
                }
                ul {
                    margin-bottom: 20px;
                    li {
                        &:first-child:before {
                            display: none;
                        }
                        &:before {
                            content: "";
                            background: $border-light-green;
                            width: 1px;
                            height: 14px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 0%;
                        }
                        display: inline-block;
                        font-size: 13px;
                        font-family: $Roboto-Bold;
                        position: relative;
                        padding: 0 10px;
                        color: $white;
                    }
                }
                a.btn-type {
                    min-width: auto;
                    float: left;
                    width: 49%;
                    padding: 0px 5px;
                    margin: 0;
                    box-sizing: border-box;
                    margin-right: 1%;
                }
                .logged-mobile-myaccound {
                    margin-left: 1%;
                    margin-right: 0;
                }
            }
        }
    }
}