@include respond-to('xmedium') {
    .header-banner .brand-story {
        .bs-con {
            .bs-nav {
                top: 1%;
                margin-top: 0;
            }
            .con > div .info {
                top: auto;
                bottom: 20%;
                margin-top: 0;
            }
        }
    }
}

@include respond-to('small-ipad') {
    .header-banner .top-brand-story {
        height: auto;
        line-height: normal;
        padding: 14px 0 0;
        .bs-show {
            position: static;
            display: inline-block;
            float: left;
            padding-left: 20px;
            transform: initial;
            color: $dim-green;
        }
        .vertical-promotion {
            margin: 0 auto;
            width: 20em;
            .v-item {
                line-height: 20px;
            }
        }
        a {
            height: auto;
            line-height: normal;
        }
    }
    .brand-story {
    	.bs-con {
    		.info {
    		    top: auto;
                bottom: 10%;
                width: 200px;
                margin-top: 0;
                .t {
                    font-size: 30px;
                }
                .d {
                	font-size: 14px;
                }
    	    }
    	    .bs-nav {
    	    	top: 10%;
			    left: 20px;
			    margin-top: 0;
    	    	ul li {
    	    		margin-bottom: 10px;
    	    		a {
    	    		    font-size: 20px;
    	    		    span.d {
    	    			    margin-top: 8px;
    				        font-size: 14px;
    	    		    }
    	    	    }
    	    	}
    	    	
    	    }
    	} 	
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    .header-banner .top-brand-story {
        .bs-show {
            float: none;
            margin-bottom: 6px;
        }
        .vertical-promotion {
            text-align: center;
            display: inline-block;
            width: auto;
            overflow: hidden;
        }
    }
}