.header-banner {
    z-index: -1;
    position: relative;
    .brand-banner-container {
        display: none;
    }
    .brand-story {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 670px;
    background: $white;
    z-index: 0;
    .bs-con {
        position: relative;
        width: 100%;
        height: 670px;
        margin: 0 auto;
        .con {
            div.active {
                background: $white;
            }
        }
        .image {
            max-width: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
        }
        .bs-close {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 11;
        }
        ul li {
                height: 60px;
                margin-bottom: 30px;
                a {
                    display: inline-block;
                    line-height: 1;
                    font-size: 30px;
                    font-weight: bold;
                    &:hover {
                        text-decoration: none;
                    }
                    &:hover em.t {
                       color: $british-racing-green;
                    }
                    &:hover span.d {
                        color: $british-racing-green;
                    }
                    em.t {
                        font-family: $Roboto-Black;
                        color: $nero;
                    }
                    span.d {
                        display: block;
                        margin-top: 13px;
                        font-size: 17px;
                        font-weight: normal;
                        color: $dim-gray;
                        font-family: $text-font-stack;
                        color: $default-color;
                    }
                }
            }
            .inner {
            position: relative;
            width: 100%;
            max-width: 1920px;
            height: 100%;
            margin: 0 auto;
        }
        .bs-nav {
            position: absolute;
            top: 50%;
            left: 50px;
            margin-top: -150px;
            z-index: 12;
        }
       .info {
            position: absolute;
            top: 50%;
            right: 30px;
            width: 400px;
            margin-top: -200px;
            z-index: 9;
            .t {
                line-height: 1;
                font-family: $Roboto-Black;
                font-size: 40px;
                font-weight: bold;
                color: $nero;
            }
            .d {
                margin-top: 15px;
                font-size: 18px;
                color: $nero;
                font-family: $text-font-stack;
            }
            .btn {
                margin-top: 20px;
                a {
                    font-family: $Roboto-Black;
                    font-size: 18px;
                    font-weight: bold;
                    color: $nero;
                    text-decoration: underline;
                }
            }
        }
    }
}
.brand-bg {
    max-width: 2000px;
    height: 670px;
}
.top-brand-story {
    position: relative;
    color: $white;
    background: $nero;
    text-align: center;
    z-index: 11;
    .bs-show.active {
        background: url(../images/icon/arr_up.gif) no-repeat right center;
    }
    .bs-show {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        left: 40px;
        padding-right: 13px;
        color: $dim-green;
        background: url(../images/common/arr_down2.png) no-repeat right center;
        &:hover {
            color: $white;
        }
    }
    .vertical-promotion {
        overflow: hidden;
        .vertical-promotion-inner,
        > div {
            position: relative;
            z-index: 1;
        }
        .v-item {
            width: 20em;
            height: 30px;
            margin: 0 auto;
            line-height: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            text-transform: uppercase;
            color: $white;
        }      
    }
    a {
        color: $white;
    }

}
}
