
/*팝업*/
.layer-pop{display:none; position:fixed; width:100%; height:100%; left:0; top:0; z-index:90; overflow-x:auto; background:url(../images/common/bg_cover.png) repeat;}
.layer-pop .layer-pop-wrap{display:none; position:relative; margin:0 auto; z-index:92;}
.layer-pop .layer-pop-wrap .layer-pop-box{position:relative; margin:0 auto; background:#fff; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; }
.layer-pop .layer-pop-wrap .pop-tit{padding:20px 30px;}
.layer-pop .layer-pop-wrap .pop-con{padding:30px}
.layer-pop .layer-pop-wrap .pop-btn{margin-top:40px}
.layer-pop .layer-pop-wrap .layer-pop-close{position:absolute; right:20px; top:20px;}
.layer-pop .layer-pop-wrap .layer-pop-close a{display:block; width:30px; height:30px; line-height:500px; overflow:hidden; background:url('../images/common/close_btn.png') no-repeat top right; text-decoration:none;}

.btn-area-type2{overflow:hidden;}
.btn-area-type2 li{float:left; padding-left:4px; width:50%;}
.btn-area-type2 li:first-child{padding-left:0}
.btn-area-type2 li .btn-type{width:100%;}

@media only screen and (max-width: 768px){
	.layer-pop .layer-pop-wrap{margin:15px}
	.layer-pop .layer-pop-wrap .pop-tit{padding:15px 20px;}
	.layer-pop .layer-pop-wrap .pop-con{padding:25px}
	.layer-pop .layer-pop-wrap .pop-btn{margin-top:30px}
	.layer-pop .layer-pop-wrap .layer-pop-close{position:static; border-top:1px solid #222; text-align:center; height:40px;}
	.layer-pop .layer-pop-wrap .layer-pop-close a{display:inline-block; background-position:center left; padding-left:30px; line-height:40px; height:40px; width:auto;}
}

.con-area{padding:0 20px; /* min-width:960px; */}
.con-area-box{max-width:1200px; margin:0 auto; padding:30px 60px;}
.v-center{position:absolute; top:0%;}
.a-center{position:absolute; left:0%;}

.pdt-list-view{position:relative;}

.location{overflow:hidden; margin-bottom:30px}
.location li{position:relative; float:left; padding-right:12px; margin-right:5px; font-size:13px; color:#666; line-height:20px;}
.location li:before{position:absolute; top:0; right:0; content:">";}
.location li:last-child{color:#222}
.location li:last-child:before{content:"";}

.pdt-list-visual{height:540px;}
.pdt-list-visual .pdt-list-visual-txt{position:relative; height:360px;}
.pdt-list-visual .pdt-list-visual-txt > div{width:480px; text-align:center;}
.pdt-list-visual .pdt-list-visual-txt h2.tit{font-size:28px; color:#fff;}
.pdt-list-visual .pdt-list-visual-txt .txt{margin-top:15px; font-size:16px; color:#fff; font-family:'robotoL'}
.pdt-list-visual-mobile{display:none;}

.pdt-list-info-box{margin-top:-180px; background-color:#fff}

.pdt-list-info-box .pdt-img-cho{width:49.075%; position:relative;}
.pdt-list-info-box .pdt-img-cho .pdt-img{position:relative; margin:0 auto; width:100%; padding-bottom:100%; text-align:center;}
.pdt-list-info-box .pdt-img-cho .pdt-img div{max-width:450px; max-height:450px; width:100%; height:100%;}
.pdt-list-info-box .pdt-img-cho .pdt-img img, .pdt-img-cho .pdt-img iframe{width:100%; height:100%;}
.pdt-list-info-box .pdt-img-cho .pdt-img-th{font-size:0; text-align:center; padding-top:30px;}
.pdt-list-info-box .pdt-img-cho .pdt-img-th li{position:relative; display:inline-block; text-align:center; vertical-align:top; margin-left:2px; width:80px; height:80px; cursor:pointer; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.pdt-list-info-box .pdt-img-cho .pdt-img-th li:first-child{margin:0;}
.pdt-list-info-box .pdt-img-cho .pdt-img-th li span.chk{display:none}
.pdt-list-info-box .pdt-img-cho .pdt-img-th li.on span.chk{display:block; position:absolute; top:0px; left:0px; width:80px; height:80px; border:3px solid #222 }
.pdt-list-info-box .pdt-img-cho .pdt-img-th li img{width:100%; height:100%;}
.pdt-list-info-box .pdt-img-cho .video-code{display:none;}

.pdt-list-info-box .pdt-info{width:45.371%;}

.pdt-list-info-box .pdt-info .ico-label{text-align:center;}

.pdt-list-info-box .pdt-info .name{margin:20px auto; line-height:45px; font-size:32px; font-family:'robotoB'}

.pdt-list-info-box .pdt-info .noti{color:#666666;line-height:30px;}
.pdt-list-info-box .pdt-info .noti .price{display:inline-block; margin-left:20px; font-size:22px; font-family:'robotoB'; color:#222222;}
.pdt-list-info-box .pdt-info .noti .price span{display:inline-block; margin-right:10px; font-size:14px; font-family:'roboto'; color:#999999; text-decoration:line-through;}

.pdt-list-info-box .pdt-info .rating-review{position:relative; margin:30px auto 20px;}
.pdt-list-info-box .pdt-info .rating-review > span{vertical-align:middle}
.pdt-list-info-box .pdt-info .rating-review .review-grade{background: url(../images/product/rating_review.png) no-repeat 0 0px; width: 102px; height: 20px; background-position: 0 -20px;}
.pdt-list-info-box .pdt-info .rating-review .review-grade .grade-act {background: url(../images/product/rating_review.png) no-repeat 0 0px; background-position: 0 0px;}
.pdt-list-info-box .pdt-info .rating-review .rating-review-txt{display:inline-block; font-size:14px;}
.pdt-list-info-box .pdt-info .rating-review .rating-review-txt span{color:#015d23;}
.pdt-list-info-box .pdt-info .rating-review .rating-review-txt .rating-review-score{display:inline-block; margin:0 15px 0 10px; font-family:'robotoB'; font-size:16px}
.pdt-list-info-box .pdt-info .rating-review .pdt-view-heart{position:absolute; top:0px; right:0px; font-size:14px; line-height:20px}
.pdt-list-info-box .pdt-info .rating-review .pdt-view-heart .sp-icons.heart{margin-right:5px; vertical-align:text-top; width:17px; height:15px; background-position: -153px -497px;}
.pdt-list-info-box .pdt-info .rating-review .pdt-view-heart .sp-icons.heart:hover{background: url(../images/sp_icons.png) no-repeat -153px -512px;}

.pdt-list-info-box .pdt-info .txt{padding-bottom:20px; color:#666666}

.pdt-list-info-box .pdt-info .line-bar{margin-top:15px; padding-top:15px; border-top:1px solid #e5e5e5;}

.pdt-list-info-box .pdt-info .select-shade .select-shade-tit{position:relative; margin-bottom:10px; font-family:'robotoB'; color:#222}
.pdt-list-info-box .pdt-info .select-shade .color-chip-sel{position:absolute; top:0px; right:0px; font-family:'roboto';}
.pdt-list-info-box .pdt-info .green-point .green-point-tit{position:relative; color:#666}
.pdt-list-info-box .pdt-info .green-point .green-point-sel{position:absolute; top:0px; right:0px; font-family:'roboto';}
.pdt-list-info-box .pdt-info .green-point .green-point-sel span.green{color:#015d23}

.pdt-list-info-box .pdt-info .add-cart{padding-top:20px}
.pdt-list-info-box .pdt-info .add-cart .select-type{width:24.49%;}
.pdt-list-info-box .pdt-info .add-cart .select-type .wide{height:48px; line-height:46px}
.pdt-list-info-box .pdt-info .add-cart .btn-type.size-r{width:74.286%;}
.pdt-list-info-box .pdt-info .add-to-favorite{padding:20px 0 10px; text-align:center; text-decoration:underline;}

.pdt-list-info-box .pdt-info .pdt-detail-sns {font-size:0; text-align:center; }
.pdt-list-info-box .pdt-info .pdt-detail-sns li{display:inline-block; margin:0 5px; vertical-align:top;}
.pdt-list-info-box .pdt-info .pdt-detail-sns li a{display:block; width:34px; height:34px; background:url(../images/product/sns.png) no-repeat;}
.pdt-list-info-box .pdt-info .pdt-detail-sns li a.sns-facebook{background-position:0px -34px}
.pdt-list-info-box .pdt-info .pdt-detail-sns li a.sns-twitter{background-position:-34px -34px}
.pdt-list-info-box .pdt-info .pdt-detail-sns li a.sns-instagram{background-position:-68px -34px}
.pdt-list-info-box .pdt-info .pdt-detail-sns li a.sns-google{background-position:-102px -34px}
.pdt-list-info-box .pdt-info .pdt-detail-sns li a.sns-facebook:hover{background-position:0px 0}
.pdt-list-info-box .pdt-info .pdt-detail-sns li a.sns-twitter:hover{background-position:-34px 0}
.pdt-list-info-box .pdt-info .pdt-detail-sns li a.sns-instagram:hover{background-position:-68px 0}
.pdt-list-info-box .pdt-info .pdt-detail-sns li a.sns-google:hover{background-position:-102px 0}

@media only screen and (max-width: 1200px) {
	.pdt-list-visual{height:360px;}
	.pdt-list-visual .pdt-list-visual-txt{position:relative; height:360px;}

	.pdt-list-info-box{margin-top:0px; padding:20px 30px;}

	.pdt-list-info-box .pdt-info .name{line-height:36px; font-size:30px;}
	.pdt-list-info-box .pdt-info .txt{padding-bottom:10px}
	.pdt-list-info-box .pdt-info .add-to-favorite{padding:10px 0 0;}
}

@media only screen and (max-width: 1024px) {
	.pdt-list-info-box .pdt-info .name{margin:15px auto 10px; line-height:30px; font-size:26px;}
	.pdt-list-info-box .pdt-info .rating-review{margin:15px auto 10px}
	.pdt-list-info-box .pdt-info .txt{font-size:15px}
}
@media only screen and (max-width: 768px) {
	.location{display:none;}

	.pdt-list-visual{display:none;}
	.pdt-list-visual-mobile{display:block;}

	.pdt-list-info-box{margin-top:0px; padding:0;}
	.pdt-detail-noti .pdt-info{padding:20px 30px;}
	.con-area-box{padding:20px 30px;}

	.pdt-list-info-box .pdt-img-cho{float:none; width:100%;}
	.pdt-list-info-box .pdt-img-cho > div.pdt-img-cho-mobile{width:60%; position:absolute; top:0; left:0; background-color:#fff; margin:0 20% 0}
	.pdt-list-info-box .pdt-img-cho .pdt-img{width:auto;}
	.pdt-list-info-box .pdt-img-cho .pdt-img div{max-width:380px; max-height:380px;}
	.pdt-list-info-box .pdt-img-cho .pdt-img-th{padding:15px 0 20px;}
	.pdt-list-info-box .pdt-img-cho .pdt-img-th li{width:50px; height:50px;}
	.pdt-list-info-box .pdt-img-cho .pdt-img-th li.on span.chk{width:50px; height:50px;}

	.pdt-list-info-box .pdt-info{width:100%; float:none;}
	.pdt-list-info-box .pdt-info .add-to-favorite{padding:20px 0 10px;}
}
@media only screen and (max-width: 480px) {
	.pdt-list-visual-mobile{display:block;}

	.pdt-list-info-box .pdt-img-cho .pdt-img-th{padding:10px 0 5px;}
	.pdt-list-info-box .pdt-img-cho .pdt-img-th li{width:40px; height:40px;}
	.pdt-list-info-box .pdt-img-cho .pdt-img-th li.on span.chk{width:40px; height:40px;}

	.pdt-list-info-box .pdt-info .name{margin:15px auto 10px; line-height:28px; font-size:24px;}
	.pdt-list-info-box .pdt-info .noti{font-size:15px; }
	.pdt-list-info-box .pdt-info .noti .price{margin-left:10px; font-size:18px;}
	.pdt-list-info-box .pdt-info .noti .price span{font-size:13px;}
	.pdt-list-info-box .pdt-info .rating-review{margin:15px auto 10px}

	.pdt-list-info-box .pdt-info .rating-review .review-grade{background: url(../images/sp_icons.png) no-repeat 0 -217px; width: 77px; height: 15px;}
	.pdt-list-info-box .pdt-info .rating-review .review-grade .grade-act {background: url(../images/sp_icons.png) no-repeat 0 -202px;}
	.pdt-list-info-box .pdt-info .rating-review .rating-review-txt{font-size:12px;}
	.pdt-list-info-box .pdt-info .rating-review .rating-review-txt .rating-review-score{margin:0 10px 0 5px; font-size:14px}
	.pdt-list-info-box .pdt-info .rating-review .pdt-view-heart{font-size:13px;}
	.pdt-list-info-box .pdt-info .rating-review .pdt-view-heart .sp-icons.heart{margin-right:3px; width:17px; height:15px; background-position: -153px -497px;}

	.pdt-list-info-box .pdt-info .txt{font-size:15px}

	.pdt-list-info-box .pdt-info .select-shade .select-shade-tit{font-size:14px}
	.pdt-list-info-box .pdt-info .select-shade .color-chip-sel{font-size:12px}
	.pdt-list-info-box .pdt-info .green-point .green-point-tit{font-size:14px}
	.pdt-list-info-box .pdt-info .green-point .green-point-sel{font-size:12px}

	.pdt-list-info-box .pdt-info .add-cart .select-type{width:100%; margin-bottom:5px;}
	.pdt-list-info-box .pdt-info .add-cart .btn-type.size-r{width:100%;}
}

.pdt-cart-quick{display:none; position:fixed; top:0px; width:100%; z-index:100; background-color:#fff; -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); }
.pdt-cart-quick .cart-wrap ul li:after{display:block; content:""; clear:both}
.pdt-cart-quick .product-horz-type{float:left; width:40%;}
.pdt-cart-quick .product-horz-type .name{padding-top:10px;}
.pdt-cart-quick .product-horz-type .name, .pdt-cart-quick .product-horz-type .price{font-family:'robotoB'}
.pdt-cart-quick .pdt-cart-box {float:right; margin-top: 20px;}
.pdt-cart-quick .pdt-cart-box .select-type{float:left; margin-left:3px}
.pdt-cart-quick .pdt-cart-box .select-type.w130{width:130px;}
.pdt-cart-quick .pdt-cart-box .select-type.w60{width:60px;}
.pdt-cart-quick .pdt-cart-box .btn-box{float:left; position:relative; margin-left:10px}
.pdt-cart-quick .pdt-cart-box .btn-box .btn-type.dark{float:left; width:210px;}
.pdt-cart-quick .pdt-cart-box .btn-box .btn-heart{float:left; display:block; margin-left:3px; width:40px; height:40px; width:40px; line-height:38px; border:1px solid #222; background:url(../images/product/favorite_icon.png) no-repeat center;}

.pdt-cart-quick .cart-quick-open{display:none;}

@media only screen and (max-width: 1200px){
	.pdt-cart-quick .con-area-box{padding:20px 30px;}
	.pdt-cart-quick .pdt-cart-box .btn-type.dark{width:auto}
}
@media only screen and (max-width: 1024px){

	.pdt-cart-quick{box-shadow:none;}
	.pdt-cart-quick .con-area-box{border-bottom:1px solid #cccccc}
	.pdt-cart-quick .product-horz-type, 
	.pdt-cart-quick .pdt-cart-box{float:none;}
	.pdt-cart-quick .product-horz-type{width:100%;}
	.pdt-cart-quick .pdt-cart-box .select-type{float:none; margin-left:0; width:100% !important;}
	.pdt-cart-quick .pdt-cart-box .select-type .nice-select{margin-bottom:3px;}

	.pdt-cart-quick .pdt-cart-box .btn-box{float:none; margin-left:0px; padding-right:45px}
	.pdt-cart-quick .pdt-cart-box .btn-box .btn-type.dark{float:none; width:100%;}
	.pdt-cart-quick .pdt-cart-box .btn-box .btn-heart{position:absolute; bottom:0px; right:0px;}

	.pdt-cart-quick .cart-quick-open{display:block; position:absolute; bottom:-94px; left:50%; margin-left:-35px; width:70px; background-color:#fff; border:1px solid #cccccc; border-top:none; border-radius:0 0 2px 2px; -moz-border-radius:0 0 2px 2px; -webkit-border-radius:0 0 2px 2px; -ms-border-radius:0 0 2px 2px; -o-border-radius:0 0 2px 2px;}
	.pdt-cart-quick .cart-quick-open .cart-quick-icon{display:block; margin:7px auto; background:url(../images/product/arrow.png) no-repeat center top; width:16px; height:9px; line-height:500px; overflow:hidden;}
	.pdt-cart-quick .cart-quick-open.active{bottom:-23px;}
	.pdt-cart-quick .cart-quick-open.active .cart-quick-icon{background-position:0 -9px;}
}


.mobile{display:none}
.border-line{border-top: 1px solid #ddd;height: 10px; background: #f5f5f5;}

.pdt-list-view-box{margin-top:50px}
.pdt-review-box{margin-top:50px}

.desc-title{text-align: center; margin-bottom:40px}
.desc-title .tit{display: inline-block;padding-bottom: 4px;font-size: 22px;font-weight: bold;color: #222;border-bottom: 2px solid #222;}

.social-review .desc-title{margin-top:100px}
.also-bought-slider .desc-title{margin-top:100px;}

.tab-area{border-bottom:1px solid #e5e5e5; margin-bottom:50px;}
.tab-area ul{text-align:center; margin-bottom:-1px}
.tab-area ul li{display:inline-block; vertical-align:top; margin:0 20px;}
.tab-area ul li a{display:block; padding:0 5px; line-height:35px; font-family:'robotoB'; text-decoration:none;}
.tab-area ul li.on a{border-bottom:2px solid #015d23; color:#015d23}

.prd-detail-con-wrap{text-align:center;}
.pdt-list-view-box .prd-detail-tab-desc{display:none;}
.pdt-list-view-box .prd-detail-tab-desc:first-child{display:block;}

@media only screen and (max-width: 1024px){
	.border-line.mobile{display:block;}
}

@media only screen and (max-width: 768px) {
	.pdt-list-view-box{margin-top:30px}
	.pdt-review-box{margin-top:30px}

	.desc-title{text-align: center; margin-bottom:25px}
	.desc-title .tit{padding-bottom:2px;font-size:20px;}

	.social-review .desc-title{margin-top:60px}
	.also-bought-slider .desc-title{margin-top:60px;}
}

.prd-type{position:relative; max-width:1080px; margin:120px auto 0}
.prd-type .sub-tit{margin:0px 0px 40px;font-size:30px;text-align:center;font-family:'robotoB';color:#222;}
.prd-type .sub-tit em {padding-bottom:5px; border-bottom:2px solid #000;}
.prd-type .tit{font-size:24px; margin-bottom:25px; color:#222}
.prd-type .prd-detail-more{margin-top:20px;}
.prd-type .prd-detail-more a{text-decoration:underline; color:#222}
.prd-type .prd-detail-more a:hover {color: #015d23;}

.prd-type .mgt30{margin-top:30px !important;}

.prd-type .img-wrap{text-align:center;}
.prd-type .img-wrap img{max-width:100%; display:block; margin:0 auto}

.prd-type.prd-type-iframe .prd-type-iframe-box{position:relative;height:0;text-align:center; margin:0 auto; width:78.334%; padding-bottom:45%; /* padding-bottom:56.25%; */}
.prd-type.prd-type-iframe .prd-type-iframe-box iframe{position:absolute;top:0;left:0;width:100%;height:100%;}

.prd-type-color-chip .color-list{padding:0 15px 0 7px;text-align:center;}
.prd-type-color-chip .color-list .slick-track{display:inline-block;}
.prd-type-color-chip .color-list .color{width:163px; margin:0 8px 0 7px;}
.prd-type-color-chip .color-list .color img{max-width:100%}
.prd-type-color-chip .color-list .color p{line-height:18px;margin-top:6px;color:#666;text-align:center;word-wrap:break-word}
.prd-type-color-chip .color-list .color p strong{display:block;margin-bottom:6px;font-family:'robotoB';color:#000}
.prd-type-color-chip .color-list .color .img-wrap{position:relative}
.prd-type-color-chip .color-list .color .img-wrap .chk{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7) url(../images/product/chk.png) no-repeat 50% 50%; background-size:48px auto;}

.prd-type-color-chip .color-shot{position:relative; width:100%; margin-top:68px;}
.prd-type-color-chip .color-shot .item-wrap{display:none; width:100%; background:#fff}
.prd-type-color-chip .color-shot .item-wrap:first-child{display:block;}
.prd-type-color-chip .color-shot .item-wrap img{width:100%;}

.prd-type-line ul{text-align:center; font-size:0}
.prd-type-line ul li{display:inline-block;min-width:247px;padding-left:15px;margin:0 5px 30px 0;color:#222;vertical-align:top;text-align:center;background:url(../images/product/ico_next.png) no-repeat 0% 48%;}
.prd-type-line ul li.first{background:none}
.prd-type-line ul li.listClear {display:block;margin:0}
.prd-type-line ul li .image {position:relative;width:247px;height:247px;}
.prd-type-line ul li .image img {position:absolute;left:0;bottom:0;}
.prd-type-line ul li .txt{max-width:247px;margin-top:17px;font-size:16px;line-height:24px;font-family:'robotoB';}

.prd-type-review .tit{margin-bottom:65px}
.prd-type-review .tit em{display:inline-block; border-bottom:2px solid #222; padding-bottom:5px; margin-bottom:10px}
.prd-type-review .tit span{display:block; font-size:13px; font-family:'robotoL';}
.prd-type-review .txt01{margin-top:10px; font-size:36px; font-family:'robotoL';}
.prd-type-review .txt01 span{color:#999999}
.prd-type-review .txt02{margin:10px auto 35px; color:#666666;}
.prd-type-review .txt02 span{color:#222;font-family:'robotoB';}

.gary-box-review{background:#f5f5f5; padding:50px;}
.gary-box-review .tit{font-family:'robotoB';}
.word-best p{display:inline-block; margin:0 15px; font-size:32px; line-height:48px; font-family:'robotoL'; color:#999999}
.word-best p.green{color:#015d23}
.word-best p span{font-size:18px}

.tbBr{display:none;}

@media only screen and (max-width: 1024px){
	.pcBr{display:none;}
}
@media only screen and (max-width: 768px){
	.tbBr{display:block;}

	.prd-type{margin:60px auto 0}
	.prd-type .sub-tit{margin:0px 0px 25px;font-size:24px;}
	.prd-type .sub-tit em {padding-bottom:3px;}
	.prd-type .tit{font-size:18px; margin-bottom:10px; }
	.prd-type .prd-detail-more{margin-top:15px;}
	.prd-type .prd-detail-more a{text-decoration:underline; color:#222}

	.prd-type-color-chip .color-list .color p{line-height:16px;font-size:13px}
	.prd-type-color-chip .color-list .color .img-wrap .chk{background-size:45% auto;}
	.prd-type-color-chip .color-shot{position:relative; width:100%; margin-top:30px;}

	.gary-box-review{padding:30px;}
	.word-best p{font-size:26px; line-height:40px}
	.word-best p span{font-size:15px}
}

.prd-review-wrap{margin-top:30px;}
.prd-review-lst{margin:30px auto}
.prd-review-lst li{border-bottom:1px solid #e5e5e5}
.prd-review-box{padding:40px 50px;}
.prd-review-box:after{display:block; content:""; clear:both;}
.prd-review-box .user-info{position:relative; float:left; width:35%;}
.prd-review-box .review-con{float:left; width:65%;}
.prd-review-box .user-info .user-info-wrap .user-info-close{display:none;}
.prd-review-box .txt{font-size:14px; margin:0px auto 10px}
.prd-review-box .txt.green{color:#015d23; font-family:'robotoB'; margin-top:5px; margin-bottom:20px;}
.prd-review-box .txt span{font-family:'robotoB'}
.prd-review-box .txt-buyer{font-size:14px; font-family:'robotoB'; color:#222;}
.prd-review-box .txtgreen{color:#015d23; margin-top:20px;}
.prd-review-box .reveiw-tit{margin:20px auto; font-size:24px; color:#222}
.prd-review-box .reveiw-txt{font-size:14px; line-height:24px;}
.prd-review-box .reveiw-txt.green{color:#015d23; font-family:'robotoB'; margin-top:20px;}
.prd-review-box .review-help{margin-top:20px; padding-top:20px; border-top:1px solid #e5e5e5; font-size:14px;}
.prd-review-box .review-help p{display:inline-block; font-size:0; margin-left:15px;}
.prd-review-box .review-help span{position:relative; display:inline-block; font-size:0; padding:0 15px}
.prd-review-box .review-help span:after{content:'';position:absolute; top:50%; left:0px; margin-top:-5px; height:10px; width:1px; background:#999999}
.prd-review-box .review-help span:first-child:after{position:static;}
.prd-review-box .review-help span a{font-size:14px; color:#222; }
.prd-review-box .review-help span a:hover {color: #015d23;}

@media only screen and (max-width: 1024px){
	.pdt-review-box{padding: 20px 30px;}
	.prd-review-box{padding:20px 0;}
}
@media only screen and (max-width: 768px){
	.prd-review-box{padding:20px;}
	.prd-review-box .user-info{float:none; width:100%;}
	.prd-review-box .review-con{float:none; width:100%;}
	.prd-review-box .user-info .user-info-wrap{display:none; position:absolute;top:70px;left:0px;}
	.prd-review-box .user-info .user-info-wrap .user-info-box{display:inline-block; border:1px solid #222; padding:20px; background-color:#fff}
	.prd-review-box .user-info .user-info-wrap .user-info-close{display:block; position:absolute; top:10px; right:10px;}
}

.sns-review-lst{font-size:0; text-align:center; margin:0 auto 30px}
.sns-review-lst li{position:relative; float:left; margin:10px 10px 0 0;}
.sns-review-lst li:nth-child(5n){margin-right:0}
.sns-review-lst li .cover-box{position:absolute; top:0px; padding:15px; background:url(../images/common/bg_cover2.png) repeat; opacity: 0;transition: opacity .4s; width:100%; height:100%; font-size:14px; color:#fff; text-align:left; font-family:'robotoL'}
.sns-review-lst li .cover-txt{max-height:130px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:5; -webkit-box-orient: vertical; word-wrap:break-word;}
.sns-review-lst li .cover-name{position:absolute;bottom:10px; left:10px;}
.sns-review-lst li .cover-sns{position:absolute;bottom:5px; right:10px;}
.sns-review-lst li:hover .cover-box{opacity:1;}

@media only screen and (max-width: 1280px){
	.sns-review-lst{width:862px;}
	.sns-review-lst li:nth-child(5n){margin:10px 10px 0 0}
	.sns-review-lst li:nth-child(4n){margin-right:0}
}
@media only screen and (max-width: 1024px){
	.sns-review-lst{width:644px;}
	.sns-review-lst li:nth-child(4n){margin:10px 10px 0 0}
	.sns-review-lst li:nth-child(3n){margin-right:0}
}

@media only screen and (max-width: 768px){
	.sns-review-lst{width:auto;}
	.sns-review-lst li{float:none; display:inline-block; width:30%; margin:1%}
	.sns-review-lst li:nth-child(5n){margin:1%}
	.sns-review-lst li:nth-child(4n){margin:1%}
	.sns-review-lst li:nth-child(3n){margin:1%}
	.sns-review-lst li img{width:100%}
	.sns-review-lst li:hover .cover-box{opacity:0;}
}