footer {
    clear: both;
    letter-spacing: 1px;
    .footer-container {
        border-top: 1px solid $border-gray-first;
        border-bottom: 1px solid $border-gray-first;
        background: $darker-gray;
        padding: 30px 40px 30px;
        .footer-wrap1 {
            float: left;
            width: 60%;
        }
        .footer-wrap2 {
            float: left;
            width: 40%;
        }
        .join-world {
            form.email {
                position: relative;
                margin-bottom: 36px;
                input.optInEmailFooter {
                    &:hover, &:focus {
                        border: 1px solid $nero;
                        outline: none;
                    }
                    width: 60%;
                    height: 50px;
                    padding-left: 10px;
                    border: 1px solid $dark-gray;
                    vertical-align: bottom;
                }
                .optinfooterbutton {
                    width: 80px;
                    min-width: auto;
                }
                &.optinfooter {
                    p.error_message {
                        position: absolute;
                        top: 55px;
                        left: 0;
                    }
                }
            }
            p {
                font-family: $text-font-stack;
                color: $default-color;
                font-size: 16px;
                margin-bottom: 23px;
            }
            p.error_message {
                color: $red;
            }
            h3.title {
                font-size: 28px;
                font-family: $Roboto-Regular;
                margin-bottom: 3px;
            }
            .inp {
                margin-bottom: 40px;
                .form-row {
                    float: left;
                    width: 38%;
                    margin: 0;
                    margin-right: 5px;
                    label {
                        margin: 0;
                    }
                    .required-indicator {
                        display: none;
                    }
                }
                .btn-type.dark {
                    color: $white;
                    border: 1px solid $nero;
                    background: $nero;
                }
                .btn-type:hover,
                .btn-type:focus {
                    text-decoration: none;
                    -webkit-transition: background 0.5s, border 0.5s;
                    -moz-transition: background 0.5s, border 0.5s;
                    -o-transition: background 0.5s, border 0.5s;
                    transition: background 0.5s, border 0.5s;
                }
                input.input-text.active {
                    padding: 20px 9px 10px;
                    border: 2px solid $nero;
                }
                input.input-text {
                    width: 100%;
                    height: 55px;
                    display: block;
                    border: 1px solid $dark-gray;
                    padding-left: 10px;
                    margin-top: 0;
                }
                a.btn-type.dark.size-b {
                    min-width: auto;
                    color: $white;
                    border: 1px solid $nero;
                    background: $nero;
                    height: 55px;
                    line-height: 55px;
                    vertical-align: bottom;
                    text-transform: uppercase;
                    text-align: center;
                    &:hover, &:focus {
                        border: 1px solid $green;
                        background: $green;
                    }
                }
            }
            .social {
                ul {
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    li {
                        list-style: none;
                        float: left;
                        margin-right: 18px;
                        a {
                            width: 50px;
                            height: 50px;
                            display: block;
                            background: url(../images/sp_button.png) no-repeat;
                            .blind {
                                font-size: 0;
                            }
                        }
                        a.social-facebook {
                            background-position: 0px -180px;
                            &:hover {
                                background-position: 0px -230px;
                            }
                        }
                        a.social-youtube {
                            background-position: -50px -180px;
                            &:hover {
                                background-position: -50px -230px;
                            }
                        }
                        a.social-instagram {
                            background-position: -100px -180px;
                            &:hover {
                                background-position: -100px -230px;
                            }
                        }
                        a.social-pinterest {
                            background-position: -150px -180px;
                            &:hover {
                                background-position: -150px -230px;
                            }
                        }
                    }
                }
            }
        }
        .footer-item {
            box-sizing: border-box;
            float: left;
            width: 28%;
            padding: 2px 30px;
            word-wrap: break-word;
            &:first-child {
                padding-left: 0;
            }
            .current {
                ul {
                    display: block;
                }
                span.icon-mobile {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                span.icon-desktop {
                    display: none;
                }
            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    line-height: 1.8;
                    list-style: none;
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                        font-size: 14px;
                        color: $dim-gray;
                        font-family: $text-font-stack;
                    }
                }
            }
        }
        h3.title {
            text-transform: uppercase;
            position: relative;
            margin-bottom: 10px;
            a {
                display: inline;
                color: $nero;
                font-size: 18px;
                font-family: $Roboto-Bold;
            }
            span {
                display: none;
                -webkit-transition: outline 1s ease;
                transition: outline 1s ease;
            }
            span.icon-mobile {
                display: none;
                -webkit-transition: outline 1s ease;
                transition: outline 1s ease;
            }
        }
        .menu-footer {
            float: none;
            margin: .5em;
            padding: 0;
            li {
                float: none;
                line-height: 2.5em;
                list-style: none !important;
            }
        }
        a {
            color: $night-rider;
            text-decoration: none;
        }
    }
    .social-links {
        padding-left: 0;
        li {
            display: inline;
            float: none;
            padding-right: 0.5em;
        }
    }
    #email-alert-signup {
        white-space: nowrap;
        input[type="text"] {
            border: none;
            margin-left: 0;
            width: 15em;
        }
        button {
            background-color: $dark-gray;
            border: none;
            color: $white;
            height: 31px;
            padding: 0;
            width: 31px;
        }
    }
    .footer-container2 {
        padding: 14px 40px 30px;
        background: $white;
        border-top: 1px solid $border-gray-first;
        .copyright {
            color: $default-color;
            float: left;
            font-family: $Roboto-Regular;
            font-size: 13px;
        }
        .terms-menu {
            .footer-terms-menu {
                float: right;
                ul {
                    margin: 0;
                    padding: 0;
                    li:first-child:after {
                        background: none;
                    }
                    li {
                        position: relative;
                        display: inline-block;
                        padding: 0 10px;
                        &:after {
                            display: block;
                            content: "";
                            height: 14px;
                            width: 1px;
                            background: $heavy-gray;
                            position: absolute;
                            top: 6px;
                            left: -2px;
                        }
                        a {
                            &:hover {
                                color: $british-racing-green;
                            }
                            color: $nero;
                            font-size: 13px;
                            font-family: $text-font-stack;
                            cursor: pointer;
                            span.ico-flag {
                                img {
                                    width: 20px;
                                }
                            }
                        }
                        .country-layer.active {
                            display: block;
                        }
                        .country-layer {
                            display: none;
                            overflow: auto;
                            position: absolute;
                            right: 0;
                            bottom: 37px;
                            max-height: 160px;
                            padding-top: 13px;
                            border: 1px solid $gainsboro;
                            background: $white;
                            ul {
                                li {
                                    display: block;
                                    float: none;
                                    line-height: 1.5;
                                    &:after {
                                        background: none;
                                    }
                                    a {
                                        color: $dim-gray;
                                        font-family: $Roboto-Light;
                                        font-size: 14px;
                                        padding: 0px 23px 0px 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.postscript {
    background-color: $citrus;
    color: $white;
    font-style: italic;
    text-align: center;
}