@media screen and (min-width: 1025px) and (max-width: 1366px) {
    footer {
        .footer-container {
            h3.title a {
                font-size: 14px;
            }
            .join-world h3.title {
                font-size: 20px;
            }
            .footer-wrap2 {
                padding-left: 20px;
                box-sizing: border-box;
            }
        }
    }
}
@include respond-to('medium-ipad') {
    footer {
        .footer-slide-parent {
            ul {
                display: none;
            }
        }
        .footer-container {
            .footer-wrap1 {
                float: none;
                width: auto;
            }
            .footer-wrap2 {
                float: none;
                width: auto;
            }
            .footer-item {
                display: block;
                width: 100%;
                margin-bottom: 20px;
                padding: 0px;
                h3.title {
                    padding-bottom: 20px;
                    border-bottom: 1px solid $border-gray-second;
                    span {
                        display: block;
                        float: right;
                    }
                    .icon-mobile {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
    }
    .footer-container2 {
        .copyright {
            display: block;
            float: none;
            text-align: center;
            margin-bottom: 20px;
        }
        .terms-menu {
            .footer-terms-menu {
                display: block;
                float: none;
                text-align: center;
            }
        }
        .terms-menu .footer-terms-menu {
            display: block;
            float: none;
            text-align: center;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    footer .footer-container2 .copyright {
        float: left;
    }
    footer .footer-container2 .footer-item.terms-menu {
        float: right;
        ul li {
            padding: 0 4px;
            line-height: normal;
            span.ico-flag {
                vertical-align: top;
            }
            &:after {
                top: 0;
                left: -3px;
            }
            a {
                font-size: 11px;
                vertical-align: top;
            }
        }
    }
    .menu-footer {
        margin: 1em 0;
    }
}
@include respond-to('small-ipad') {
    footer .footer-container2 {
        .copyright {
            float: none;
        }
        .footer-item.terms-menu {
            float: none;
            .footer-terms-menu {
                float: none;
            }
        }
    }
}
@include respond-to('small') {
    footer .footer-container2 {
        .copyright {
            font-size: 18px;
            color: $nobel;
        }
        .terms-menu .footer-terms-menu ul li {
            &:after {
                background: $light-gray;
            }
            a {
                font-size: 18px;
                color: $dim-gray;
            }
        }
    }
    footer .footer-container {
        padding-left: 30px;
        padding-right: 30px;
        .footer-item {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            h3.title {
                padding-bottom: 20px;
                border-bottom: 1px solid $border-gray-second;
                span {
                    opacity: 1;
                    float: right;
                }
            }
            .inp {
                input.inp-email {
                    width: 86%;
                }
                a.btn-type.dark.size-b {
                    width: 13%;
                }
            }
        }
        .footer-wrap2 {
            .join-world {
                text-align: center;
                form.email {
                    .optinfooterbutton {
                        width: 70px;
                        min-width: initial;
                        padding: 0;
                    }
                    &.optinfooter {
                        p.error_message {
                            width: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
                .social {
                    display: inline-block;
                }
            }
        }
        footer .footer-container2 {
            background: $darker-gray;
            .terms-menu .footer-terms-menu {
                float: none;
            }
        }
    }
}
@include respond-to('xsmall-iphone-horizontally') {
    footer {
        .footer-wrap2 {
            .join-world {
                .inp {
                    .form-row.email {
                        width: 60%;
                    }
                }
                .social {
                    ul li {
                        margin-right: 10px;
                        a {
                            width: 37.5px;
                            height: 37.5px;
                            background-size: 163px;
                        }
                        a.social-facebook {
                            background-position: 0px -134px;
                            &:hover {
                                background-position: 0px -172.5px;
                            }
                        }
                        a.social-youtube {
                            background-position: -37.5px -134px;
                            &:hover {
                                background-position: -37.5px -172.5px;
                            }
                        }
                        a.social-instagram {
                            background-position: -75px -134px;
                            &:hover {
                                background-position: -37.5px -172.5px;
                            }
                        }
                        a.social-pinterest {
                            background-position: -112.5px -134px;
                            &:hover {
                                background-position: -112.5px -172.5px;
                            }
                        }
                    }
                }
            }
        }
        .footer-container2 {
            .copyright {
                font-size: 11px;
            }
            .terms-menu {
                .footer-terms-menu {
                    float: none;
                    ul li {
                        display: inline-block;
                        padding: 0px 6px;
                        &:after {
                            left: -2px;
                            opacity: 0.7;
                            height: 10px;
                            top: 10px;
                        }
                        a {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        a.btn-type.dark.size-b {
            width: 20%;
        }
    }
}
@include respond-to('xsmall-iphone') {
    footer .footer-container {
        .join-world {
            .inp {
                a.btn-type.dark.size-b {
                    padding: 0px 14px;
                }
                .form-row.email {
                    width: 70%;
                }
            }
        }
    }
}