// -----------------------------------------------------------------------------
// This file contains all styles related to the tabs component.
// -----------------------------------------------------------------------------

.banner-type {
	position: relative;overflow: hidden;width: 100%;max-width: 1920px;margin: 0 auto;padding: 40px 40px 0;background: #fff;z-index: 10;
	a {
		text-decoration: none;
	}
	&.type1 {
		ul {
			&:after {
				content: ''; display: block; clear: both;
			}
			li {
				position: relative; overflow: hidden; float: left; width: 50%;
				.text-area {
					position: absolute; z-index: 10;
					&.top {
						top: 10%;
					}
					&.right {
						left: 55%;
					}
					&.bottom {
						bottom: 15%;
					}
					&.left {
						left: 10%;
					}
					.product {
						display: inline-block; padding-bottom: 2px; font-size: 13px; color: #222; border-bottom: 2px solid #222;
						@include single-transition(all, 0.3s);
					}
					.p-name {
						margin: 25px 0 0 -4px; line-height: 1.1; font-size: 32px; font-family: $Roboto-Black; color: #222;
						@include single-transition(color, 0.3s);
					}
					.p-desc {
						margin-top: 10px; font-size: 16px; color: $default-color;
						@include single-transition(color, 0.3s);
					}
					.more {
						height: 0; margin-top: 20px; opacity: 0;
						a {
							text-decoration: none;
						}
						@include double-transition(height, 0.4s, opacity, 0.5s);
					}
				}
				.cover {
					display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background: url(../images/common/bg_cover.png) repeat;
					@include single-transition(opacity, 0.4s);
				}
				&:hover {
					.text-area {
						.product {
							color: #fff; border-bottom: 2px solid #fff;
						}
						.p-name {
							color: #fff;
						}
						.p-desc {
							color: #fff;
						}
						.more {
							// height: 20px;
							opacity: 1;
						}
					}
					img {
						transform: scale(1.06);
					}
					.cover {
						opacity: 0.9;
					}
				}
				img {
					width: 100%; vertical-align: top; transition:transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
				}
			}
		}
	}
	&.type2 {
		padding-top: 20px;
		ul {
			&:after {
				content: '';display: block;clear: both;
			}
			li {
				position: relative;overflow: hidden;float: left;width: 50%;
				a {
					.text-area {
						position: absolute;top: 23%;text-align: center;
						p {
							// text-align: center;
							&.p-name {
								line-height: 1;font-size: 72px;color: #222;
							}
							&.p-opt {
								display: inline-block;margin-top: 10px;padding: 0 30px;font-size: 18px;color: #222;border-top: 1px solid #222;border-bottom: 1px solid #222;
							}
							&.product {
								margin-top: 30px;
							}
							&.p-desc {
								margin-top: 5px;font-size: 16px;
							}
							img {
								width: auto;
							}
						}
						&.right {
							right: 10%;width: 50%;max-width: 455px;
						}
						&.box {
							top: 12%;left: 7%;width: 86%;height: 76%;padding: 10% 6%;text-align: center;color: #fff;opacity: 0;background: url(../images/main/bg_green.png) repeat;
							@include single-transition(all, 0.4s);
							p {
								color: #fff;
								&.p-name {
									padding-bottom: 20px;font-size: 48px;background: url(../images/main/v_tit_line.gif) no-repeat center bottom;
								}
								&.p-opt {
									border: none;
								}
								&.p-desc {
									margin-top: 20px;
								}
							}
							.btn-line {
								display: inline-block;margin-top: 50px;text-decoration: underline;font-size: 14px;color: #fff;
							}
						}
						img {
							width: 100%;
						}
					}
				}
				&:hover {
					.text-area {
						.more {
							height: 20px;opacity: 1;
						}
						&.box {
							top: 13%;left: 8%;width: 84%;height: 74%;opacity: 1;
						}
					}
					a > img {
						transform: scale(1.06);
					}
				}
				a > img {
					width: 100%;vertical-align: top;transition:transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
				}
			}
		}
	}
	&.type3 {
		margin-top: -1px; padding: 0 40px;
		.sec-wrap {
			overflow: hidden; width: 100%;
			ul {
				width: 101%; margin-left: -2px;
				&:after {
					content: ''; display: block; clear: both;
				}
				li {
					float: left; width: 33.3%; padding-left: 1px;
					> a {
						display: block; position: relative;
						img {
							width: 100%; vertical-align: top;
						}
						.cover {
							display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background: url(../images/common/bg_cover.png) repeat;
							@include single-transition(opacity, 0.5s);
						}
					}
					.con {
						height: 200px; padding: 20px 40px; background: #f5f5f5;
						.product {
							font-size: 13px;
							@include single-transition(margin, 0.3s);
						}
						.p-name {
							margin-top: 65px; font-size: 30px; font-family: $Roboto-Medium; color: #222;
							@include single-transition(margin, 0.3s);
						}
						.p-desc {
							font-size: 14px;
						}
						.more {
							margin-top: 60px; font-size: 14px; opacity: 0;
							.ico-button {
								font-size: 14px;
							}
							@include single-transition(opacity, 0.5s);
						}
					}
					&:hover {
						> a {
							.cover {
								opacity: 0.8;
							}
						}
						.con {
							background: #e6ddcb;
							.product {
								margin-top: -65px;
							}
							.p-name {
								// margin-top: 35px;
							}
							.more {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1500px){
	.banner-type {
		&.type2 {
			ul {
				li {
					a {
						.text-area {
							p {
								&.p-name {
									font-size: 62px;
								}
							}
							&.box {
								p {
									&.p-name {
										font-size: 40px;
									}
								}
								.btn-line {
									margin-top: 40px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1280px){
	.banner-type {
		&.type2 {
			ul {
				li {
					a {
						.text-area {
							p {
								&.p-name {
									font-size: 42px;
								}
								&.p-opt {
									font-size: 14px;
								}
								&.product {
									margin-top: 20px;
								}
								&.p-desc {
									margin-top: 5px;font-size: 13px;
								}
							}
							&.box {
								padding: 7% 6%;
								p {
									&.p-name {
										font-size: 30px;
									}
									&.p-opt {
										font-size: 14px;
									}
									&.p-desc {
										font-size: 13px;
									}
								}
								.btn-line {
									margin-top: 20px;font-size: 13px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1024px){
	.banner-type {
		&.type1 {
			ul {
				li {
					width: 100%;
				}
			}
		}
		&.type2 {
			ul {
				li {
					width: 100%;
					a {
						.text-area {
							p {
								&.p-name {
									font-size: 62px;
								}
								&.p-opt {
									font-size: 16px;
								}
								&.product {
									margin-top: 30px;
								}
								&.p-desc {
									margin-top: 10px;font-size: 14px;
								}
							}
							&.box {
								padding: 10% 6%;opacity: 1;
								p {
									&.p-name {
										font-size: 40px;
									}
									&.p-desc {
										font-size: 14px;
									}
								}
								.btn-line {
									margin-top: 40px;
								}
							}
						}
					}
					&:hover {
						.text-area {
							&.box {
								top: 12%;left: 7%;width: 86%;height: 76%;
							}
						}
						a > img {
							transform: scale(1);
						}
					}
					a > img {
						width: 100%;vertical-align: top;transition:transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 768px){
	.banner-type {
		&.type1 {
			padding: 50px 0 0;
			ul {
				&:after {
					content: ''; display: block; clear: both;
				}
				li {
					.text-area {
						&.right {
							left: 35%;
						}
						.product {
							font-size: 12px;
						}
						.p-name {
							font-size: 18px;
						}
						.p-desc {
							font-size: 13px;
						}
					}
				}
			}
		}
		&.type2 {
			padding: 50px 0 0;
			ul {
				li {
					a {
						.text-area {
							p {
								&.p-name {
									font-size: 32px;
								}
								&.p-opt {
									padding: 0 10px;font-size: 13px;
								}
								&.product {
									margin-top: 10px;
								}
								&.p-desc {
									font-size: 13px;
								}
								img {
									height: 14px;
								}
							}
							&.box {
								p {
									&.p-name {
										padding-bottom: 10px;font-size: 24px;background-size: 20px auto;
									}
									&.p-opt {
										img {
											width: auto;height: 12px;
										}
									}
									&.p-desc {
										font-size: 13px;
									}
								}
								.btn-line {
									margin-top: 20px;
								}
							}
						}
					}
				}
			}
		}
		&.type3 {
			padding: 0;
			.sec-wrap {
				ul {
					li {
						width: 100%;margin-top: 5px;padding: 0;
						.con {
							height: 140px;padding: 20px;
							.product {
								font-size: 12px;
							}
							.p-name {
								margin-top: 35px;font-size: 18px;
							}
							.p-desc {
								font-size: 12px;
							}
						}
						&:hover {
							> a {
								.cover {
									opacity: 0;
								}
							}
							.con {
								background: #f5f5f5;
								.product {
									margin-top: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 480px){
	.banner-type {
		&.type2 {
			padding: 50px 0 0;
			ul {
				li {
					a {
						.text-area {
							p {
								&.p-name {
									font-size: 22px;
								}
								&.p-desc {
									font-size: 12px;
								}
							}
							&.right {
								top: 15%;right: 5%;width: 60%;
							}
							&.box {
								padding: 5% 2%;
								p {
									&.p-name {
										font-size: 18px;
									}
									&.p-opt {
										img {
											width: auto;height: 10px;
										}
									}
									&.p-desc {
										font-size: 12px;
									}
								}
								.btn-line {
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}


.bannerType1 {display:inline-block; position:relative; width:352px; height:352px; -webkit-transition:all 0.2s ease-in-out;}
.bannerType1 .bg {overflow:hidden; position:relative; width:100%; height:100%;}
.bannerType1 img {position:absolute; left:0; top:0; width:352px; height:352px; -webkit-transition:left 0.2s ease-in-out, top 0.2s ease-in-out, transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);}
.bannerType1:hover {width:336px; height:336px; padding:8px;}
.bannerType1:hover img {left:-8px; top:-8px; transform:scale(1.08)}

.bannerType2 {display:inline-block; overflow:hidden; position:relative; height:553px;}
.bannerType2 img {position:relative; height:660px;transform:translateY(0px) translateZ(0px); -webkit-transition:transform 1s ease-in-out}
.bannerType2 .txt {position:absolute; left:0; top:240px; width:100%; text-align:center;}
.bannerType2 .txt .t {font-size:30px; font-weight:bold; color:#ffffff;}
.bannerType2 .txt .p {margin-top:15px; font-size:14px; color:#ffffff;}

.bannerType3 {display:inline-block; overflow:hidden; position:relative;}
.bannerType3 img {-webkit-transition:transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);}
.bannerType3 .txt {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; background:rgba(0,0,0,0); -webkit-transition:all 0.8s;}
.bannerType3 .txt .t {padding-top:240px; font-size:30px; font-weight:bold; color:#ffffff;}
.bannerType3 .txt .p {margin-top:15px; font-size:14px; color:#ffffff;}
.bannerType3 .txt .btn {margin-top:17px; opacity:0; -webkit-transition:all 0.8s;}
.bannerType3 .txt .btn span {display:inline-block; width:229px; line-height:40px; font-size:12px; color:#ffffff; background:#000000;}
.bannerType3:hover img {transform:scale(1.08)}
.bannerType3:hover .txt {background:rgba(0,0,0,0.3);}
.bannerType3:hover .txt .btn {opacity:1;}

.bannerType4 {display:inline-block; position:relative;}
.bannerType4 .img {position:absolute; left:0; top:0; opacity:0; -webkit-transition:all .3s ease;}
.bannerType4 .txt {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; opacity:0; -webkit-transition:all .3s ease;}
.bannerType4 .txt .t {padding-top:137px; font-size:24px; font-weight:bold; color:#ffffff;}
.bannerType4 .txt .p {margin-top:18px; font-size:12px; color:#ffffff;}
.bannerType4:hover .img {opacity:1;}
.bannerType4:hover .txt {opacity:1;}

.bannerType5 {display:inline-block; overflow:hidden; position:relative;}
.bannerType5 .txt {position:absolute; left:0; top:440px; width:100%; height:100%; text-align:center; background:rgba(255,255,255,0.7); -webkit-transition:all .3s;}
.bannerType5 .txt .t {padding-top:19px; font-size:18px; font-weight:bold; color:#222222; -webkit-transition:all .3s;}
.bannerType5 .txt .p {margin-top:16px; font-size:14px; color:#8c8b8b;}
.bannerType5 .txt .btn {margin-top:40px; opacity:0; -webkit-transition:all .3s;}
.bannerType5 .txt .btn span {display:inline-block; width:304px; line-height:40px; font-size:12px; color:#ffffff; background:#000000;}
.bannerType5:hover .txt {top:0;}
.bannerType5:hover .txt .t {padding-top:200px;}
.bannerType5:hover .txt .btn {opacity:1;}

.bannerType6 {display:inline-block; position:relative;}
.bannerType6:before {content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:#000000; opacity:0; -webkit-transition:all .3s ease-out;}
.bannerType6 .cont {overflow:hidden; position:relative; height:202px; padding-left:25px; background:#f5f5f5; -webkit-transition:all .3s ease-out;}
.bannerType6 .cont .cate {padding-top:22px; font-size:12px; color:#222222;}
.bannerType6 .cont .txt {margin-top:80px; -webkit-transition:all .3s ease-out;}
.bannerType6 .cont .txt .t {font-size:18px; color:#222222;}
.bannerType6 .cont .txt .p {margin-top:10px; font-size:14px; color:#070707;}
.bannerType6 .cont .txt .btn {margin-top:43px; font-size:11px; color:#010101;}
.bannerType6 img {vertical-align: top;}
.bannerType6:hover .cont {background:#e6ddcb;}
.bannerType6:hover .cont .txt {margin-top:20px;}
.bannerType6:hover:before {opacity:0.2;}

.bannerType7 {display:inline-block; position:relative;}
.bannerType7 .txt {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; opacity:0; background:rgba(4,83,33,0.9); -webkit-transition:all .3s ease-out;}
.bannerType7 .txt .t {padding-top:230px; font-size:26px; color:#ffffff;}
.bannerType7 .txt .p {margin-top:18px; font-size:14px; color:#ffffff;}
.bannerType7:hover .txt {opacity:1; transform:scale(.9)}