// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.white-line {
        color: $white;
        border: 1px solid $white;
        background: transparent;
        &:hover, &:focus {
             background: $white;
             color: $green;
         }
}
.btn-type {
	display: inline-block; min-width: 145px; height: 50px; line-height: 48px; padding: 0 30px; text-align: center; text-decoration: none;letter-spacing: 0.5px; font-family: $Roboto-Medium;font-size: 16px; border-radius: 2px; cursor: pointer;text-transform: uppercase;
	&.dark {
		color:#fff;
		border:1px solid $green;
		background:$green;
		&:hover, &:focus {
			border:1px solid #222;
			background:#222;
		}
		&.dimmed,
		&:disabled {
			cursor:not-allowed;
			border:1px solid #e5e5e5;
			background:#e5e5e5;
		}
		&:hover, &:focus {
			.sp-btn-ico {
				// background:url(../images/sp_button.png) no-repeat -21px 0;
				&.i-cart {
					background-position: -15px -93px;
				}
			}
		}
		&.loading {
			cursor:not-allowed;
			text-indent:-999em;
			background:url(../images/loading_green.gif) no-repeat center #025d24;
			background-size:25px;
		}
		.sp-btn-ico {
			margin-right:5px;
			vertical-align:-2px;
		}
	
	}
	&.green {
		color:#fff;
		border:1px solid $green;
		background: $green;
		&:hover, &:focus {
			border:1px solid #045020;
			background: #045020;
		}
		&.dimmed,
		&:disabled {
			cursor:not-allowed;
			border:1px solid #e5e5e5;
			background:#e5e5e5;
		}
		
		&:hover, &:focus {
			.sp-btn-ico {
				&.i-cart {
					background-position: -15px -93px;
				}
			}
		}
		&.loading {
			cursor:not-allowed;
			text-indent:-999em;
			background:url(../images/loading_green.gif) no-repeat center #025d24;
			background-size:25px;
		}
		.sp-btn-ico {
			margin-right:5px;
			vertical-align:-2px;
		}
	
	}
	&.dark-line {
		color:#222;
		border:1px solid #222;
		background:#fff;
		// .sp-btn-ico {
		// 	margin-right:5px;
		// 	vertical-align:-3px;
		// 	&.i-wish {
		// 		vertical-align: -3px;
		// 	}
		// }
		&:hover, &:focus {
			color:#fff;
			background:#222;
			// .sp-btn-ico {
			// 	&.i-cart {
			// 		background-position: -21px -129px;
			// 	}
			// 	&.i-wish {
			// 		background-position: -16px -109px;
			// 	}
			// }
		}
		&.loading {
			cursor:not-allowed;
			text-indent:-999em;
			background:url(../images/loading_black.gif) no-repeat center #222;
			background-size:25px;
		}
		&.size-s {
			&.add-on {
				// width: 30px;
				// min-width: 30px;
				// padding: 0;
				// font-size: 0;
				// background: #222;
				// .sp-btn-ico {
				// 	&.i-cart {
				// 		background-position: -42px -129px;
				// 	}
				// 	&.i-wish {
				// 		margin-right: 0;
				// 		vertical-align: -7px;
				// 		background-position: -32px -109px;
				// 	}
				// }
				// &:hover, &:focus {
				// 	.sp-btn-ico {
				// 		&.i-cart {
				// 			background-position: -42px -129px;
				// 		}
				// 		&.i-wish {
				// 			background-position: -32px -109px;
				// 		}
				// 	}
				// }
			}
		}
		&.dimmed,
		&:disabled {
			cursor:not-allowed;
			color:#e5e5e5;
			border:1px solid #e5e5e5;
			background:#fff;
		}
	}
	&.gray {
		color:#fff;
		border:1px solid #aaa;
		background:#aaa;
		&:hover, &:focus {
			border:1px solid #222;
			background:#222;
		}
	}
	&.light-gray {
		color:#aaa;
		border:1px solid #e5e5e5;
		background:$fa-color;
		&:hover, &:focus {
			border:1px solid #e5e5e5;
			background:#e5e5e5;
		}
	}
	&.gray-line {
		color:#656565;
		border:1px solid #ddd;
		background:#fff;
		&:hover, &:focus {
			background:#f5f5f5;
		}
		&.dimmed,
		&:disabled {
			cursor:not-allowed;
			color:#e5e5e5;
			border:1px solid #e5e5e5;
			background:#fff;
		}
	}
	&.white {
		color:#333;
		// border:1px solid #222;
		background:#fff;
		&:hover, &:focus {
			// border:1px solid #025d24;
			color: #fff;
			background:$green;
		}
		&.dimmed,
		&:disabled {
			cursor:not-allowed;
			border:1px solid #e5e5e5;
			background:#e5e5e5;
		}
	}
	&.red {
		color:#fff;
		border:1px solid #bd1e31;
		background:#bd1e31;
		&:hover, &:focus {
			border:1px solid #bd1e31;
			background:#bd1e31;
		}
	}
	// btn-type size
	&.size-m {// size - minimum
		min-width:105px;
		height:32px;
		line-height:30px;
		padding:0 15px;
		font-size:11px;
	}
	&.size-s {// size - small
		min-width:115px;
		height:40px;
		line-height:38px;
		padding:0 20px;
		font-size:13px;
	}
	&.size-r {// size - regular
		min-width:145px;
		height:48px;
		line-height:46px;
		padding:0 30px;
		font-size:14px;
	}
	&.size-l {// size - large
		min-width:175px;
		height:56px;
		line-height:54px;
		padding:0 40px;
		font-size:16px;
	}
	&.icon {
		width: auto;
		min-width: auto;
		height: auto;
		line-height: 1;
		padding: 0;
		border: none;
		background: none;
		@include single-transition(background, 0.5s);
		&:hover, &:focus {
			.sp-btn-ico {
				&.i-cart {
					background-position: -21px -128px;
				}
				&.i-wish {
					background-position: -19px -122px;
					background-size: 178px auto;
				}
			}
		}
		&.add-on {
			.sp-btn-ico {
				&.i-cart {
					background-position: -42px -128px;
				}
				&.i-wish {
					background-position: -38px -122px;
					background-size: 178px auto;
				}
			}
			&:hover, &:focus {
				.sp-btn-ico {
					&.i-cart {
						background-position: -42px -128px;
					}
					&.i-wish {
						background-position: -38px -122px;
						background-size: 178px auto;
					}
				}
			}
		}
	}
	// btn-type transition
	@include double-transition(background, 0.5s, border, 0.5s);
	&:hover, &:focus {
		text-decoration: none;
		@include double-transition(background, 0.5s, border, 0.5s);
	}
}

.ico-button {
	display:inline-block; height:16px; letter-spacing: 0.5px;font-family: $Roboto-Medium;font-size:13px; color:#222;
	.sp-btn-ico {
		vertical-align:-2px;
		&.modify {
			margin-right:4px;
		}
		&.delete {
			margin-right:7px;
		}
		&.arr-more {
			margin-left: 6px;
			vertical-align: 0;
		}
	}
	&:hover {
		color: $green;
		.sp-btn-ico {
		
			&.modify {
				background-position: -14px -16px;
			}
			&.delete {
				background-position: -11px -30px;
			}
			&.filterico {
				background-position: -12px -41px;
			}
			&.arr-more {
				background-position: -20px -169px;
			}
		}
	}
}

.link-type {
	text-decoration: underline;
	color: $green;
}