// -----------------------------------------------------------------------------
// This file contains all styles related to the forms component.
// -----------------------------------------------------------------------------

$error-border: 2px solid #bd1e31;

input {
	&[type="text"],
	&[type="password"],
	&[type="number"],
	&[type="email"] {
		height: 40px;
		padding: 10px;
		line-height: 1em;
		font-size: 14px;
		border: 1px solid #aaa;
		border-radius: 2px;
		&:hover {
			border: 1px solid #222;
		}
		&:focus {
			padding: 10px 9px;
			border: 2px solid #222;
		}
		.form-row.valid-error-wrapper &,
		&.error,
		&.error_message {
			padding: 10px 9px;
			border: $error-border;
		}
	}
	&[type="number"] {
		-moz-appearance: textfield;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0;
		}
	}
	&.inp-email {
		height: 56px;
		font-size: 16px;
		background: url(../images/placeholder_email.png) no-repeat 10px center;
		&.active {
			padding: 20px 9px 10px;
			border: 2px solid #222;
			background: url(../images/placeholder_email_active.png) no-repeat 10px 5px;
		}
		@include single-transition(background, 0.15s);
	}
	&.inp-password {
		height: 56px;
		background: url(../images/placeholder_password.png) no-repeat 10px center;
		&.active {
			padding: 20px 9px 10px;
			border: 2px solid #222;
			background: url(../images/placeholder_password_active.png) no-repeat 10px 5px;
		}
		@include single-transition(background, 0.15s);
	}
}

textarea {
	min-height: 120px; padding: 10px;line-height: 1.5; font-size: 13px; border: 1px solid #aaa; border-radius: 2px;
	&:hover {
		border: 1px solid #222;
	}
	&:focus {
		padding: 9px;
		border: 2px solid #222;
	}
	&.error {
		padding: 9px;
		border: $error-border;
	}
}

select {
	min-width: 150px;
	height: 40px;
	padding: 10px;
	line-height: 1em;
	font-size: 13px;
	border: 1px solid #aaa;
	border-radius: 2px;
	&.num {
		min-width: 60px;
	}
	&:hover {
		border: 1px solid #222;
	}
	&:focus {
		padding: 10px 9px;
		border: 2px solid #222;
	}
	&.error {
		padding: 10px 9px;
		border:$error-border;
	}
}
.select-type {
	display: block;
	position: relative;
	.nice-select {
		height: 40px; line-height: 38px; padding: 0 0 0 10px; font-size: 13px; box-sizing: border-box; border: 1px solid #aaa; border-radius: 2px;
		&:hover {
			border: 1px solid #222;
		}
		&:active, &.open, &:focus {
			line-height: 36px;
			padding: 0 0 0 9px;
			border: 2px solid #222;
			&:after {
				right: 11px;
			}
		}
		.list {
			overflow-y: auto;
			width: calc(100% + 12px);
			position: relative;
			top: 5px;
			&:first-of-type {
				box-sizing: border-box;
			}
			max-height: 250px;
			margin: -3px 0 0 -10px;
			font-size: 12px;
			border: 2px solid #222;
			border-top: none;
			border-radius: 2px;
			box-sizing: initial;
			box-shadow: none;
			.option {
				display: block;
				width: 100%;
				min-height: 27px;
				line-height: 27px;
				padding: 0 0 0 10px;
				white-space: normal;
			}
		}
		&:after {
			width: 6px;
			height: 6px;
			border-color: #222
		}
		@include single-transition(all, 0s);
		&.disabled{
			background-color: $light-gray-first;
		}
		&.open{
			z-index: 11;
		}
	}
	.form-row.valid-error-wrapper &,
	.form-row.valid-error-wrapper.month + .form-row.year &,
	&.error {
		.nice-select {
			line-height: 36px;
			padding: 0 0 0 9px;
			border: 2px solid #bd1e31;
		}
	}
}

// input - search
.input-search {
	display:inline-block;
	position:relative;
	input[type="search"] {
		height: 40px; line-height: 1em; font-size: 13px; border: 1px solid #aaa; border-radius: 2px; padding: 10px 45px 10px 10px;
		&:hover {
			border: 1px solid #222;
		}
		&:focus {
			padding: 10px 9px;
			border: 2px solid #222;
		}
	}
	.sp-btn-ico {
		&.ico-search {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -20px;
		}
	}
	&.error {
		input[type="search"] {
			padding: 10px 9px;
			border: $error-border;
		}
		.sp-btn-ico {
			&.ico-search {
				background-position: -40px -53px;
			}
		}
	}
}

// input checkbox
.checkbox-group {
	input[type="checkbox"] {
		visibility: hidden;
		width: 0;
		margin: 0;
		&:checked + label {
			&:before {
				border: 1px solid #222;
			}
			&:after {
				top: 5px;
				left: 5px;
				width: 10px;
				height: 10px;
				@include single-transition(all, 0.15s);
			}
		}
		&:disabled + label {
			color: #e2e2e2;
			cursor: not-allowed;
			&:before {
				border: 1px solid #e5e5e5;
			}
			&:after {
				top: 5px;
				left: 5px;
				width: 10px;
				height: 10px;
				background: #e5e5e5;
			}
		}
		&.error{
			+ label {
				&:before,
				&:after {
					border-color: $red;
				}
			}
		}
	}
	label {
		display: inline-block;
		position: relative;
		height: 20px;
		line-height: 20px;
		padding-left: 25px;
		font-size: 14px;
		cursor: pointer;
		&:hover {
			&:before {
				border: 1px solid #222;
				@include single-transition(all, 0.2s);
			}
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			border: 1px solid #aaa;
			border-radius:2px;
			@include single-transition(all, 0.2s);
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			width: 0px;
			height: 0px;
			border-radius: 2px;
			background: #222;
			@include single-transition(all, 0.15s);
		}
		@include single-transition(border, 0.3s);
		&:hover, &:focus {
			@include single-transition(border, 0.3s);
		}
	}
	&.v-check {
		label {
			font-size: 11px;
			&:before {
				border-radius: 0;
			}
			&:after {
				top: 5px;
				left: 5px;
				width: 10px;
				height: 7px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
				border-radius: 0;
				transform: rotate(-45deg);
				background: none;
			}
		}
		input[type="checkbox"] {
			&:checked + label {
				&:after {
					width: 10px;
					height: 7px;
					border-left: 2px solid #222;
					border-bottom: 2px solid #222;
				}
			}
			&:disabled + label {
				&:after {
					width: 10px;
					height: 7px;
					cursor: not-allowed;
					border-left: 2px solid #e5e5e5;
					border-bottom: 2px solid #e5e5e5;
					background: none;
				}
			}
		}
	}
}
// input radio
.input-radio {
	input[type="radio"] {
		width:0;
		height:0;
		visibility:hidden;
		&:checked + label {
			&:before {
				border: 1px solid #222;
			}
			&:after {
				top: 5px;
				left: 5px;
				width: 10px;
				height: 10px;
				@include single-transition(all, 0.15s);
			}
		}
		&:disabled + label {
			color: #e2e2e2;
			cursor: not-allowed;
			&:before {
				border: 1px solid #e5e5e5;
			}
			&:after {
				top: 5px;
				left: 5px;
				width: 10px;
				height: 10px;
				background: #e5e5e5;
			}
		}
	}
	label {
		display: inline-block;
		position: relative;
		height: 20px;
		line-height: 20px;
		padding-left: 25px;
		font-size: 13px;
		cursor: pointer;
		&:hover {
			&:before {
				border: 1px solid #222;
				@include single-transition(all, 0.2s);
			}
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			border: 1px solid #aaa;
			border-radius: 50%;
			@include single-transition(all, 0.2s);
		}
		&:after {
			content: ''; display: block; position: absolute; top: 10px; left: 10px; width: 0px; height: 0px; border-radius: 50%; background: #222;
			@include single-transition(all, 0.15s);
		}
		@include single-transition(border, 0.3s);
		&:hover, &:focus {
			@include single-transition(border, 0.3s);
		}
	}
}

.error_message {
	margin-top: 10px; font-size: 14px; color: #bd1e31;
	.sp-icons {
		&.caution {
			margin-right: 5px; vertical-align: -2px;
		}
	}
}