// -----------------------------------------------------------------------------
// This file contains all styles related to the icons component.
// -----------------------------------------------------------------------------


// button icon
.sp-btn-ico {
	display:inline-block; background:url(../images/sp_button.png) no-repeat;
	&.oneclick {
		width:21px; height:16px;
	}
	&.modify {
		width:14px; height:14px; background-position:0 -16px;
	}
	&.delete {
		width:11px; height:11px; background-position:0 -30px;
	}
	&.reset {
		width:12px; height:12px; background-position:0 -41px;
	}
	&.ico-search {
		width:40px; height:40px; cursor:pointer; background-position:0 -53px;
	}
	&.i-cart {
		width: 20px; height: 21px; background-position: 0 -128px;
	}
	&.i-wish {
		width: 18px; height: 15px; background-position: 0 -122px; background-size: 178px auto;
	}
	&.arr-more {
		width: 7px; height: 11px; background-position: 0 -169px;
	}
	&.social-facebook {
		width: 50px; height: 50px; background-position: 0 -180px;
		&:hover {
			background-position: 0 -230px;
		}
		&.size-s {
			width: 24px; height: 24px; background-size: 100px auto; background-position: 0 -90px;
		}
	}
	&.social-youtube {
		width: 50px; height: 50px; background-position: -50px -180px;
		&:hover {
			background-position: -50px -230px;
		}
		&.size-s {
			width: 24px; height: 24px; background-size: 100px auto; background-position: -25px -90px;
		}
	}
	&.social-instagram {
		width: 50px; height: 50px; background-position: -100px -180px;
		&:hover {
			background-position: -100px -230px;
		}
		&.size-s {
			width: 24px; height: 24px; background-size: 100px auto; background-position: -50px -90px;
		}
	}
	&.social-pinterest {
		width: 50px; height: 50px; background-position: -150px -180px;
		&:hover {
			background-position: -150px -230px;
		}
		&.size-s {
			width: 24px; height: 24px; background-size: 100px auto; background-position: -75px -90px;
		}
	}
}
@media only screen and (max-width: 768px){
	.sp-btn-ico {
		&.social-facebook {
			width: 30px; height: 30px; background-position: 0 -107px;background-size: 130px auto;
			&:hover {
				background-position: 0 -107px;
			}
		}
		&.social-youtube {
			width: 30px; height: 30px; background-position: -30px -107px;background-size: 130px auto;
			&:hover {
				background-position: -30px -107px;
			}
		}
		&.social-instagram {
			width: 30px; height: 30px; background-position: -60px -107px;background-size: 130px auto;
			&:hover {
				background-position: -60px -107px;
			}
		}
		&.social-pinterest {
			width: 30px; height: 30px; background-position: -89px -107px;background-size: 130px auto;
			&:hover {
				background-position: -89px -107px;
			}
		}
	}
}
.sp-icons {
	display:inline-block;
	background:url(../images/sp_icons.png) no-repeat;
	&.caution {
		width:12px; height:12px;
	}
	&.arr-down {
		width:7px; height:4px; background-position:0 -42px;
	}
	&.heart {
		width: 30px; height: 24px; background-position: 0 -232px;
		&:hover {
			background-position: -30px -232px;
		}
		&.active {
			background-position: -60px -232px;
		}
		&.small {
			width: 14px; height: 11px; background-position: -90px -232px;
		}
	}

	&.i-books {
		width: 58px; height: 45px; background-position: 0 -339px;
	}
	&.i-music {
		width: 59px; height: 35px; background-position: -68px -339px;
	}
	&.i-movie {
		width: 52px; height: 43px; background-position: -137px -339px;
	}
	&.i-mic {
		width: 26px; height: 58px; background-position: -199px -339px;
	}

	&.i-message {
		width: 17px;height: 11px;background-position: -39px -577px;
	}
	&.i-chat {
		width: 18px;height: 16px;background-position: 0 -554px;
	}
	&.i-call {
		width: 16px;height: 20px;background-position: -21px -554px;
	}
	&.i-mail {
		width: 17px;height: 11px;background-position: -39px -554px;
	}
	&.i-faq {
		width: 15px;height: 15px;background-position: -58px -554px;
	}
	&.i-shipping{
		width: 16px;
		height: 18px;
		vertical-align: -3px;
		background: url(../images/ico_shipping.png) no-repeat left center;
	}
}

.ico-flag {
	display:inline-block;width: 15px;height: 10px;background:url(../images/common/ico_flag.png) no-repeat;background-size: 15px auto;
	&.us {
		background-position: 0 0;
	}
}


.review-grade {
	display: inline-block;
	background: url(../images/sp_icons.png) no-repeat 0 -91px;
	&.large {
		width: 223px; height: 45px; background-position: 0 -91px;
		.grade-act {
			background-position: 0 -46px;
		}
	}
	&.middle {
		width: 169px; height: 33px; background-position: 0 -169px;
		.grade-act {
			background-position: 0 -136px;
		}
	}
	&.small {
		width: 77px; height: 15px; vertical-align: -4px; background-position: 0 -217px;
		.grade-act {
			background-position: 0 -202px;
		}
	}
	.grade-act {
		display: block; height: 100%; background: url(../images/sp_icons.png) no-repeat 0 -91px #fff;
		&.act-1 {
			width: 20%;
		}
		&.act-2 {
			width: 40%;
		}
		&.act-3 {
			width: 60%;
		}
		&.act-4 {
			width: 80%;
		}
		&.act-5 {
			width: 100%;
		}
	}
	input {
		display: none;
	}
}
@media only screen and (max-width: 768px){
	.review-grade {
		// background: url(../images/sp_icons.png) no-repeat 0 -91px;
		&.large {
			// width: 223px;
			// height: 45px;
			// background-position: 0 -91px;
			// .grade-act {
			// 	background-position: 0 -46px;
			// }
		}
		&.middle {
			// width: 169px;
			// height: 33px;
			// background-position: 0 -169px;
			// .grade-act {
			// 	background-position: 0 -136px;
			// }
		}
		&.small {
			width: 77px; height: 15px; vertical-align: -4px; background-position: 0 -76px; background-size: 118px auto;
			.grade-act {
				background-position: 0 -61px; background-size: 118px auto;
			}
		}
		.grade-act {
			display: block; height: 100%; background: url(../images/sp_icons.png) no-repeat 0 -91px #fff;
			&.act-1 {
				width: 20%;
			}
			&.act-2 {
				width: 40%;
			}
			&.act-3 {
				width: 60%;
			}
			&.act-4 {
				width: 80%;
			}
			&.act-5 {
				width: 100%;
			}
		}
		input {
			display: none;
		}
	}
}

.button-effect {
	display: inline-block; position: absolute; top: 50%; left: 50%; width: 0; height: 0; margin: 0;
	&.ico-cart {
		background: url(../images/ico_cart.png) no-repeat; background-size: cover;
	}
	&.ico-wish {
		background: url(../images/ico_wish.png) no-repeat; background-size: cover;
	}
	&.in {
		width: 100px; height: 100px; margin: -50px 0 0 -50px; opacity: 1;
		@include single-transition(all, 0.4s);
	}
	&.out {
		width: 200px; height: 200px; margin: -100px 0 0 -100px; opacity: 0;
		@include single-transition(all, 0.9s);
	}
}