// -----------------------------------------------------------------------------
// This file contains all styles related to the paging component.
// -----------------------------------------------------------------------------

.paging {
	text-align: center;
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		vertical-align: top;
		font-size: 14px;
		color: #666;
		border-radius: 2px;
		&:hover {
			text-decoration: none;
			background: #f5f5f5;
		}
		&.page-first, &.page-prev, &.page-next, &.page-end {
			border: 1px solid #222;
			opacity: 0.4;
			background: url(../images/sp_icons.png) no-repeat #fff;
			&:hover {
				opacity: 1;
			}
		}
		&.page-first {
			background-position: -1px -257px;
		}
		&.page-prev {
			background-position: -31px -257px;
		}
		&.page-next {
			background-position: -61px -257px;
		}
		&.page-end {
			background-position: -91px -257px;
		}
		@include single-transition(opacity, 0.2s);
	}
	strong {
		display: inline-block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-weight: normal;
		color: #fff;
		border-radius: 2px;
		background: #222;
	}
}
.load-more {
	position: relative;
	display: inline-block;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #222;
	span {
		color: #222;
		&.loading {
			display: inline-block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: #222;
		}
		&.i-loadmore {
			display: inline-block;
			width: 14px;
			height: 8px;
			margin-left: 10px;
			background:url(../images/sp_icons.png) no-repeat;
			background-position: -21px -327px;
			@include single-transition(background, 0s);
		}
		@include single-transition(all, 0.3s);
	}
	&:hover {
		color: $green;
		text-decoration: none;
		span {
			color: $green;
			&.loading {
				background: $green;
			}
			&.i-loadmore {
				background-position: -36px -327px;
			}
		}
	}
	&.loading {
		background-size: 23px;
		span {
			&.loading {
				-webkit-animation:'load-more' 2.5s ease-out infinite;
				animation:'load-more' 2.5s  ease-out infinite;
			}
		}
	}
	@include single-transition(border, 0.2s);
}

@-webkit-keyframes load-more {
	0% {width: 0;}
	100% {width: 100%;}
}
