// -----------------------------------------------------------------------------
// This file contains all styles related to the product component.
// -----------------------------------------------------------------------------
.product-list {
	> ul {
		&:after {
			content: '';display: block;clear: both;
		}
		> li {
			float: left;width: 33%;max-width: 450px;min-height: 610px;
		}
	}
	&.best-seller,
	&.regimen,
	&.recommendation {
		> ul > li {
			width: 25%;
		}
	}
}

// product default type
.ico-label {
		position: relative;
		display: inline-block;
		height: 21px;
		line-height: 17px;
		padding: 0 15px;
		font-size: 13px;
		font-weight: bold;
		z-index: 9;
		margin-bottom: 10px;
		background: $white;		
		&.green {
			color: $green;border: 2px solid $green;border-radius: 10px;
		}
		&.red {
			color: $red;border: 2px solid $red;border-radius: 10px;
		}
		&.online {
			color: $color-online;border: 2px solid $color-online;border-radius: 10px;
		}
		&.orange {
			color: $orange;border: 2px solid $orange;border-radius: 10px;
		}
		&.yellow {
			color: #bd9a5b;border: 2px solid #bd9a5b;border-radius: 10px;
		}
		&.orange {
			color: #ec7229;border: 2px solid #ec7229;border-radius: 10px;
		}
		& + .img {
			margin-top: -10px;
		}
	}
.product-type {
	position: relative;
	max-width: 330px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	.product-status {
	    position: relative;
		display: flex;
		flex-direction: row;
	}
	.best-number {
		position: absolute;top: 0;left: 0;
	}
	
	.img {
		position: relative;width: 100%;
		img {
			width: 100%;
			@include single-transition(opacity, 0.2s);
		}
		.btn {
			position: absolute;display: block;top: 50%;left: 0;width: 100%;margin-top: -12px;text-align: center;opacity: 0;
			@include single-transition(opacity, 0.2s);
			.btn-type {
				width: 70%;
			}
		}
		.label {
			position: absolute;bottom: -5px;left: 0;width: 100%;font-style: italic;font-size: 13px;
			&.light-green {
				color: $light-green;
			}
			&.red {
				color: $red;
			}
		}
	}
	.option-color {
		width: 80%;max-width: 250px;height: 0;margin: 0 auto;opacity: 0;
		.name {
			margin-top: 5px;font-size: 13px;color: #222;
		}
		@include double-transition(height, 0.2s, opacity, 0.2s);
	}
	.name {
		overflow: hidden;max-height: 46px;margin-top: 10px;line-height: 1.3;padding: 0 15%;font-size: 18px;color: #222;
		a {
			color: #222;
		}
	}
	.price {
		margin-top: 10px;font-size: 16px;font-weight: bold;color: #222;
		.sale {
			display: inline-block;margin-right: 5px;font-size: 12px;font-weight: normal;text-decoration: line-through;color: #999;
		}
	}
	.option {
		font-size: 13px;color: #999;
	}
	.grade {
		margin-top: 20px;font-size: 12px;color: #666;
		.review-grade {
			margin: 5px 2px 0;vertical-align: -4px;
		}
	}
	.stock {
		display: inline-block;height: 19px;margin-top: 5px;padding: 0 10px;line-height: 19px;font-size: 13px;font-family: $Roboto-Black;color: $red;border-radius: 2px;
	}
	.foot-area {
		margin-top: 20px;opacity: 0;
		.btn-type {
			vertical-align: top;
			// padding: 0 10px;
			// border-left: 1px solid #efefef;
			// background: url(../images/bg_bar_15.gif) no-repeat left center;
			// &:first-child {
			// 	background: none;
			// }
			&.icon {
				width: 35px;height: 32px;border: 1px solid #aaa;
			}
			&.dark-line {
				width: 60%;
			}
			&.dark-line.add-on {
				color: #fff;border: 1px solid $green;background: $green;
				span {
					display: inline-block;padding: 0 0 0 15px;color: #fff;background: url(../images/main/btn_check.png) no-repeat left center;
				}
			}
			// .btn-type.dark-line:hover, .btn-type.dark-line:focus
		}
	}
	// product :hover
	&:hover {
		.img {
			img {
				opacity: 0.7;
			}
			.btn {
				opacity: 1;
			}
		}
		.option-color {
			height: auto;margin-top: 12px;opacity: 1;
		}
		.foot-area {
			opacity: 1;
			@include single-transition(opacity, 0.2s);
		}
	}
	&.h-auto {
		min-height: auto;
	}
}

@media only screen and (max-width: 1024px){
	.product-type {
		min-height: 0;
		.option-color {
			height: auto;margin-top: 12px;opacity: 1;
		}
		.foot-area {
			opacity: 1;
		}
	}
}

// product color-chip
.color-chip {
	&:after {
		content: '';display: block;clear: both;
	}
	.chip {
		display: inline-block;
		a {
			display: inline-block;padding: 2px;border: 1px solid #fff;border-radius: 50%;
			&:hover, &.active {
				border: 1px solid #222;
			}
			@include single-transition(border, 0.2s);
		}
	}
	&.large {
		.chip {
			a {
				width: 30px;height: 30px;
			}
		}
	}
	&.middle {
		.chip {
			a {
				width: 26px;height: 26px;
			}
		}
	}
}

// product horizontal type
.product-horz-type {
	position: relative;
	.cont {
		min-height: 100px;padding-left: 110px;
		.product-list-item {
			position: relative;
			top: 30px;
		}
		.img {
			position: absolute;top: 50%;left: 0;width: 100px;margin-top: -50px;
		}
		.name {
			font-size: 13px;color: #222;
		}
		.noti {
			margin-top: 2px;font-size: 13px;color: #999;
			.option {
				margin-left: 5px;
			}
			.price {
				display: inline-block;margin-left: 5px;padding-left: 5px;color: #222;background: url(../images/bg_bar.gif) no-repeat left center;
			}
		}
		.option {
			margin-top: 5px;font-size: 13px;color: #666;
			img {
				display: inline-block;margin-right: 3px;vertical-align: -6px;
			}
		}
		.qty {
			font-size: 13px;color: #999;
			.p {
				display: inline-block;margin-left: 5px;padding-left: 5px;color: #222;background: url(../images/bg_bar.gif) no-repeat left center;
			}
		}
		.stock {
			display: inline-block;height: 19px;margin-top: 10px;line-height: 19px;font-family: $Roboto-Black;font-size: 13px;color: $red;border-radius: 2px;
		}
	}
	&.s-70 {
		.cont {
			min-height: 70px;padding-left: 80px;
			.img {
				top: 0;width: 70px;margin-top: 0;
			}
			.name {
				font-size: 14px;
			}
		}
		.foot-area {
			.cmnt {
				margin-top: 5px;text-align: center;font-size: 12px;font-family: $Roboto-Black;color: $green;
				em {
					color: $red;
				}
				& + .btn-area {
					padding-top: 15px;border-top: 1px solid #e5e5e5;
				}
			}
			.btn-area {
				margin-top: 10px;
				button {
					width: 100%;margin-top: 3px;padding: 0;
				}
				.select-type {
					&:after {
						content: '';display: block;clear: both;
					}
				}
				.mail {
					margin-top: 3px;
					&:after {
						content: '';display: block;clear: both;
					}
					input[type="text"] {
						float: left;width: 60%;
					}
					button {
						float: right;width: 39%;min-width: auto;margin-top: 0;
					}
				}
				.shade {
					&:after {
						content: '';display: block;clear: both;
					}
					.select-type {
						float: left;width: 20%;
					}
					button {
						float: right;width: 79%;margin-top: 0;
					}
				}
				&.b-2 {
					button {
						float: right;width: 49%;
						&:first-child {
							float: left;
						}
					}
					&:after {
						content: '';display: block;clear: both;
					}
				}
			}
		}
	}
}
.add-rec-product-to-cart {
	border: 1px solid black;
}
.sample-tmp:after {
	content: '';
	display: block;
	clear: both;
}

.sample-tmp li, .bonus-item-promo .sample-tmp li {
	float: left;
	margin: 5px 20px;
	width: 20%;
	padding: 0;
	border: none;
	position: relative;
	.btn {
		text-align: center;
		padding: 10px 0;
		.add-bonus-product-to-cart {
			border: 1px solid black;
		}
	}
}

.bite-size-bar-body {
	display: flex;
	flex-wrap: wrap;
}
.samplemessage{
	color: $red;
	padding: 5px;
	font-size: 15px;
}

// sample type
.sample-type {
	.img {
		img{
			max-width: 100%;
		}
	}
	.name {
		font-size: 13px;
		color: #666;
		text-align: center;
		padding-top: 5px;
		min-height: 50px;
		a {
			text-decoration: none;
			color: #666;
		}
	}
	.check {
		position: absolute;
		right: 0;
		width: 30px;
		height: 30px;
		background: url(../images/common/ico_check.png) no-repeat;opacity: 0;
		&.on {
			opacity: 1;
		}
	}
}

// shopping basket wishlist
.wish-basket {
	position: relative;padding: 20px;border: 1px solid #ccc;box-shadow: 0px 3px 20px -9px #000;
	.ico-button {
		position: absolute;top: 15px;right: 15px;
	}
}
// mini shopping basket
.mini-cart {
	position: relative;padding-right: 20px;
	.ico-button {
		position: absolute;top: 0;right: 0;
	}
}

.ui-dialog {
	.ico-button {
		margin-left: 35%;
	}
	.product-review {
		display: inline-block;
	}
}
