// -----------------------------------------------------------------------------
// This file contains all styles related to the slider component.
// -----------------------------------------------------------------------------

// slider default style
.slick-slider {
	position: relative;
	button.slick-arrow {
		overflow: hidden; position: absolute; top: 50%; width: 40px; height: 40px; margin-top: -20px; text-indent: -9999em; font-size: 0; border: 0; border-radius: 2px; opacity: 0.7; cursor: pointer; background: url(../images/sp_icons.png) no-repeat; z-index: 10;
		&:hover {
			opacity: 1;
			background-color: #f5f5f5;
		}
		&.slick-prev {
			left: -40px;
			background-position: 0 -286px;
		}
		&.slick-next {
			right: -40px;
			background-position: -40px -286px;
		}
		@include single-transition(background, 0.3s);
	}
}
/* spinnerArea */
@keyframes ui-spinner-rotate-right {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(180deg);}
}
@keyframes ui-spinner-rotate-left {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(180deg);}
}
@keyframes ui-spinner-rotate-right-back {
	// 0% {transform: rotate(130deg);}
	0% {transform: rotate(0deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@keyframes ui-spinner-rotate-left-back {
	0% {transform: rotate(0deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
.slick-dots {
	position: absolute; bottom: 5px; left: 0; width: 100%; text-align: center;
	li {
		display: inline-block; margin: 0 2px;
	}
	a {
		display: inline-block; position: relative; width: 10px; height: 10px; border: 1px solid #235e39; border-radius: 50%; cursor: pointer; background: transparent;
		.side {
			display: block; overflow: hidden; position: absolute; width: 50%; height: 100%;
			.fill {
				position: absolute; width: 100%; height: 100%; border-radius: 50%; background: #235e39; animation-iteration-count: 1; animation-timing-function: linear;
			}
			&.side-left {
				left: 0;
				.fill {
					left: 100%; border-top-left-radius: 0; border-bottom-left-radius: 0; transform-origin: 0 50%;
				}
			}
			&.side-right {
				left: 50%;
				.fill {
					left: -100%; border-top-right-radius: 0; border-bottom-right-radius: 0; transform-origin: 100% 50%;
				}
			}
			.fill {
				background: none; animation-duration: 5s; animation-fill-mode: forwards; opacity: 1;
			}
		}
	}
	.slick-active {
		a {
			.side {
				.fill {
					background: #235e39;
				}
				&.side-left {
					.fill {
						animation-name: ui-spinner-rotate-left;
					}
				}
				&.side-right {
					.fill {
						animation-name: ui-spinner-rotate-right;
					}
				}
			}
		}
		&.back {
			a {
				.side {
					&.side-left {
						.fill {
							animation-name: ui-spinner-rotate-left-back;
						}
					}
					&.side-right {
						.fill {
							animation-duration: 0.5s; animation-name: ui-spinner-rotate-right-back;
						}
					}
				}
			}
		}
	}
}

// shame IE9
@media all and (min-width:0\0) and (min-resolution:.001dpcm){
	.bx-pager-item .bx-pager-link.active { background: #235e39;}
}



.product-slider, .banner-slider {
	button.slick-arrow {
		// same
	}
}
.colorchip-slider {
	max-height: 30px;padding: 0 20px;
	button.slick-arrow {
		width: 9px; height: 13px; margin-top: -6px; opacity: 0.5;
		&:hover {
			opacity: 1;
		}
		@include single-transition(opacity, 0.2s);
		&.slick-prev {
			left: -20px;
			background-position: 1px -326px;
		}
		&.slick-next {
			right: -20px;
			background-position: -10px -326px;
		}
	}
	.slick-track {
		height: 26px;
	}
}
// main slider
.ms01-slider {
	button.slick-arrow {
		width: 55px;
		height: 55px;
		margin-top: -27px;
		background: url(../images/sp_main.png) no-repeat;
		&:hover {
			opacity: 1;
			background-color: transparent;
		}
		&.slick-prev {
			left: 10px;
			background-position: -55px 0;
		}
		&.slick-next {
			right: 10px;
			background-position: 0 0;
		}
	}
	.slick-dots {
		bottom: 40px;
	}
}
.ms02-slider {
	button.slick-arrow {
		&:hover {
		}
		&.slick-prev {
			left: 10px;
		}
		&.slick-next {
			right: 10px;
		}
	}
}

.product-type {
	.colorchip-slider {
		.mCSB_container > div {
			padding: 0 15px;
		}
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal {
		position: absolute;top: 0;left: 0;width: 100%;height: 0;
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
		display: none;opacity: 0;
	}
	.mCS-dark-thin.mCSB_scrollTools {
		opacity: 1;
	}
	.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonLeft {
		position: absolute;top: 0;left: 0;width: 15px;height: 28px;background: url(../images/common/arr_prev.png) no-repeat center #fff;background-size: 8px auto;opacity: 1;
	}
	.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonRight {
		position: absolute;top: 0;right: 0;width: 15px;height: 28px;background: url(../images/common/arr_next.png) no-repeat center #fff;background-size: 8px auto;opacity: 1;
	}
}

//carousel-recommendations slider

.recommendation-slider{
	.slick-slide{
		.product-type{
			min-height: 500px;
		}
	}
}





