// -----------------------------------------------------------------------------
// This file contains all styles related to the tabs component.
// -----------------------------------------------------------------------------

.tab-type {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	> li {
		float: left;
		margin-right:40px;
		a {
			display: inline-block;
			padding: 1px 0;
			font-size: 18px;
			color: #222;
			text-decoration: none;
			&:hover {
				color: $green;
			}
		}
		&.active {
			a {
				color: $green;
				border-bottom: 2px solid $green;
			}
		}
	}
	&.sorting {
		> li {
			position: relative;
			height: 20px;
			margin-right: 0;
			padding: 0 20px;
			line-height: 20px;
			// background: url(../images/sp_icons.png) no-repeat left -13px;
			a {
				font-size: 13px;
			}
			.sp-icons.arr-down {
				margin-left: 5px;
				vertical-align: 2px;
			}
			&:first-child {
				padding-left: 0;
				background: none;
			}
			&.active {
				a {
					border-bottom: 1px solid $green;
				}
				.sp-icons.arr-down {
					background-position: -7px -42px;
				}
			}
		}
		.tab-select-layer {
			position: absolute;
			top: 22px;
			left: 0;
			min-width: 100%;
			padding: 10px;
			border: 1px solid #aaa;
			white-space: nowrap;
			ul {
				li {
					margin-top: 5px;
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}